<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }

    li.ng-scope {
        cursor: pointer;
    }

    .rowMargin {
        margin-top: 25px;
    }
    .style-label-error {
        font-weight: bold;
        color: red !important;
        letter-spacing: 1px;
        font-family: 'Open Sans', sans-serif !important;
    }

</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="vendorRegistration1Ctrl">
                <fieldset ng-disabled="isFormdisabled">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-12 text-center"><h4>CONTRACTORS PREQUALIFICATION FORM </h4></div>
                        </div>
                    </div>
                    <div class="white-box" ng-repeat="group in formDefinitionGroups">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div style="font-weight: bolder;">{{group.CONTROL_LABEL}}</div>
                            </div>
                        </div>
                        <div ng-repeat="subGroup in group.SUB_GROUPS" name="{{subGroup.CONTROL_HTML_NAME}}" id="{{subGroup.CONTROL_HTML_ID}}">
                            <div class="row rowMargin">
                                <div class="col-md-12">
                                    <div style="font-weight: bolder;">
                                        {{subGroup.CONTROL_LABEL}}
                                    </div>
                                    <small ng-if="subGroup.CONTROL_INFO">{{subGroup.CONTROL_INFO}}</small>
                                </div>
                            </div>
                            <div class="row rowMargin">
                                <div class="row" ng-repeat="row in subGroup.CONTROLMatrix">
                                    <div style="margin-top: 10px;" ng-repeat="control in row" class="col-md-{{control.CONTROL_UI_SIZE}}">
                                        <label class="style-label" ng-class="{'style-label-error': control.SHOW_ERROR === true}"
                                               ng-show="calculateVisibility(control)">{{control.CONTROL_LABEL}}</label>
                                        <div><small ng-if="control.CONTROL_DESCRIPTION">{{control.CONTROL_DESCRIPTION}}</small></div>
                                        <div ng-if="control.CONTROL_SUB_TYPE === 'INPUT'" ng-show="calculateVisibility(control)">
                                            <input type="text" name="{{control.CONTROL_HTML_NAME}}" id="{{control.CONTROL_HTML_ID}}" ng-model="control.CONTROL_VALUE"
                                                   class="form-control" placeholder="{{control.CONTROL_PLACE_HOLDER}}" ng-change="validateControl(control);" />
                                        </div>
                                        <div ng-if="control.CONTROL_SUB_TYPE === 'CHECKBOX'">
                                            <multiselect class="input-xlarge" multiple="true" showselectedvalues="true"
                                                         ng-model="control.CONTROL_VALUE_TEMP"
                                                         options="op.value for op in control.CONTROL_OPTIONS_ARR"
                                                         change="setFilters(control)"></multiselect>

                                        </div>
                                        <div ng-if="control.CONTROL_SUB_TYPE === 'RADIO'">
                                            <div ng-repeat="op in control.CONTROL_OPTIONS_ARR track by $index">
                                                {{control.CONTROL_VALUE}}
                                                <input type="radio" name="{{control.CONTROL_HTML_NAME}}" id="{{control.CONTROL_HTML_ID}}{{op.key}}"
                                                       ng-value="{{op.key}}"
                                                       ng-model="control.CONTROL_VALUE">
                                                <label for="{{control.CONTROL_HTML_ID}}{{op.key}}">{{op.value}}</label>
                                            </div>
                                        </div>
                                        <div ng-if="control.CONTROL_SUB_TYPE === 'SELECT'">
                                            <select style="display:inline-block;width:auto;margin-left:15px;margin:10px" ng-model="control.CONTROL_VALUE" class="form-control">
                                                <option value="{{op.key}}" ng-repeat="op in control.CONTROL_OPTIONS_ARR">{{op.value}}</option>
                                            </select>
                                        </div>
                                        <div ng-if="control.CONTROL_SUB_TYPE === 'TEXTAREA'">
                                            <textarea type="text" ng-model="control.CONTROL_VALUE" name="{{control.CONTROL_HTML_NAME}}" id="{{control.CONTROL_HTML_ID}}"
                                                      class="form-control" />
                                        </div>
                                        <div ng-if="control.CONTROL_SUB_TYPE === 'DATE'">
                                            <div moment-picker="control.CONTROL_VALUE" format="DD-MM-YYYY">
                                                <input name="{{control.CONTROL_HTML_NAME}}" id="{{control.CONTROL_HTML_ID}}" class="form-control" placeholder="Select a date"
                                                       ng-model="control.CONTROL_VALUE" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                        <div ng-if="control.CONTROL_SUB_TYPE === 'FILE'">
                                            <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xml,.eml,.msg" id="{{control.CONTROL_HTML_ID}}"
                                                   itemid="{{control.CONTROL_HTML_ID}}" ng-file-select-items="onFileSelect($files)">
                                            <h4>
                                                <a target="_blank" ng-if="control.CONTROL_VALUE" title="download {{control.CONTROL_OPTIONS}}"
                                                   href="FileDownload.aspx?attachid={{control.CONTROL_VALUE}}&sessionid={{sessionId}}">
                                                    {{control.CONTROL_OPTIONS ? control.CONTROL_OPTIONS : 'donwload'}}
                                                </a>
                                            </h4>
                                        </div>
                                        <small ng-if="control.CONTROL_INFO">{{control.CONTROL_INFO}}</small>
                                        <small ng-if="control.CONTROL_VALIDATION_ERROR_MSG" class="text-danger">{{control.CONTROL_VALIDATION_ERROR_MSG}}</small>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="white-box" ng-if="!isCustomer">
                        <div class="row" ng-show="!isVendorApproved && hasWorkflowAssigned">
                            <div class="col-md-12 text-center"><h4 class="text-warning">Your form is being validated</h4></div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                        <div class="row" ng-if="!isVendorApproved && !hasWorkflowAssigned">
                            <div class="col-md-6 text-right"><button class="common_btn btn-sm" ng-click="saveVendorFormDetails(0);" style="margin-top:38px;">Save</button></div>
                            <div class="col-md-6"><button class="common_btn btn-sm" ng-click="saveVendorFormDetails(1);" style="margin-top:38px;">Submit</button></div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                        <div class="row" ng-if="isVendorApproved">
                            <div class="col-md-12 text-center"><h4 class="text-success">Your Form is Approved</h4></div>
                        </div>
                    </div>
                </fieldset>

                    <div class="white-box" ng-if="isCustomer && itemWorkflow[0].WorkflowTracks.length > 0">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                            <div class="row approvalRowHeight">
                                                <div class="col-md-12">
                                                    <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                    </P>
                                                    <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                        <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 list-group-item" href="#"
                                                     ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                     style="min-height:90px;">
                                                    <div class="row">
                                                        <div class="col-md-1 col-xs-1">
                                                            <h5>{{$index + 1}}. </h5>
                                                        </div>
                                                        <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                            <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                            <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                        </div>
                                                        <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                            <div class="row">
                                                                <div class="col-md-4 col-xs-4">
                                                                    <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                    <small>Hold</small>
                                                                </div>

                                                                <div class="col-md-4 col-xs-4">
                                                                    <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                    <small>Approve</small>
                                                                </div>

                                                                <div class="col-md-4 col-xs-4">
                                                                    <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                    <small>Reject</small>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div style='border-bottom:1px solid #ccc;'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </fieldset>
                    </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>