﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="apmcDashboardCtrl">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid" >
                <div class="row"></div>
                <div class="row white-box" ng-if="isCustomer">
                    <div>
                        <div class="col-md-12 pull-left">
                            <h3>APMC</h3>
                            <small><strong>Initial Expected Price {{apmcDashboard.apmcNegotiationList[0].custPriceInclInit}}</strong></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" ng-if="apmcDashboard.apmcNegotiationList.length == 0">
                            No Negotiations Running right now. Please create one.
                        </div>
                        
                        
                        
                            <div class="col-md-10 pull-left">
                                <button title="Add New Negotiation" ng-click="createNewNegotiation()" class="btn btn-info m-t-20"> + NEGOTIATION </button>
                               
                                <button title="Add New APMC" ng-show="isSuperUser && isUserEntitled(360364)" ng-click="goToAPMCEdit(0)" class="btn btn-info add-new-btn m-t-20"> + APMC &nbsp;</button>

                                <button title="Manage APMC" ng-show="isSuperUser" ng-click="gotomanageapmc()" class="btn btn-info m-t-20"> MANAGE APMC </button>

                                <button title="History" ng-show="isSuperUser" ng-click="goToAPMCNegotiations()" class="btn btn-info m-t-20"> HISTORY </button>
                            </div>
                            <div class="col-md-2 top-buffer bottom-buffer pull-left">
                                <!--<label class="checkbox checkbox-inline m-r-20">-->
                                <div>
                                    <input type="checkbox" ng-click="showInclusive = !showInclusive">
                                    <label for="checkbox"></label>
                                    <i class="input-helper"></i>
                                    <strong>Show Inclusive Prices</strong>
                                </div>
                                <!--</label>-->
                            </div>
                      
                           
                    </div>
                    <div class="row" ng-if="apmcDashboard.apmcNegotiationList.length > 0">
                        <div class="col-md-12">
                            <div class="white-box  table-responsive row">
                                <table class="table">
                                    <thead>
                                        <tr style="font-weight: bold;">
                                            <th style="width:10%;">APMC/Vendor</th>

                                            <th style="width:10%;text-align:center" ng-show="showInclusive">PRICE (Incl.)</th>
                                            <th style="width:10%;text-align:center" ng-show="showInclusive">VENDOR PRICE (Incl.)</th>
                                            <th style="width:10%;text-align:center" ng-show="showInclusive">DIFF (Incl.)</th>

                                            <th style="width:10%;text-align:center">PRICE (Excl.)</th>
                                            <th style="width:10%;text-align:center">VENDOR PRICE (Excl.)</th>
                                            <th style="width:10%;text-align:center">DIFF(Excl.)</th>

                                            <th style="width:10%;text-align:center">SAVINGS</th>
                                            <th style="text-align:center;width:20%;text-align:center">ACTIONS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="apmcPrice in apmcDashboard.apmcNegotiationList" style="font-weight: bold;">
                                            <td ng-show="showAllColumns">
                                                <a title="{{apmcPrice.apmcName}}/{{apmcPrice.vendor.firstName + ' ' + apmcPrice.vendor.lastName}}" role="button" ng-click="goToAPMCEdit(apmcPrice.apmcID)">{{apmcPrice.apmcName}}/{{apmcPrice.vendor.firstName + ' ' + apmcPrice.vendor.lastName}}</a>
                                            </td>

                                            <td style="text-align:center" ng-show="showInclusive">
                                                {{apmcPrice.custPriceInclFinal}}
                                            </td>
                                            <td style="text-align:center" ng-show="showInclusive">
                                                {{apmcPrice.vendorPriceInclFinal}}
                                            </td>
                                            <td style="text-align:center" ng-show="showInclusive">
                                                {{apmcPrice.differenceIncl}}
                                            </td>

                                            <td style="text-align:center">
                                                {{apmcPrice.custPriceExclFinal}}
                                            </td>
                                            <td style="text-align:center">
                                                {{apmcPrice.vendorPriceExclFinal}}
                                            </td>
                                            <td style="text-align:center">
                                                {{apmcPrice.differenceExcl}}
                                            </td>

                                            <td style="text-align:center;color:forestgreen;">
                                                {{apmcPrice.savings}}
                                            </td>
                                            <td ng-show="showAllColumns" data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                <input type="number" ng-disabled="apmcPrice.modifiedBy == currentID || apmcPrice.isFrozen == 1" ng-model="apmcPrice.newPrice" style="width:100px;" />
                                                <a title="Submit" ng-hide="apmcPrice.modifiedBy == currentID || apmcPrice.isFrozen == 1 || apmcPrice.newPrice < 0" ng-click="saveapmcnegotiation(apmcPrice)">
                                                    <!--<i class="zmdi zmdi-forward zmdi-hc-2x" style="width:22px; height:22px"></i>-->
                                                    <i class="fa fa-forward" style="width:22px; height:22px"></i>
                                                </a>
                                                <!--<i title="Submit" ng-hide="apmcPrice.modifiedBy != currentID && apmcPrice.isFrozen != 1 || apmcPrice.newPrice > 0" class="zmdi zmdi-forward zmdi-hc-2x" style="width:22px; height:22px"></i>-->
                                                <i title="Submit" ng-hide="apmcPrice.modifiedBy != currentID && apmcPrice.isFrozen != 1 || apmcPrice.newPrice > 0"   class="fa fa-forward" style="width:22px; height:22px"></i>
                                                <a title="Freeze" ng-click="freezeapmcnegotiation(apmcPrice)" ng-disabled="apmcPrice.isFrozen == 1">
                                                    <!--<i class="tm-icon zmdi zmdi-hc-2x zmdi-lock mdc-text-amber" style="width:30px; height:30px"></i>-->
                                                    <i class="fa fa-lock" style="width:30px; height:30px"></i>
                                                </a>
                                                <!--<a title="History" ng-click="gotovendorpurchasehistory(quantityNegotiationID, apmcPrice.vendor.userID);" class="tm-icon zmdi zmdi-hc-2x zmdi-time-restore mdc-text-amber" style="width:30px; height:30px"></a>-->
                                                <a title="History" ng-click="gotovendorpurchasehistory(quantityNegotiationID, apmcPrice.vendor.userID);" class="fa fa-undo" style="width:30px; height:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row white-box" ng-if="!isCustomer">
                    <div>
                        <h3> Negotiation</h3>
                        <div ng-show="(apmcDashboard.apmcNegotiationList[0].isNewNegotiationStarted == 1 && prevNegotiation.apmcNegotiationList[0].quantityUpdated == 0) || (apmcDashboard.apmcNegotiationList[0].isFrozen == 1)" class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-info btn-file m-r-10">
                                <span class="fileinput-new">Add Document</span>
                                <span class="fileinput-exists">Modify Document</span>
                                <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.doc,.docx" id="quotation" ng-file-select="onFileSelect($files)" />
                            </span>
                            <span class="fileinput-filename" style="margin: 10px;"></span>
                            <a href="#" class="close fileinput-exists removeattachedquotes" data-dismiss="fileinput"><i class="fas fa-times"></i></a>
                            <button ng-show="apmcDashboard.apmcNegotiationList[0].fileStream != null" ng-click="saveapmcnegotiation(apmcDashboard.apmcNegotiationList[0])" style="margin: 10px;" class="btn btn-info btn-file btn-new-look">
                                Submit
                            </button>
                        </div>
                        <a title="" ng-show="isSuperUser" ng-click="goToAPMCNegotiations()" class="btn btn-info pull-right add-new-btn">HISTORY</a>
                    </div>
                    <div>
                        <div ng-show="apmcDashboard.apmcNegotiationList[0].isNewNegotiationStarted == 0 && apmcDashboard.apmcNegotiationList[0].isFrozen == 0 && apmcDashboard.apmcNegotiationList[0].quantityUpdated == 0">
                            <div class="row">
                                <div class="form-group col-md-6 m-b-30">
                                    <div>
                                        <h4>Customer Initial Expected Price: {{apmcDashboard.apmcNegotiationList[0].custPriceExclInit}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 m-b-30">
                                    <div>
                                        <h4>Customer Price: {{apmcDashboard.apmcNegotiationList[0].custPriceExclFinal}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group  col-md-6 m-b-30">
                                    <div>
                                        <h4>Your Previous Price: {{apmcDashboard.apmcNegotiationList[0].vendorPriceExclFinal}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group fg-float col-md-4 m-b-30">
                                    <div class="fg-line fg-toggled">
                                        <input type="number" ng-model="apmcDashboard.apmcNegotiationList[0].newPrice" ng-disabled="apmcDashboard.apmcNegotiationList[0].modifiedBy == currentID" name="inputPrice" id="inputPrice" class="form-control fg-input titleinput" required />
                                        <label class="fg-label">Enter New Price</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center bottom-buffer">
                                <button class="btn btn-info btn-file btn-new-look" ng-click="saveapmcnegotiation(apmcDashboard.apmcNegotiationList[0])" ng-disabled="apmcDashboard.apmcNegotiationList[0].isNewNegotiationStarted == 1 || apmcDashboard.apmcNegotiationList[0].modifiedBy == currentID || apmcDashboard.apmcNegotiationList[0].newPrice < 0">Submit</button>
                            </div>
                            <br />
                            <div class="row top-buffer">

                                <div class="table-responsive">
                                    <table class="table" style="background-color:#f5f5f5">
                                        <thead style="font-weight:bold">
                                            <tr>
                                                <th>Price</th>
                                                <th>Bid Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="audit in apmcaudit">
                                                <td>
                                                    <label ng-if="audit.customerPrice > 0" class="text-danger"> {{audit.customerPrice}} (C) </label>
                                                    <lable ng-if="audit.vendorPrice > 0">
                                                        <span ng-if="audit.isFrozen != 1"> {{audit.vendorPrice}} (V) </span>
                                                        <span ng-if="audit.isFrozen == 1" class="text-success"> {{audit.vendorPrice}} (F) </span>
                                                    </lable>
                                                </td>
                                                <td>{{audit.created}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-show="(apmcDashboard.apmcNegotiationList[0].isNewNegotiationStarted == 1 && prevNegotiation.apmcNegotiationList[0].quantityUpdated == 0) || (apmcDashboard.apmcNegotiationList[0].isFrozen == 1 && apmcDashboard.apmcNegotiationList[0].quantityUpdated == 0)" style="border:dashed 1px black; padding:40px;">
                            <div class="row bottom-buffer">
                                <!--<div>-->
                                    <h3 ng-show="apmcDashboard.apmcNegotiationList[0].isNewNegotiationStarted == 1">
                                        A new negotiation has been started by the customer.<br />
                                        Please provide the quantity purchased for the price {{prevNegotiation.apmcNegotiationList[0].vendorPriceExclFinal}},
                                        and participate in the new negotiation.
                                    </h3>

                                    <h3 ng-show="apmcDashboard.apmcNegotiationList[0].isNewNegotiationStarted != 1">
                                        Congratulations! <br /> Your bid is frozen by customer, Please keep buying.
                                    </h3>

                                <!--</div>-->
                            </div>

                            <div class="row top-buffer bottom-buffer">
                                <button ng-click="addQuantity()" class="btn btn-info btn-file btn-new-look">
                                    Add Quantity
                                </button>
                            </div>
                            <br />
                            <div class="row">
                                <div ng-repeat="quantity in vendorQuantityList" style="padding-left:5px;padding-right:5px;">
                                    <div class="row">
                                        <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                                            <div class="fg-line fg-toggled">
                                                <input type="number" min="0" ng-model="quantity.quantity" name="quantity" id="quantity" class="form-control fg-input titleinput" required />
                                                <label class="fg-label" for="quantity">Enter Quantity</label>
                                            </div>
                                        </div>
                                        <div class="form-group fg-float col-md-3 m-b-30">
                                            <div class="fg-line fg-toggled">
                                                <select ng-model="quantity.units" name="units" class="form-control" data-placeholder="Select Unit" id="units">
                                                    <option value="{{unit.unitName}}" ng-repeat="unit in units">{{unit.unitName}}</option>
                                                </select>
                                                <label class="selectfield fg-label" for="units">Select Units</label>
                                            </div>
                                        </div>
                                        <div class="form-group fg-float col-md-3 m-b-30 top-half-buffer">
                                            <div class="fg-line fg-toggled">
                                                <input type="number" min="0" ng-disabled="!quantity.showDelete" ng-model="quantity.price" name="finalPrice" id="finalPrice" class="form-control fg-input titleinput" required />
                                                <label class="fg-label">Enter Price </label>

                                            </div>
                                            <small class="text-danger"><strong>{{quantity.priceLimitError}}</strong></small>
                                        </div>
                                        <div class="form-group fg-float col-md-3 m-b-30">
                                            <!--<a ng-show="quantity.showDelete" ng-click="deleteQuantity(quantity)" class="zmdi-delete zmdi zmdi-hc-2x mdc-text-amber"></a>-->
                                            <a ng-show="quantity.showDelete" ng-click="deleteQuantity(quantity)" class="fa fa-trash"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-info btn-file btn-new-look" ng-click="savevendorquantitylist()">Submit</button>
                            </div>
                            <div class="row text-center top-buffer bottom-buffer">
                                <h3>Negotiation History</h3>
                            </div>
                            <div class="row">
                                <div class="row top-buffer" style="padding:10px;">
                                    <div class="table-responsive">
                                        <table class="table" >
                                            <thead style="font-weight:bold">
                                                <tr>
                                                    <th>Price</th>
                                                    <th>Bid Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="audit in apmcaudit">
                                                    <td>
                                                        <label ng-if="audit.customerPrice > 0" class="text-danger"> {{audit.customerPrice}} (C) </label>
                                                        <lable ng-if="audit.vendorPrice > 0">
                                                            <span ng-if="audit.isFrozen != 1"> {{audit.vendorPrice}} (V) </span>
                                                            <span ng-if="audit.isFrozen == 1" class="text-success"> {{audit.vendorPrice}} (F) </span>
                                                        </lable>
                                                    </td>
                                                    <td>{{audit.created}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>



