﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="apmcNegotiationsListCtrl">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div class="row bg-title top-grid">
                    <!--<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                        <a data-ui-sref="apmcdashboard" class="btn btn-info waves-effect waves-light add-btn hidden-xs"><span>APMC Dashboard</span></a>
                    </div>-->
                    <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12">
                        <a class="visible-xs range-btn" role="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Filter<span class="caret"></span></a>
                        <form class="form-material form-horizontal select-range-form collapse" id="collapseExample2">
                            <div class="row">
                                <div class="col-md-2 hidden-xs">
                                    <b>Select Range</b>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-12">From date</label>
                                        <div class="col-md-12" moment-picker="dashboardFromDate" format="YYYY-MM-DD">
                                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date" ng-model="dashboardFromDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-12">To date</label>
                                        <div class="col-md-12" moment-picker="dashboardToDate" format="YYYY-MM-DD">
                                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                            <input class="form-control" placeholder="Select a date" ng-model="dashboardToDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"><button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getapmcnegotiationlist();">Apply</button></div>
                            </div>
                        </form>


                    </div>
                </div>
                <div class="row">
                    <div class="">
                        <h4 style="text-align:center;"><strong>NEGOTIATION HISTORY</strong></h4>
                    </div>
                    <div class="white-box">
                        <div style="max-height: 300px; overflow: auto">
                            <table class="table">
                                <thead style="font-weight:bold">
                                    <tr>
                                        <th>ID</th>
                                        <th>Price</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="negotiation in apmc.apmcNegotiationList">
                                        <td role="button"><a ng-click="goToapmcnegotiationdata(negotiation.apmcNegotiationID)">{{negotiation.apmcNegotiationID}}</a></td>
                                        <td>{{negotiation.custPriceInclInit}}</td>
                                        <td>{{negotiation.createdDate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

<div class="">
    <div class="">
        <h4 style="text-align:center;"><strong>NEGOTIATION HISTORY</strong></h4>
    </div>
    <div class="white-box">
        <div style="max-height: 300px; overflow: auto">
            <table class="table" style="background-color:#f5f5f5;">
                <thead style="font-weight:bold">
                    <tr>
                        <th>ID</th>
                        <th>Price</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="negotiation in apmc.apmcNegotiationList">
                        <td role="button"><a ng-click="goToapmcnegotiationdata(negotiation.apmcNegotiationID)">{{negotiation.apmcNegotiationID}}</a></td>
                        <td>{{negotiation.custPriceInclInit}}</td>
                        <td>{{negotiation.createdDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>