﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="white-box">
                    <div class="pmb-block ng-scope" ng-controller="lotListCtrl">
                        <div class="pmbb-header">
                            <div class="row" style="margin-bottom:10px;">
                                <div>
                                    <div class="col-md-3">
                                        <h3 style="display:inline-block;margin:5px">
                                            <i class="zmdi zmdi-view-list"></i>  My Lot Requirements <small>total {{lotItems.length}}</small>
                                        </h3>
                                    </div>                                    
                                    <div class="col-md-2">
                                        <select ng-model="reqStatus" ng-change="getStatusFilter(reqStatus)" class="form-control" style="margin:5px">
                                            <option selected value="ALL">ALL</option>
                                            <option value='PENDING'>PENDING</option>
                                            <option value='COMPLETED'>COMPLETED</option>
                                        </select>
                                    </div>
                                    <div style="display:inline-block;margin-right:10px;" class="col-md-2">
                                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        <div class="table table-responsive z-depth-2">
                            <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                                <tr ng-repeat="lot in lotItems.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td data-title="'Lot Id'" sortable="'ID'">
                                        {{ lot.LotId}}
                                    </td>
                                    <td data-title="'Title'" sortable="'Name'">
                                        <a class="prmellipsis" title="{{lot.LotTitle}}" data-ui-sref="view-lot-details({Id:lot.LotId})" target="_blank">{{lot.LotTitle}}</a>
                                    </td>
                                    <td data-title="'Posted By'">{{lot.PostedBy}}</td>
                                    <td data-title="'Lots Count'">{{lot.TotalLots}}</td>
                                    <td data-title="'Posted On'">
                                        {{ lot.PostedOn}}
                                    </td>
                                    <td data-title="'Start Time'">
                                        {{lot.StartTime}}
                                    </td>
                                    <td data-title="'End Time'">
                                        {{lot.EndTime}}
                                    </td>
                                    <td data-title="'Status'" sortable="'Is Closed'">
                                        {{ lot.Status}}
                                    </td>                                   
                                </tr>                                
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>

                        <div class="clearfix" style="margin-bottom:150px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                // Switchery
                var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                $('.js-switch').each(function () {
                    new Switchery($(this)[0], $(this).data());
                });
            });
            function filterText() {
                var rex = new RegExp($('#filterText').val());
                if (rex == "/all/") { clearFilter() } else {
                    $('.content').hide();
                    $('.content').filter(function () {
                        return rex.test($(this).text());
                    }).show();
                }
            }

            function clearFilter() {
                $('.filterText').val('');
                $('.content').show();
            }
        </script>]
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>