﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="card" ng-controller="generatePOCtrl">
                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="col-md-6">
                                <h4> PO Form</h4>
                            </div>
                            <div class="col-md-6">
                                <a target="_blank " class="pull-right" ng-if="po.listPOItems[0].poLink > 0" href="FileDownload.aspx?attachid={{po.listPOItems[0].poLink}}&sessionid={{sessionID}}"><strong>Download PO</strong></a>
                            </div>

                        </div>

                        <div class="white-box">
                            <div class="row">

                                <div ng-if="currentPOId > 0" class="top-buffer form-group fg-float col-md-2 m-b-30 text-left" style="margin-left: -10px;">
                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">Po Number</label>
                                        <input name="purchaseID" id="purchaseID" class="form-control" ng-change="autoUpdateForAllItems();CheckUniqueIfExists(purchaseID,'PURCHASE_ID')" placeholder="" ng-model="purchaseID">
                                        <!--!isCustomer || po.listPOItems[0].poLink > 0-->
                                        <label ng-if="isExists" class="text-danger">( PO Number already exists )</label>
                                    </div>

                                </div>

                                <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">PR Number</label>
                                        <input ng-disabled="!isCustomer || currentPOId" name="indentID" id="indentID" title="{{indentID}}" class="form-control" ng-change="autoUpdateForAllItems();" placeholder="" ng-model="indentID">
                                    </div>
                                </div>

                                <div class="top-buffer form-group fg-float col-md-2 m-b-30">
                                    <div class="fg-line fg-toggled" ng-if="!currentPOId">
                                        <label class="fg-label">Select Vendors</label>
                                        <select data-placeholder="Select a Vendor"
                                                ng-model="vendorID"
                                                ng-options="vend.vendorID as vend.vendorName for vend in requirement.auctionVendors"
                                                class="form-control" ng-change="changeVendorsPrices(vendorID);"></select>
                                    </div>
                                    <div class="fg-line fg-toggled" ng-if="currentPOId">
                                        <label class="fg-label">Vendor: </label><br />
                                        <label class="fg-label"><strong>{{ po.vendor.firstName }} {{po.vendor.lastName}}</strong></label>
                                    </div>
                                </div>
                                <div ng-show="isCustomer && requirement.isContract" class="top-buffer form-group fg-float col-md-2 m-b-30">
                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">Contract Start Date</label>
                                        <div moment-picker="contactStartDate" format="DD-MM-YYYY">
                                            <input name="contactStartDate" id="contactStartDate" class="form-control" placeholder="" ng-model="contactStartDate" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="isCustomer && requirement.isContract" class="top-buffer form-group fg-float col-md-2 m-b-30">
                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">Contract End Date</label>
                                        <div moment-picker="contactEndDate" format="DD-MM-YYYY">
                                            <input name="contactEndDate" id="contactEndDate" class="form-control" placeholder="" ng-model="contactEndDate" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="isCustomer" class="top-buffer form-group fg-float col-md-2 m-b-30">
                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">Expected Delivery Date</label>
                                        <div moment-picker="expectedDeliveryDate" format="DD-MM-YYYY">
                                            <input name="expectedDeliveryDate" id="expectedDeliveryDate" class="form-control" placeholder="" ng-model="expectedDeliveryDate" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="isCustomer" class="top-buffer form-group fg-float col-md-3 m-b-30">
                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">Delivery Address</label>
                                        <input name="deliveryAddress" id="deliveryAddress" class="form-control" placeholder="" ng-model="deliveryAddress" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-2" ng-show="isCustomer">
                                    <br />
                                    <br />
                                    <button class='btn btn-info btn-sm btn-new-look' href='javascript:void(0);' ng-click="updateForAllItems()">Update for All Items</button>
                                </div>

                                <div class="col-md-12 table-responsive z-depth-1 clear-both">
                                    <table class="table table-hover" ng-if="valiPOItems">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <th style="width:10%"></th>
                                                <th style="width:10%">Item Name</th>
                                                <th class="text-center" style="width:5%">Req Qty</th>
                                                <!--<th class="text-center" style="width:10%">V.U.Price</th>-->
                                                <th class="text-center" style="width:10%">PO.U.Price</th>
                                                <th class="text-center" style="width:5%">GST</th>
                                                <th class="text-center" style="width:10%">V.T.Price</th>
                                                <th class="text-center" style="width:10%">PO.T.Price</th>
                                                <th class="text-center" style="width:10%" ng-if="requirement.isContract">Contract Start Date  </th>
                                                <th class="text-center" style="width:10%" ng-if="requirement.isContract">Contract End Date</th>
                                                <th class="text-center" style="width:10%">Expected Delivery Date</th>
                                                <th class="text-center" style="width:15%">Delivery Address</th>
                                                <!--<th class="text-center" style="width:15%" ng-if="isCustomer">Budget Code</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in po.listPOItems">
                                                <td>
                                                    <input ng-disabled="item.isCoreProductCategory <= 0 || true" type="checkbox" ng-model="item.isSelected" ng-value="false" />
                                                </td>
                                                <td>
                                                    <!--{{item.itemID}}-->
                                                    <label class="top-half-buffer">{{item.productIDorName}}</label>
                                                </td>
                                                <td class="text-center">
                                                    <label class="top-half-buffer" ng-if="!isCustomer">{{item.reqQuantity}}</label>
                                                    <input readonly ng-disabled="item.isCoreProductCategory <= 0" style="text-align:center"
                                                           ng-init="item.vendorPOQuantityOld=0"
                                                           ng-focus="item.vendorPOQuantityOld = item.vendorPOQuantity"
                                                           valid-number allow-decimal="true" allow-negative="false" ng-change="taxCalculation(item);"
                                                           ng-if="isCustomer" ng-model="item.vendorPOQuantity" class="form-control fg-input" />
                                                    <!--<span ng-if="item.isCoreProductCategory > 0">Unassigned QTY: {{item.remainingQuantity}}</span>-->
                                                </td>

                                                <!--<td class="text-center">
        <input ng-disabled="true" ng-if="isCustomer" ng-model="item.vendorPrice" class="form-control fg-input" />
        <label class="top-half-buffer" ng-disabled="true" ng-if="!isCustomer">{{item.vendorPrice}}</label>
    </td>-->

                                                <td class="text-center">
                                                    <input readonly style="text-align:center" ng-if="isCustomer" ng-change="taxCalculation();"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           ng-model="item.poPrice" class="form-control fg-input" />
                                                    <label style="text-align:center" class="top-half-buffer" ng-if="!isCustomer" ng-change="taxCalculation();">{{item.poPrice}}</label>
                                                </td>

                                                <td class="text-center">
                                                    <label class="top-half-buffer">{{item.cGst + item.sGst + item.iGst}}</label>
                                                </td>

                                                <td class="text-center">
                                                    <input style="text-align:center" ng-disabled="true" ng-if="isCustomer" ng-model="item.vendorTotalPrice" class="form-control fg-input" />
                                                    <label style="text-align:center" ng-disabled="true" ng-if="!isCustomer">{{item.vendorTotalPrice}}</label>
                                                </td>

                                                <td class="text-center">
                                                    <input style="text-align:center" ng-disabled="true" ng-if="isCustomer" ng-model="item.poTotalPrice" class="form-control fg-input" />
                                                    <label style="text-align:center" ng-if="!isCustomer">{{item.poTotalPrice}}</label>
                                                </td>

                                                <td class="text-center" ng-if="requirement.isContract">
                                                    <div ng-if="isCustomer" class="form-group fg-float col-sm-12 m-b-30">
                                                        <div class="fg-line fg-toggled">
                                                            <div moment-picker="item.contactStartDate" format="DD-MM-YYYY">
                                                                <input name="contactStartDate" id="contactStartDate" class="form-control" placeholder="" ng-model="item.contactStartDate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label ng-if="!isCustomer">{{item.contactStartDate}}</label>
                                                </td>

                                                <td class="text-center" ng-if="requirement.isContract">
                                                    <div ng-if="isCustomer" class="form-group fg-float col-sm-12 m-b-30">
                                                        <div class="fg-line fg-toggled">
                                                            <div moment-picker="item.contactEndDate" format="DD-MM-YYYY">
                                                                <input name="contactEndDate" id="contactEndDate" class="form-control" placeholder="" ng-model="item.contactEndDate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label ng-if="!isCustomer">{{item.contactEndDate}}</label>
                                                </td>

                                                <td class="text-center">
                                                    <div ng-if="isCustomer" class="form-group fg-float col-sm-12 m-b-30">
                                                        <div class="fg-line fg-toggled">
                                                            <div moment-picker="item.expectedDeliveryDate" format="DD-MM-YYYY">
                                                                <input name="expectedDeliveryDate" id="expectedDeliveryDate" class="form-control" placeholder="" ng-model="item.expectedDeliveryDate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label ng-if="!isCustomer">{{item.expectedDeliveryDate}}</label>
                                                </td>

                                                <td class="text-center">
                                                    <div ng-if="isCustomer" class="form-group fg-float col-sm-12 m-b-30">
                                                        <div class="fg-line fg-toggled">
                                                            <textarea name="deliveryAddress" id="deliveryAddress" class="form-control" rows="2" style="resize: vertical;" placeholder="" ng-model="item.deliveryAddress"></textarea>
                                                        </div>
                                                    </div>
                                                    <label ng-if="!isCustomer">{{item.deliveryAddress}}</label>
                                                </td>

                                                <!--<td ng-if="isCustomer">
        <label ng-repeat="type in BudgetDetailsList" ng-if="item.BUDGET_ID == type.BUDGET_ID">{{type.display}}</label>
    </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span ng-if="!valiPOItems"><strong>No items to create PO</strong></span>
                                </div>

                            </div>
                        </div>

                        <div class="row text-center" ng-if="isCustomer">
                            <button class="btn btn-info btn-file btn-new-look" ng-if="valiPOItems" ng-click="postRequest(0)">Save</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-if="valiPOItems" ng-click="postRequest(1)">Save & Send</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="cancelPO()">Cancel</button>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
