<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div>

                    <h4>Pending Contracts</h4>

                    <div class="white-box">
                        <div class="pmb-block ng-scope" ng-controller="pendingContractsCtrl">
                            <div class="pmbb-header">
                            </div>
                            <div ng-if="!isVendor">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Open Contracts ::  {{openContracts}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Total No.of Contracts ::  {{totalContracts}}</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Total Contractual Value ::  {{contractValue}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Total No.of Contracts Closed ::  {{totalContracts-openContracts}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Contracts Utilization  ::  {{utility}}%</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h5><strong>Product Name </strong></h5>
                                    <select class="form-control" ng-model="filters.productName" ng-options="item for item in itemArr"
                                            ng-change="setFilters()">

                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Category </strong></h5>
                                    <select class="form-control" ng-model="filters.categoryStatus" ng-options="item for item in catArr"
                                            ng-change="setFilters()">

                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Supplier Name </strong></h5>
                                    <select class="form-control" ng-model="filters.supplierName" ng-options="item for item in supplierArr"
                                            ng-change="setFilters()">

                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Active/Closed </strong></h5>
                                    <select class="form-control" ng-model="filters.status"
                                            ng-change="setFilters()">

                                        <option selected value="active">Active</option>
                                        <option selected value="closed">Closed</option>
                                    </select>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <h5><strong>Start Date </strong></h5>
                                        <div class="col-md-20" moment-picker="contractStartDate" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="Select a date" ng-model="contractStartDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <h5><strong>End Date </strong></h5>
                                        <div class="col-md-20" moment-picker="contractEndDate" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="Select a date" ng-model="contractEndDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-1"><button class="btn btn-info pull-right m-t-30 waves-effect waves-light" ng-click="setFilters();">Apply</button></div>
                            </div>
                                </div>
                            <div class="row">&nbsp;</div>
                            <div class="table table-responsive z-depth-2" ng-if="!isVendor">
                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                                    <tr ng-repeat="wf in MyPendingContracts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td data-title="'Product Name'" sortable="'ID'">
                                            {{ wf.ProductName}}
                                        </td>
                                        <td data-title="'Start Time'" sortable="'ID'">
                                            {{ wf.startTime}}
                                        </td>
                                        <td data-title="'End Time'" sortable="'ID'">
                                            {{ wf.endTime}}
                                        </td>
                                        <td data-title="'Quantity'" sortable="'ID'">
                                            {{ wf.quantity}}
                                        </td>
                                        <td data-title="'Availed Quantity'" sortable="'ID'">
                                            {{ wf.availedQuantity}}
                                        </td>
                                        <td data-title="'Vendor Company Name'" sortable="'ID'">
                                            {{ wf.companyName}}
                                        </td>
                                        <td data-title="'Contarct Number'" sortable="'ID'">
                                            {{ wf.contractNumber}}
                                        </td>
                                        <td data-title="'Contract Value'" sortable="'ID'">
                                            {{ wf.contractValue}}
                                        </td>
                                        <td data-title="'Phone Number'" sortable="'ID'">
                                            {{ wf.phoneNumber}}
                                        </td>
                                        <td data-title="'Supplier Name'" sortable="'ID'">
                                            {{ wf.supplierName}}
                                        </td>
                                        <td data-title="'Phone Number'" sortable="'ID'">
                                            {{ wf.poNumber}}
                                        </td>
                                        <td data-title="'Attachment download '" sortable="'ID'">
                                            <a ng-if="wf.document" target="_blank " href="FileDownload.aspx?attachid={{wf.document}}&sessionid={{sessionid}}" class="btn btn-default">Download</a>
                                        </td>
                                    </tr>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>