<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div>

                    <h4>Pending PO</h4>

                    <div class="white-box">
                        <div class="pmb-block ng-scope" ng-controller="pendingPoCtrl">
                            <div class="pmbb-header">
                            </div>
                            <div ng-if="!isVendor">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">No.of PO's ::  {{allPOs.length}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">Awaiting Receipt  ::  {{awaitingReceipt}}</h4>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">PO's not Initiated ::  {{posNotInitiated}}</h4>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-control white-box">
                                        <h4 class="text-center" style="margin-top:-10px;">No.of Partial Deliverables  ::  {{partialDeliverables}}</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h5><strong>Product Name </strong></h5>
                                    <select class="form-control" ng-model="filters.productName" ng-options="item for item in itemArr"
                                            ng-change="setFilters()">

                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Category </strong></h5>
                                    <select class="form-control" ng-model="filters.categoryStatus" ng-options="item for item in catArr"
                                            ng-change="setFilters()">

                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Department </strong></h5>
                                    <select class="form-control" ng-model="filters.departmentStatus" ng-options="item for item in deptArr"
                                            ng-change="setFilters()">

                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Item Name/PO No.</strong></h5>
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters();" ng-model="filters.searchKeyword" type="text" placeholder="Search">
                                </div>
                                <div class="col-md-2">
                                    <h5><strong>Supplier Name </strong></h5>
                                    <select class="form-control" ng-model="filters.supplierName" ng-options="item for item in supplierArr"
                                            ng-change="setFilters()">

                                        <option selected value="">All</option>
                                    </select>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <h5><strong>Expected Delivery Date </strong></h5>
                                        <div class="col-md-20" moment-picker="filters.expDeliveryDate" format="DD-MM-YYYY">
                                            <input class="form-control" placeholder="Select a date" ng-model="filters.expDeliveryDate" ng-model-options="{ updateOn: 'blur' }">
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button class="btn btn-info pull-left m-t-40  waves-effect waves-light" ng-click="setFilters();">Apply</button>
                                    </div>
                                    </div>

                                </div>
                                
                            </div>
                            <div class="row">&nbsp;</div>

                            <div class="table table-responsive z-depth-2">
                                <table ng-table="tctrl.tableSorting" class="table table-bordered table-striped" show-filter="false">
                                    <tr ng-repeat="wf in MyPendingPOS.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td data-title="'Purchase Order ID'" sortable="'ID'">
                                            <a style="cursor:pointer;" ng-click="goToPO(wf.REQ_ID, wf.PO_ID, wf.VENDOR_ID);">{{ wf.PURCHASE_ORDER_ID}}</a>
                                        </td>
                                        <td data-title="'PO Created Date'" sortable="'ID'">
                                            {{ wf.CREATED}}
                                        </td>
                                        <td data-title="'No.of Items Count'" sortable="'ID'">
                                            {{ wf.NO_OF_ITEMS}}
                                        </td>
                                        <td data-title="'PO Delivery Date'" sortable="'ID'">
                                            {{ wf.DELIVERY_DATE}}
                                        </td>
                                        <td data-title="'Expected Delivery Date'" sortable="'ID'">
                                            {{ wf.EXPECTED_DELIVERY_DATE}}
                                        </td>
                                        <td data-title="'PO Status'" sortable="'ID'">
                                            {{ wf.PO_STATUS}}
                                        </td>
                                        <td data-title="'Supplier Name'" sortable="'ID'">
                                            {{ wf.SUPPLIER_NAME}}
                                        </td>
                                        <td data-title="'PO Amount'" sortable="'ID'">
                                            {{ wf.PO_TOTAL_PRICE}}
                                        </td>
                                        <td data-title="'PO Currency'" sortable="'ID'">
                                            {{ wf.REQ_CURRENCY}}
                                        </td>
                                    </tr>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                            <div class="clearfix" style="margin-bottom:150px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>