﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="generatePOCtrl">
                <div class="white-box">
                    <!--<div class="white-box">-->
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <h3> View PO</h3>
                        </div>
                        <div class="col-md-6">
                            <a target="_blank " class="pull-right" ng-if="po.listPOItems[0].poLink > 0" href="FileDownload.aspx?attachid={{po.listPOItems[0].poLink}}&sessionid={{sessionID}}"><strong>Download PO</strong></a>
                        </div>

                    </div>

                    <div class="row form-group">

                        <!--<label><strong>Po No:</strong></label>{{purchaseID}}
            <label><strong>Indent ID:</strong></label>{{indentID}}-->


                        <div class="col-md-12">

                            <div class="col-md-6 pull-left">
                                <div class="col-md-3" style="text-align:right">
                                    <label><strong>Po No:</strong></label>
                                </div>
                                <div class="col-md-9">
                                    {{purchaseID}}
                                </div>
                            </div>
                            <!--<div class="col-md-6">
                                <div class="col-md-3" style="text-align:right">
                                    <label><strong>Indent ID:</strong></label>
                                </div>
                                <div class="col-md-3">
                                    {{indentID}}
                                </div>
                            </div>-->
                        </div>
                    </div>

                    <!--</div>-->

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th class="text-center">Item Name</th>
                                        <th class="text-center">Req Qty</th>
                                        <th class="text-center">Vendor Qty</th>
                                        <th class="text-center">V.U.Price</th>
                                        <th class="text-center">PO.U.Price</th>
                                        <th class="text-center">C-GST</th>
                                        <th class="text-center">S-GST</th>
                                        <th class="text-center">I-GST</th>
                                        <th class="text-center">V.T.Price</th>
                                        <th class="text-center">PO.T.Price</th>
                                        <th class="text-center">Expected Delivery Date</th>
                                        <th class="text-center">Delivery Address</th>
                                        <th class="text-center">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in po.listPOItems" ng-if="item.poID > 0 && item.isCoreProductCategory > 0">
                                        <td>{{item.productIDorName}}</td>
                                        <td class="text-center">{{item.reqQuantity}}</td>

                                        <td class="text-center">
                                            <label>{{item.vendorPOQuantity}}</label>
                                        </td>
                                        <td class="text-center">
                                            <label>{{item.vendorPrice}}</label>
                                        </td>
                                        <td class="text-center">
                                            <label>{{item.poPrice}}</label>
                                        </td>

                                        <td class="text-center">
                                            <label>{{item.cGst}}</label>
                                        </td>

                                        <td class="text-center">
                                            <label>{{item.sGst}}</label>
                                        </td>

                                        <td class="text-center">
                                            <label>{{item.iGst}}</label>
                                        </td>

                                        <td class="text-center">
                                            <label>{{item.vendorTotalPrice}}</label>
                                        </td>

                                        <td class="text-center">
                                            <label>{{item.poTotalPrice}}</label>
                                        </td>


                                        <td class="text-center">
                                            <label>{{item.expectedDeliveryDate}}</label>
                                        </td>

                                        <td class="text-center">
                                            <label>{{item.deliveryAddress}}</label>
                                        </td>

                                        <td class="text-center">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <button class="btn btn-info" ng-click="cancelPO()">Cancel</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <h2>Delivery Schedule Information</h2>
                        </div>
                        <div class="col-md-8" ng-if="isCustomer">
                            <button class="btn btn-info" data-target="#newSchedulePopup" data-toggle="modal" ng-click="newSchedule()">New Schedule</button>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th class="text-center">Item</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Delivery Date</th>
                                        <th class="text-center">Comments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="schedule in poScheduleList">
                                        <td>{{schedule.productName}}</td>
                                        <td class="text-center">{{schedule.QUANITTY}}</td>
                                        <td class="text-center">
                                            <label>{{schedule.DELIVERY_DATE}}</label>
                                        </td>
                                        <td class="text-center">
                                            <label>{{schedule.COMMENTS}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- new schedule popup-->
                <div class="modal" id="newSchedulePopup" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 100%;">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" ng-click="clearForm();">&times;</button>
                                <h3 class="modal-title">New Schedule</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view table-responsive">
                                    <label class="fg-label">Select Item</label>
                                    <select data-placeholder="Select a Item"
                                            ng-model="scheduleObj.ITEM_ID"
                                            ng-options="item.itemID as item.productIDorName for item in coreItemList"
                                            class="form-control"></select>

                                    <label class="fg-label">Quantity</label>
                                    <input valid-number allow-decimal="true" allow-negative="false"
                                           ng-model="scheduleObj.QUANITTY" class="form-control fg-input" />

                                    <div class="fg-line fg-toggled">
                                        <label class="fg-label">Delivery Date</label>
                                        <div moment-picker="scheduleDeliveryDate" format="DD-MM-YYYY">
                                            <input name="scheduleDeliveryDate" id="scheduleDeliveryDate" class="form-control" placeholder="" ng-model="scheduleDeliveryDate" autocomplete="off" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                    </div>

                                    <label class="fg-label">Comments</label>
                                    <textarea cols="50" rows="4" 
                                           ng-model="scheduleObj.COMMENTS" class="form-control fg-input" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class='btn btn-info btn-sm btn-new-look' ng-disabled="!(scheduleDeliveryDate && scheduleObj.ITEM_ID && scheduleObj.QUANITTY)" ng-click="savePOSchedule()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ^new schedule popup-->
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>



