<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }

    .fieldSetGroup {
        margin: 0;
        padding: 0;
        border: 0.1px solid #01408d;
    }

    .legendGroup {
        width: auto;
        margin-bottom: 0px;
        font-size: 16px;
        text-align: center;
    }

    legend {
        border-bottom: none;
    }
    .m-l-5{
        margin-left:5px !important;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="billRequestsListCtrl">
                <div class="white-box">

                    <div class="row">
                        <div class="col-md-6">
                            <p class="sans_header">Bill Requests List</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>PO Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.poNumbers"
                                         options="item.name for item in filtersList.poNumbersList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Project Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.projects"
                                         options="item.name for item in filtersList.projectsList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Bill Certification Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.billStatus"
                                         options="item.name for item in filtersList.billStatusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <!--<div class="col-md-2">
            <h5><strong>Packages</strong></h5>
            <multiselect class="input-xlarge" multiple="true"
                         ng-model="filters.packages"
                         options="item.name for item in filtersList.packagesList"
                         change="setFilters(currentPage-1)"></multiselect>
        </div>-->
                        <!--<div class="col-md-2">
            <h5><strong>Sub Packages</strong></h5>
            <multiselect class="input-xlarge" multiple="true"
                         ng-model="filters.subPackages"
                         options="item.name for item in filtersList.subPackagesList"
                         change="setFilters(currentPage-1)"></multiselect>
        </div>-->
                        <div class="col-md-2" ng-if="!isVendor">
                            <h5><strong>Vendor</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.vendors"
                                         options="item.name for item in filtersList.vendorList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div moment-picker="filters.billFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.billFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div moment-picker="filters.billToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.billToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="pull-right common_btn btn-sm" ng-click="filterByDate(currentPage-1);" style="margin-top:38px;">Apply</button>
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 table-responsive" style="overflow-x:auto">
                                <small style="color:green" class="ng-binding"> Total Count: {{totalItems}}</small>
                                <table id="testTable" class=" table colliers_table">
                                    <thead>
                                        <tr class="sans_body">
                                            <th style="max-width:200px;"><strong>Bill Request Id</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Type</strong></th>
                                            <th style="max-width:200px;"><strong>Check Lists</strong></th>
                                            <th style="max-width:200px;"><strong>Vendor Name</strong></th>
                                            <th style="max-width:200px;"><strong>PO Number</strong></th>
                                            <th style="max-width:200px;"><strong>Project Name</strong> </th>
                                            <!--<th style="max-width:200px;"><strong>Package Name</strong> </th>
                <th style="max-width:200px;"><strong>Sub Packge Name</strong> </th>-->
                                            <th style="max-width:200px;"><strong>PO Value</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Request Status</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Certified Amount</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Certificates</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Certification Status</strong></th>
                                            <th style="max-width:200px;"><strong>Actions</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="billRequest in filteredbillRequestsList" ng-if="billRequest.IS_VALID ==1">
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_ID}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_TYPE}}
                                            </td>
                                            <td style="max-width:200px;">
                                                <span class="dropdown" ng-if="billRequest.checkListArr.length > 0">
                                                    <a title="Check Lists" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" ng-click="showCheckLists(billRequest,false);">
                                                        <i class="fa fa-copy text-primary"></i>
                                                    </a>
                                                    <span class="dropdown-menu" style="max-height:400px;overflow-y:auto;width:200px;padding-left: 20px">
                                                        <br />
                                                    </span>
                                                </span>
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.VENDOR_NAME}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.PO_NUMBER}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.PROJECT_NAME}}
                                            </td>
                                            <!--<td style="max-width:200px;">
                    {{billRequest.PACKAGE_NAME}}
                </td>
                <td style="max-width:200px;">
                    {{billRequest.SUB_PACKAGE_NAME}}
                </td>-->
                                            <td style="max-width:200px;">
                                                {{billRequest.PO_VALUE | number:2}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_REQUEST_STATUS}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_CERTIFIED_AMOUNT| number : 2}}
                                            </td>
                                            <td style="max-width:200px;">
                                                <span class="dropdown" ng-if="billRequest.BILL_CERTIFIED_AMOUNT > 0">
                                                    <!--billRequest.checkListArr.length > 0 && showIfAttachments(billRequest)-->
                                                    <a title="Check Lists Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" ng-click="showCheckLists(billRequest,true);">
                                                        <i class="fa fa-copy text-primary"></i>
                                                    </a>
                                                </span>
                                            </td>
                                            <td style="max-width:200px;">
                                                <span ng-if="billRequest.BILL_REQUEST_STATUS === 'ACKNOWLEDGED' && billRequest.BILL_CERTIFIED_AMOUNT > 0">{{(billRequest.BILL_CERTIFICATION_STATUS == 'APPROVED' && !billRequest.BILL_CERTIFICATION_WF_PENDING_APPROVERS) ? 'APPROVED': 'PENDING' }}</span>
                                                <span ng-if="billRequest.BILL_REQUEST_STATUS != 'ACKNOWLEDGED' && billRequest.BILL_CERTIFIED_AMOUNT <= 0">-</span>
                                            </td>
                                            <td style="max-width: 200px; text-align: center;">
                                                <label ng-if="isVendor">
                                                    <a class="m-l-5" role="button" ng-if="billRequest.BILL_REQUEST_STATUS != 'ACKNOWLEDGED'" title="Edit Bill Request" ng-click="createBillRequest(billRequest.BILL_ID,billRequest.PO_NUMBER,'EDIT')">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="m-l-5" role="button" title="View Bill Request" ng-click="createBillRequest(billRequest.BILL_ID,billRequest.PO_NUMBER,'VIEW')">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                    <a role="button" ng-if="billRequest.BILL_REQUEST_STATUS != 'ACKNOWLEDGED'" title="Delete Bill Request" ng-click="deleteBillRequest(billRequest,1)"
                                                       class="delete_icon m-l-5">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </label>
                                                <label class="m-l-5" ng-if="!isVendor && billRequest.BILL_REQUEST_STATUS != 'ACKNOWLEDGED' && billRequest.BILL_REQUEST_STATUS != 'REJECTED' && (billRequest.IS_VALID_BILL_USER || isSuperUser) && (isProjectMgmtUser || isSuperUser)">
                                                    <a role="button" title="Acknowledge" ng-click="acknowledgeOrRejectBillRequest(billRequest,1)" class="fa fa-check-circle" style="color:green"></a>
                                                    <a role="button" title="Reject" ng-click="acknowledgeOrRejectBillRequest(billRequest,0)" class="fa fa-times" style="color:red"></a>
                                                </label>
                                                <label class="m-l-5" ng-if="!isVendor && billRequest.BILL_CERTIFICATE_WF_ID > 0 && (billRequest.IS_VALID_BILL_USER || billRequest.IS_ALL_ACCESS_USER || isSuperUser)">
                                                    <i ng-click="showBillRequestApproval();getItemWorkflow(billRequest.BILL_ID,WorkflowModule);"
                                                       style="color:gray" title="Workflow Approval" data-target="#workflowApprovalPopup"
                                                       data-toggle="modal" class="fas fa-info-circle">
                                                        Click here to take an action on Approval
                                                    </i>
                                                </label>
                                                <label class="m-l-5" ng-if="isVendor && billRequest.BILL_REQUEST_STATUS === 'ACKNOWLEDGED' && billRequest.BILL_CERTIFICATION_WF_PENDING_APPROVERS == null &&(billRequest.BILL_CERTIFICATION_STATUS =='REJECTED' || billRequest.BILL_CERTIFICATION_STATUS ==null)">
                                                    <button role="button" class="btn btn-xs btn_save sans_body"
                                                            ng-click="showBillCertificationBox(billRequest,true);" title="Submit For Bill Certification" style="font-size:11px;">
                                                        Upload Certification
                                                    </button>
                                                    <!--<i class="fa fa-2x fa-money-bill-alt" title="Submit For Bill Certification" style="cursor: pointer; color: green;" ng-click=""></i>-->
                                                </label>
                                                <label class="m-l-5">
                                                    <i ng-if=" billRequest.BILL_CERTIFICATION_STATUS === 'APPROVED' && billRequest.BILL_CERTIFICATION_WF_PENDING_APPROVERS == null && USER_ID == billRequest.VENDOR_ID" class="fas fa-file" title="Upload Invoice" ng-click="routeToInvoices(billRequest);" style="color:darkblue;cursor:pointer"></i>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal" id="billCertificationPopup" tabindex="-1">
                    <div class="modal-dialog modal-lg" style="width:80%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modal-title">Bill Certification</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive" style="text-align:center;">

                                            <table id="testTable" class="table colliers_table">
                                                <thead>
                                                    <tr class="sans_body">
                                                        <th style="max-width:200px;"><strong>PO Number</strong></th>
                                                        <th style="max-width:200px;"><strong>PO Value</strong> </th>
                                                        <th style="max-width:200px;"><strong>Project Name</strong> </th>
                                                        <!--<th style="max-width:200px;"><strong>Package Name</strong> </th>
                                            <th style="max-width:200px;"><strong>Sub Packge Name</strong> </th>-->
                                                        <th style="max-width:200px;"><strong>Bill Certification Amount</strong> </th>
                                                        <!--<th style="max-width:200px;"><strong>Upload Bill Certificates</strong></th>-->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{billValues.PO_NUMBER}}</td>
                                                        <td>{{billValues.PO_VALUE | number:2}}</td>
                                                        <td>{{billValues.PROJECT_NAME}}</td>
                                                        <!--<td>{{billValues.PACKAGE_NAME}}</td>
                                            <td>{{billValues.SUB_PACKAGE_NAME}}</td>-->
                                                        <td>
                                                            <input type="text" class="form-control" ng-model="billValues.BILL_CERTIFIED_AMOUNT"
                                                                   ng-disabled="isFormSubmitted"
                                                                   valid-number allow-decimal="true" allow-negative="false"
                                                                   ng-change="validateAmount(billSubmissionObj)" />
                                                        </td>
                                                        <!--<td>
                                                <div class="row">
                                                    <div class="fileupload common_btn" style="width:120px;">
                                                        <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                        <input type="file" ng-disabled="isFormSubmitted" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.ics,.xml,.eml,.msg" id="{{$index}}" itemid="BILL_SUBMISSION_ATTACHMENTS" multiple ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                    <span class="dropdown" ng-if="checkList.MULTIPLE_ATTACHMENTS.length > 0">
                                                        <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                                            <i class="fa fa-copy text-primary"></i>
                                                        </a>
                                                        <span class="dropdown-menu" style="max-height:400px;overflow-y:auto;width:200px;padding-left: 20px">
                                                            <span ng-repeat="attch in checkList.MULTIPLE_ATTACHMENTS">-->
                                                        <!--<span ng-if="attch.fileID <= 0"
                                                  title="{{attch.fileName}}"
                                                  style="cursor:pointer"
                                                  class="prmellipsis row col-md-5">{{$index + 1}}.{{attch.fileName}}</span>-->
                                                        <!--<strong ng-if="attch.fileID <= 0"
                                                                        style="cursor:pointer;margin-top: 2px"
                                                                        ng-click="removeAttach(parentIndex,$index)"
                                                                        class="fa fa-trash-alt col-md-2"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                <a ng-if="attch.fileID > 0" target="_blank" class="prmellipsis" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                                <br />
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </td>-->

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    &nbsp;
                                </div>

                                <div class="row">

                                    <div class="col-md-2">
                                        <label class="style-label">Bill Type<span class="text-danger">*</span></label>
                                        <select ng-disabled="true" ng-model="billValues.BILL_TYPE" ng-change="validateCheckLists()" class="form-control" data-placeholder="Bill Type" id="Bill Type"
                                                required>
                                            <option value="Advance">Advance</option>
                                            <option value="Running">Running</option>
                                            <option value="Final bill">Final bill</option>
                                        </select>
                                    </div>

                                    <div class="col-md-8">
                                        <fieldset class="fieldSetGroup">
                                            <legend class="legendGroup">
                                                <label class="style-label">Check Lists</label>
                                                <span class="text-danger">*</span>
                                            </legend>
                                            <div class="col-md-12">
                                                <table class="table table-responsive">
                                                    <thead class="style-label">
                                                        <tr>
                                                            <td></td>
                                                            <td>Check List Name</td>
                                                            <td>Attachments</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="checkList in billValues.checkListArr" ng-init="parentIndex=$index">
                                                            <td>
                                                                <input ng-disabled="true" style="cursor:pointer;" type="checkbox" ng-model="checkList.isChecked" />
                                                            </td>
                                                            <td>
                                                                <label title="{{checkList.value}}">
                                                                    <span class="style-label m-l-5">{{checkList.value}}</span><br />
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <div class="row" ng-if="checkList.isChecked">
                                                                    <div class="fileupload common_btn" style="width:120px;">
                                                                        <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                                        <input type="file" ng-disabled="isFormSubmitted" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.ics,.xml,.eml,.msg" id="{{$index}}" itemid="BILL_SUBMISSION_ATTACHMENTS" multiple ng-file-select-items="onFileSelect($files)">
                                                                    </div>
                                                                    <span class="dropdown" ng-if="checkList.MULTIPLE_ATTACHMENTS.length > 0">
                                                                        <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                                                            <i class="fa fa-copy text-primary"></i>
                                                                        </a>
                                                                        <span class="dropdown-menu" style="max-height:400px;overflow-y:auto;width:200px;padding-left: 20px">
                                                                            <span ng-repeat="attch in checkList.MULTIPLE_ATTACHMENTS">
                                                                                <span ng-if="attch.fileID <= 0"
                                                                                      title="{{attch.fileName}}"
                                                                                      style="cursor:pointer"
                                                                                      class="prmellipsis row col-md-5">{{$index + 1}}.{{attch.fileName}}</span>
                                                                                <strong ng-if="attch.fileID <= 0"
                                                                                        style="cursor:pointer;margin-top: 2px"
                                                                                        ng-click="removeAttach(parentIndex,$index)"
                                                                                        class="fa fa-trash-alt col-md-2"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                                                <a ng-if="attch.fileID > 0" target="_blank" class="prmellipsis" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                                                <br />
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>


                                <div class="row">
                                    &nbsp;
                                </div>

                                <div class="row col-md-offset-1" ng-if="ERROR_MESSAGE" style="color: red;text-align: center;">
                                    {{ERROR_MESSAGE}}
                                </div>

                                <div class="row">
                                    &nbsp;
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align:center;">
                                        <button role="button" class="btn btn-xs btn_save sans_body"
                                                ng-click="uploadBillCertification()" title="Submit for Bill Certification">
                                            Submit for Bill Certification
                                        </button>
                                        <button role="button" class="cancel_button sans_body" ng-click="cancelBillCertificationPopup()" title="cancel">Cancel</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="modal" id="workflowApprovalPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Pending Approvals</h4>
                </div>
                <div class="modal-body">
                    <fieldset ng-disabled="isSuperUser">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>-->

                <div class="modal" id="workflowApprovalPopup">
                    <div class="modal-dialog" style="width:60%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Workflow Status</h4>
                            </div>
                            <div class="modal-body p-t-0">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="table-responsive" style="max-height:350px;overflow-y:auto">
                                                    <table class="table table-bordered colliers_table">
                                                        <thead>
                                                            <tr>
                                                                <th>S.NO</th>
                                                                <th>Status</th>
                                                                <th>Name</th>
                                                                <th>On</th>
                                                                <th>Action</th>
                                                                <th>Comments</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                                                <td>{{$index + 1}}</td>
                                                                <td>{{step.statusNew}}</td>
                                                                <td ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'">{{step.approverDetails.approvedBy}}</td>
                                                                <td ng-show="step.statusNew =='Pending'">{{step.approverDetails.firstName}}</td>
                                                                <td>{{showApprovedDate(step.dateModified)}}</td>
                                                                <td>
                                                                    <div class="row" style="margin-left:15px;">
                                                                        <div class="col-md-12" href="#"
                                                                             ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                                             style="min-height:90px;">
                                                                            <div class="row">
                                                                                <div class="col-md-5 col-xs-5 p-5" ng-show="!isApproverDisable($index,step.moduleID);">
                                                                                    <div class="row p-0" style="position:relative;top:8px">
                                                                                        <div class="col-md-4 col-xs-4 p-0">
                                                                                            <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle" style="color:brown;font-size:13px;" title="Hold" aria-hidden="true"></i></i>
                                                                                        </div>

                                                                                        <div class="col-md-4 col-xs-4 p-r-0 p-l-0">
                                                                                            <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up" style="color:#266A2D;font-size: 13px;" title="Approve" aria-hidden="true"></i></i>
                                                                                        </div>

                                                                                        <div class="col-md-4 col-xs-4 p-r-0 p-l-0">
                                                                                            <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down" style="color:red;font-size: 13px;" title="Reject" aria-hidden="true"></i></i>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                                <div ng-show="!isApproverDisable($index,step.moduleID);" ng-class="(isApproverDisable($index,step.moduleID) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" class="p-0" title="{{step.comments}}">
                                                                                    <textarea rows="1" cols="20" ng-model="step.comments" ng-disabled="isApproverDisable($index,step.moduleID);" placeholder="Comments" type="text" class="form-control fg-input p-r-0" style="resize: none;"></textarea>
                                                                                    <lable ng-hide="isApproverDisable($index,step.moduleID);" class="text-danger">  {{commentsError}} </lable>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td style="max-width:120px;"> <textarea ng-show="step.status == 'APPROVED' || step.status == 'REJECTED'|| step.status == 'PENDING' || step.status == 'HOLD'" rows="2" cols="30" ng-model="step.comments" ng-disabled="true" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer" style="border:none">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="modal" id="checkListPopup" tabindex="-1">
                    <div class="modal-dialog modal-lg" style="width:60%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title" id="modal-title">CheckLists</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive" style="text-align:center;max-height:500px;overflow-y:auto;width:100%;padding-left:20px">
                                            <table class="table colliers_table">
                                                <thead>
                                                    <tr class="sans_body">
                                                        <th><strong></strong></th>
                                                        <th><strong>Check List Name</strong> </th>
                                                        <th ng-if="showAttachments"><strong>Attachments</strong> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="checklist in checkListsPopup.checkListArr">
                                                        <td>
                                                            <input style="cursor:pointer;" ng-disabled="true" type="checkbox" ng-model="checklist.isChecked" />
                                                        </td>
                                                        <td>
                                                            <label title="{{checklist.value}}" style="cursor:pointer">
                                                                {{checklist.value}}
                                                            </label>
                                                        </td>
                                                        <td ng-if="showAttachments">
                                                            <span class="row" ng-repeat="attch in checklist.MULTIPLE_ATTACHMENTS">
                                                                <a ng-if="attch.fileID > 0" style="cursor:pointer" target="_blank" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">
                                                                    <label class="prmellipsis" style="cursor:pointer">
                                                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                                        {{attch.fileName}}
                                                                    </label>
                                                                </a>
                                                            </span>
                                                            <br />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>