<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>


    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="billRequestsCtrl">
                <div class="white-box">
                    <div class="row" ng-if="isVendor">
                        <div class="col-md-3 pull-right showSetupbtn">
                            <button ng-click="createBillRequest()" class="create_button pull-right">Create Bill Request</button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 table-responsive" style="overflow-x:auto">
                                <table id="testTable" class=" table colliers_table">
                                    <thead>
                                        <tr class="sans_body">
                                            <th> </th>
                                            <th style="max-width:200px;"><strong>Bill Request Id</strong></th>
                                            <th style="max-width:200px;"><strong>Vendor Name</strong></th>
                                            <th style="max-width:200px;"><strong>PO Number</strong></th>
                                            <th style="max-width:200px;"><strong>PO Value</strong></th>
                                            <th style="max-width:200px;"><strong>Project</strong> </th>
                                            <th style="max-width:200px;"><strong>Bill Request Attachments</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Request Status</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Certified Amount</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Certificates</strong></th>
                                            <th style="max-width:200px;"><strong>Bill Certification Status</strong></th>
                                            <th style="max-width:200px;"><strong>Actions</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="billRequest in billRequestsList track by $index">
                                            <td>
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_ID}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.VENDOR_NAME}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.PO_NUMBER}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.PO_VALUE}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.PROJECT_NAME}}
                                            </td>
                                            <td style="max-width:200px;">
                                                <span class="dropdown" ng-if="billRequest.ATTACHMENTS_ARRAY && billRequest.ATTACHMENTS_ARRAY.length > 0">
                                                    <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                                        <i class="fa fa-copy text-primary"></i>
                                                    </a>
                                                    <span class="dropdown-menu col-md-12">
                                                        <span class="col-md-12" ng-if="attch.fileID > 0" ng-repeat="attch in billRequest.ATTACHMENTS_ARRAY">
                                                            <a target="_blank" class="prmellipsis" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                            <br />
                                                        </span>
                                                    </span>
                                                </span>
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_REQUEST_STATUS}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_CERTIFIED_AMOUNT}}
                                            </td>
                                            <td style="max-width:200px;">
                                                <span class="dropdown" ng-if="billRequest.BILL_CERTIFICATES && billRequest.BILL_CERTIFICATES.length > 0">
                                                    <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                                        <i class="fa fa-copy text-primary"></i>
                                                    </a>
                                                    <span class="dropdown-menu col-md-12">
                                                        <span class="col-md-12" ng-if="attch.fileID > 0" ng-repeat="attch in billRequest.BILL_CERTIFICATES">
                                                            <a target="_blank" class="prmellipsis" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                            <br />
                                                        </span>
                                                    </span>
                                                </span>
                                            </td>
                                            <td style="max-width:200px;">
                                                {{billRequest.BILL_CERTIFICATION_STATUS}}
                                            </td>
                                            <td style="max-width:200px;">
                                                <label ng-if="!isVendor && billRequest.BILL_REQUEST_STATUS != 'ACKNOWLEDGED'">
                                                    <a role="button" title="Acknowledge" ng-click="acknowledgeOrRejectBillRequest(billRequest.BILL_ID,1)" class="fa fa-2x fa-check-circle" style="color:green"></a>
                                                    <a role="button" title="Reject" ng-click="acknowledgeOrRejectBillRequest(billRequest.BILL_ID,0)" class="fa fa-2x fa-times" style="color:red"></a>
                                                </label>
                                                <label ng-if="!isVendor && billRequest.BILL_CERTIFICATE_WF_ID > 0">
                                                    <i ng-click="showBillRequestApproval();getItemWorkflow(billRequest.BILL_ID,WorkflowModule);"
                                                       style="color:gray" title="Workflow Approval" data-target="#workflowApprovalPopup"
                                                       data-toggle="modal" class="fas fa-info-circle">
                                                        Click here to take an action on Approval
                                                    </i>
                                                </label>
                                                <label ng-if="isVendor && billRequest.BILL_REQUEST_STATUS === 'ACKNOWLEDGED' && billRequest.BILL_CERTIFICATE_WF_ID <= 0">
                                                    <i class="fa fa-2x fa-money-bill-alt" title="Submit For Bill Certification" style="cursor: pointer; color: green;" ng-click="showBillCertificationBox(billRequest,true);"></i>
                                                </label>
                                                <label>
                                                    <!--<img class="pull-right" src="js/resources/images/invoice.png" height="50" width="100" title="View Invoices" ng-click="createInvoice();">-->
                                                    <i ng-if="isVendor && billRequest.BILL_CERTIFICATION_STATUS === 'APPROVED' && !billRequest.BILL_CERTIFICATION_WF_PENDING_APPROVERS" class="fas fa-file fa-2x" title="View Invoices" ng-click="routeToInvoices(billRequest);" style="color:darkblue"></i>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="modal" id="billSubmissionPopup" tabindex="-1">
                    <div class="modal-dialog modal-lg" style="width:60%;">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <h3 class="modal-title" id="modal-title">Bill Submission</h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                    <div class="row" ng-if="!ERROR_MESSAGE">
                                        <div class="col-md-3">
                                            <label class="style-label">PO Number</label>
                                            <div>
                                                <input type="text" name="poNumber" ng-model="billSubmissionObj.poArray[0].PO_NUMBER" id="poNumber" class="style_ip" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="style-label">PO</label>
                                            <div>
                                                <input type="text" name="poValue" ng-model="billSubmissionObj.OVERALL_AMOUNT" id="poValue" class="style_ip" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="style-label">Vendor</label>
                                            <div>
                                                <input type="text" name="vendor" ng-model="billSubmissionObj.poArray[0].VENDOR_NAME" id="vendor" class="style_ip" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="style-label">Upload Bill Submission</label>
                                            <div class="col-md-12">
                                                <div class="fileupload common_btn" style="width:120px;">
                                                    <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.ics,.xml,.eml,.msg" id="fileInput" itemid="BILL_SUBMISSION_ATTACHMENTS" multiple ng-file-select-items="onFileSelect($files)">
                                                </div>
                                                <label ng-if="attch.fileID > 0" ng-repeat="attch in billSubmissionObj.MULTIPLE_ATTACHMENTS">
                                                    {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">Download</a>
                                                    <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                </label>
                                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in billSubmissionObj.MULTIPLE_ATTACHMENTS">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">&nbsp;</div>
                                    <div class="row">&nbsp;</div>
                                    <div class="row">&nbsp;</div>

                                    <div class="row" ng-if="!ERROR_MESSAGE">
                                        <div class="col-md-12" style="text-align:center;">
                                            <button role="button" class="btn btn-xs btn_save sans_body"
                                                    ng-click="createBillSubmission()" title="Submit Bill request">
                                                Submit Bill request
                                            </button>
                                            <button role="button" class="cancel_button sans_body" ng-click="cancelBillSubmissionPopup()" title="cancel">Cancel</button>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="ERROR_MESSAGE">
                                        <div class="col-md-12" style="text-align:center;">
                                            <h5 style="color:red">{{ERROR_MESSAGE}}</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal" id="workflowApprovalPopup">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Pending Approvals</h4>
                            </div>
                            <div class="modal-body">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                                    <div class="row approvalRowHeight">
                                                        <div class="col-md-12">
                                                            <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                            </P>
                                                            <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 list-group-item" href="#"
                                                             ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                             style="min-height:90px;">
                                                            <div class="row">
                                                                <div class="col-md-1 col-xs-1">
                                                                    <h5>{{$index + 1}}. </h5>
                                                                </div>
                                                                <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                                    <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                                    <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                                </div>
                                                                <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-xs-4">
                                                                            <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                            <small>Hold</small>
                                                                        </div>

                                                                        <div class="col-md-4 col-xs-4">
                                                                            <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                            <small>Approve</small>
                                                                        </div>

                                                                        <div class="col-md-4 col-xs-4">
                                                                            <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                            <small>Reject</small>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div style='border-bottom:1px solid #ccc;'></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>