<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="createInvoiceCtrl">
                <div class="white-box">
                    <!--<div class="row">
        <div class="col-md-3 pull-right showSetupbtn">
            <button ng-click="createBillRequest()" class="create_button pull-right">Create Invoice</button>
        </div>
    </div>-->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table colliers_table">
                                <thead>
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>PO Number</th>
                                        <th>Vendor Name</th>
                                        <!--<th>Package Name</th>
    <th>Sub Package Name</th>-->
                                        <th>PO Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="billSubmissionObj in PO_ITEMS_FOR_BILL_REQUEST" ng-init="parentIndex = $index">
                                        <td>{{$index +1}}</td>
                                        <td>{{billSubmissionObj.PO_NUMBER}}</td>
                                        <!--<td>{{billSubmissionObj.PACKAGE_NAME}}</td>
                                        <td>{{billSubmissionObj.SUB_PACKAGE_NAME}}</td>-->
                                        <td>{{billSubmissionObj.VENDOR_NAME}}</td>
                                        <td>{{billSubmissionObj.TOTAL_AMOUNT | number :2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="white-box">
                        <fieldset name="vendorInvoiceForm" id="vendorInvoiceForm" novalidate>

                            <div class="row">
                                <h3 style="text-align:center">Invoice Details</h3>
                            </div>

                            <div class="row">
                                <div class="form-group fg-float col-md-3 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_NUMBER)}">
                                        <label class="fg-label"><strong>Invoice Number{{vendorInvoiceForm.$submitted || vendorInvoiceForm.invoiceNo.$touched}}</strong></label>
                                        <input type="text" ng-model="selectedPODetails.INVOICE_NUMBER" name="invoiceNo" id="invoiceNo" class="form-control fg-input" required ng-disabled="editAccess ==1" />
                                        <label ng-if="invNumberErrorMessage" class="text-danger">{{invNumberErrorMessage}}</label>
                                    </div>
                                </div>
                                <div class="form-group fg-float col-md-3 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PO_NUMBER)}">
                                        <label class="fg-label"><strong>Invoice Description</strong></label>
                                        <input type="text" ng-model="selectedPODetails.INVOICE_DESCRIPTION" name="invoiceNo" id="poNumber" class="form-control fg-input" required ng-disabled="editAccess ==1" />
                                        <label ng-if="invDescErrorMessage" class="text-danger">{{invDescErrorMessage}}</label>
                                    </div>
                                </div>

                                <div class="form-group fg-float col-md-3 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.BILL_CERTIFIED_AMOUNT)}">
                                        <label class="fg-label"><strong>Bill Certified Amount</strong></label>
                                        <input type="text" ng-model="selectedPODetails.BILL_CERTIFIED_AMOUNT" name="billAmount" id="billAmount" class="form-control fg-input" ng-disabled="true" required />
                                        <label ng-if="billAmountErrorMessage" class="text-danger">{{billAmountErrorMessage}}</label>
                                    </div>
                                </div>

                                <div class="form-group fg-float col-md-3 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_DATE)}">
                                        <label class="fg-label"><strong>Vendor Invoice Date</strong></label>
                                        <div class="col-md-12 p-0" moment-picker="selectedPODetails.INVOICE_DATE"  format="DD-MM-YYYY" min-date="ApproverDate.LAST_APPROVER_MODIFIED_DATE" max-date="maxDate">
                                            <input class="form-control" id="invoiceDate" name="invoiceDate" placeholder="Select a date" ng-model="selectedPODetails.INVOICE_DATE" ng-model-options="{ updateOn: 'blur' }" autocomplete="off" required ng-disabled="isSaveDisabled || editAccess ==1">
                                        </div>
                                    </div>
                                    <label ng-if="invDateErrorMessage" class="text-danger">{{invDateErrorMessage}}</label>

                                </div>

                                <div class="form-group fg-float col-md-3 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_AMOUNT)}">
                                        <label class="fg-label"><strong>Invoice Amount(Without Tax)</strong></label>
                                        <input type="text" ng-model="selectedPODetails.INVOICE_AMOUNT" valid-number allow-decimal="true" allow-negative="false" name="invoiceAmount" id="invoiceAmount" class="form-control fg-input" required ng-disabled="editAccess ==1" ng-change="updateTotalAmount(selectedPODetails.INVOICE_AMOUNT,selectedPODetails.TAX_AMOUNT)" />
                                        <label ng-if="invAmountErrorMessage" class="text-danger">{{invAmountErrorMessage}}</label>
                                    </div>
                                </div>


                                <div class="form-group fg-float col-md-3 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.TAX_AMOUNT)}">
                                        <label class="fg-label"><strong>GST Tax Amount</strong></label>
                                        <input type="text" ng-model="selectedPODetails.TAX_AMOUNT" valid-number allow-decimal="true" allow-negative="false" name="taxAmount" id="taxAmount" class="form-control fg-input" required ng-disabled="editAccess ==1" ng-change="updateTotalAmount(selectedPODetails.INVOICE_AMOUNT,selectedPODetails.TAX_AMOUNT)" />
                                        <label ng-if="taxAmountErrorMessage" class="text-danger">{{taxAmountErrorMessage}}</label>
                                    </div>
                                </div>

                                <div class="form-group fg-float col-md-3 top-half-buffer">
                                    <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.TOTAL_AMOUNT)}">
                                        <label class="fg-label"><strong>Invoice Amount(With Tax)</strong></label>
                                        <input type="text" ng-model="selectedPODetails.TOTAL_AMOUNT" valid-number allow-decimal="true" allow-negative="false" name="invoicewithAmount" id="invoicewithAmount" class="form-control fg-input" required ng-disabled="true" />
                                        <label ng-if="invAmountwithErrorMessage" class="text-danger">{{invAmountwithErrorMessage}}</label>
                                    </div>
                                </div>




                                <div class="form-group col-md-3 top-half-buffer" style="margin-top:35px;">
                                    <div class="row" style="display:flex">
                                        <div class="fileupload common_btn btn-sm" style="width:120px;" ng-init="parentIndex=$index">
                                            <span><i class="fa fa-upload  m-r-5" style="font-size:15px;"></i>Attachments</span>
                                            <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.ics,.xml,.eml,.msg" id="0" itemid="BILL_SUBMISSION_ATTACHMENTS" multiple ng-file-select-items="onFileSelect($files)" ng-disabled="editAccess ==1">
                                        </div>
                                        <span class="dropdown" ng-if="selectedPODetails.MULTIPLE_ATTACHMENTS.length > 0" style="margin-left:10px">
                                            <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                                <i class="fa fa-copy text-primary"></i>
                                            </a>
                                            <span class="dropdown-menu" style="max-height:400px;overflow-y:auto;width:200px;padding-left: 20px">
                                                <span ng-repeat="attch in selectedPODetails.MULTIPLE_ATTACHMENTS">
                                                    <span ng-if="attch.fileID <= 0"
                                                          title="{{attch.fileName}}"
                                                          style="cursor:pointer"
                                                          class="prmellipsis row col-md-5">{{$index + 1}}.{{attch.fileName}}</span>
                                                    <strong ng-if="attch.fileID <= 0"
                                                            style="cursor:pointer;margin-top: 2px"
                                                            ng-click="removeAttach(parentIndex,$index)"
                                                            class="fa fa-trash-alt col-md-2"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                    <a ng-if="attch.fileID > 0" target="_blank" class="prmellipsis" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                                    <br />
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                    <label ng-if="attachmentsErrorMessage" class="text-danger">{{attachmentsErrorMessage}}</label>
                                </div>


                                <div class="col-md-12 m-b-10 text-center">
                                    <button class="btn-sm common_btn" ng-if="(selectedPODetails.INVOICE_STATUS == 'REJECTED' || !selectedPODetails.INVOICE_STATUS) && editAccess == 0 && USER_ID == selectedPODetails.VENDOR_ID" ng-click="saveInvoiceDetails()">Submit Invoice</button>
                                    <button class="btn btn-link btn-file btn-new-look" ng-click="cancel()">Cancel</button>
                                </div>
                                <div class="col-md-12" style="text-align:center" ng-show="isAttachmentError">
                                    <span class="text-danger">Please Upload the Invoice</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                  <div class="white-box">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>
                                                        <label style="color:darkorange">
                                                            {{
step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName
                                                            }}
                                                        </label>
                                                    </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>
                </div>
                
            </div>

        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>