<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }

    input[type=checkbox], input[type=radio] {
        margin:0px;
        line-height: normal;
    }

    .fieldSetGroup {
        margin: 0;
        padding: 0;
        border: 0.1px solid #01408d;
    }
    .legendGroup {
        width: auto;
        margin-bottom: 0px;
        font-size: 16px;
        text-align: center;
    }
    legend {
        border-bottom:none;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="createBillRequestCtrl">
                
                <div class="white-box">

                    <div class="row">
                        <div class="col-md-6">
                            <p class="sans_header" ng-if="BILL_ID <= 0">Create Bill Request</p>
                            <p class="sans_header" ng-if="BILL_ID > 0 && isFormSubmitted">View Bill Request</p>
                            <p class="sans_header" ng-if="BILL_ID > 0 && !isFormSubmitted">Edit Bill Request</p>
                        </div>
                        <div class="col-md-6">
                            <p class="sans_header"></p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        &nbsp;
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table colliers_table">
                                <thead>
                                    <tr>
                                        <th>Sl.No</th>
                                        <th>PO Number</th>
                                        <th>Vendor Name</th>
                                        <!--<th>Package Name</th>
                                        <th>Sub Package Name</th>-->
                                        <th>PO Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="billSubmissionObj in PO_ITEMS_FOR_BILL_REQUEST" ng-init="parentIndex = $index">
                                        <td>{{$index +1}}</td>
                                        <td>{{billSubmissionObj.PO_NUMBER}}</td>
                                        <td>{{billSubmissionObj.VENDOR_NAME}}</td>
                                        <!--<td>{{billSubmissionObj.PACKAGE_NAME}}</td>
                                        <td>{{billSubmissionObj.SUB_PACKAGE_NAME}}</td>-->
                                        <td>{{billSubmissionObj.TOTAL_AMOUNT | number :2}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-2">
                            <label class="style-label">Bill Type<span class="text-danger">*</span></label>
                            <select ng-disabled="isFormSubmitted" ng-model="billSubmissionObj.BILL_TYPE" ng-change="validateCheckLists()" class="form-control" data-placeholder="Bill Type" id="Bill Type"
                                    required>
                                <option value="Advance">Advance</option>
                                <option value="Running">Running</option>
                                <option value="Final bill">Final bill</option>
                            </select>
                        </div>

                        <div class="col-md-8">
                            <fieldset class="fieldSetGroup">
                                <legend class="legendGroup">
                                    <label class="style-label">Check Lists</label>
                                    <span class="text-danger">*</span>
                                </legend>
                                <div class="col-md-12">
                                    <table class="table table-responsive">
                                    <thead class="style-label">
                                        <tr>
                                            <td></td>
                                            <td>Check List Name</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="checkList in checkListObj.checkListArr" ng-init="parentIndex=$index">
                                            <td>
                                                <input style="cursor:pointer;" ng-disabled="isFormSubmitted" type="checkbox" ng-model="checkList.isChecked" />
                                            </td>
                                            <td>
                                                <label title="{{checkList.value}}">
                                                    <span class="style-label m-l-5">{{checkList.value}}</span><br />
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:center;">
                                <button role="button" class="btn btn-xs btn_save sans_body"
                                        ng-show="!isFormSubmitted"
                                        ng-click="createBillSubmission()" title="Submit Bill request">
                                    Submit Bill request
                                </button>
                                <button role="button" class="cancel_button sans_body" ng-click="cancelBillSubmissionPopup()" title="cancel">Cancel</button>
                            </div>
                        </div>


                    </div>

            </div>

        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>