﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>

      body {

        font-family: Trebuchet MS, sans-serif;
        font-size: 10px;
        margin: 0; /* Reset body margin */
        padding: 0; /* Reset body padding */
        position: relative; /* Required for positioning header/footer */
      }

      .main-table {
        width: 100%; /* Account for left and right margins */
        border-collapse: collapse;

        table-layout: auto;

        page-break-inside: avoid; /* Avoid breaking the table across pages */
      }
      th,
      td {
        padding: 0.1px;
        border: 0.5px solid #aaa; /* Subtle thin border for all cells */
        text-align: left;
        vertical-align: top;
        padding: 2px 4px;
        word-break: break-all; /* Break long words */
        overflow-wrap: break-word; /* Allow long text to wrap */
        page-break-inside: avoid; /* Prevent breaking within cells */
        overflow: visible; /* or hidden, depending on your needs */
      }
      th {
        background-color: #44546a; /* Green background for headers */
        color: white;
        font-weight: bold;
        text-align: left;
      }
      td {
        background-color: #fafafa; /* Light background for cells */
      }
      td.title-cell {
        background-color: #dff0d8; /* Light green for title cells */
        font-weight: bold;
        text-align:left;

      }
      td.heading {
        background-color: #dff0d8; /* Light green for title cells */
        font-weight: bold;
        font-size: 20px;
      }
      .table-container {
        border: 1px solid #000;
        padding: 2px; /* Add padding for better spacing */
        box-sizing: border-box; /* Ensure the border is included in width and height */
        z-index:200;
      }
      .logo-cell img {
          display: block;
          margin-left: auto;
          margin-right: 0;
          margin-top: 5px;
          margin-bottom: 5px;
          width: 50px;
          height: 30px;
      }
    </style>
  </head>
  <body>
    <div class="table-container">
      <table class="main-table">
          <tr >
              <td colspan="5" style="font-size: 32px; font-weight: bold; background-color: white;border:none">Colliers<div style="font-size:14px; ">{{PO_TYPE_DESC}}</div></td>
              <td colspan="4" style="text-align: right;border:none;background-color:white;" class="logo-cell">
                  <img src="{{PO_CLIENT_IMG}}"
                       alt="home"
                       
                       class="dark-logo"/>

              </td>
              
          </tr>
        <tr>
          <td>Vendor Regn No.:</td>
          <td colspan="2">{{VENDOR_CODE}}</td>
          <td>PO No.:</td>
          <td colspan="2">{{PO_NUMBER}}</td>
          <td>Project Code:</td>
          <td colspan="1">{{PROJ_ID}}</td>
          <td>Date:</td>
          <td colspan="1">{{PO_DATE}}</td>
        </tr>
        <tr>
          <th colspan="10">A. Client Details</th>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">Project Name</td>
          <td colspan="8">{{PROJECT_NAME}}</td>
        </tr>
        <tr>
            <td colspan="2" class="title-cell">Legal Entity Name</td>
          <td colspan="8">{{CLIENT_NAME}}</td>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">Address</td>
          <td colspan="2">{{CLIENT_ADDRESS}}</td>
          <td colspan="1" class="title-cell">GSTIN</td>
          <td colspan="2">{{CLIENT_GST}}</td>
          <td colspan="1" class="title-cell">PAN</td>
          <td colspan="2">{{CLIENT_PAN}}</td>
        </tr>
        <tr>
          <th colspan="10">B. Colliers</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">Legal Entity Name</td>
          <td colspan="8">{{CONTRACT_LEGAL_ENTITY}}</td>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">Address</td>
          <td colspan="8">{{CONTRACT_ADDR}}</td>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">SPOC email address</td>
          <td colspan="2">{{CONTRACT_SPOC_EMAIL}}</td>
          <!-- <td colspan="2" class="title-cell">SPOC Email</td>
				<td colspan="2">{{CONTRACT_SPOC_EMAIL}}</td> -->
          <td colspan="1" class="title-cell">GSTIN</td>
          <td colspan="2">{{CONTRACT_GST}}</td>
          <td colspan="1" class="title-cell">PAN</td>
          <td colspan="2">{{CONTRACT_PAN}}</td>
        </tr>
        <tr>
          <th colspan="10">C. Vendor Details</th>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">Legal Entity Name</td>
          <td colspan="8">{{VENDOR_COMPANY}}</td>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">Address</td>
          <td colspan="8">{{VENDOR_ADDRESS}}</td>
        </tr>
        <!-- <tr>
				<td colspan="2" class="title-cell">Bank Name</td>
				<td colspan="2">{{BANK_NAME}}</td>
				<td colspan="1" class="title-cell">Account No</td>
				<td colspan="2">{{BANK_ACCOUNT_NO}}</td>
				<td colspan="1" class="title-cell">IFSC Code</td>
				<td colspan="2">{{IFSC_CODE}}</td>
			</tr> -->
        <tr>
          <td colspan="2" class="title-cell">Vendor email address</td>
          <td colspan="2">{{VENDOR_PRIMARY_EMAIL}}</td>
          <td colspan="1" class="title-cell">GSTIN</td>
          <td colspan="2">{{GST_NUMBER}}</td>
          <td colspan="1" class="title-cell">PAN</td>
          <td colspan="2">{{VENDOR_PAN}}</td>
        </tr>
        <!-- <tr>
				<td colspan="2" class="title-cell">MSME Status</td>
				<td colspan="2">{{MSME_STATUS}}</td>
				<td colspan="2" class="title-cell">MSME No.</td>
				<td colspan="4">{{MSME}}</td>
			</tr> -->
        <tr>
          <th colspan="10">D. Delivery / Invoice Details</th>
        </tr>
        <tr>
          <td colspan="2" class="title-cell">Ship To:</td>
          <td colspan="4" class="title-cell">Bill To: (Shown on Invoice)</td>
          <td colspan="4" class="title-cell">Send Orginal Invoice to:</td>
        </tr>
        <tr>
          <td colspan="2">{{SHIP_TO_ADDRESS}}</td>
          <td colspan="4">{{BILL_TO_ADDRESS}}</td>
          <td colspan="4">{{INVOICE_TO_ADDRESS}}</td>
        </tr>
        <tr>
          <th colspan="10">E. Item / Services to be Procured (Scope of Work)</th>
        </tr>
        <tr>
          <td class="title-cell" style="text-align:center"  >Item</td>
          <td class="title-cell" style="text-align:center" colspan="2">Description</td>
          <td class="title-cell" style="text-align:center" >Delivery Date</td>
          <td class="title-cell" style="text-align:center">Unit</td>
          <td class="title-cell" style="text-align:center">Quantity</td>
          <td class="title-cell" style="text-align:center" colspan="2">Rate</td>
          <td class="title-cell" style="text-align:center" colspan="2">Total Amount</td>
        </tr>
        {{ItemDetails}}
        <tr>
          <td colspan="7" class="title-cell" style="text-align: right">
            Basic Total
          </td>
          <td colspan="3" style="text-align: right">
            ₹ {{PO_VALUE_WITHOUTTAX}}
          </td>
        </tr>
        <tr>
          <td colspan="7" class="title-cell" style="text-align: right">
            Applicable GST
          </td>
          <td colspan="3" style="text-align: right">₹ {{PO_GST_VALUE}}</td>
        </tr>
        <!-- <tr>
				<td colspan="7" class="title-cell" style="text-align:right">Applicable SGST</td>
				<td colspan="3" style="text-align:right">₹ {{SGST_AMOUNT}}</td>
			</tr>
			<tr>
				<td colspan="7" class="title-cell" style="text-align:right">Applicable IGST</td>
				<td colspan="3" style="text-align:right">₹ {{IGST_AMOUNT}}</td>
			</tr> -->
        <tr>
          <td colspan="7" class="title-cell" style="text-align: right">
            GRAND TOTAL
          </td>
          <td colspan="3" style="text-align: right">₹ {{PO_VALUE}}</td>
        </tr>
        <tr>
          <th colspan="10">F. Amount Details</th>
        </tr>
        <tr>
          <td colspan="3" class="title-cell">
            Contract / Purchase Order Value including FULL GROSS tax.
          </td>
          <td colspan="2">₹ {{PO_VALUE}}</td>
          <td colspan="2">Amount in words:</td>
          <td colspan="3">Indian Rupee {{PO_VALUE_WORDS}} only.</td>
        </tr>
        <tr>
          <th colspan="10">G. Terms and Conditions are as follows</th>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">Item</td>
          <td colspan="4" class="title-cell">Title</td>
          <td colspan="5" class="title-cell">Description</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">1</td>
          <td colspan="4" class="title-cell">Form of Contract (e.g. purchase order, contract etc)
          </td>
          <td colspan="5">{{PO_TYPE_DESC}}</td>
        </tr>
        <!-- <tr>
          <td colspan="1" class="title-cell">2</td>
          <td colspan="4" class="title-cell">Sub Type of Contract</td>
          <td colspan="5">{{SUB_TYPE}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">3</td>
          <td colspan="4" class="title-cell">Order Date (DD/MM/YY)</td>
          <td colspan="5">{{DATE_CREATED}}</td>
        </tr> -->
        <tr>
          <td colspan="1" class="title-cell">2</td>
          <td colspan="4" class="title-cell" >Contract Start / Order Date (DD/MM/YY)  
          </td>
          <td colspan="5">{{poContractStartDate}}</td>
        </tr>
        <!-- <tr>
          <td colspan="1" class="title-cell">5</td>
          <td colspan="4" class="title-cell">Contract End Date (DD/MM/YY)</td>
          <td colspan="5">{{VALID_TO}}</td>
        </tr> -->
        <tr>
          <td colspan="1" class="title-cell">3</td>
          <td colspan="4" class="title-cell">Order Delivery Date (DD/MM/YY)</td>
          <td colspan="5">{{poOrderDeliveryDate}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">4</td>
          <td colspan="4" class="title-cell">Project Milestone</td>
          <td colspan="5">{{RESPONSE1}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">5</td>
          <td colspan="4" class="title-cell">Liquidated and Ascertained Damages
          </td>
          <td colspan="5">{{RESPONSE2}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">6</td>
          <td colspan="4" class="title-cell">Defects Liability Period / Warranty
          </td>
          <td colspan="5">{{RESPONSE3}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">7</td>
          <td colspan="4" class="title-cell">Retention</td>
          <td colspan="5">{{RESPONSE4}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">8</td>
          <td colspan="4" class="title-cell">Performance Bond</td>
          <td colspan="5">{{RESPONSE5}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">9</td>
          <td colspan="4" class="title-cell">Bank Guarantee (for advance payment)
          </td>
          <td colspan="5">{{RESPONSE6}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">10</td>
          <td colspan="4" class="title-cell">Payment terms (down payments, milestones, % completion etc)
          </td>
          <td colspan="5">{{RESPONSE7}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">11</td>
          <td colspan="4" class="title-cell">Project Specific Terms and Conditions
          </td>
          <td colspan="5">{{RESPONSE8}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">12</td>
          <td colspan="4" class="title-cell">Termination</td>
          <td colspan="5">{{RESPONSE9}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">13</td>
          <td colspan="4" class="title-cell">Insurance of the Works</td>
          <td colspan="5">{{RESPONSE10}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">14</td>
          <td colspan="4" class="title-cell">Labour Compliances</td>
          <td colspan="5">{{RESPONSE11}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">15</td>
          <td colspan="4" class="title-cell">Compliances</td>
          <td colspan="5">{{RESPONSE12}}</td>
        </tr>
        <tr>
          <td colspan="1" class="title-cell">16</td>
          <td colspan="4" class="title-cell">Professional Indemnity Liability Insurance(Insurance for any loss
            due to alleged neglect, error or omission of professional indemnity,
            for consultant or contractor’s designed element only)
          </td>
          <td colspan="5">{{RESPONSE13}}</td>
        </tr>

        <tr>
          <td colspan="10">
            <div>
              <div>Supporting Bill of Quantities & Detailed Terms & Conditions documents attached</div>
              <div style="margin-top: 2px; text-align: center;">
                <table style="width: 100%; border-collapse: collapse;">
                  <tr>

                    <td style="text-align: left; vertical-align: top; padding: 10px; border: none;">
                      <div>
                        <label>Signature</label>
                        <div style="margin: 10px 0;">(Name)</div>
                        <div>{{VENDOR_COMPANY}}</div>
                        <div style="width: 150px; height: 1px; background-color: #000; margin: 0 auto;"></div>
                      </div>
                    </td>
              
                    <td style="text-align: left; vertical-align: top; padding: 10px;border: none;">
                      <div>
                        <label>Signature</label>
                        <div style="margin: 10px 0;">{{NAME}}</div>
                        <div style="width: 150px; height: 1px; background-color: #000; margin: 0 auto;"></div>
                        <div style="margin: 10px 0;">{{DESIG}}</div>
                        <div style="width: 150px; height: 1px; background-color: #000; margin: 0 auto;"></div>
                      </div>
                    </td>
                 
                    <td style="text-align: left; vertical-align: top; padding: 10px;border: none;">
                      <div>
                        <label>Signature</label>
                        <div style="margin: 10px 0;">{{NAME1}}</div>
                        <div style="width: 150px; height: 1px; background-color: #000; margin: 0 auto;"></div>
                        <div style="margin: 10px 0;">{{DESIG1}}</div>
                        <div style="width: 150px; height: 1px; background-color: #000; margin: 0 auto;"></div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr>
            <td colspan="10" style="text-align:right;">Colliers International India Property Services Private Limited</td>
        </tr>
      </table>
    </div>
  </body>
</html>
