﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listPOCtrl">
                <div class="white-box">
                    <!--<div class="row" ng-if="isCustomer">
                        <div class="col-md-2">
                            <h5><strong>Project</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.projects"
                                         options="item.name for item in filtersList.projectsList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Packages</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.packages"
                                         options="item.name for item in filtersList.packagesList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Cost-center</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.costCenters"
                                         options="item.name for item in filtersList.costCenterList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Vendor</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.vendors"
                                         options="item.name for item in filtersList.vendorList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                    </div>-->
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div moment-picker="filters.pendingPOFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.pendingPOFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div moment-picker="filters.pendingPOToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.pendingPOToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="pull-right common_btn btn-sm" ng-click="filterByDate(currentPage-1);" style="margin-top:38px;">Apply</button>
                        </div>
                        <div class="col-md-3" style="margin-top:35px;">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setPage(currentPage)" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search By PO Number">
                        </div>
                    </div>

                    <div class="row" ng-if="isCustomer">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table colliers_table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th></th>
                                        <th>PO Number</th>
                                        <th>Vendor Company</th>
                                        <th>Vendor Name</th>
                                        <th>PO Value</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat-start="poDetail in headerRows track by $index">
                                        <td>
                                            <a role="button" ng-hide="poDetail.expanded" ng-click="poDetail.expanded = true;getPendingPOItems(poDetail)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!poDetail.expanded" ng-click="poDetail.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                        </td>
                                        <td>{{poDetail.PO_NUMBER}}</td>
                                        <td>{{poDetail.VENDOR_COMPANY}}</td>
                                        <td>{{poDetail.VENDOR_PRIMARY_EMAIL}}</td>
                                        <td>{{poDetail.ALL_ITEMS_AMOUNT | number :2}}</td>
                                        <td><a ng-if="isSuperUser || isUserEntitled(600005)" class="fa fa-edit" ng-click="selectPOObject(poDetail)" data-target="#poEditSelection" data-toggle="modal" title="Edit PO" style="cursor: pointer;"></a></td>
                                        <td><a ng-if="isSuperUser || isUserEntitled(600004)" class="fa fa-file" ng-click="viewPODetails(poDetail)" title="View PO" style="cursor: pointer;"></a></td>
                                        <td><a ng-if="isSuperUser || isUserEntitled(600006)" class="fa fa-file-pdf" ng-click="generatePOPDF(poDetail)" title="View PO PDF" style="cursor: pointer;"></a></td>
                                        <td>
                                            <a ng-if="(isSuperUser || isUserEntitled(600007)) && poDetail.PO_STATUS === 'COMPLETE'" ng-click="goToPoAmendment(poDetail)"
                                               title=" PO Amendment" style="cursor: pointer;">
                                                <img src="js/resources/images/AmendmentIcon.png" style="height: 18px; background-color: cornsilk; color: cornsilk;">
                                            </a>
                                        </td>
                                        <td>
                                            <a ng-if="isSuperUser" role="button" ng-click="getPoAudit(poDetail)" title="Audit"><i class="fa fa-history"></i></a>
                                        </td>
                                        <!--<td><a class="fas fa-money-bill-alt" ng-click="createBillRequest(poDetail)" title="Bill Request" style="cursor: pointer;"></a></td>-->
                                    </tr>
                                    <tr ng-repeat-end ng-if="poDetail.expanded">
                                        <td colspan="11" class="p-0">
                                            <table class="table-striped table colliers_table">
                                                <thead>
                                                    <tr>
                                                        <th>Package</th>
                                                        <th>Sub Package</th>
                                                        <th>Description</th>
                                                        <th>Ordered Qty</th>
                                                        <!--<th>Unit Price</th>-->
                                                        <th>GST Amount</th>
                                                        <th>Total Amount (Without Tax)</th>
                                                        <th>Total Amount (With Tax)</th>
                                                        <th>PO Delivery Date</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in poDetail.poItems">
                                                        <td>{{item.PACKAGE_NAME}}</td>
                                                        <td>{{item.SUB_PACKAGE_NAME}}</td>
                                                        <td>{{item.PO_DESCRIPTION}}</td>
                                                        <td>{{item.ORDER_QTY}}</td>
                                                        <!--<td>{{item.UNIT_PRICE | number :2}}</td>-->
                                                        <td>{{item.TAX_AMOUNT | number :2}} </td>
                                                        <td>{{item.TOTAL_AMOUNT | number :2}}</td>
                                                        <td>{{item.TOTAL_VALUE | number :2}}</td>
                                                        <td>{{item.DELIVERY_DATE}}</td>
                                                        <td ng-if="item.SUB_PACKAGE_ID > 0 && item.PACKAGE_ID > 0 && poDetail.PO_STATUS !== 'COMPLETE'"><a class="fa fa-edit" ng-click="selectPOItemObject(item)" data-target="#poItemEditSelection" data-toggle="modal" title="Edit PO" style="cursor: pointer;"></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>pendingPOStats.totalPendingPOs)?(pendingPOStats.totalPendingPOs):(pageSizeTemp+9) }} of {{ pendingPOStats.totalPendingPOs }}</strong>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                        </div>
                    </div>


                    <div class="row" ng-if="!isCustomer">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table colliers_table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th></th>
                                        <th>PO Number</th>
                                        <th>Vendor Company</th>
                                        <th>Vendor Name</th>
                                        <th>PO Value</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat-start="poDetail in headerRows track by $index">
                                        <td>
                                            <a role="button" ng-hide="poDetail.expanded" ng-click="poDetail.expanded = true;getPendingPOItems(poDetail)" " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!poDetail.expanded" ng-click="poDetail.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                        </td>
                                        <td>{{poDetail.PO_NUMBER}}</td>
                                        <td>{{poDetail.VENDOR_COMPANY}}</td>
                                        <td>{{poDetail.VENDOR_PRIMARY_EMAIL}}</td>
                                        <td>{{poDetail.ALL_ITEMS_AMOUNT | number :2}}</td>
                                        <td>
                                            <a class="fa fa-file" ng-click="viewPODetails(poDetail)" style="cursor: pointer;"></a>
                                        </td>
                                        <td><a class="fas fa-money-bill-alt" ng-click="createBillRequest(poDetail)" title="Bill Request" style="cursor: pointer;"></a></td>
                                        <td><a ng-if="poDetail.NOTIFY_VENDOR > 0" class="fa fa-file-pdf" ng-click="generatePOPDF(poDetail)" title="View PO PDF" style="cursor: pointer;"></a></td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="poDetail.expanded">
                                        <td colspan="6">
                                            <table class="table-striped table colliers_table">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Package</th>
                                                        <th>Sub Package</th>
                                                        <th>Description</th>
                                                        <th>Ordered Qty</th>
                                                        <!--<th>Unit Price</th>-->
                                                        <th>GST Amount</th>
                                                        <th>Total Amount (Without Tax)</th>
                                                        <th>Total Amount (With Tax)</th>
                                                        <th>PO Delivery Date</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in poDetail.poItems">
                                                        <td>
                                                            <!--<input type="checkbox" class="top-buffer" ng-model="item.packageSelected" role="button"
                                                       ng-disabled="item.isDisabled"
                                                       ng-click="handlePackageSelect('',item)" />-->
                                                        </td>
                                                        <td>{{item.PACKAGE_NAME}}</td>
                                                        <td>{{item.SUB_PACKAGE_NAME}}</td>
                                                        <td>{{item.PO_DESCRIPTION ? item.PO_DESCRIPTION : item.DESCRIPTION}}</td>
                                                        <td>{{item.ORDER_QTY}}</td>
                                                        <!--<td>{{item.UNIT_PRICE}}</td>-->
                                                        <td>{{item.TAX_AMOUNT | number :2}} </td>
                                                        <td>{{item.TOTAL_AMOUNT | number :2}}</td>
                                                        <td>{{item.TOTAL_AMOUNT_INCLUSIVE_TAX | number :2}}</td>
                                                        <td>{{item.DELIVERY_DATE}}</td>
                                                        <td>
                                                            <!--<a class="fa fa-2x fa-money-bill-alt" ng-click="createBillRequest(item)" style="cursor: pointer;"></a>-->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>pendingPOStats.totalPendingPOs)?(pendingPOStats.totalPendingPOs):(pageSizeTemp+9) }} of {{ pendingPOStats.totalPendingPOs }}</strong>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="modal" id="poEditSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Edit PO Details</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h5><strong>Delivery Date</strong></h5>
                                                <div class="col-md-12" moment-picker="selectedPODetails.DELIVERY_DATE" format="DD-MM-YYYY">
                                                    <input class="form-control" placeholder="Select a date" ng-model="selectedPODetails.DELIVERY_DATE" ng-model-options="{ updateOn: 'blur' }"
                                                           ng-disabled ="selectedPODetails.PO_STATUS === 'COMPLETE'">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <h5><strong>PO Type</strong><span class="text-danger">*</span></h5>
                                                <select ng-model="selectedPODetails.PO_TYPE" class="form-control" ng-disabled ="selectedPODetails.PO_STATUS_TEMP === 'COMPLETE'">
                                                    <option value="WORK_ORDER">Work Order (Item Rate Contract)</option>
                                                    <option value="LOCAL_SALES">Purchase Order (Local Sales)</option>
                                                    <option value="SERVICE_AGREEMENT">Service Agreement</option>
                                                    <option value="IMPORT">Purchase Order (Import)</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <h5><strong>PO Status</strong><span class="text-danger">*</span></h5>
                                                <select ng-model="selectedPODetails.PO_STATUS_TEMP" ng-disabled ="selectedPODetails.PO_STATUS_TEMP === 'COMPLETE'" class="form-control">
                                                    <option value="IN_PROGRESS">In-Progress</option>
                                                    <option value="COMPLETE">Complete</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2" ng-if="selectedPODetails.PO_STATUS_TEMP === 'COMPLETE'">
                                                <h5><strong>Notify Vendor</strong></h5>
                                                <input ng-model="selectedPODetails.NOTIFY_VENDOR"
                                                       type="checkbox"
                                                       style="height:15px;width:15px;"
                                                       ng-false-value="0"
                                                       ng-true-value="1" />
                                            </div>
                                            <div class="col-md-2" ng-if="selectedPODetails.PO_STATUS_TEMP === 'COMPLETE' && selectedPODetails.NOTIFY_VENDOR">
                                                <h5><strong> Vendor Attachments</strong><span class="text-danger">*</span></h5>
                                                <div class="col-md-12 p-0">
                                                    <div class="fileupload btn btn-sm btn-info waves-effect waves-light" ng-disabled="formdetails.attachmentLists.length >=5">
                                                        <span><i class="fa fa-upload  m-r-5"></i>Attachment</span>
                                                        <input type="file" class="upload" ng-disabled="formdetails.attachmentLists.length >=5" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml,.msg" id="attachement" itemid="attachement" multiple ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                    <label ng-if="attch.fileID > 0" ng-repeat="attch in formdetails.attachmentLists track by $index">
                                                        {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">{{attch.fileName}}</a>
                                                        <strong ng-if="editForm" ng-click="removeAttach(attch)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                    </label>
                                                    <label ng-if="attch.fileID <= 0" ng-repeat="attch in formdetails.attachmentLists track by $index">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach($index,'Attach')" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                                </div>
                                                <small class="help-block error logininput text-danger" ng-if="attachmentError">{{attachmentError}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="resetPOStatus()" class="btn btn-info">Cancel</button>
                                    <button type="button" ng-click="savePODetails(0)" class="btn btn-info">{{selectedPODetails.NOTIFY_VENDOR > 0? 'Save & Notify vendor': 'Save'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="poItemEditSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Edit PO Item Details</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5><strong>PO Description</strong><span class="text-danger">*</span></h5>
                                                <textarea cols="100" rows="4" type="text" ng-model="selectedPOItemDetails.PO_DESCRIPTION" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="savePOItemDetails()" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="pull-right">
                    <div class="modal" id="poAmedmentEditSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Amend PO Details</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <table class="table-striped table colliers_table">
                                                <thead>
                                                    <tr>
                                                        <th>PO Number</th>
                                                        <th>Package</th>
                                                        <th>Sub Package</th>
                                                        <th>Description</th>
                                                        <th>Ordered Qty</th>
                                                        <th>GST</th>
                                                        <th>Unit Price</th>
                                                        <th>Total Amount (Without Tax)</th>
                                                        <th>Total Amount (With Tax)</th>
                                                        <th>PO Delivery Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in amendTemp">
                                                        <td>{{item.PO_NUMBER}}</td>
                                                        <td>{{item.PACKAGE_NAME}}</td>
                                                        <td>{{item.SUB_PACKAGE_NAME}}</td>
                                                        <td>{{item.PO_DESCRIPTION ? item.PO_DESCRIPTION : item.DESCRIPTION}}</td>
                                                        <td>{{item.ORDER_QTY}}</td>
                                                        <td>{{item.CGST + item.SGST + item.IGST | number :2}} %</td>
                                                        <td><input type="text" class="form-control" ng-model="item.UNIT_PRICE" /></td>
                                                        <td>{{item.TOTAL_AMOUNT | number :2}}</td>
                                                        <td>{{item.TOTAL_AMOUNT_INCLUSIVE_TAX | number:2}}</td>
                                                        <td>{{item.DELIVERY_DATE}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>



                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="AmendPODetails()" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="poItemEditSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Edit PO Item Details</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5><strong>PO Description</strong><span class="text-danger">*</span></h5>
                                                <textarea cols="100" rows="4" type="text" ng-model="selectedPOItemDetails.PO_DESCRIPTION" class="form-control fg-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="savePOItemDetails()" class="btn btn-info">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
