<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listInvoicesCtrl">
                <div class="white-box">

                    <div class="row">
                        <div class="col-md-6">
                            <p class="sans_header">Invoices List</p>
                        </div>
                        <div class="col-md-6">
                            <p class="sans_header"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>PO Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.poNumbers"
                                         options="item.name for item in filtersList.poNumberList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Project Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.projects"
                                         options="item.name for item in filtersList.projectsList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Invoice Number</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.invoiceNumbers"
                                         options="item.name for item in filtersList.invoiceList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-2">
                            <h5><strong>Invoice Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.invoiceStatus"
                                         options="item.name for item in filtersList.invoiceStatusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>From date</strong></h5>
                            <div moment-picker="filters.invoiceFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.invoiceFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>To date</strong></h5>
                            <div moment-picker="filters.invoiceToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.invoiceToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button class="pull-right common_btn btn-sm" ng-click="filterByDate(currentPage-1);" style="margin-top:38px;">Apply</button>
                        </div>
                        <!--<div class="col-md-7" ng-if="isPackageSelectedFromSamePO.length > 0">
            <button class="pull-right common_btn btn-sm" ng-click="createBillRequest();" style="margin-top:38px;">Create Bill Request</button>
        </div>-->
                    </div>



                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 table-responsive" style="overflow-x:auto">
                                <small style="color:green" class="ng-binding"> Total Count: {{totalItems}}</small>
                                <table id="testTable" class=" table colliers_table">
                                    <thead>
                                        <tr class="sans_body">
                                            <th style="max-width:200px;"><strong>Bill ID</strong></th>
                                            <th style="max-width:200px;"><strong>PO Number</strong></th>
                                            <th style="max-width:200px;"><strong>Project Name</strong> </th>
                                            <th style="max-width:200px;"><strong>Created Date</strong> </th>
                                            <!--<th style="max-width:200px;"><strong>Vendor Name</strong></th>-->
                                            <th style="max-width:200px;"><strong>Invoice Number</strong></th>
                                            <!--<th style="max-width:200px;"><strong>Invoice Description</strong></th>-->
                                            <!--<th style="max-width:200px;"><strong>Basic Value</strong></th>
                <th style="max-width:200px;"><strong>SGST %</strong></th>
                <th style="max-width:200px;"><strong>CGST %</strong></th>
                <th style="max-width:200px;"><strong>IGST %</strong></th>
                <th style="max-width:200px;"><strong>Others</strong></th>
                <th style="max-width:200px;"><strong>Tax %</strong></th>-->
                                            <th style="max-width:200px;"><strong>Bill Cert. Amount</strong></th>
                                            <th style="max-width:200px;"><strong>Vendor Invoice Date</strong></th>
                                            <th style="max-width:200px;"><strong>Invoice Amount(without Tax)</strong></th>
                                            <th style="max-width:200px;"><strong>GST Tax Amount</strong></th>
                                            <th style="max-width:200px;"><strong>Invoice Amount(with Tax)</strong></th>
                                            <th style="max-width:200px;"><strong>Invoice Status</strong></th>
                                            <th style="max-width:200px;"><strong>Action</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="invoice in invoicesList">
                                            <td>{{invoice.BILL_ID}}</td>
                                            <td>{{invoice.PO_NUMBER}}</td>
                                            <td>{{invoice.PROJECT_NAME}}</td>
                                            <td style="min-width:70px;">{{invoice.DATE_CREATED}}</td>
                                            <td>{{invoice.INVOICE_NUMBER}}</td>
                                            <!--<td>{{invoice.DESCRIPTION}}</td>-->
                                            <!--<td>{{invoice.UNIT_RATE| number : 2}}</td>
                <td>{{invoice.SGST| number : 2}}</td>
                <td>{{invoice.CGST| number : 2}}</td>
                <td>{{invoice.IGST| number : 2}}</td>
                <td>0</td>
                <td>{{(invoice.SGST + invoice.CGST + invoice.IGST) | number : 2}}</td>-->
                                            <!--<td>{{(invoice.UNIT_RATE * ((invoice.SGST + invoice.CGST + invoice.IGST)/100))| number : 2}}</td>-->
                                            <td>{{invoice.BILL_CERTIFIED_AMOUNT| number : 2}}</td>
                                            <td style="min-width:70px;">{{invoice.INVOICE_DATE}}</td>
                                            <td>{{invoice.INVOICE_AMOUNT| number : 2}}</td>
                                            <td>{{invoice.TAX_AMOUNT| number : 2}}</td>
                                            <td>{{invoice.TOTAL_AMOUNT| number : 2}}</td>
                                            <td>{{invoice.INVOICE_STATUS}}</td>
                                            <td>
                                                <a role="button" ng-show="invoice.INVOICE_STATUS =='REJECTED' && USER_ID==invoice.VENDOR_ID" ng-click="goToCreateInvoice(invoice,'EDIT')" title="EDIT"><i class="fas fa-edit"></i> </a>
                                                <a role="button" ng-click="goToCreateInvoice(invoice,'VIEW')" title="VIEW"><i class="fas fa-eye"></i>  </a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>

        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>