﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="poAmendmentCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="sans_header">PO Amendment</p>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-2" ng-if="!isFormdisabled">
                            <button class="common_btn" ng-click="AddPackage()" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add Package</span></button>
                        </div>
                    </div>
                    <div class="row" ng-if="isCustomer">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table-striped table colliers_table">
                                <thead>
                                    <tr>
                                        <th>Sno.</th>
                                        <th>PO Number</th>
                                        <th>Package</th>
                                        <th>Sub Package</th>
                                        <th>Description</th>
                                        <th>Ordered Qty</th>
                                        <th>GST Amount</th>
                                        <th>Total Amount</th>
                                        <!--<th>Total Amount (Without Tax)</th>-->
                                        <th>Total Amount (With Tax)</th>
                                        <th>PO Delivery Date</th>
                                        <th>Attachments</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in poDetails" ng-init="parentIndex = $index">
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.PO_NUMBER}}</td>
                                        <td>
                                            <select ng-model="item.PACKAGE_ID"
                                                    name="package"
                                                    id="package"
                                                    ng-if="(item.PACKAGE_ID > 0 || item.IS_NEW_PACKAGE)"
                                                    title="{{item.PACKAGE_NAME}}"
                                                    ng-change="showSubPackages(item);"
                                                    ng-disabled="item.IS_DISABLE || isFormdisabled"
                                                    class="form-control td_align"
                                                    ng-options="package.catId as package.catCode for package in companyCatalog"
                                                    data-placeholder="Select a Package..." required>
                                                <option>select a package</option>
                                            </select>
                                            <select Ng-if="item.PACKAGE_ID < 0"
                                                    title="{{item.PACKAGE_NAME}}"
                                                    ng-disabled="true"
                                                    class="form-control td_align"
                                                    data-placeholder="Select a Package..." required>
                                                <option>{{item.PACKAGE_NAME}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select ng-model="item.SUB_PACKAGE_ID"
                                                    name="package"
                                                    id="package"
                                                    ng-if="(item.SUB_PACKAGE_ID > 0 || item.IS_NEW_PACKAGE)"
                                                    title="{{item.SUB_PACKAGE_NAME}}"
                                                    ng-disabled="item.IS_DISABLE || isFormdisabled"
                                                    class="form-control td_align"
                                                    ng-options="package.catId as package.catCode for package in item.SUB_PACKAGE_ARR"
                                                    data-placeholder="Select a Sub Package..." required>
                                                <option>select a package</option>
                                            </select>
                                            <select Ng-if="item.SUB_PACKAGE_ID < 0"
                                                    title="{{item.SUB_PACKAGE_NAME}}"
                                                    ng-disabled="true"
                                                    class="form-control td_align"
                                                    data-placeholder="Select a Sub Package..." required>
                                                <option>{{item.SUB_PACKAGE_NAME}}</option>
                                            </select>
                                        </td>
                                        <td><textarea type="text" class="form-control" ng-model="item.PO_DESCRIPTION" ng-disabled="isFormdisabled" rows="3" cols="100"></textarea></td>
                                        <td>{{item.ORDER_QTY}}</td>
                                        <td><input type="text" class="form-control" title="{{item.TAX}}" ng-disabled="isFormdisabled" ng-focus="item.TAX_TEMP" ng-model="item.TAX" ng-change="calculateAmounts(item)" valid-number allow-decimal="false" allow-negative="false" /></td>
                                        <td><input type="text" class="form-control" title="{{item.TOTAL_AMOUNT}}" ng-disabled="isFormdisabled" ng-model="item.TOTAL_AMOUNT" ng-change="calculateAmounts(item)" valid-number allow-decimal="false" allow-negative="false" /></td>
                                        <!--<td>{{item.TOTAL_AMOUNT}}</td>-->
                                        <td>{{item.TOTAL_VALUE | number:2}}</td>
                                        <td>{{item.DELIVERY_DATE}}</td>
                                        <td>
                                            <div ng-if="item.IS_NEW_PACKAGE" class="fileupload common_btn" style="width:132px;">
                                                <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.ics,.xml,.eml,.msg"
                                                       id="{{$index}}" itemid="{{$index}}" ng-file-select-items="onFileSelect($files)">
                                            </div>
                                            <span class="dropdown" ng-if="item.MULTIPLE_ATTACHMENTS.length > 0">
                                                <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                                    <i class="fa fa-copy text-primary"></i>
                                                </a>
                                                <span class="dropdown-menu" style="width:200px;padding-left: 20px;position:relative">
                                                    <span ng-repeat="attch in item.MULTIPLE_ATTACHMENTS">
                                                        <span ng-if="attch.fileID <= 0"
                                                              title="{{attch.fileName}}"
                                                              style="cursor:pointer"
                                                              class="prmellipsis row col-md-5">{{$index + 1}}.{{attch.fileName}}</span>
                                                        <strong ng-if="attch.fileID <= 0"
                                                                style="cursor:pointer;margin-top: 2px"
                                                                ng-click="removeAttach(parentIndex)"
                                                                class="fa fa-trash-alt col-md-2"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                        <a ng-if="attch.fileID > 0" target="_blank" class="prmellipsis" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionId}}">{{attch.fileName}}</a>
                                                        <br />
                                                    </span>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                            <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>-->

                        </div>
                    </div>

                    <div class="row col-md-offset-6" ng-if="!isFormdisabled">
                        <button type="button" ng-click="AmendPODetails()" class="common_btn btn-sm ">Submit</button>
                    </div>

                </div>

                <div class="white-box">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
