﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="uploadVendorInvoiceCtrl">
                <div class="white-box" ng-if="showAllInvoices === 0">
                    <div class="row">
                        <div class="col-md-6 pull-right text-right">
                            <button role="button" class="btn-sm common_btn" ng-click="showCreateInvPage(1,'CREATE')" title="Create New Invoice"> Create New Invoice </button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <div class="col-md-6" style="text-align: right;" ng-if="showErrorMessage"><strong style="color:red">Invoice Cannot be deleted as it is in Approved State.</strong></div>
                            <table class="table colliers_table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">PO Number</th>
                                        <th style="text-align:center">Invoice number</th>
                                        <th style="text-align:center">Invoice Amount</th>
                                        <th style="text-align:center">Location</th>
                                        <th>Dowload Invoice</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in invoiceList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td style="text-align:center">{{item.PO_NUMBER}}</td>
                                        <td style="text-align:center">{{item.INVOICE_NUMBER}}</td>
                                        <td style="text-align:center">{{item.INVOICE_AMOUNT}}</td>
                                        <td style="text-align:center">{{item.LOCATION}}</td>
                                        <td>
                                            <label ng-if="attch.fileID > 0" ng-repeat="attch in item.attachmentsArray">
                                                <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                            </label>
                                        </td>
                                        <td>
                                            <a title="Edit Invoice" role="button" ng-click="goToVendorInvoice(item.INVOICE_ID)"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            <a title="Delete Invoice" role="button" ng-click="deletePOInvoice(item.PO_NUMBER,item.INVOICE_NUMBER,item.INVOICE_ID,item.WF_ID)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                
                
                <div class="white-box" ng-if="showAllInvoices > 0">
                    <fieldset ng-disabled="isFormdisabled">
                        
                        <div class="row">
                            <h3 style="text-align:center"> Invoice Details</h3>
                        </div>
                        
                        <div class=" white-box row">
                            <div class="form-group fg-float col-md-6 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.PO_NUMBER)}">
                                    <label class="fg-label"><strong>PO Number</strong></label>
                                    <input type="text" ng-model="selectedPODetails.PO_NUMBER" name="invoiceNo" id="poNumber" class="form-control fg-input" />
                                    <span style="color:red" ng-show="!selectedPODetails.PO_NUMBER">
                                        PO Number is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-6 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_NUMBER)}">
                                    <label class="fg-label"><strong>Invoice Number</strong></label>
                                    <input type="text" ng-model="selectedPODetails.INVOICE_NUMBER" name="invoiceNo" id="invoiceNo" class="form-control fg-input" />
                                    <span style="color:red" ng-show="!selectedPODetails.INVOICE_NUMBER">
                                        Invoice Number is required.
                                    </span>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-6 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.INVOICE_AMOUNT)}">
                                    <label class="fg-label"><strong>Invoice Amount</strong></label>
                                    <input type="text" ng-model="selectedPODetails.INVOICE_AMOUNT" name="invoiceAmount" id="invoiceAmount" class="form-control fg-input" />
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-6 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.LOCATION)}">
                                    <label class="fg-label"><strong>Location</strong></label>
                                    <select class="form-control" ng-model="selectedPODetails.LOCATION" ng-options="type.FIELD_VALUE as type.FIELD_NAME for type in companyLocation1"></select>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-7">
                                <div class="fg-line" ng-class="{'fg-toggled': (selectedPODetails.COMMENTS)}">
                                    <label class="fg-label"><strong>Comments</strong></label>
                                    <textarea type="text" ng-model="selectedPODetails.COMMENTS" name="comments" id="comments" rows="2" style="resize: vertical;" class="form-control fg-input" />
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-5">
                                <div class="fileupload btn btn-sm common_btn m-t-25">
                                    <span><i class="fa fa-upload  m-r-5"></i></span>
                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{selectedIndex}}" itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                </div>
                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in filteredPendingPOsList[0].multipleAttachments">{{selectedIndex + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(selectedIndex,selectedPODetails)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                <label ng-if="attch.fileID > 0" ng-repeat="attch in selectedPODetails.multipleAttachments">
                                    <a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}"><span style="word-break: break-all;">{{attch.fileName}}</span></a>
                                </label>
                            </div>

                            <div class="col-md-12 m-b-10 text-center">
                                <button class="btn-sm common_btn" ng-if="!isFormdisabled" ng-click="savePOInvoice(selectedPODetails,selectedIndex)">Save Invoice</button>
                                <button class="btn btn-link btn-file btn-new-look" ng-click="showCreateInvPage(0)">Cancel</button>
                            </div>
                            <div class="col-md-12" style="text-align:center" ng-show="isAttachmentError">
                                <span class="text-danger">Please Upload the Invoice</span>
                            </div>
                        </div>
                    </fieldset>
                    
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                </br>-->
                                                    <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                    <!--({{step.approver.desigCode + ' ' + step.department.deptCode}})-->
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
