﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .col-sm-12 strong span {
        color: grey
    }
</style>


<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="viewPODetailsCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-2">
                            <h5><strong>PO#</strong></h5>
                            <div>
                                <label style="word-break:break-all">{{poDetails.PO_NUMBER}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Vendor</strong></h5>
                            <div>
                                <label>{{poDetails.VENDOR_COMPANY}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Total Value</strong></h5>
                            <div>
                                <label style="text-align:center">{{poDetails.PO_VALUE | number:2}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>PO Type</strong></h5>
                            <div>
                                <label>{{poDetails.PO_TYPE}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <!--<div class="col-md-2">
            <h5><strong>Vendor Code#</strong></h5>
            <div>
                <label>{{poDetails.VENDOR_CODE}}</label>
            </div>
        </div>-->
                        <div class="col-md-2">
                            <h5><strong>Payment Terms</strong></h5>
                            <div>
                                <label>{{poDetails.PAYMENT_TERMS}}</label>
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="isCustomer">
                            <h5><strong>Project Name</strong></h5>
                            <div>
                                <label>{{poDetails.PROJECT_NAME}}</label>
                            </div>
                        </div>

                        <!--<div class="col-md-3">
            <h5><strong>Terms and Conditions</strong><span class="text-danger">*</span></h5>
            <button role="button" class="btn btn-xs btn_save sans_body"
                    ng-click="EditTermsAndConditions()" title="Edit Terms & Conditions">
                Edit Terms & Conditions
            </button>
        </div>-->
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-2">
                            <h5><strong>Bill To</strong></h5>
                            <div>
                                <label>{{projectDetails.BILL_TO_ADDRESS}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Ship To</strong></h5>
                            <div>
                                <label>{{projectDetails.SHIP_TO_ADDRESS}}</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Send Original Invoice to</strong></h5>
                            <div>
                                <label>
                                    COLLIERS INTERNATIONAL (INDIA) PROPERTY SERVICES PVT. LTD.
                                    Indiabulls Finance Centre, 17th Floor, unit No: 1701, Tower- 3, Senapati Bapat Marg , Elphinstone (W), Mumbai - 400013
                                </label>
                            </div>
                        </div>
                    </div>



                    <div class="pull-right">
                        <div class="modal" id="termsCondition" tabindex="-1">
                            <div class="modal-dialog" style="width: 90%;height:90%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                        <h4 class="modal-title">Terms & Conditions for {{poDetails.PO_TYPE}}</h4>
                                    </div>
                                    <div class="modal-body" style="margin:25px;">
                                        <div class="pmbb-view" style="overflow-wrap: break-word;">
                                            <table class="table table-bordered table-hover colliers_table">
                                                <thead>
                                                    <tr>
                                                        <th>PO Title</th>
                                                        <th>Description</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="termsCondition in termsConditions">
                                                        <td style="max-width:40px">{{termsCondition.TITLE}}</td>
                                                        <td style="max-width:40px">
                                                            <textarea class="form-control" placeholder="Description" ng-model="termsCondition.DESCRIPTION">
                                                            </textarea>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-click="savePOtermsandconditions()" class="btn btn-info">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table colliers_table">
                                <thead>
                                    <tr>
                                        <th>Package</th>
                                        <th>Sub Package</th>
                                        <th>Description</th>
                                        <th>Ordered Qty</th>
                                        <th>Total Amount (Without Tax)</th>
                                        <!--<th>C.GST</th>
                        <th>S.GST</th>
                        <th>I.GST</th>-->
                                        <th>Tax Amount</th>
                                        <th>Total Amount (With Tax)</th>
                                        <th>PO Delivery Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in poDetailItems">
                                        <td>{{item.PACKAGE_NAME}}</td>
                                        <td>{{item.SUB_PACKAGE_NAME}}</td>
                                        <td>{{ item.PO_DESCRIPTION }}</td>
                                        <td>{{item.ORDER_QTY}}</td>
                                        <td>{{item.TOTAL_AMOUNT |number:2}}</td>
                                        <!--<td>{{item.CGST}} %</td>
                        <td>{{item.SGST}} %</td>
                        <td>{{item.IGST}} %</td>-->
                                        <td>{{item.TAX_AMOUNT|number:2}}</td>
                                        <td>{{item.TOTAL_VALUE |number:2}}</td>
                                        <td>{{item.DELIVERY_DATE}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <button class="pull-right common_btn btn-sm" ng-click="goToState();" style="margin-top:38px;">Go to PO List</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
