﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">

            <div class="white-box">
                <div class="pmb-block" ng-controller="reqFwdVendorListCtrl">
                    <div class="pmbb-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h2><i class="zmdi zmdi-view-list"></i> My Leads</h2>
                            </div>
                            <div class="col-md-6" style="margin-left:0px !important;margin-top:10px;">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive z-depth-2">
                        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle">
                            <tr ng-repeat="auction in myActiveLeads.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <td data-title="'Req ID'" sortable="'ID'">
                                    {{ auction.requirementID}}
                                </td>
                                <td data-title="'Title'" sortable="'Name'">
                                    <a class="prmellipsis" title="{{auction.title}}" data-ui-sref="view-fwd-req({Id:auction.requirementID})">{{auction.title}}</a>
                                </td>
                                <td data-title="'Price'" sortable="'Budget'">
                                    <span ng-bind-html="auction.price | numToCurrency:auction.currency"></span>
                                </td>
                                <td data-title="'Status'" sortable="'Is Closed'">
                                    <span ng-if="auction.selectedVendorID == 0 && (auction.status != 'NOTSTARTED' || auction.status != 'UNCONFIRMED' || auction.status != 'STARTED')">{{ auction.status}}</span>
                                    <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID == uId">{{ auction.status}}</span>
                                    <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID != uId">Negotiation Ended</span>
                                </td>
                            </tr>
                        </table>
                        <ul uib-pagination total-items="totalLeads" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>
                    <div class="clearfix" style="margin-bottom:150px;"></div>
                </div>
            </div>



        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>