﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .colliers_table > tbody > tr > td > div > select {
        font-size: 12px;
    }
</style>
<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="approvalQCSListCtrl">
                <div class="white-box">
                    <div class="row">
                        <!--<div class="col-md-6">
                            <h4>Approved QCS</h4>
                        </div>-->

                        <div class="col-md-3" style="margin-top:-18px">
                            <label>Approved Filter By Module</label>
                            <select class="form-control" ng-model="moduleName" ng-options="type.value as type.display for type in modules"
                                    ng-change="setFilters(moduleName,search)">
                                <option value=''>Select</option>
                            </select>
                        </div>


                        <div class="col-md-4">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(moduleName,search);" ng-model="search" type="text" placeholder="Search Approved QCS">
                        </div>


                    </div>
                    
                    <div class="row" style="margin-top:15px">
                        <div class="table table-responsive z-depth-2">
                            <table class="table colliers_table" style="width:120%">

                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="width:5%">Approved ID.</th>
                                        <th style="width:5%">Project ID.</th>
                                        <th style="width:5%">Project Name.</th>
                                        <th style="width:5%">Module</th>
                                        <th style="width:5%">Workflow</th>
                                        <th style="width:5%">Cost Center</th>
                                        <th style="width:5%">QCS ID</th>
                                        <th style="width:5%">Est Budget Amount</th>
                                        <th style="width:5%">Targeted Revenue Budget</th>
                                        <th style="width:5%">Actual PO Value</th>
                                        <th style="width:5%">Variance</th>
                                        <th style="width:10%">Module Approved On</th>
                                        <th style="width:10%">Approved By</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="qcs in qcsApprovalList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td style="width:5%">
                                            <a style="cursor:pointer;" ng-click="navigateToQCS(qcs)">{{qcs.REFER_MODULE_LINK_NAME}}</a>
                                        </td>

                                        <td style="width:5%;flex-wrap">
                                            {{qcs.MODULE_NAME}}
                                        </td>

                                        <td style="width:5%">
                                            {{qcs.REFER_MODULE_NAME}}
                                        </td>

                                        <td style="width:5%">
                                            {{qcs.MODULE_TYPE}}
                                        </td>

                                        <td style="width:5%">
                                            {{qcs.WF_TITLE}}
                                        </td>

                                        <td>
                                            {{qcs.WF_MODULE_TYPE}}
                                        </td>

                                        <td style="width:5%">
                                            <a style="cursor:pointer;" ng-click="goToSaveImportQCS(qcs.REQ_ID,qcs.QCS_ID)">{{qcs.QCS_ID}}</a>
                                        </td>

                                        <td style="width:5%">
                                            {{qcs.BUDGET_AMOUNT | number : 2}}
                                        </td>

                                        <td style="width:5%">
                                            {{qcs.REVENUE_AMOUNT | number : 2}}
                                        </td>

                                        <td style="width:5%">
                                            {{qcs.PO_VALUE | number : 2}}
                                        </td>

                                        <td style="width:5%">
                                            {{qcs.VARAIANCE | number : 2}}
                                        </td>
                                        <!--<td>
                        <a class="prmellipsis" style="cursor:pointer;" data-ui-sref="view-requirement({Id:qcs.REFER_MODULE_LINK_ID})">{{qcs.REFER_MODULE_LINK_NAME}}</a>
                    </td>-->
                                        <td style="width:5%">
                                            {{qcs.APPROVAL_DATE}}
                                        </td>
                                        <td style="width:5%">
                                            {{qcs.APPROVAL_BY}}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
