﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    ::-webkit-scrollbar {
        width: 0.9em;
        height: 1em !important;
    }

    .no-border {
        border: none !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-left {
        text-align: left !important;
    }

    .no-padding {
        padding: 0px !important;
    }

    .header-col {
        background-color: lightblue;
        border: 1px solid black;
        vertical-align: middle;
        min-height: 55px;
        max-height: 55px;
    }

    .header-col-empty {
        border: 1px solid black;
        vertical-align: middle;
        min-height: 57px;
        max-height: 57px;
    }

    .sub-header-col1 {
        background-color: #F4CCCC;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
        vertical-align: middle;
        padding-top: 10px;
        min-height: 100px;
        max-height: 100px;
        overflow-y: auto;
        text-align: center;
        padding-top: 10px;
    }

    .sub-header-col2 {
        background-color: #9900FF;
        text-align: left;
        vertical-align: top;
        border: 1px solid black;
        vertical-align: middle;
        color: #FFF;
        font-weight: bold;
        text-align: center;
        padding-top: 10px;
    }

    .body-col {
        background-color: white;
        border: 1px solid black;
        padding-top: 5px;
        min-height: 100px;
        max-height: 100px;
        overflow-y: auto;
        text-align: center;
    }

    .header1-col {
        text-align: center;
        vertical-align: top;
        padding: 0;
        border-right: 1px solid black;
        min-height: 52px;
    }

    .sub-header-col {
        background-color: darkseagreen;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-left-header-row {
        padding: 0px;
        margin-right: 0px;
    }

    .sub-left-header-col {
        background-color: darkseagreen;
        border: 1px solid black;
        text-align: center;
        padding: 0px;
        margin: 0px;
        min-height: 50px;
    }

    .sub-header-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-body-col {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 50px;
        max-height: 50px;
        overflow-y: auto;
    }

    .sub-body-col-white {
        background-color: white;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 40px;
    }

    .sub-body-col1 {
        background-color: lightblue;
        border: 1px solid black;
        text-align: center;
        padding-top: 5px;
        min-height: 50px;
        max-height: 50px;
        overflow-y: auto;
    }

    .strong_bold {
        font-size: 14px;
        font-weight: 900;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluidmin-width: 700px; background-color: lightblue; border: 1px solid black; text-align: center;">
                <div id="widget">
                    <div class="white-box" data-ng-controller="importQcsCtrl">
                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="js/resources/images/client_logo.png" class="dark-logo" style="width:100px;height:44px;" />
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button class="common_btn btn-sm" ng-show="editForm" ng-click="editFormPage()">View QCS</button>
                                        <button class="common_btn btn-sm" ng-show="!editForm && requirementDetails.status != 'STARTED' && isQCSImportFormdisabled && QCSDetails.IS_VALID == 1" ng-click="editFormPage()">Edit QCS</button>
                                        <button class="common_btn btn-sm" ng-click="calculateSplitQtyAmounts()" ng-if="!editForm">{{showSplitQuantityCalculation ? "Hide Split Qty. Calc." : "Show Split Qty. Calc."}}</button>
                                        <button class="common_btn btn-sm" ng-show="QCSDetails.PROJECT_ID && QCSDetails.BUDGET_ID" ng-click="goToPackageApproval()">View Award Recommendation</button>
                                        <button class="common_btn btn-sm" ng-show="editForm" ng-click="handSplitQuantityVisibility()">{{showSplitQuantityField ? 'Hide split qty.' : 'Show split qty.'  }}</button>
                                    </div>
                                    <div class="col-md-1 text-right">
                                        <button class="common_btn btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa fa-user" aria-hidden="true"></i> Vendors
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="vendor in qcsVendors" style="cursor:pointer;">
                                                <a ng-click="isVendorVisible(vendor)">
                                                    <i ng-class="(vendor.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{vendor.vendorCompany}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--<div class="col-md-2 text-right">
                                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                            <i class="fa fa-user" aria-hidden="true"></i> Items
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="item in qcsItems" style="cursor:pointer;">
                                                <a ng-click="isReqItemVisible(item)">
                                                    <i ng-class="(item.isSelected == true ? 'fa fa-check':'fa')" aria-hidden="true"></i> {{item.itemName}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>-->
                                </div>
                                <br />
                                <div>
                                    <br />
                                    <div class="row" id="mainTable" style="margin-left:15px;">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="row" style="min-height:68px;background-color:lightblue;border:1px solid black;">
                                                    <div class="col-md-12">
                                                        <h4><strong>QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</strong></h4>
                                                    </div>
                                                </div>
                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 header-col" style="min-height: 55px;overflow-y: auto;">
                                                    </div>
                                                </div>
                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 header-col-empty">
                                                        &nbsp;&nbsp;<br />
                                                    </div>

                                                </div>
                                                <div class="row sub-left-header-row" ng-repeat="item in uniqueQCSItems" style="cursor: pointer;" ng-click="handlePackageWidget(item)">
                                                    <div class="col-md-12 body-col" style="border-bottom:1px solid black;padding-top:5px; min-height:50px; max-height:50px;text-align:left;">
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <a class="fa fa-minus" ng-if="item.isExpanded" title="Hide Item"></a>
                                                                <a class="fa fa-plus" ng-if="!item.isExpanded" title="Show Item"></a>
                                                            </div>
                                                            <div class="col-md-11">
                                                                Package : {{item.productNo}} <br>
                                                                Sub Package : {{item.productIDorName}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 body-col" style="border-bottom:1px solid black;padding-top:5px; min-height:40px; max-height:40px;"
                                                         ng-show="item.isExpanded">
                                                        <div class="col-md-6">
                                                            
                                                        </div>
                                                        <div class="col-md-6 text-right">
                                                            QTY
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12 body-col" ng-repeat="subItem in item.uniqueQCSSubItems" ng-show="item.isExpanded"
                                                         style="border-bottom: 1px solid black; padding-top: 5px; min-height: 30px; max-height: 30px; text-align:right">
                                                        <div class="col-md-6 prmellipsis">
                                                            <span title="{{subItem.productCode}}">{{subItem.productCode}}</span>
                                                        </div>
                                                        <div class="col-md-6 pull-right">
                                                            {{subItem.productQuantity}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col strong_bold" style="padding-top:15px;">
                                                        TAXES LEVIED
                                                    </div>
                                                </div>
                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col strong_bold" style="padding-top:15px;">
                                                        TOTAL COST
                                                    </div>
                                                </div>
                                                <!--<div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col">
                                                        GST (%)
                                                    </div>
                                                </div>-->
                                                <!--<div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col">
                                                        OTHER TAXES
                                                    </div>
                                                </div>-->
                                                <!--<div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col">
                                                        TOTAL
                                                    </div>
                                                </div>-->
                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col strong_bold" style="padding-top:15px;">
                                                        WARRANTY / GUARANTEE
                                                    </div>
                                                </div>
                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col strong_bold" style="padding-top:15px;">
                                                        PROJECT DURATION
                                                    </div>
                                                </div>
                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col strong_bold" style="padding-top:15px;">
                                                        PAYMENT TERMS
                                                    </div>
                                                </div>
                                                <!--<div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col">
                                                        DELIVERY TERMS
                                                    </div>
                                                </div>-->
                                                <div class="row sub-left-header-row">
                                                    <div class="col-md-12 sub-left-header-col strong_bold" style="padding-top:15px;">
                                                        PURCHASER COMMENTS
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" style="min-height:68px;background-color:lightblue;border:1px solid black;overflow-y:auto">
                                                <div class="col-md-12 ">
                                                    <h3 style="max-height: 45px !important;">
                                                        <span ng-if="{{requirementDetails.requirementNumber}}">REQ Number: {{requirementDetails.requirementNumber}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                        <span title="{{requirementDetails.title}}">Title: {{requirementDetails.title}}</span><br />
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                                                    <div style="display:flex;flex-direction:row;max-width:100%;overflow-y:auto;">
                                                        <div class="col-md-{{vendorWidth}}" style="min-width:350px; border:1px solid black;text-align:center;" ng-repeat="vendor in requirementDetails.auctionVendors" ng-if="vendor.isVisible">
                                                            <div class="row" style="height:55px">
                                                                <div class="col-md-12 header-col" style="min-height: 55px; max-height: 55px;">
                                                                    <strong>
                                                                        <small ng-show="showSplitQuantityField">
                                                                            <span>
                                                                                <input type="checkbox" class="switch myCheckBox" ng-disabled="(vendor.isQuotationRejected != 0 || QCSDetails.SENT_FOR_APPROVAL == 1)" ng-if="isUserEntitled(582258) || isSuperUser" name="spliVendorWiseqty" id="spliVendorWiseqty"ng-change="vendorWiseSplitQty(vendor)" ng-model="vendor.splitItemWiseQty" />
                                                                                <label class="fg-label" for="Split QTY"><strong>Item Wise Split QTY</strong></label>
                                                                            </span>
                                                                        </small> 
                                                                        <br />
                                                                        {{vendor.companyName}} ({{vendor.selectedVendorCurrency}}) <strong>&nbsp;&nbsp;Rank : {{CalculateRankBasedOnLandingPrice(vendor)}}</strong>
                                                                        <br />
                                                                        <small ng-if="vendor.IS_QUOT_LATE == 1" class="text-danger">Quotation Submitted Late</small><br />
                                                                        <small ng-if="vendor.isQuotationRejected == -1">( QP: Not viewed )</small>
                                                                        <small ng-if="vendor.isQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                                        <small ng-if="vendor.isQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>
                                                                        <span ng-if="requirementDetails.status != 'UNCONFIRMED' && requirementDetails.status != 'NOTSTARTED' && requirementDetails.status != 'STARTED'">
                                                                            <small ng-if="vendor.isRevQuotationRejected == -1">( NP: Not viewed )</small>
                                                                            <small ng-if="vendor.isRevQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                                            <small ng-if="vendor.isRevQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>
                                                                        </span>
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="font-size:12px;">
                                                                <div class="header-col" style="padding-top: 15px;"
                                                                     ng-class="'col-md-12'">
                                                                    <strong class="strong_bold">
                                                                        Total Amount
                                                                    </strong>
                                                                </div>
                                                                <!--<div class="header-col" style="padding-top: 15px;" ng-show="showSplitQuantityField"
                                                                     ng-class="showSplitQuantityField ? 'col-md-6' : 'col-md-12'">
                                                                    <strong class="strong_bold">
                                                                        Order DIST (%).
                                                                    </strong>
                                                                </div>-->
                                                            </div>
                                                            <div class="row" ng-repeat="item in vendor.uniqueQCSItems">
                                                                <div class="header-col" style="min-height: 50px; max-height: 50px; padding-top: 15px;"
                                                                     ng-class="'col-md-12'">
                                                                    <strong>{{getVendorTotalItemPriceNew(vendor, item) | number : companyRoundingDecimalSetting}}</strong>
                                                                </div>
                                                                <!--<div class="header-col" style="min-height: 50px; max-height: 50px" ng-show="showSplitQuantityField"
                                                                     ng-class="showSplitQuantityField ? 'col-md-6' : 'col-md-12'">
                                                                    <strong ng-if="!editForm">{{item.qtyDistributedPerc ? item.qtyDistributedPerc : 0}} %</strong>
                                                                    <input ng-if="editForm && item.isCoreProductCategory" type="text" valid-number allow-decimal="false"
                                                                           allow-negative="false" decimal-upto="3" style="background-color: #f5b2b2; margin-top: 8px; text-align: center"
                                                                           ng-model="item.qtyDistributedPerc"
                                                                           ng-change="handleAssignedQty(vendor, item)"
                                                                           ng-model-options="{debounce:100}" class="form-control" ng-disabled="vendor.isQuotationRejected != 0"
                                                                           ng-style="checkGMPValidity(item, vendor) ? {'background-color':''} : {'background-color': '#f5b2b2'}"
                                                                           required />
                                                                </div>-->
                                                                <div class="sub-body-col1 strong_bold col-md-4" style="min-height: 40px; max-height: 40px;" ng-show="item.isExpanded && !showSplitQuantityField">
                                                                    QTY
                                                                </div>
                                                                <div class="sub-body-col1 strong_bold col-md-4" style="min-height: 40px; max-height: 40px;" ng-show="item.isExpanded && showSplitQuantityField">
                                                                    Assigned Qty
                                                                </div>
                                                                <div class="sub-body-col1 strong_bold col-md-4" style="min-height: 40px; max-height: 40px;" ng-show="item.isExpanded">
                                                                     Rate
                                                                </div>
                                                                <div class="sub-body-col1 strong_bold col-md-4" style="min-height: 40px; max-height: 40px;" ng-show="item.isExpanded">
                                                                    Total Amt.
                                                                </div>
                                                                <div ng-repeat="subItem in item.uniqueQCSSubItems" ng-show="item.isExpanded">
                                                                    <div class="body-col col-md-4" style="min-height: 30px; max-height: 30px" ng-show="!showSplitQuantityField">
                                                                        {{showSplitQuantityCalculation ? subItem.qtyDistributed : subItem.productQuantity}}
                                                                    </div>
                                                                    <div class="body-col col-md-4" style="min-height: 30px; max-height: 30px"
                                                                          ng-show="showSplitQuantityField">
                                                                        <input type="text" valid-number allow-decimal="true"
                                                                               ng-if="editForm && subItem.isCoreProductCategory"
                                                                               allow-negative="false" decimal-upto="3" style="background-color: #f5b2b2;height: 20px;text-align:center"
                                                                               ng-model="subItem.qtyDistributed"
                                                                               ng-change="handleAssignedQtySubItem(vendor, item, subItem)"
                                                                               ng-model-options="{debounce:100}" class="form-control" ng-disabled="(vendor.isQuotationRejected != 0 || subItem.isItemQuotationRejected != 0)"
                                                                               ng-style="checkGMPValidity(item, vendor) ? {'background-color':''} : {'background-color': '#f5b2b2'}"
                                                                               required />
                                                                        <strong ng-if="!editForm">{{getVendorItemAssignedQty(item, subItem, vendor).qtyDistributed | number : companyRoundingDecimalSetting}}</strong>
                                                                    </div>
                                                                    <div class="body-col col-md-4" style="min-height: 30px; max-height: 30px"
                                                                         ng-style="getVendorItemPricesNewIsLeast(subItem, vendor, requirementDetails.auctionVendors) ? {'background-color': 'yellow'} : {'background-color':''}">
                                                                        {{getVendorItemPricesNew(subItem, vendor).revUnitPrice}}
                                                                    </div>
                                                                    <div class="body-col col-md-4" style="min-height: 30px; max-height: 30px">
                                                                        {{subItem.subItemPrice}}
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="padding-top:15px;">
                                                                    <strong>
                                                                        {{getVendorTotalTax(vendor, 'IGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="padding-top:15px;">
                                                                    <strong>
                                                                        {{(getVendorTotalPriceTaxNew(vendor) * vendor.vendorCurrencyFactor) | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>

                                                            <!--<div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{getVendorTotalTaxPerc(vendor, 'IGST') | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>-->
                                                            <!--<div class="row">
                                                                <div class="col-md-12 sub-body-col text-right">
                                                                    <strong>
                                                                        <input ng-if="editForm" type="text" valid-number allow-decimal="true"
                                                                               allow-negative="false" decimal-upto="2" style="background-color: #f5b2b2;"
                                                                               ng-model="vendor.otherTaxes" class="form-control" required />
                                                                    </strong>
                                                                </div>
                                                            </div>-->
                                                            <!--<div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>
                                                                        {{getVendorTotalPriceTaxNew(vendor) | number : companyRoundingDecimalSetting}}
                                                                    </strong>
                                                                </div>
                                                            </div>-->
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="padding-top:15px;">
                                                                    <strong>
                                                                        {{vendor.warranty}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="padding-top:15px;">
                                                                    <strong>
                                                                        {{vendor.duration}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col" style="padding-top:15px;">
                                                                    <strong>
                                                                        {{vendor.payment}}
                                                                    </strong>
                                                                </div>
                                                            </div>
                                                            <!--<div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong>

                                                                    </strong>
                                                                </div>
                                                            </div>-->
                                                            <div class="row">
                                                                <div class="col-md-12 sub-body-col">
                                                                    <strong ng-if="!editForm">
                                                                        {{vendor.customerComment}}
                                                                    </strong>
                                                                    <textarea ng-if="editForm" type="text" cols="400" rows="1"
                                                                              style="background-color: #f5b2b2"
                                                                              ng-model="vendor.customerComment" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="margin:12px 0px 0px 0px; min-height:100px;">
                                            <div class="col-md-12 sub-header-col strong_bold" style="min-height:100px;">
                                                Award recommendation
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin:10px 0px 0px 8px;">
                                            <div class="col-md-12 sub-body-col" style="min-height:100px;padding:0px;">
                                                <p ng-if="!editForm" style="text-align: justify; word-break: break-word; font-weight: 600;">
                                                    {{requirementDetails.customerComment}}
                                                </p>
                                                <textarea ng-if="editForm" type="text" rows="4"
                                                          style="background-color: #f5b2b2;"
                                                          ng-model="requirementDetails.customerComment" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-8">
                                    <strong>Attachments:</strong><br />
                                    <div class="fileupload btn btn-sm btn-info waves-effect waves-light" ng-if="editForm">
                                        <span><i class="fa fa-upload  m-r-5"></i>QCS Attachments</span>
                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.xls,.xlt,.ics,.xml,.eml" id="attachement" multiple ng-file-select="onFileSelect($files)">
                                    </div>
                                    <label ng-if="attch.fileID > 0" ng-repeat="attch in requirementDetails.qcsMultipleAttachments">
                                        {{$index + 1}}.<a target="_blank" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionid}}">{{attch.fileName}}</a>
                                        <strong ng-if="editForm" ng-click="removeAttach(attch)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                    </label>
                                    <label ng-if="attch.fileID <= 0 && editForm" ng-repeat="attch in requirementDetails.qcsMultipleAttachments">{{$index + 1}}.{{attch.fileName}}  <strong ng-click="removeAttach(attch)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br /></label>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row" ng-show="editForm && QCSDetails.IS_VALID == 1">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-sm common_btn" ng-click="UpdateOtherCharges(true);"> Save & Submit for Approval </button>
                                    <button class="btn-sm common_btn" ng-if="QCSDetails.SENT_FOR_APPROVAL != 1" ng-click="UpdateOtherCharges();"> Save </button>
                                </div>
                            </div>
                        </div>


                        <fieldset>
                            <div class=" white-box container-fluid" style="overflow:auto;">
                                <div class="row">
                                    <div class="col-md-4" ng-if="vendorAssignmentList.length > 0">
                                        <h3><strong>Vendor Item Assignment</strong></h3>
                                    </div>
                                </div>

                                <table class="table table-vmiddle table-bordered colliers_table  m-b-0">
                                    <thead>
                                        <tr>
                                            <th style="min-width:30px;max-width:30px;">Item Name</th>
                                            <th style="min-width:30px;max-width:30px;">Vendor Name</th>
                                            <th style="min-width:5px;max-width:5px;">Currency</th>
                                            <th style="min-width:5px;max-width:5px;">Order Qty</th>
                                            <th style="min-width:5px;max-width:5px;">RFQ Qty</th>
                                            <th style="min-width:10px;max-width:10px;">PR Numbers</th>
                                            <th style="min-width:5px;max-width:5px;">PR Qty</th>
                                            <th style="min-width:10px;max-width:10px;">Vendor Price</th>
                                            <th style="min-width:10px;max-width:10px;">Total Price</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div style="overflow:auto;max-height:250px;min-height:250px;">
                                    <table class="table table-vmiddle table-bordered colliers_table">
                                        <tr ng-repeat="vendorAssignmentObj in vendorAssignmentList track by $index">
                                            <td style="min-width:30px;max-width:30px;word-break: break-all;">{{vendorAssignmentObj.item.itemName}}</td>
                                            <td style="min-width:30px;max-width:30px;">{{vendorAssignmentObj.vendorName}}</td>
                                            <td style="min-width:5px;max-width:5px;">{{vendorAssignmentObj.currency}}</td>
                                            <td style="min-width:5px;max-width:5px;">{{vendorAssignmentObj.assignedQty}}</td>
                                            <td style="min-width:5px;max-width:5px;">{{getItemRFQQuantity(vendorAssignmentObj.itemID)}}</td>
                                            <td style="min-width:10px;max-width:10px;overflow-wrap: break-word;">{{vendorAssignmentObj.item.prNumber}}</td>
                                            <td style="min-width:5px;max-width:5px;">{{vendorAssignmentObj.item.prQuantity}}</td>
                                            <td style="min-width:10px;max-width:10px;">{{vendorAssignmentObj.assignedPrice | number : companyRoundingDecimalSetting}}</td>
                                            <td style="min-width:10px;max-width:10px;">{{vendorAssignmentObj.totalPrice | number : companyRoundingDecimalSetting}}</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>