﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listQCSCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>QCS List</h4>
                        </div>
                        <div class="col-md-3 pull-right text-right" ng-if="CREATE_QCS">
                            <button class="btn-sm common_btn" ng-click="goToSaveImportQCS(reqID, 0)">Create QCS</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-responsive clear-both colliers_table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="width:10%">QCS No</th>
                                        <th style="width:10%">Req No</th>
                                        <th style="width:10%">Procurement Value</th>
                                        <th style="width:15%">Procurement Value In INR</th>
                                        <th style="width:10%;">Actions</th>
                                        <th style="width:10%;">Award Recommendation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="qcs in QCSList">
                                        <td>
                                            {{qcs.QCS_ID}}
                                        </td>
                                        <td>
                                            {{qcs.REQ_NUMBER}}
                                        </td>
                                        <td>
                                            {{qcs.TOTAL_PROCUREMENT_VALUE | number : companyRoundingDecimalSetting}}
                                        </td>
                                        <td>
                                            {{qcs.TOTAL_PROCUREMENT_VALUE_IN_REQUIRED_CURRENCY | number : companyRoundingDecimalSetting}}
                                        </td>
                                        <td data-title="'Actions'" ng-if="qcs.QCS_TYPE === 'IMPORT'" sortable="'Actions'">
                                            <a class="fa fa-edit" role="button" ng-click="goToSaveImportQCS(reqID, qcs.QCS_ID)"></a>
                                        </td>
                                        <td>
                                            <a role="button" ng-if="qcs.SENT_FOR_APPROVAL === 1" ng-click="goToPackageApproval(qcs)" title="View Project"><i class="fas fa-eye"></i>  </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row" ng-show="InActiveQCSList.length > 0">
                        <div class="col-md-6">
                            <h4>Deleted QCS History</h4>
                        </div>
                    </div>
                    <div class="row" ng-show="InActiveQCSList.length > 0">
                        <table class="table table-responsive clear-both colliers_table">
                            <thead>
                                <tr style="font-weight: bold">
                                    <th style="width:10%">QCS No</th>
                                    <th style="width:10%">Req No</th>
                                    <th style="width:10%">Procurement Value</th>
                                    <th style="width:10%">Procurement Value In INR</th>
                                    <th style="width:15%; text-align:center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="qcs in InActiveQCSList">
                                    <td>
                                        {{qcs.QCS_ID}}
                                    </td>
                                    <td>
                                        {{qcs.REQ_ID}}
                                    </td>
                                    <td>
                                        {{qcs.TOTAL_PROCUREMENT_VALUE | number : companyRoundingDecimalSetting}}
                                    </td>
                                    <td>
                                        {{qcs.TOTAL_PROCUREMENT_VALUE_IN_REQUIRED_CURRENCY | number : companyRoundingDecimalSetting}}
                                    </td>
                                    <td data-title="'Actions'" ng-if="qcs.QCS_TYPE === 'IMPORT'" sortable="'Actions'" style="text-align:center">
                                        <a class="fa fa-edit" role="button" ng-click="goToSaveImportQCS(reqID, qcs.QCS_ID)"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
