﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <div id="page-wrapper">

        <!--<div class="row ">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>-->
        <div ng-controller="materialReportCtrl">

            <div class="white-box col-md-12">
                <div class="col-md-12 top-half-buffer pull-left">
                    
                    <h4 class="text-center" style="color:#336699;" ng-show="reports == 1"><strong>PRODUCT REPORT</strong></h4>

                    <h4 class="text-center" style="color:#336699;" ng-show="reports == 2"><strong>PPS REPORT</strong></h4>

                </div>

                <div class="col-md-12">
                  
                        <div class="col-md-3 radio radio-success">
                            <input type="radio" name="radio" id="material" ng-value="1" ng-model="reports" />
                            <label for="material">Product Details</label>
                        </div>
                        <div class="col-md-3 radio radio-success" style="margin-top: 10px">
                            <input type="radio" name="radio" id="pps" ng-value="2"  ng-model="reports" />
                            <label for="pps">PPS Details</label>
                        </div>
                   
                  

                </div>

            </div>

           
            <div class="white-box col-md-12">
                <div class="col-md-4 form-group">
                    <label>Product Search</label>
                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched"
                           ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th>Product Code</th>
                                    <th>Product Name</th>
                                    <th>Product HSN Code</th>
                                    <th>Product Units/UOM</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="prod in productsList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td>{{prod.prodNo}}</td>
                                    <td>
                                        {{prod.prodName}}
                                        <label class="pull-right">
                                            <a data-toggle="modal" data-target="#myModal" ng-show="reports == 1">
                                                <i role="button">
                                                    <span class="fa fa-info-circle" ng-click="GetProdDataReport('MATERIAL_REPORT',prod.prodId,prod.prodName,prod.prodNo);">
                                                        <!--<i class="fa fa-info-circle" aria-hidden="true"></i>-->
                                                    </span>
                                                </i>
                                            </a>

                                            <a data-toggle="modal" data-target="#myModal" ng-show="reports == 2">
                                                <i role="button">
                                                    <span class="fa fa-info-circle" ng-click="GetProdDataReport('PPS_REPORT',prod.prodId,prod.prodName,prod.prodNo);">
                                                       
                                                    </span>
                                                </i>
                                            </a>
                                        </label>
                                    </td>

                                    <td>{{prod.prodHSNCode}}</td>
                                    <td>{{prod.prodQty}}</td>
                                </tr>

                                <tr ng-show="productsList.length==0">
                                    <td colspan="14" align="center">
                                        No data available
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <ul ng-show="totalItems > itemsPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged();" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>
                </div>


                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog" style="width: 90%;height:80%">
                        <div class="modal-content">
                            <div class="modal-header">
                                

                                <div class="col-md-4" ng-if="reports == 1">

                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched"
                                           ng-change="searchTableMaterial(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>

                                <div class="col-md-4" ng-if="reports == 2">

                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched"
                                           ng-change="searchTablePPS(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>

                                <div class="col-md-7 text-right">
                                    <button class="btn btn-info" onclick="tableToExcel('testTable', 'ProdVendorData')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                                </div>
                                <div class="col-md-1 text-right">
                                    <!--<button type="button" class="btn btn-info form-group " data-dismiss="modal">Close</button>-->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            </div>


                            <div class="row" ng-if="reports == 1">
                                <div class="col-md-12">
                                    <!--<h4 class="text-center text-info"><u>{{productNameData}}</u></h4>-->
                                    <table id="testTable" class="table table-bordered table-responsive">
                                        
                                        <thead>
                                             <tr>
                                                 <td colspan="4">
                                                     <strong>Product Name : </strong><span class="text-info">{{productNameData}}</span>
                                                 </td>
                                                 <td colspan="4">
                                                     <strong>Product Code : </strong><span class="text-info">{{productCodeData}}</span>
                                                 </td>

                                            </tr>
                                            <tr>
                                                <!--<th>
                                                    MATERIAL NAME
                                                </th>-->
                                                <th style="max-width: 250px">
                                                    REQ ID
                                                </th>
                                                <th>
                                                    RFQ CREATED DATE
                                                </th>
                                                <!--<th>
                                                    ITEM ID
                                                </th>-->
                                                <th>
                                                    QUANTITY
                                                </th>
                                                <th style="max-width: 500px" >SLAB 
                                                </th>
                                                <th style="max-width: 500px">
                                                    VENDOR COMPANY
                                                </th>
                                                <th style="max-width: 500px">
                                                    VENDOR NAME
                                                </th>
                                                <th>
                                                    REV UNIT PRICE
                                                </th>
                                                <th>
                                                    REV FREIGHT
                                                </th>
                                                <!--<th>
                            DATE
                        </th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in ProdVendorData">
                                                <!--<td>
                                                    {{data.PROD_ID}}
                                                </td>-->
                                                <td style="max-width: 250px">
                                                    <a title="{{auction.title}}" target="_blank" href="" data-ui-sref="view-requirement({Id:data.REQ_ID})">{{data.REQ_ID}}</a><br/>
                                                    <small ng-if="data.IS_SPLIT_ENABLED == 1" class="text-info">( Split Requirement )</small>
                                                </td>
                                                 <td>
                                                    {{data.REQ_POSTED_ON}}
                                                </td>
                                                <!--<td>
                                                    {{data.CATALOGUE_ITEM_ID}}
                                                </td>-->
                                                <td>
                                                    {{data.QUANTITY}}
                                                </td>
                                                <td style="max-width: 500px">
                                                    <table ng-if="data.IS_SPLIT_ENABLED == 1">
                                                        <tr ng-repeat="SR in data.VEND_PROD_DETAILS">
                                                            <td style="padding-bottom:10px"><small  class="text-info">SLAB RANGE : ({{SR.SLAB_FROM}} - {{SR.SLAB_TO}})</small></td>
                                                        </tr>
                                                    </table>
                                                    
                                                </td>
                                                <td style="max-width: 500px">
                                                    <table>
                                                        <tr ng-repeat="VC in data.VEND_PROD_DETAILS">
                                                            <td style="padding-bottom:10px">{{VC.VENDOR_COMPANY}}</td>
                                                        </tr>
                                                    </table>
                                                   
                                                </td>
                                                <td style="max-width: 500px">
                                                    <table>
                                                        <tr ng-repeat="VN in data.VEND_PROD_DETAILS">
                                                            <td  style="padding-bottom:10px"> <span>{{VN.VENDOR_NAME}}</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr ng-repeat="RUP in data.VEND_PROD_DETAILS">
                                                            <td  style="padding-bottom:10px"> <span>{{RUP.REV_UNIT_PRICE}}</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr ng-repeat="RUF in data.VEND_PROD_DETAILS">
                                                            <td  style="padding-bottom:10px"> <span>{{RUF.REV_UNIT_FREIGHT}}</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <!--<td>
                            {{data.LAST_MODIFIED_DATE}}
                        </td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12" ng-if="isLoadingPrices != ''">
                                    <h4 class="text-center center-block text-warning">{{isLoadingPrices}}</h4>
                                </div>
                            </div>


                            <div class="row" ng-if="reports == 2">
                                <div class="col-md-12">
                                    <!--<h4 class="text-center text-info"><u>{{productNameData}}</u></h4>-->
                                    <table id="testTable" class="table table-bordered table-responsive">
                                        <thead>
                                             <tr>
                                                 <td colspan="2">
                                                     <strong>Product Name : </strong><span class="text-info">{{productNameData}}</span>
                                                 </td>
                                                 <td colspan="5">
                                                     <strong>Product Code : </strong><span class="text-info">{{productCodeData}}</span>
                                                 </td>

                                            </tr>
                                            <tr>
                                                <!--<th>
                                                    PRODUCT NAME
                                                </th>
                                                <th>
                                                    PRODUCT CODE
                                                </th>-->
                                                <th>
                                                    REQ ID
                                                </th>
                                                <th>
                                                    PPS CREATED DATE
                                                </th>
                                                <th>
                                                    PPS SELECTED VENDOR NAME
                                                </th>
                                                <th>
                                                    REV UNIT PRICE
                                                </th>
                                                <th>
                                                    REV FREIGHT
                                                </th>
                                                <th>
                                                    PO NUMBER
                                                </th>
                                               <th>
                                                   PR CODE
                                               </th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in ProdPPSData">
                                                <!--<td>
                                                    {{data.ITEM_NAME}}
                                                </td>
                                                <td>
                                                    {{data.CATALOGUE_ID}}
                                                </td>-->
                                                 <td>
                                                    <a title="{{auction.title}}" target="_blank" href="" data-ui-sref="view-requirement({Id:data.REQ_ID})">{{data.REQ_ID}}</a>
                                                </td>
                                                <td>
                                                    {{data.DATE_CREATED}}
                                                </td>
                                                <td>
                                                    {{data.VENDOR_NAME}}
                                                </td>
                                                <td>
                                                    {{data.RevUnitPrice}}
                                                </td>
                                                <td>
                                                    {{data.RevUnitFreight}}
                                                </td>
                                                <td>
                                                    {{data.PoNumber}}
                                                </td>
                                                <td>
                                                    {{data.PR_CODE}}
                                                </td>
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12" ng-if="isLoadingPrices != ''">
                                    <h4 class="text-center center-block text-warning">{{isLoadingPrices}}</h4>
                                </div>
                            </div>



                            <div class="modal-footer">
                                <button type="button" class="btn btn-info " data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


                

            </div>




        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

