﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div ng-controller="reportCtrl">

                    <div class="white-box">
                        <div class="box-title">

                            <!--<button class="btn btn-primary btn-new-look pull-right" ng-hide="doPrint" ng-click="printReport()">Print</button>-->

                            <div class="col-md-12 text-center">
                                <h3>Bidding Report</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row center col-md-12">
                                <div class="col-md-8 vertical-scroll">
                                    <hc-chart options="liveBiddingChart" ng-if="show">Loading...</hc-chart>
                                </div>
                                <!--<div class="col-md-1">
                                </div>-->

                                <div class="col-md-12 pmbb-body">
                                    <div class="col-md-12 text-center">
                                        <h3>Requirement Details ( {{reqDetails.requirementID}} )</h3>
                                    </div>
                                    <div class="col-md-12 pmbb-view" style="overflow-wrap: break-word;">
                                        <dl class="dl-horizontal">
                                            <dt>
                                                Title
                                            </dt>
                                            <dd>{{ reqDetails.title }}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Posted Date</dt>
                                            <dd>{{ reqDetails.postedOn }}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Start Time</dt>
                                            <dd>{{ reqDetails.startTime }}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>End Time</dt>
                                            <dd>{{ reqDetails.endTime }}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>vendors Invited</dt>
                                            <dd>{{ reqDetails.noOfVendorsInvited }}</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>vendors Participated</dt>
                                            <dd>{{ reqDetails.noOfVendorsParticipated }}</dd>
                                        </dl>

                                        <dl class="dl-horizontal">
                                            <dt>Savings</dt>
                                            <dd><strong>{{ reqDetails.savings | number: companyRoundingDecimalSetting}}</strong></dd>
                                        </dl>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                <table class="table table-vmiddle quotes_table table-hover table-responsive z-depth-1 clear-both">
                                    <tr style="height:20px">
                                        <th data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            Vendor Name
                                        </th>
                                        <th ng-repeat="category in categories" data-title="'{{category}}n'" sortable="'{{category}}'">
                                            {{category}}
                                        </th>
                                    </tr>
                                    <tr ng-repeat="obj in liveBiddingData">

                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            {{obj.vendor.firstName + " " + obj.vendor.lastName}}
                                        </td>
                                        <td ng-repeat="obj1 in obj.arrayKeyValue">
                                            <span ng-bind-html="obj1.decimalVal | number: companyRoundingDecimalSetting | numToCurrency:''"></span>
                                        </td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="white-box" ng-if="reqDetails.isTabular">
                        <div class="box-title">
                            <h3>Min. Item Price Report</h3>
                        </div>
                        <div class="row">
                                <table class="table table-vmiddle quotes_table table-hover table-responsive z-depth-1 clear-both">
                                    <tr style="height:20px">
                                        <th data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            Item Name
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Rank 1 Vendor Price
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Item wise least price
                                        </th>
                                    </tr>
                                    <tr ng-repeat="obj in itemWiseData">

                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            {{obj.itemDetails.productIDorName}}
                                        </td>
                                        <!--<td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.leastBidderUnitPrice | numToCurrency:''"></span><br />
                                            {{obj.leastVendor.firstName + " " + obj.leastVendor.lastName}}
                                        </td>-->

                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.leastBidderUnitPrice | number: companyRoundingDecimalSetting | numToCurrency:''"></span><br />
                                            {{obj.leastVendorCompany.companyName}}
                                        </td>
                                        <!--<td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.leastBidderPrice | numToCurrency:''"></span><br />
                                            {{obj.leastItemVendor.firstName + " " + obj.leastItemVendor.lastName}}
                                        </td>-->
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.leastBidderPrice | number: companyRoundingDecimalSetting | numToCurrency:''"></span><br />
                                            {{obj.leastItemVendorCompany.companyName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </div>

                    <div ng-if="reqDetails.isTabular">
                        <div class="white-box" data-ng-controller="comparativesCtrl" ng-if="reqDetails.isTabular">

                            <div class="box-title">
                                <h3>Consolidated Report</h3>
                            </div>

                            <div class="row table-responsive">

                                <table ng-table="tctrl.tableSorting" class="table table-responsive z-depth-1 clear-both">
                                    <tr style="border:1px dotted">
                                        <th style="text-align:center">Company Name / Item</th>
                                        <th style="text-align:center">State of Price</th>
                                        <th style="text-align:center" ng-repeat="item in auctionItem.listRequirementItems">{{item.productIDorName}} <br />( {{item.productQuantity}}-{{item.productQuantityIn}} )</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Price</th>
                                        <th ng-repeat="item in auctionItem.listRequirementItems">
                                            <table style="width:100%" class="comparisions_quotes_table">
                                                <tr>
                                                    <td style="width:30%; text-align:center">Unit</td>
                                                    <td style="width:70%; text-align:center">Total</td>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>

                                    <tr style="border:1px dotted" ng-repeat="vendor in auctionItem.auctionVendors">
                                        <td style="border:1px dotted">
                                            <strong>{{vendor.companyName}}</strong>
                                        </td>
                                        <td style="border:1px dotted">
                                            <table style="background-color:none">
                                                <tr style="background-color:none">
                                                    <td>Initial Price</td>
                                                </tr>
                                                <tr style="background-color:none">
                                                    <td>Final Price</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="border:1px dotted" ng-repeat="item in vendor.listRequirementItems">
                                            <table style="width:100%; background-color:none" class="comparisions_table comparisions_table-vmiddle">
                                                <tr></tr>
                                                <tr style="background-color:none">
                                                    <td style="width:50%; text-align:center; border-right:1px dotted">{{item.unitPrice | number: companyRoundingDecimalSetting}}</td>
                                                    <td style="width:50%; text-align:center;">{{item.itemPrice | number: companyRoundingDecimalSetting}}</td>
                                                </tr>
                                                <tr style="background-color:none">
                                                    <td style="width:50%; text-align:center; border-right:1px dotted">{{item.revUnitPrice | number: companyRoundingDecimalSetting}}</td>
                                                    <td style="width:50%; text-align:center;">{{item.revitemPrice | number: companyRoundingDecimalSetting}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="white-box">
                        <div class="box-title">
                            <h3>Delivery Terms Report</h3>
                        </div>

                        <div class="row">
                                <table class="table table-vmiddle quotes_table table-hover table-responsive z-depth-1 clear-both">
                                    <tr style="height:20px">
                                        <th data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            Vendor Name
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Initial Quotation
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Final Price
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Price Reduction
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Delivery Terms
                                        </th>
                                    </tr>


                                    <tr ng-repeat="obj in deliveryDateData">

                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            {{obj.vendor.firstName + " " + obj.vendor.lastName}}
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.vendorInitPrice | number: companyRoundingDecimalSetting | numToCurrency:''"></span>
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.vendorRunPrice | number: companyRoundingDecimalSetting | numToCurrency:''"></span>
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            {{obj.reductionPrice | number: companyRoundingDecimalSetting}} %
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <!--{{converToDate(obj.expectedDelivery)}}-->{{obj.expectedDelivery}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </div>

                    <div class="white-box">
                        <div class="box-title">
                            <h3>Payment Terms Report</h3>
                        </div>

                        <div class="row">
                                <table class="table table-vmiddle quotes_table table-hover table-responsive z-depth-1 clear-both">
                                    <tr style="height:20px">
                                        <th data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            Vendor Name
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Initial Quotation
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Final Price
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Price Reduction
                                        </th>
                                        <th data-title="' Rank 1 Vendor Price'" sortable="' Rank 1 Vendor Price'">
                                            Payment Terms
                                        </th>
                                    </tr>


                                    <tr ng-repeat="obj in paymentTermsData">

                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            {{obj.vendor.firstName + " " + obj.vendor.lastName}}
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.vendorInitPrice | number: companyRoundingDecimalSetting | numToCurrency:''"></span>
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <span ng-bind-html="obj.vendorRunPrice | number: companyRoundingDecimalSetting | numToCurrency:''"></span>
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            {{obj.reductionPrice | number: companyRoundingDecimalSetting}} %
                                        </td>
                                        <td data-title="'Vendor Name'" sortable="'Vendor Name'">
                                            <!--{{converToDate(obj.expectedDelivery)}}-->{{obj.paymentScheduleDate}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>