﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>

<div id="wrapper">
    <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <div id="page-wrapper">

        <div class="row ">
            &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="white-box" ng-controller="rfqtoqcsReportCtrl">
            <div class="row">
                <div class="col-md-3 form-group top-half-buffer pull-left">
                    <label class="col-md-12 m-b-20"></label>
                    <h4>RFQ to QCS Report</h4>

                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="col-md-12">From date</label>
                        <div class="col-md-12" moment-picker="filters.reportFromDate" format="YYYY-MM-DD">
                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                            <input class="form-control" placeholder="Select a date" ng-model="filters.reportFromDate">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="col-md-12">To date</label>
                        <div class="col-md-12" moment-picker="filters.reportToDate" format="YYYY-MM-DD">
                            <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                            <input class="form-control" placeholder="Select a date" ng-model="filters.reportToDate">
                        </div>
                    </div>
                </div>

                <div class="col-md-1 top-buffer">
                    <label class="col-md-12 m-b-10"></label>
                    <button class="btn-sm common_btn" ng-click="getrfqtoqcsReport(0,10);">Filter</button>
                </div>
                <div class="form-group fg-float col-md-3 m-b-30 pull-left top-buffer">
                    <label class="col-md-12 m-b-10"></label>
                    <button ng-click="GetReport()" class="pull-left btn-sm common_btn ng-scope" href="javascript:void(0);">
                        Download Report
                    </button>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-2">
                    <h5><strong>Category</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.category"
                                 options="item.name for item in filtersList.categoryList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>-->
                <div class="col-md-2">
                    <h5><strong>Buyer</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.buyer"
                                 options="item.name for item in filtersList.buyerList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>

                <div class="col-md-2">
                    <h5><strong>Material wise</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.materialwise"
                                 options="item.name for item in filtersList.materialWiseList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>
                <div class="col-md-2">
                    <h5><strong>Venodr wise</strong></h5>
                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="filters.vendorwise"
                                 options="item.name for item in filtersList.vendorWiseList"
                                 change="setFilters(currentPage-1)"></multiselect>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-md-12 table-responsive">
                    <table id="testTable" class="table table-bordered colliers_table">
                        <thead>
                            <tr>
                                <th>RFQ No</th>
                                <th>QCS ID</th>
                                <th>Posted By</th>
                                <!--<th>QCS value (as per L1)</th>-->
                                <th>No. of materials</th>
                                <th>No. of vendors participated / No. of vendors invited</th>
                                <th>Budget vs Actual (RM category)</th>
                                <th>Awarded Vendor</th>
                                <th>Awarded vendor name</th>
                                <th>QCS Awarded value</th>
                                <th>RFQ status</th>
                                <th>RFQ Posted date</th>
                                <th>QCS approval date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rfqtoqcs in rfqtoqcsReport">

                                <td>
                                    <a class="prmellipsis" title="{{rfqtoqcs.REQ_NUMBER}}" data-ui-sref="view-requirement({Id:rfqtoqcs.REQ_ID})">{{rfqtoqcs.REQ_NUMBER}}</a>
                                </td>
                                <td>
                                    {{rfqtoqcs.QCS_ID}}
                                </td>
                                <td>
                                    {{rfqtoqcs.POSTED_BY}}
                                </td>
                                <!--<td>
                                    {{rfqtoqcs.QCS_AWARDED_VALUE | number: companyRoundingDecimalSetting}}
                                </td>-->
                                <td>
                                    {{rfqtoqcs.ITEMS_COUNT}}
                                </td>
                                <td>
                                    {{rfqtoqcs.TOTAL_PARTICIPATED_VENDORS}} / {{rfqtoqcs.TOTAL_VENDORS}}
                                </td>
                                <td>
                                    {{rfqtoqcs.TOTAL_PROFIT_GAIN | number: companyRoundingDecimalSetting}}
                                </td>
                                <td>
                                    {{rfqtoqcs.AWARDED_VENDOR}}
                                </td>
                                <td>
                                    {{rfqtoqcs.AWARDED_VENDOR_NAME}}
                                </td>
                                <td>
                                    {{rfqtoqcs.TOTAL_PROCUREMENT_VALUE_IN_REQUIRED_CURRENCY | number: companyRoundingDecimalSetting}}
                                </td>
                                <td>
                                    {{rfqtoqcs.REQ_STATUS}}
                                </td>
                                <td>
                                    {{rfqtoqcs.REQ_POSTED_ON}}
                                </td>
                                <td>
                                    {{rfqtoqcs.WORKFLOW_FINAL_APPROVER_DATE}}
                                </td>

                            </tr>
                            <tr ng-show="rfqtoqcsReport.length==0">
                                <td colspan="14" align="center">
                                    No data available
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)> totalItems)?( totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>
                    <!--<strong>Displaying: {{ pageSizeTemp }} - {{ NumberOfRecords }} of {{ totalItems }}</strong>-->


                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                </div>
            </div>


            <br />
        </div>
    </div>
</div>
