﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="sapReportsCtrl">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <strong>Last data upload: {{lastUpdatedDate}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3><strong>Purchase Dashboard</strong></h3>
                            </div>
                            <div class="col-md-2">
                                <select ng-model="filterModelExclusion" class="form-control" ng-change="filterGraph();">
                                    <option selected value="0">WITH EXCLUSION</option>
                                    <option value="1">WITHOUT EXCLUSION</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select ng-model="filterModelPlant" class="form-control" ng-change="filterGraph();">
                                    <option selected value="0">ALL PLANTS</option>
                                    <option value='1001'>KARKHADI</option>
                                    <option value='1002'>PANOLI</option>
                                    <option value='1003'>MADHURANGATHAM</option>
                                    <option value='1004'>AHMEDNAGAR</option>
                                    <option value='1005'>ANKLESHWAR</option>
                                    <option value='1006'>DAHEJ</option>
                                    <option value='1010'>TOANSA</option>
                                    <option value='1020'>DEWAS</option>
                                    <option value='1070'>MALANPUR</option>
                                    <option value='1501'>PARABOLIC</option>
                                    <option value='1502'>SAURAV</option>
                                    <option value='1503'>MAGMA</option>
                                    <option value='1504'>ALLYCHEM</option>
                                    <option value='1505'>COVALENT</option>
                                    <option value='1506'>LANTECH</option>
                                    <option value='4235'>BHIWANDI</option>
                                    <option value='3000'>R&D BARODA</option>
                                    <option value='3001'>R&D GURUGOAN</option>
                                    <option value='3016'>TOANSA(PILOT)</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select ng-model="filterModelPurchaseUser" ng-change="filterGraph();" name="accessType" id="accessType" class="form-control" ng-options="accessType.objectID as accessType.message for accessType in accessTypes"></select>

                                <!--<select ng-model="filterModelPurchaseUser" class="form-control" ng-change="filterGraph();">
                                    <option selected value="0">ALL (PURCHASER USERS)</option>
                                    <option value='200'>JB</option>
                                    <option value='201'>SD</option>
                                    <option value='202'>AS</option>
                                    <option value='203'>SC</option>
                                    <option value='219'>SB</option>
                                    <option value='220'>DP</option>
                                </select>-->
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>

                        <div class="row" ng-hide="serchString && serchString.length > 0">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                        <br />
                        <br />
                        <div class="pmb-block" st-table="openPRArr" st-safe-src="openPRArrInitial" style="margin-top:20px">
                            <div class="pmbb-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <!--<select ng-model="filterDateRange" class="form-control" ng-change="filter();">
                            <option value='{{val.id}}' ng-repeat="val in RequisitionDateArray">{{val.code}}</option>
                        </select>-->
                                        <small>
                                            <strong>
                                                Filter: {{filterString}}
                                                <br />
                                                Total items: {{totalItems}}
                                            </strong>
                                        </small>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-info btn-sm" ng-click="exportItemsToExcel()">Export</button>
                                    </div>
                                    <div class="col-md-2">
                                        <!--<button type="button" class="btn btn-info btn-sm" ng-click="sapReport()">Shortage Report</button>-->
                                    </div>
                                    <div class="col-md-2">
                                        <input style="width:auto;" type="text" st-search="" placeholder="Search" class="form-control" />
                                    </div>
                                    <!--<div class="col-md-2">
                                        <div data-provides="fileinput">
                                            <div class="fileupload btn btn-info waves-effect waves-light">
                                                <span><i class="fa fa-plus  m-r-5"></i>Upload Excel</span>
                                                <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachment" itemid="attachment" itemscope ng-file-select-items="onFileSelect($files)">
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="col-md-3">
                                        &nbsp;
                                        <!--<input type="text" placeholder="Search" class="form-control" />-->
                                    </div>
                                </div>
                                <div class="table-responsive z-depth-2" double-scroll-bar-horizontal>

                                    <table class="table table-striped table-vmiddle" show-filter="false" st-filtered-collection>
                                        <thead>
                                            <tr>
                                                <th st-sort="PLANT_NAME">
                                                    <strong>Plant Name</strong>
                                                </th>
                                                <th st-sort="PURCHASER">
                                                    <strong>Purch. Name</strong>
                                                </th>
                                                <th st-sort="PURCHASE_REQUISITION">
                                                    <strong>PR No.</strong>
                                                </th>
                                                <th>
                                                    <strong>PR Item No</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>PR Creat. Date</strong>
                                                </th>
                                                <th>
                                                    <strong>Material</strong>
                                                </th>
                                                <th>
                                                    <strong>Material Desc.</strong>
                                                </th>
                                                <th st-sort="API_NAME">
                                                    <strong>API Name</strong>
                                                </th>
                                                <th>
                                                    <strong>UOM</strong>
                                                </th>
                                                <th>
                                                    <strong>PR Qty.</strong>
                                                </th>
                                                <th>
                                                    <strong>Orderd Qty.</strong>
                                                </th>
                                                <th>
                                                    <strong>Lead Time</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>Delivery Date</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>Ideal Delivery Date</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>Category</strong>
                                                </th>
                                                <th style="min-width:100px;max-width:100px;">
                                                    <strong>STATUS</strong>
                                                </th>
                                                <!--<th  style="min-width:150px;max-width:150px;">
                                                   
                                                </th>-->
                                                <!--<th style="min-width:150px;max-width:150px;"><strong>Shortage Comments</strong></th>
                                                <th style="min-width:150px;max-width:150px;"><strong>Purchase Remarks</strong></th>-->
                                                <th style="min-width:150px;max-width:150px;"><strong>Remarks</strong></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in openPRArr.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                <td>
                                                    {{item.PLANT_NAME}}
                                                </td>
                                                <td>
                                                    {{item.PURCHASER}}
                                                </td>
                                                <td>
                                                    {{item.PURCHASE_REQUISITION}}
                                                </td>
                                                <td>
                                                    {{item.ITEM_OF_REQUISITION}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    {{item.REQUISITION_DATE1}}
                                                </td>
                                                <td>
                                                    {{item.MATERIAL}}
                                                </td>
                                                <td>
                                                    {{item.SHORT_TEXT}}
                                                </td>
                                                <td>
                                                    {{item.API_NAME}}
                                                </td>

                                                <td>
                                                    {{item.UNIT_OF_MEASURE}}
                                                </td>
                                                <td>
                                                    {{item.QUANTITY_REQUESTED | number:0}}
                                                </td>
                                                <td>
                                                    {{item.QUANTITY_ORDERED | number:0}}
                                                </td>
                                                <td>
                                                    {{item.LEAD_TIME}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    {{item.DELIV_DATE_FROM_TO1}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    {{item.DELIVERY_DATE1}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    {{item.CATEGORY}}
                                                </td>
                                                <td style="min-width:100px;max-width:100px;">
                                                    <select ng-model="item.NWSTATUS" ng-disabled="!isUserEntitled(591188)" title="{{item.NWSTATUS}}" ng-style="{'background-color':item.color}" style="width: 200px" class="form-control" ng-change="updateStatus(item,item.NWSTATUS,$index);">
                                                        <option value=''>Select</option>
                                                        <option value='REVIEW PENDING' style="background-color:orangered">Review Pending</option>
                                                        <option value='REVIEWED BUT ACTION PENDING' style="background-color:yellow">Reviewed But Action Pending</option>
                                                        <option value='REVIEWED AND ACTION TAKEN' style="background-color:greenyellow">Reviewed And Action Taken</option>
                                                    </select>
                                                    <!--<label ng-show="save"><button type="button" class="btn btn-sm" ng-click="updateStatus(item,status)">save</button></label>-->
                                                </td>
                                                <!--<td ng-show="save" style="min-width:150px;max-width:150px;">
                                                    <button type="button" class="btn btn-info btn-sm" ng-click="updateStatus(item,status)">save</button>
                                                </td>-->
                                                <!--<td style="min-width:150px;max-width:150px;" data-title="''">
                                                    <a role="button" data-target="#prItemDetails" data-toggle="modal" ng-click="showComments(item, 'PR_SHORTAGE')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
                                                </td>
                                                <td style="min-width:150px;max-width:150px;" data-title="''">
                                                    <a role="button" data-target="#prItemDetails2" data-toggle="modal" ng-click="showComments(item, 'PR_PURCHASE')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
                                                </td>-->
                                                <td style="min-width:150px;max-width:150px;" data-title="''">
                                                    <a role="button" data-target="#prItemDetails" data-toggle="modal" ng-click="showComments(item, '')" style="margin-right:15px" title="More Details"><i class="fa fa-info-circle fa-2x"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="pull-right">
                        <div class="modal" id="prItemDetails" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" ng-click="clearForm();">&times;</button>
                                        <h4 class="modal-title">Remarks  Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="pmbb-view" style="overflow-wrap: break-word;" ng-hide="permission == 'VIEW'">
                                            <!--<select ng-model="commentType" class="form-control">
                                                <option value='PR_SHORTAGE' selected>Shortage Comments</option>
                                                <option value='PR_PURCHASE'>Purchase Comments</option>
                                            </select>-->
                                            <label>Category</label>
                                            <select ng-model="category" class="form-control">
                                                <option value='MISMATCH UOM CONVERSION' selected="selected">Qty. Mismatch UOM Conversion</option>
                                                <option value='SHORTAGE'>Shortage/Availability Issue</option>
                                                <option value='PR TO BE CLOSED'>PR to be Closed</option>
                                                <option value='ON HOLD BY PLANT'>On Hold By Plant</option>
                                                <option value='OTHERS'>Others</option>
                                            </select>
                                            <div ng-show="categoryValidation">
                                                <div class="help-block error logininput text-danger" ng-show="categoryValidation">Please Select Category</div>
                                            </div>
                                            <label>New Delivery Date</label>
                                            <div moment-picker="newdeliverdate" format="DD-MM-YYYY" min-date="minDateMoment">
                                                <input name="newdeliverdate" id="newdeliverdate" class="form-control" placeholder="" ng-model="newdeliverdate" ng-model-options="{ updateOn: 'blur' }">

                                            </div>
                                            <div ng-show="newdeliverdateValidation">
                                                <div class="help-block error logininput text-danger" ng-show="newdeliverdateValidation">Please enter valid New Delivery Date</div>
                                            </div>
                                            <br />
                                            Comments <textarea ng-model="pocomments" placeholder="Comments" id="pocomments" name="pocomments" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            <br />
                                            <button ng-disabled="pocomments == '' || pocomments == null || pocomments == undefined" type="button" class="btn btn-info" ng-click="savePoComments('',category)">Save</button>
                                            <br />
                                        </div>
                                        <!--<div class="pmbb-view" style="overflow-wrap: break-word;" ng-hide="permission == 'VIEW'">
                                            <select ng-model="commentType" class="form-control" ng-change="commentTYpeChange(commentType);">
                                                <option value='SHORTAGE' selected>Shortage Comments</option>
                                                <option value='PURCHASE'>Purchase Comments</option>
                                            </select>
                                            <br/>
                                            <div ng-show="commentType == 'SHORTAGE'">Shortage Quantity <input type="text" class="form-control" placeholder="Quantity" ng-model="poquantity" /></div>
                                            <br />
                                            <label>New Delivery Date</label>
                                            <div moment-picker="newdeliverdate" format="DD-MM-YYYY" min-date="minDateMoment">
                                                <input name="newdeliverdate" id="newdeliverdate" class="form-control" placeholder="" ng-model="newdeliverdate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                            <br />
                                            Comments <textarea ng-model="pocomments" placeholder="Comments" id="pocomments" name="pocomments" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            <br />
                                            <div ng-if="errorMessage && errorMessage != ''" style="color:red;">{{errorMessage}}</div><br/>
                                            <button ng-show="commentType == 'SHORTAGE'" type="button" class="btn btn-info" ng-click="savePoComments('SHORTAGE')">Save</button>
                                            <button ng-show="commentType != 'SHORTAGE'" type="button" class="btn btn-info" ng-click="savePoComments('DELIVERY')">Save</button>
                                            <br />
                                        </div>-->
                                        <br />
                                        <div class="pmbb-view" style="overflow-wrap: break-word;">
                                            <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <td style="width:10%">Date</td>
                                                        <!--<td style="width:10%"> Remarks Type</td>-->
                                                        <td style="width:10%"> Category</td>
                                                        <td style="width:20%">New Delivery Date</td>
                                                        <td style="width:40%">Comments</td>
                                                        <td style="width:10%">User</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="detail in pritemcomments">
                                                        <td>{{detail.errorMessage}}</td>
                                                        <!--<td>{{detail.remarksType}}</td>-->
                                                        <td>{{detail.category}}</td>
                                                        <td>{{detail.newdeliverdate}}</td>
                                                        <td>{{detail.message}}</td>
                                                        <td>{{detail.userInfo.firstName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-info" ng-click="clearForm();">Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="pull-right">
                        <div class="modal" id="prItemDetails2" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" ng-click="clearForm();" >&times;</button>
                                        <h4 class="modal-title">Purchase Remarks</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="pmbb-view" style="overflow-wrap: break-word;" ng-hide="permission == 'VIEW'">

                                            Comments <textarea ng-model="pocomments" placeholder="Comments" id="pocomments" name="pocomments" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                            <br />
                                            <button type="button" class="btn btn-info" ng-click="savePoComments('PR_PURCHASE')">Save</button>
                                            <br />
                                        </div>
                                        <br />
                                        <div class="pmbb-view" style="overflow-wrap: break-word;">
                                            <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <td style="width:10%">Date</td>
                                                        <td style="width:50%">Comments</td>
                                                        <td style="width:10%">User</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="detail in pritemcomments">
                                                        <td>{{detail.errorMessage}}</td>
                                                        <td>{{detail.message}}</td>
                                                        <td>{{detail.userInfo.firstName}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-info" ng-click="clearForm();" >Done</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
