﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="sapShortageReportCtrl">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Category</label>
                                <select ng-model="category" class="form-control">
                                    <!-- ng-change="getShortageOpenPOFilter(category,idealFromDate,idealToDate,filterModelPurchaseUser)"-->
                                    <option value='0'>ALL</option>
                                    <option value='PO to be Closed'>PO to be Closed</option>
                                    <option value='On hold by Plant'>On hold by Plant</option>
                                    <option value='Strategic buying PO'>Strategic buying PO</option>
                                    <option value='Delay (GRN Pending, License, RA Issue)'>Delay (GRN Pending, License, RA Issue)</option>
                                    <!--<option value='OTHERS'>Others</option>-->
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label>Purchaser</label><!--ng-change="getShortageOpenPOFilter(category,idealFromDate,idealToDate,filterModelPurchaseUser)"-->
                                <select ng-model="filterModelPurchaseUser" name="accessType" id="accessType" class="form-control" ng-options="accessType.objectID as accessType.message for accessType in accessTypes"></select>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date <small><small>(DD-MM-YYYY)</small></small></label>
                                    <div class="col-md-12" moment-picker="idealFromDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="idealFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date <small><small>(DD-MM-YYYY)</small></small></label>
                                    <div class="col-md-12" moment-picker="idealToDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="idealToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12"></label>
                                <button style="margin-top:15px;"
                                        class="btn btn-info pull-left m-l-20 waves-effect waves-light"
                                        ng-click="getShortageOpenPOFilter(category,idealFromDate,idealToDate,filterModelPurchaseUser)">
                                    Apply
                                </button>
                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12"></label>
                                <button style="margin-top:15px;" class="btn btn-info m-l-20 waves-effect waves-light" ng-click="exportShortageReportExcel();">Export</button>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row text-center">
                        <div class="col-md-12">
                                <label class="col-md-12"></label>
                                <button style="margin-top:15px;" class="btn btn-info m-l-20 waves-effect waves-light" ng-click="exportShortageReportExcel();">Export</button>
                        </div>
                    </div>-->
                    <br />

                    <div class="row">
                        <div class="col-md-4 pull-left text-left">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('A', 'TOP')"><i class="fas fa-arrow-alt-circle-left"></i></button>
                        </div>
                        <div class="col-md-4 center-block text-center">
                            <!--<button ng-click="scrollWin('S')">S</button>-->
                        </div>
                        <div class="col-md-4 pull-right text-right">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('Z', 'TOP')"><i class="fas fa-arrow-alt-circle-right"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive z-depth-2" double-scroll-bar-horizontal>

                        <br />

                        <table class="table table-striped table-vmiddle" show-filter="false" >
                            <thead>
                                <tr>
                                    <th style="min-width:110px;max-width:110px;" id="A"><strong>LP</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>Plant</strong></th>
                                    <th style="min-width:90px;max-width:90px;"><strong>MATERIAL</strong></th>
                                    <th style="min-width:210px;max-width:210px;"><strong>DESCRIPTION</strong></th>
                                    <th style="min-width:170px;max-width:170px;"><strong>API</strong></th>
                                    <th style="min-width:170px;max-width:170px;"><strong>SUPPLIER</strong></th>
                                    <th style="min-width:100px;max-width:100px;"><strong>PR DATE</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>PO DATE</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>PR Delivery Date</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>Ideal Delivery Date</strong></th>
                                    <th style="min-width:50px;max-width:50px;"><strong>ORDER UNIT</strong></th>
                                    <th style="min-width:100px;max-width:100px;"><strong>PR Qty</strong></th>
                                    <th style="min-width:100px;max-width:100px;"><strong>PO Qty</strong></th>
                                    <th style="min-width:90px;max-width:90px;"><strong>Open Qty</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>PR Number</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>PR LN</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>PO Number</strong></th>
                                    <th style="min-width:90px;max-width:90px;"><strong>PO LINE ITEM</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>PO Creator</strong></th>
                                    <th style="min-width:110px;max-width:110px;"><strong>Multiple PR</strong></th>
                                    <th style="min-width:90px;max-width:90px;"><strong>Supp. Country</strong></th>
                                    <th style="min-width:90px;max-width:90px;"><strong>Lead Time</strong></th>
                                    <th style="min-width:90px;max-width:90px;"><strong>Category</strong></th>
                                    <th style="min-width:200px;max-width:200px;"><strong>STATUS</strong></th>
                                    <th style="min-width:110px;max-width:110px;" id="Z"><strong>COMMENTS</strong></th>
                                </tr>
                            </thead>
                        </table>
                        <div style="max-height:500px;max-width:2860px;min-width:2860px;overflow-y:auto" ng-show="serchString == ''">
                            <table style="word-wrap: break-word;">
                                <tr ng-repeat="item in openPOArr.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"
                                    class="text-left">
                                    <td style="min-width:110px;max-width:110px;">{{item.PURCHASER}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.PLANT_NAME}} </td>
                                    <td style="min-width:90px;max-width:90px;">{{item.MATERIAL}} </td>
                                    <td style="min-width:210px;max-width:210px;">{{item.SHORT_TEXT}} </td>
                                    <td style="min-width:170px;max-width:170px;">{{item.API_NAME}} </td>
                                    <td style="min-width:170px;max-width:170px;">{{item.NAME_OF_SUPPLIER}} </td>
                                    <td style="min-width:100px;max-width:100px;">{{item.PR_CREATE_DATE1}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.PO_DATE1}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.PR_DELV_DATE1}}</td>
                                    <td style="min-width:110px;max-width:110px;">{{item.IDEAL_DELIVERY_DATE1}} </td>
                                    <td style="min-width:50px;max-width:50px;">{{item.ORDER_UNIT}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.PR_QUAN}} </td>
                                    <td style="min-width:100px;max-width:100px;">{{item.ORDER_QUANTITY | number : '0'}} </td>
                                    <td style="min-width:90px;max-width:90px;">{{item.STILL_TO_BE_DELIVERED_QTY | number : '0'}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.PR_NUMBER}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.PR_ITM_NO}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.PURCHASING_DOCUMENT}} </td>
                                    <td style="min-width:90px;max-width:90px;">{{item.ITEM}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.USER_ID}} </td>
                                    <td style="min-width:110px;max-width:110px;">{{item.MULTIPLE_PR_TEXT}} </td>
                                    <td style="min-width:90px;max-width:90px;">{{item.IMPORT_LOCAL}} </td>
                                    <td style="min-width:90px;max-width:90px;">{{item.LEAD_TIME}} </td>
                                    <td style="min-width:90px;max-width:90px;">{{item.CATEGORY}}</td>
                                    <td style="min-width:200px;max-width:200px;">
                                        <select ng-model="item.NWSTATUS" ng-disabled="true" title="{{item.NWSTATUS}}" ng-style="{'background-color':item.color}" style="width: 200px" class="form-control">
                                            <option value=''>Select</option>
                                            <option value='REVIEW PENDING' style="background-color:orangered">Review Pending</option>
                                            <option value='REVIEWED BUT ACTION PENDING' style="background-color:yellow">Reviewed But Action Pending</option>
                                            <option value='REVIEWED AND ACTION TAKEN' style="background-color:greenyellow">Reviewed And Action Taken</option>
                                        </select>
                                    </td>
                                    <td style="min-width:110px;max-width:110px;" data-title="''">
                                        {{item.COMMENTS}}
                                    </td>
                                </tr>
                                                        
                            </table>
                        </div>
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pull-left text-left">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('A', 'BOTTOM')"><i class="fas fa-arrow-alt-circle-left"></i></button>
                        </div>
                        <div class="col-md-4 center-block text-center">
                        </div>
                        <div class="col-md-4 pull-right text-right">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('Z', 'BOTTOM')"><i class="fas fa-arrow-alt-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>