<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    .white-box {
        font-family: 'Open Sans', sans-serif !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif !important;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="billToCtrl">

                <div class="white-box">
                    <div class="row col-md-12">
                        <div class="col-md-5">
                            <p class="sans_header">Project Bill To Configuration</p>
                        </div>
                        <div class="col-md-3">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-if="!addnewBillTo" ng-change="searchTable(searchKeyword)" ng-model="searchKeyword" type="text" placeholder="Search">
                        </div>
                        <div class="col-md-4">
                            <button ng-if="!addnewBillTo" ng-click="createShow()" class="common_btn btn-sm pull-right">Create</button>
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                    <fieldset ng-disabled="!showSaveButton">
                        <div class="row">
                            <div ng-if="addnewBillTo">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <label class="style-label">Legal Entity Name<span class="text-danger">*</span></label>
                                            <input type="text" name="projectname" ng-model="BILL_TO.LEGAL_ENTITY_NAME" id="legalEntityName" class="style_ip" placeholder="Please Enter Legal Entity Name" required />
                                            <div ng-if="LEGAL_ENTITY_NAME_VALIDATION">
                                                <span ng-if="LEGAL_ENTITY_NAME_VALIDATION" style="color:red">Please Enter Legal Entity Name</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="style-label">Address<span class="text-danger">*</span></label>
                                            <input type="text" ng-model="BILL_TO.ADDRESS" name="address" id="address" class="style_ip" placeholder="Please Enter Address" required />
                                            <div ng-if="ADDRESS_VALIDATION">
                                                <span ng-if="ADDRESS_VALIDATION" style="color:red">Please Enter Address</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="style-label">Spoc Email Address<span class="text-danger">*</span></label>
                                            <input type="text" ng-model="BILL_TO.SPOC_EMAIL_ADDRESS" name="spocEmailAddress" id="spocEmailAddress" class="style_ip" placeholder="Please Enter Spoc Email Address" required />
                                            <div ng-if="SPOC_EMAIL_ADDRESS_VALIDATION">
                                                <span ng-if="SPOC_EMAIL_ADDRESS_VALIDATION" style="color:red">Please Enter Spoc Email Address</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="style-label">Gst In<span class="text-danger">*</span></label>
                                            <input type="text" ng-model="BILL_TO.GSTIN" name="gstIn" id="gstIn" class="style_ip" placeholder="Please Enter Gst In" required />
                                            <div ng-if="GSTIN_VALIDATION">
                                                <span ng-if="GSTIN_VALIDATION" style="color:red">Please Enter Gst In</span>
                                            </div>
                                        </div>
                                        <div class="row">&nbsp;</div>
                                        <div class="row">&nbsp;</div>
                                        <div class="col-md-3">
                                            <label class="style-label">Pan<span class="text-danger">*</span></label>
                                            <input type="text" ng-model="BILL_TO.PAN" name="pan" id="pan" class="style_ip" placeholder="Please Enter Pan" required />
                                            <div ng-if="PAN_VALIDATION">
                                                <span ng-if="PAN_VALIDATION" style="color:red">Please Enter Pan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button class="common_btn btn" ng-if="showSaveButton" ng-click="saveProjectBillToDetails()">Save</button>
                                    <button class="cancel_button_cmn" ng-click="cancelProjectBillToDetails()">Cancel</button>
                                </div>
                            </div>

                            <br />
                            <div class="col-md-12">&nbsp;</div>
                            <div class="col-md-12 table-responsive" ng-if="!addnewBillTo">
                                <table class="table colliers_table">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th style="width:20%">Legal Entity Name</th>
                                            <th style="width:20%">Address</th>
                                            <th style="width:20%">Spoc Email Address</th>
                                            <th style="width:20%">Gst In</th>
                                            <th style="width:20%">Pan</th>
                                            <th style="width:20%; text-align:center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="billToDetail in ProjectBillToDetailsList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-if="!addnewtermsView">
                                            <td>{{billToDetail.LEGAL_ENTITY_NAME}}</td>
                                            <td>{{billToDetail.ADDRESS}}</td>
                                            <td>{{billToDetail.SPOC_EMAIL_ADDRESS}}</td>
                                            <td>{{billToDetail.GSTIN}}</td>
                                            <td>{{billToDetail.PAN}}</td>
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                                <a title="Edit " role="button" ng-click="editBillTo(billToDetail,'EDIT')" class="fa fa-edit"></a>
                                                <a role="button" ng-click="editBillTo(billToDetail,'VIEW')" title="View Terms"><i class="fas fa-eye"></i>  </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
