﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }

    li.ng-scope {
        cursor: pointer;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="cashFlowCtrl">
                <div class="white-box">
                    <div class="row"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <input ng-if="type == 'INVOICES'" ng-click="exportToExcel(type)" type="button" value="Export Invoice Excel" class='btn common_btn' />
                                <input ng-if="type == 'REVENUE'" ng-click="exportToExcel(type)" type="button" value="Export Revenue Excel" class='btn common_btn' />
                            </div>
                            <div class="col-md-3">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn common_btn btn-file m-r-10">
                                        <span ng-if="type == 'INVOICES'" class="fileinput-new">Upload Invoice Excel</span>
                                        <span ng-if="type == 'INVOICES'" class="fileinput-exists">Edit Invoice Excel</span>
                                        <span ng-if="type == 'REVENUE'" class="fileinput-new">Upload Revenue Excel</span>
                                        <span ng-if="type == 'REVENUE'" class="fileinput-exists">Edit Revenue Excel</span>
                                        <input type="file" accept=".xlsx" id="clientupload" itemscope="" itemid="clientupload" ng-file-select-items="onFileSelect($files)" />
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" style="color:#000;position:unset;padding:5px 0px 0px 5px;" data-dismiss="fileinput">&times;</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input ng-click="exportErrorDetails(type)" type="button" value="Error Log" class='btn common_btn' />
                            </div>
                            <div class="col-md-3">
                                <!--<h5><strong>Search</strong></h5>-->
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched"  ng-change="setPage(currentPage)" ng-model="filters.searchKeyword"
                                       ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                            <table id="testTable" class="table colliers_table" style="padding-right:0">
                                <thead>
                                    <tr>
                                        <th style="max-width:200px;" ng-repeat="columnName in tableColumns"><strong>{{columnName}}</strong></th>
                                        <!--<th style="max-width:200px;"><strong>Actions</strong></th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="value in rows">
                                        <td style="max-width:200px;min-width:79px;" ng-repeat="val in value.tableValues track by $index">{{val}}</td>
                                        <!--<td style="max-width:200px;">
                    <a class="fa fa-edit" role="button" style="margin-left:10px;" ng-click="editEachRecord(value)"></a>
                    <a class="fa fa-trash" role="button" style="margin-left:10px;" ng-click="EditDeleteRecord('DELETE',value)"></a>
                </td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                </div>




                <div class="modal fade" id="errorPopUp" ng-show="showErrorPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content" style="width:950px;">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel"><strong>Error List</strong></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table tablesaw table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Row Number</th>
                                                    <th style="text-align:center">Error Message</th>
                                                    <th style="text-align:center">Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in rowErrors">
                                                    <td style="text-align:center">{{item.ROW_NUMBER}}</td>
                                                    <td ng-bind-html="item.REASON"></td>
                                                    <td style="text-align:center">{{getDate(item.DATE_CREATED)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-5">
                                        <button class="btn btn-info btn-file btn-new-look col-md-3" ng-click="uploadExcel(type,1);">Continue</button>
                                        <button class="btn btn-link btn-file btn-new-look col-md-2" ng-click="cancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="white-box row" ng-if="showEdit">
                    <div class="col-md-12">
                        <h2><span class="text-warning">Edit Record</span></h2>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <label><strong>Se Number</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.SE_NUMBER" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Source Type</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.SOURCE_TYPE" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Product Category</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.PRODUCT_CATEGORY" />
                            </div>
                            <div class="row col-md-12">&nbsp;</div>
                            <div class="col-md-4">
                                <label><strong>Part Category</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.PART_CATEGORY" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Brand</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.BRAND" />
                            </div>
                            <div class="col-md-4">
                                <label><strong>Type Of Stock</strong></label>
                                <input type="text" class="form-control" ng-disabled="true"
                                       ng-model="editRecord.TYPE_OF_STOCK" />
                            </div>
                            <div class="row col-md-12">&nbsp;</div>
                            <div class="col-md-4">
                                <label><strong>First Priority Vendors</strong></label>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="editRecord.companyvendors"
                                             options="vendor.userID as vendor.firstName+' '+vendor.lastName+ ' '+vendor.sapVendorCode for vendor in vendorsList"
                                             change="setFilters(currentPage-1)">
                                </multiselect>
                            </div>
                            <div class="col-md-4">
                                <label><strong>Second Priority Vendors</strong></label>
                                <multiselect class="input-xlarge" multiple="true"
                                             ng-model="editRecord.companyvendors1"
                                             options="vendor.userID as vendor.firstName+' '+vendor.lastName+ ' '+vendor.sapVendorCode for vendor in vendorsList"
                                             change="setFilters(currentPage-1)">
                                </multiselect>
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-7 pull-right">
                                    <button class="btn btn-info col-md-2" ng-click="EditDeleteRecord('EDIT');">Edit</button>
                                    <button class="btn btn-info col-md-2" ng-click="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
