<!--<header id="header"  data-ng-include src="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include src="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>





</section>

<footer id="footer" data-ng-include src="'template/footer.html'"></footer>-->

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <section data-ui-view></section>
                </div>
            </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>