﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="widget">
                    <div class="white-box" data-ng-controller="comparativesCtrl">
                        <div ng-show="!download.isPageLoaded">
                            <h4 class="text-warning">Please Wait.... data is getting generated to Excel.</h4>
                        </div>
                        <div ng-show="download.isPageLoaded">
                            <h4 class="text-success" >Data Got downloaded into the excel successfully. Please reload the page to download it again.</h4>
                        </div>
                        <div class="row" ng-show="false">
                            <div class="col-md-6">
                                <h2 class="pull-left">Comparisons</h2>
                            </div>
                        </div>

                        <div class="white-box" ng-show="false">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-info" onclick="tableToExcel('testTable', 'Comparitives')" value="Export to Excel"><i class="fa fa-download" aria-hidden="true"></i> Export to Excel</button>
                                    </div>
                                </div>
                                <div class="table-responsive" double-scroll-bar-horizontal>
                                    <table class="table table-vmiddle table-bordered" id="testTable" style="width:100%;">
                                        <tr>
                                            <td style="border: 1px solid black" colspan="8"></td>
                                            <td ng-style="{'background-color': '{{vendors.COLOR}}'}" style="border:1px solid black" ng-repeat="vendors in uniqueFirstFiveBidVendors">
                                                {{vendors.BID_NUMBER}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid black" colspan="8"></td>
                                            <td ng-style="{'background-color': '{{vendors.COLOR}}'}" style="border:1px solid black" ng-repeat="vendors in uniqueFirstFiveBidVendors">
                                                {{vendors.COMP_NAME}}
                                            </td>
                                        </tr>
                                        <tr style="background-color:#01408d;color:white">
                                            <td style="border: 1px solid black;">Project Name</td>
                                            <td style="border: 1px solid black;">Packages</td>
                                            <td style="border: 1px solid black;">Sub-Package</td>
                                            <td style="border: 1px solid black;">Sub Category</td>
                                            <td style="border: 1px solid black;">Description</td>
                                            <td style="border: 1px solid black;">Location</td>
                                            <td style="border: 1px solid black;">Unit</td>
                                            <td style="border: 1px solid black">Quantity</td>
                                            <td style="border:1px solid black" ng-repeat="vendors in uniqueFirstFiveBidVendors track by $index">
                                                <table class="table">
                                                    <tr style="background-color: #01408d;color: white">
                                                        <td style="text-align:left">Rate</td>
                                                        <td style="text-align:left">Amount</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-init='next = $index + 1' ng-repeat-start="vendors in subPackagesGroupWithSubCategoryArr">
                                            <td style="border: 1px solid black;">{{vendors.PROJECT_NAME}}</td>
                                            <td style="border: 1px solid black;">{{vendors.PROD_NO}}</td>
                                            <td style="border: 1px solid black;">{{vendors.PROD_ID}}</td>
                                            <td style="border: 1px solid black;">{{vendors.BRAND}}</td>
                                            <td style="border: 1px solid black;">{{vendors.PROD_CODE}}</td>
                                            <td style="border: 1px solid black;">{{vendors.DELIERY_DETAILS}}</td>
                                            <td style="border: 1px solid black;">{{vendors.QUANTITY_IN}}</td>
                                            <td style="border: 1px solid black; text-align: right;">{{vendors.QUANTITY}}</td>
                                            <td style="border:1px solid black" ng-repeat="vend in vendors.VENDORS" ng-if="vendors.VENDORS.length > 0">
                                                <table class="table">
                                                    <tr>
                                                        <td style="text-align:right;">{{vend.PRICE}}</td>
                                                        <td style="text-align: right;">{{vend.PRICE * vendors.QUANTITY | number : companyRoundingDecimalSetting}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr style="background-color:aqua" ng-repeat-end ng-if="!subPackagesGroupWithSubCategoryArr[next] || (subPackagesGroupWithSubCategoryArr[next].BRAND != vendors.BRAND)">
                                            <td style="border:1px solid black" colspan="8">Sub Total for {{vendors.BRAND}}</td>
                                            <td style="border: 1px solid black; " ng-repeat="vend in vendors.VENDORS">
                                                <table class="table">
                                                    <tr>
                                                        <td style="text-align:right"></td>
                                                        <td colspan="1" style="text-align:right">{{getSubTotal(vendors.PROD_ID,vendors.BRAND,vend) | number :companyRoundingDecimalSetting }}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tfoot>
                                            <tr>
                                                <th style="background-color: lightcoral; border: 1px solid black" colspan="8">Total Exclusive of Tax</th>
                                                <td style="border: 1px solid black;" ng-repeat="vend in uniqueFirstFiveBidVendors">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="text-align:right"></td>
                                                            <td colspan="1" style="text-align: right">{{getTotal(vend) | number :companyRoundingDecimalSetting}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="background-color: lightcoral; border: 1px solid black" colspan="8">Tax Amount</th>
                                                <td style="border: 1px solid black; border-bottom: 1px solid black" ng-repeat="vend in uniqueFirstFiveBidVendors">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="text-align:right"></td>
                                                            <td colspan="1" style="text-align: right">{{getGstAmount(vend) | number :companyRoundingDecimalSetting }}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="background-color: lightcoral; border: 1px solid black" colspan="8">Total Inclusive of Tax</th>
                                                <td style="border: 1px solid black;" ng-repeat="vend in uniqueFirstFiveBidVendors">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="text-align:right"></td>
                                                            <td colspan="1" style="text-align: right;">{{getTotalPrice(vend) | number :companyRoundingDecimalSetting }}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>