﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .header-cards .col-md-1 {
        width: 10%;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="freshdeskTicketsCtrl">
                <div class="white-box" style="padding-top:10px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <label class="col-md-12">Date Filter</label>

                                <select ng-model="filterDataByDates" ng-change="setFilters();" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                    <option value="created">Created at</option>
                                    <option value="updated">Updated at</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="clientFromDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="clientFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="clientToDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="clientToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">

                                <br /> <button ng-click="responderTicket=[];getTicket(1);" class="btn-sm common_btn">Submit</button>

                            </div>
                            <div class="col-md-1">
                                <label class="col-md-12">Date</label>

                                <select ng-model="dateFilter" ng-change="setFilters();" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                    <option selected value="">All</option>
                                    <option value="today">Today</option>
                                    <option value="yesterday">Yesterday</option>
                                    <option value="lastWeek">Last 7 days</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">Status</label>

                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="selectedStatus"
                                                 options="s for s in statusList"
                                                 change="setFilters()"></multiselect>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div>
                                    <label class="col-md-12">Type</label>

                                    <multiselect class="input-xlarge" multiple="true"
                                                 ng-model="selectedtype"
                                                 options="type for type in filterList.issueTypeList"
                                                 change="setFilters()"></multiselect>
                                </div>

                            </div>
                            <!--<div class="col-md-2">
                <div>
                    <label class="col-md-12">Tags</label>

                    <multiselect class="input-xlarge" multiple="true"
                                 ng-model="selectedTags"
                                 options="tag for tag in filterList.tagsList"
                                 change="setFilters()"></multiselect>
                </div>

            </div>-->





                        </div>

                    </div>



                    <br />

                    <div class="row">
                        <div class="col-md-12 header-cards">
                            <div class="col-md-3">
                                <select ng-model="supportFilter" ng-change="setFilters();" class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                    <option selected value="">All(Support)</option>
                                    <option value="vendor">Vendor Support</option>
                                    <option value="customer">Customer Support</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" style="font-size:18px" class="btn btn-success" ng-click="source='Portal';setFilters()">
                                    Portal :: <span style="color:black;font-size:15px" class="badge badge-success">{{sourceCount['2'] ||0}}</span>
                                </button>
                            </div>

                            <div class="col-md-2">
                                <button type="button" style="font-size:18px" class="btn btn-danger" ng-click="source='Phone';setFilters()">
                                    Phone :: <span style="color:black;font-size:15px" class="badge badge-danger">{{sourceCount['3']||0 }}</span>
                                </button>
                            </div>

                            <div class="col-md-2">
                                <button type="button" style="font-size:18px" class="btn btn-warning" ng-click="source='Chat';setFilters()">
                                    Chat :: <span style="color:black;font-size:15px" class="badge badge-warning">{{sourceCount['7']||0 }}</span>
                                </button>
                            </div>


                            <div class="col-md-3">
                                <button type="button" style="font-size:18px" class="btn btn-primary" ng-click="source='Feedback Widget';setFilters()">
                                    Feedback Widget :: <span style="color:black;font-size:15px" class="badge badge-primary">{{sourceCount['9'] ||0}}</span>
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                        <div class="row">
                  
                            <div class="col-md-3">
                                <button type="button" style="font-size:18px" class="btn btn-success" ng-click="source='Outbound Email';setFilters()">
                                    Outbound Email :: <span style="color:black;font-size:15px" class="badge badge-success">{{sourceCount['10'] ||0}}</span>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button type="button" style="font-size:18px" class="btn btn-warning" ng-click="source='Email';setFilters();">
                                    Inbound Email :: <span style="color:black;font-size:15px" class="badge badge-warning">{{sourceCount['1']||0}}</span>
                                </button>
                            </div>

                        </div>
                        <br />
                        <div class="col-md-12" style="border:1px solid #e4e7ea; border-radius:4px; color:#606261; padding:4px 10px 5px 10px;height:3.5rem;">
                            <span style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;" ng-repeat="cl in filteredList track by $index" ng-if="cl!='' && cl!=[] && cl!='All';">{{cl}}</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="table-responsive">
                                    <table class="table table-fixed colliers_table">
                                        <thead>
                                            <tr>
                                                <th>Ticket No.</th>
                                                <th>Support</th>
                                                <th>Agent Name</th>
                                                <th>Priority</th>
                                                <th>Status</th>
                                                <!--<th>Tag</th>-->
                                                <th>Issue Type</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>source</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="responder in responderTicket.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                <td><a href="https://support.prm360.com/a/tickets/{{responder.tickectID}}" target="_blank">{{responder.tickectID}}</a></td>
                                                <td>{{responder.groupName}}</td>
                                                <td>{{responder.responderName}}</td>
                                                <td>{{responder.priority}}</td>
                                                <td>{{responder.status}}</td>
                                                <!--<td>{{responder.tags[0]}}</td>-->
                                                <td>{{responder.type}}</td>
                                                <td>{{responder.created_at}}</td>
                                                <td>{{responder.updated_at}}</td>
                                                <td>{{responder.sourceName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                </div>
                            </div>

                        </div>



                    </div>

                </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>