﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }
    b {
        font-family: 'Open Sans', sans-serif !important;
        color:black;
        font-size:13px;
    }
    .b_position {
        position: relative;
        top: 5px;
    }

</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div data-ng-controller="auctionsCtrl">

                    <div class="row bg-title top-grid">
                        <div class="col-sm-3 col-md-6 col-lg-4 col-xs-12">
                            <a class="visible-xs range-btn" role="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Filter<span class="caret"></span></a>
                            <form class="form-material form-horizontal select-range-form collapse" id="collapseExample1">
                                <div class="row">
                                    <div class="col-md-2 hidden-xs">
                                        <b>Select Range</b>
                                    </div>
                                    <div class="col-md-4 p-r-0 p-l-0">
                                        <div class="form-group">
                                            <label class="col-md-12">From date</label>
                                            <div class="col-md-10" moment-picker="dashboardFromDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.fromDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-r-0 p-l-0">
                                        <div class="form-group">
                                            <label class="col-md-9">To date</label>
                                            <div class="col-md-10 p-r-0" moment-picker="dashboardToDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.toDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 p-l-0"><button class="btn btn-danger waves-effect waves-light" ng-click="GetDashboardFilters();" style="padding: 5px 12px;border-radius:5px">Apply</button></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-2 col-xs-12 p-0" ng-show="!isVendor">
                            <div class="row">
                                <div class="form-group p-0">
                                    <!--<div class="col-md-1 p-0"></div>-->

                                    <div class="col-md-3 hidden-xs p-l-0">
                                        <b>Select Department</b>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                    <div class="col-md-7 p-r-0">
                                        <select chosen name="ListUserDepartmentDesignations" ng-model="SelectedDeptId"
                                                ng-options="udd.deptID as udd.deptCode for udd in ListUserDepartmentDesignations" required class="form-control-dropdown"
                                                ng-change="changeUserDepartmentDesignation();"></select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-6 col-xs-12" ng-show="!isVendor">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <input class="form-control" ng-change="setFilters();" ng-model="filters.searchKeyword" ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                    </div>
                                    <div class="col-md-3">
                                        <!--<button class="btn-sm common_btn" ng-click="!isVendor?goToProjectStatus():''">Project Status</button>-->
                                    </div>
                                    <div class="col-md-4 p-l-0">
                                        <button class="btn-sm common_btn" ng-show="isUserEntitled(591164)" ng-click="!isVendor && isUserEntitled(591164)?goToPendingApprovals():''">Pending Approvals: {{totalPendingApprovals}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row bg-title top-grid">
                        <div class="row">
                            <div class="col-md-3 p-r-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-4 p-r-0">
                                        <b class="b_position">Cost Center </b>
                                    </div>
                                    <div class="col-md-7 p-l-0">
                                        <select class="form-control" style="font-size:14px;" ng-model="filters.costCenter" name="costcenter" required>
                                            <option value="" selected>All</option>
                                            <option value="DB_south">DB South</option>
                                            <option value="DB_north">DB North</option>
                                            <option value="DB_mid">DB Mid</option>
                                            <option value="PMC_North">PMC North</option>
                                            <option value="PMC_Mid">PMC Mid</option>
                                            <option value="PMC_South">PMC South</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-2 p-l-0">
                                        <b class="b_position">Location</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" style="font-size:14px;" id="location" name="location" ng-model="filters.location" ng-options="loc.value as loc.value for loc in filtersList.location" ng-change="getDashboardData();">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-2 p-l-0">
                                        <b class="b_position">Client</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" style="font-size:14px;" id="client" name="client" ng-model="filters.client" ng-options="cli.value as cli.value for cli in filtersList.client">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-4 p-l-0 p-r-0">
                                        <b class="b_position">Project Code</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" id="projCode" style="font-size:14px;" name="projCode" ng-model="filters.projectCode" ng-options="pCode.value as pCode.value for pCode in filtersList.projectCode">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-md-6 text-right">
                                <label class="badge badge-success" for='radioLabel'>
                                    <input id='radioLabel' name='radioLabel' type='radio' class='form-check-input'
                                           ng-model="type.LEVEL"
                                           value="1"
                                           ng-click="getType()" />Over All
                                </label>
                            </div>
                            <div class="col-md-6 text-left">
                                <label class="badge badge-warning" for='radioLabel'>
                                    <input id='radioLabel' name='radioLabel' type='radio' class='form-check-input'
                                           ng-model="type.LEVEL"
                                           ng-click="getType()"
                                           value="0" />Project
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>