﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="white-box" ng-controller="incoTermsCtrl">

                    <div class="pmb-block">
                        <div class="row pmbb-header">
                            <div class="col-md-6">
                                <h2> <i class="zmdi zmdi-view-list"></i> Active Incoterms</h2>
                            </div>
                            
                            <div class="col-md-6">
                                <button class="btn btn-info pull-right" ng-click="editIncoTerm(incoTerm);">
                                    <b><i class="zmdi zmdi-plus m-r-5"></i> New Incoterm</b>
                                </button>
                            </div>
                            <div ng-if="editIncoTermForm">
                                <div class="col-md-12">
                                    <div class="form-group fg-float col-md-3 m-b-30 ">
                                        <label>Freight</label>
                                        <select ng-model="$scope.incoTerm.freight" class="form-control" style="margin:5px">
                                            <option selected value="">Select</option>
                                            <option value="User">User</option>
                                            <option value='Vendor'>Vendor</option>
                                            <option value='Optional'>Optional</option>
                                        </select>
                                    </div>
                                    <div class="form-group fg-float col-md-3 m-b-30 ">
                                        <label>Packaging and Forwarding</label>
                                        <select ng-model="$scope.incoTerm.packaging" class="form-control" style="margin:5px">
                                            <option selected value="">Select</option>
                                            <option value="User">User</option>
                                            <option value='Vendor'>Vendor</option>
                                            <option value='Optional'>Optional</option>
                                        </select>
                                    </div>
                                    <div class="form-group fg-float col-md-3 m-b-30 ">
                                        <label>Mislaneous</label>
                                        <select ng-model="$scope.incoTerm.misalenous" class="form-control" style="margin:5px">
                                            <option selected value="">Select</option>
                                            <option value="User">User</option>
                                            <option value='Vendor'>Vendor</option>
                                            <option value='Optional'>Optional</option>
                                        </select>
                                    </div>
                                    <div class="form-group fg-float col-md-3 m-b-30 ">
                                        <label>Insurance</label>
                                        <select ng-model="$scope.incoTerm.insurance" class="form-control" style="margin:5px">
                                            <option selected value="">Select</option>
                                            <option value="User">User</option>
                                            <option value='Vendor'>Vendor</option>
                                            <option value='Optional'>Optional</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-info btn-file btn-new-look" ng-click="saveIncoTerm()">Save </button>
                                        <button class="btn btn-link btn-file btn-new-look" ng-click="closeIncoTerm()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class="pmbb-body">
                            <div class="table-responsive z-depth-2">
                                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th style="width:10%">Incoterm</th>
                                            <th style="width:20%">Freight</th>
                                            <th style="width:20%">Packaging and Forwarding</th>
                                            <th style="width:20%">Mislaneous</th>
                                            <th style="width:20%">Insurance</th>
                                            <th style="width:10%;">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!--{{incoTerm.CIF}}-->
                                                CIF
                                            </td>
                                            <td>
                                                <!--{{incoTerm.User}}-->
                                                User
                                            </td>
                                            <td>
                                                <!--{{incoTerm.Optional}}-->
                                                Optional
                                            </td>
                                            <td>
                                                <!--{{incoTerm.Vendor}}-->
                                                Vendor
                                            </td>
                                            <td>
                                                <!--{{incoTerm.User}}-->
                                                User
                                            </td>
                                            <td>
                                                <a ng-click="deleteIncoTerm(incoTerm.incoTermID)" title="De-Activate"><i class="fas fa-trash-alt "></i></a>&nbsp;
                                                <a title="Edit" role="button" ng-click="editIncoTerm(incoTerm);" class="fa-edit fa" style="width:30px; height:30px"></a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>

                        
                    </div>


                    <div class="pmb-block">
                        <div class="pmbb-header">
                            <h2><i class="zmdi zmdi-view-list"></i> Inactive Incoterms</h2>
                        </div>
                        <div class="pmbb-body">
                            <div class="table-responsive z-depth-2">
                                <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th style="width:10%">Incoterm</th>
                                            <th style="width:20%">Freight</th>
                                            <th style="width:20%">Packaging and Forwarding</th>
                                            <th style="width:20%">Mislaneous</th>
                                            <th style="width:20%">Insurance</th>
                                            <th style="width:10%">Activate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!--{{incoTerm.CIF}}-->
                                                CIF
                                            </td>
                                            <td>
                                                <!--{{incoTerm.User}}-->
                                                User
                                            </td>
                                            <td>
                                                <!--{{incoTerm.Optional}}-->
                                                Optional
                                            </td>
                                            <td>
                                                <!--{{incoTerm.Vendor}}-->
                                                Vendor
                                            </td>
                                            <td>
                                                <!--{{incoTerm.User}}-->
                                                User
                                            </td>
                                            <td data-title="'Activate'">
                                                <a role="button" ng-click="activateIncoTerm(incoTerm.incoTermID)" class="text-center" title="Activate"><i class="fas fa-check-circle"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>