﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .newcard {
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
        box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

        .newcard .newcard-block {
            padding: 1.25rem;
        }

    .f-w-700 {
        font-weight: 700;
    }

    .text-c-green {
        color: #a4f60a;
    }

    .text-c-light-pink {
        color: #ff5370;
    }

    .text-c-yellow {
        color: #ffd800;
    }

    .text-c-blue {
        color: #2e06f7;
    }

    .text-c-dark-pink {
        color: #fb08da;
    }

    .text-c-dark-sandy-brown {
        color: #f4a460;
    }

    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }

    b {
        font-family: 'Open Sans', sans-serif !important;
        color: black;
        font-size: 13px;
    }

    .b_position {
        position: relative;
        top: 5px;
    }

    rect.highcharts-point.highcharts-color-1, rect.highcharts-point.highcharts-color-0, rect.highcharts-point.highcharts-color-2, rect.highcharts-point.highcharts-color-3, rect.highcharts-point.highcharts-color-4,
    rect.highcharts-point.highcharts-color-5, rect.highcharts-point.highcharts-color-6, rect.highcharts-point.highcharts-color-7 {
        width: 20px !important;
    }

    rect.highcharts-point {
        width: 10px !important;
        border-radius: 50%;
    }

    .white-box {
        box-shadow: 0 1em 2rem 0 rgb(136 152 170 / 15%) !important;
    }

    .custom_bg {
        background: #f8f9fe !important;
    }

    .white-box:hover {
        box-shadow: 2em 1em 2rem 0 rgb(136 152 170 / 15%) !important;
/*        transform: scale(1.01);
        transition: ease-in-out;*/
    }

    .custom_card {
        padding: 5px;
        border-left: 2px solid #70c1f4;
    }

    .custom_card2 {
        padding: 5px;
        border-left: 2px solid #ff5370;
    }

    .custom_card3 {
        padding: 5px;
        border-left: 2px solid #ffd800;
    }
    .custom_card4 {
        padding: 5px;
        border-left: 2px solid #00acc0;
    }
    .header_p {
        font-size: 14px;
        color: #2e06f7;
        font-weight:bold !important;
    }

    .header_p2 {
        color: #ff5370;
    }

    .card_img {
        height: 45px;
        position: relative;
        bottom: 5px;
        position:relative;
        top:5px;
    }

    .sub_header_p {
        color: #2e06f7;
        font-size: 23px;
        font-weight: 900;
        word-break: break-all;
        line-height: 1.2;
    }

    .sub_header_p2 {
        color: #ff5370;
    }

    .card_img2 {
        height: 40px;
        position: relative;
    }

    .custom_card3 {
        padding: 5px;
        border-left: 2px solid #4ab029;
    }

    .header_p3 {
        color: #4ab029;
    }

    .sub_header_p3 {
        color: #4ab029;
    }
    .header_p4 {
        color: #00acc0;
    }
    .sub_header_p4 {
        color: #00acc0;
    }
    /*    .header_p:hover, .sub_header_p:hover {
        color: #525f7f !important;
        cursor: pointer;
        transition-timing-function: ease-in-out;
    }*/

</style>



<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div data-ng-controller="auctionsCtrl">

                    <div class="row bg-title top-grid custom_bg" ng-if="hideFilters">
                        <div class="col-sm-3 col-md-6 col-lg-4 col-xs-12">
                            <a class="visible-xs range-btn" role="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Filter<span class="caret"></span></a>
                            <form class="form-material form-horizontal select-range-form collapse" id="collapseExample1">
                                <div class="row">
                                    <div class="col-md-2 hidden-xs">
                                        <b>Select Range</b>
                                    </div>
                                    <div class="col-md-4 p-r-0 p-l-0">
                                        <div class="form-group">
                                            <label class="col-md-12">From date</label>
                                            <div class="col-md-10" moment-picker="filterDate.fromDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.fromDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-r-0 p-l-0">
                                        <div class="form-group">
                                            <label class="col-md-9">To date</label>
                                            <div class="col-md-10 p-r-0" moment-picker="filterDate.toDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.toDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 p-l-0"><button class="btn btn-danger waves-effect waves-light" ng-click="GetDashboardFilters();" style="padding: 5px 12px;border-radius:5px">Apply</button></div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row bg-title top-grid custom_bg">
                        <div class="row" ng-show="hideFilters">
                            <div class="col-md-3 p-r-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-4 p-r-0">
                                        <b class="b_position">Cost Center </b>
                                    </div>
                                    <div class="col-md-7 p-l-0">
                                        <select class="form-control" style="font-size:14px;" ng-model="filters.costCenter" name="costcenter" required ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                            <option value="DB_south">DB South</option>
                                            <option value="DB_north">DB North</option>
                                            <option value="DB_mid">DB Mid</option>
                                            <option value="PMC_North">PMC North</option>
                                            <option value="PMC_Mid">PMC Mid</option>
                                            <option value="PMC_South">PMC South</option>
                                            <option value="Fitout-General">Fitout-General</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-2 p-l-0">
                                        <b class="b_position">Location</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" style="font-size:14px;" id="location" name="location" ng-model="filters.location" ng-options="loc.value as loc.value for loc in filtersList.location" ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-2 p-l-0">
                                        <b class="b_position">Client</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" style="font-size:14px;" id="client" name="client" ng-model="filters.client" ng-options="cli.value as cli.value for cli in filtersList.client" ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-4 p-l-0 p-r-0">
                                        <b class="b_position">Project Code</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" id="projCode" style="font-size:14px;" name="projCode" ng-model="filters.projectCode" ng-options="pCode.value as pCode.value for pCode in filtersList.projectCode" ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <div class="col-md-6 text-right">
                                <label class="badge badge-success" for='radioLabel'>
                                    <input id='radioLabel' name='radioLabel' type='radio' class='form-check-input'
                                           ng-model="type.LEVEL"
                                           value="1"
                                           ng-click="getType('OVERALL');hideFilterSection('1')" />Over All
                                </label>
                            </div>
                            <div class="col-md-6 text-left">
                                <label class="badge badge-warning" for='radioLabel'>
                                    <input id='radioLabel' name='radioLabel' type='radio' class='form-check-input'
                                           ng-model="type.LEVEL"
                                           ng-click="getType('PROJECTS');hideFilterSection('0')"
                                           value="0" /> Project
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 custom_bg p-0" ng-if="+type.LEVEL === 1">
                        <div style="display:flex;">
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/project.png" class="pull-right card_img"></div>
                                <p class="text-center header_p">Total Budget Approved Projects</p>
                                <p class="text-center sub_header_p">{{projectStats.TOTAL_BUDGET_APPROVED_PROJECTS}}</p>
                            </div>
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/RFQ.png" class="pull-right card_img"></div>
                                <p class="text-center header_p">Total RFQ's Released</p>
                                <p class="text-center sub_header_p">{{projectStats.TOTAL_RFQS_RELEASED}}</p>
                            </div>
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/pending.png" class="pull-right card_img"></div>
                                <p class="text-center header_p">Pending RFQs for Award Recommendation</p>
                                <p class="text-center sub_header_p">{{projectStats.PENDING_RFQS_AWARD_RECOMMEND}}</p>
                            </div>
                        </div>

                        <div style="display:flex;">
                            <div class="white-box custom_card2 col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/award.png" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p2">Sub-Packages Awarded</p>
                                <p class="text-center sub_header_p sub_header_p2">{{projectStats.SUB_PACKAGES_AWARDED}} / {{projectStats.TOTAL_SUB_PACKAGES_AWARDED}}</p>
                            </div>
                            <div class="white-box custom_card2 col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/PO.jpg" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p2">Released PO's</p>
                                <p class="text-center sub_header_p sub_header_p2">{{projectStats.RELEASED_PO_COUNT}}</p>
                            </div>
                            <div class="white-box custom_card2 col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/pendingbill.png" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p2">Pending Certified Bills</p>
                                <p class="text-center sub_header_p sub_header_p2">{{projectStats.PENDING_BILLS}}</p>
                            </div>
                        </div>

                        <div style="display:flex;">
                            <div class="white-box custom_card3 col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/pendingInvoice.png" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p3">Pending Invoices for Approval</p>
                                <p class="text-center sub_header_p sub_header_p3">{{projectStats.PENDING_INVOICES_COUNT}}</p>
                            </div>
                            <div class="white-box custom_card3 col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/cashflow.png" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p3">Total Cash Flow</p>
                                <p class="text-center sub_header_p sub_header_p3">{{projectStats.TOTAL_CASH_FLOW}}</p>
                            </div>
                            <div class="col-md-4 col-sm-12 m-r-10">
                                       <!--white-box custom_card3-->
                                <!--<div><img src="img/cycletime.jpg" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p3">Average Project Cycle Time</p>
                                <p class="text-center sub_header_p sub_header_p3">{{projectStats.PENDING_BILLS}}</p>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 custom_bg" ng-if="+type.LEVEL === 1">
                        <div class="row">

                            <!--#################CHETAN UI FOR CARD START####################-->
                            <!--#################CHETAN UI FOR CARD START####################-->
                            <!--<div class="col-xl-12 col-md-12">
        <div class="newcard custom_bg">
            <div class="newcard-block">
                <div class="row">
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-green" style="border-right: 1px solid">
                        <h4 class="text-c-green text-center"><strong>Total Budget Approved Projects</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-green"><strong>{{projectStats.TOTAL_BUDGET_APPROVED_PROJECTS}}</strong></span></h5>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-light-pink" style="border-right: 1px solid">
                        <h4 class="text-c-light-pink text-center"><strong>Total RFQ's Released</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-light-pink"><strong>{{projectStats.TOTAL_RFQS_RELEASED}}</strong></span></h5>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-yellow">
                        <h4 class="text-c-yellow text-center"><strong>Pending RFQs for Award Recommendation</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-yellow"><strong>{{projectStats.PENDING_RFQS_AWARD_RECOMMEND}}</strong></span></h5>
                    </div>
                </div>
                <div class="row">
                    <hr color="tomato" noshade>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-blue" style="border-right: 1px solid">
                        <h4 class="text-c-blue text-center"><strong>Sub-Packages Awarded</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-blue"><strong>{{projectStats.SUB_PACKAGES_AWARDED}}</strong></span></h5>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-dark-sandy-brown" style="border-right: 1px solid">
                        <h4 class="text-c-dark-sandy-brown text-center"><strong>Released PO's</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-dark-sandy-brown"><strong>{{projectStats.RELEASED_PO_COUNT}}</strong></span></h5>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-dark-sandy-brown">
                        <h4 class="text-c-dark-sandy-brown text-center"><strong>Pending Certified Bills</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-dark-sandy-brown"><strong>{{projectStats.PENDING_BILLS}}</strong></span></h5>
                    </div>
                </div>
                <div class="row">
                    <hr color="springgreen" noshade>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-sm-12 col-md-4" style="border-right: 1px solid">
                        <h4 class="text-center"><strong>Pending Invoices for Approval</strong></h4>
                        <h5 class="f-w-700 text-center"><span class=""><strong>{{projectStats.PENDING_INVOICES_COUNT}}</strong></span></h5>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-dark-sandy-brown" style="border-right: 1px solid">
                        <h4 class="text-c-dark-sandy-brown text-center"><strong>Total Cash Flow</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-dark-sandy-brown"><strong>{{projectStats.TOTAL_CASH_FLOW}}</strong></span></h5>
                    </div>
                    <div class="col-xl-3 col-sm-12 col-md-4 text-c-dark-sandy-brown">
                        <h4 class="text-c-dark-sandy-brown text-center"><strong>Average Project Cycle Time</strong></h4>
                        <h5 class="f-w-700 text-center"><span class="text-c-dark-sandy-brown"><strong>{{projectStats.PENDING_BILLS}}</strong></span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
                            <!--#################CHETAN UI FOR CARD END####################-->
                            <!--#################CHETAN UI FOR CARD END####################-->
                            <div class="col-xl-6 col-md-6">
                                <div class="newcard">
                                    <h3 class="box-title " ng-if="!purchaseVolumePerBuyerChartShow">Purchase Volume Per Buyer</h3>
                                    <hc-chart id="purchaseVolume" options="purchaseVolumePerBuyer" ng-if="purchaseVolumePerBuyerChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!purchaseVolumePerBuyerChartShow"> Currently there no purchasers to display.</h4>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="newcard">
                                    <h3 class="box-title " ng-if="!revenueChartShow">Revenue</h3>
                                    <hc-chart id="revenue" options="revenueStats" ng-if="revenueChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!revenueChartShow"> Currently there no Revenues to display.</h4>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class=" col-md-12 custom_bg" ng-if="+type.LEVEL === 0" style="padding:10px 0px;margin-bottom:10px">
                        <div class="row">
                            <div class="col-xl-12 col-md-4">
                                <div class="col-md-12">
                                    <span><strong>Search Projects</strong></span>
                                    <br />
                                    <input type="text" name="projects" ng-model="searchValue.projects" ng-change="filterProjects(searchValue.projects)" id="projects" class="form-control" ng-model-options="{debounce:1000}" placeholder="Search Projects with Project ID" />
                                </div>
                                <div id="tableHeight" class="col-md-12" ng-show="searchValue.projects && projectCodeTemp.length > 0 && !isProjectSelected"
                                     ng-style="searchValue.projects && projectCodeTemp.length > 0 && {'height':{{height}}'px','max-height': '250px','overflow-y': 'auto'}">
                                    <table class="table table-bordered colliers_table">
                                        <tbody>
                                            <tr ng-repeat="project in projectCodeTemp">
                                                <td style="cursor:pointer" ng-click="populateProject(project)">{{project.value}}</td>
                                                <!--<td>{{}}</td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row custom_bg" ng-show="searchValue.projects && projectCodeTemp.length > 0 && isProjectSelected">
                            <div class="col-xl-12 col-md-12">
                                <!--##################CHETAN UI START FOR CARD #############################-->
                                <!--##################CHETAN UI START FOR CARD #############################-->
                                <!--<div class="newcard">
                                    <div class="newcard-block">
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-12 col-md-4 text-c-green" style="border-right: 1px solid">
                                                <h5 class="text-c-green text-center"><strong>Colliers PO Value</strong></h5>
                                                <p class="f-w-700 text-center"><span class="text-c-green" title="{{projectStats.PROJECT_LEVEL_PO_VALUE | number: companyRoundingDecimalSetting}}"><strong>{{projectStats.PROJECT_LEVEL_PO_VALUE | number: companyRoundingDecimalSetting}}</strong></span></p>
                                            </div>
                                            <div class="col-xl-3 col-sm-12 col-md-4 text-c-light-pink" style="border-right: 1px solid">
                                                <h4 class="text-c-light-pink text-center"><strong>Targeted Revenue Budget</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class="text-c-light-pink"><strong>{{projectStats.TARGETED_REVENUE_BUDGET | number: companyRoundingDecimalSetting}}</strong></span></h5>
                                            </div>
                                            <div class="col-xl-3 col-sm-12 col-md-4 text-c-yellow">
                                                <h4 class="text-c-yellow text-center"><strong>Sub Packages Pending for Award Recommendation</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class="text-c-yellow"><strong>{{projectStats.SUB_PACKAGES_PENDING_FOR_AWARD_RECOMMENDATION}}</strong></span></h5>
                                            </div>



                                        </div>
                                        <div class="row">
                                            <hr color="tomato" noshade>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-12 col-md-4 text-c-blue" style="border-right: 1px solid">
                                                <h4 class="text-c-blue text-center"><strong>Sub Package Awarded</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class="text-c-blue"><strong>{{projectStats.SUB_PACKAGES_AWARDED}}</strong></span></h5>
                                            </div>
                                            <div class="col-xl-3 col-sm-12 col-md-4 text-c-dark-sandy-brown" style="border-right: 1px solid">
                                                <h4 class="text-c-dark-sandy-brown text-center"><strong>PO Released</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class="text-c-dark-sandy-brown"><strong>{{projectStats.RELEASED_PO_COUNT}}</strong></span></h5>
                                            </div>
                                            <div class="col-xl-3 col-sm-12 col-md-4 text-c-dark-sandy-brown">
                                                <h4 class="text-c-dark-sandy-brown text-center"><strong>Sub Packages Pending for RFQ</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class="text-c-dark-sandy-brown"><strong>{{projectStats.SUB_PACKAGES_PENDING_FOR_RFQ}}</strong></span></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr color="springgreen" noshade>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-12 col-md-4" style="border-right: 1px solid">
                                                <h4 class="text-center"><strong>Approved Certified Bills</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class=""><strong>{{projectStats.APPROVED_BILLS}}</strong></span></h5>
                                            </div>
                                            <div class="col-xl-3 col-sm-12 col-md-4" style="border-right: 1px solid">
                                                <h4 class="text-center"><strong>Pending Certified Bills</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class=""><strong>{{projectStats.PENDING_BILLS}}</strong></span></h5>
                                            </div>
                                            <div class="col-xl-3 col-sm-12 col-md-4">
                                                <h4 class="text-center"><strong>Approved Invoices</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class=""><strong>{{projectStats.APPROVED_INVOICES_COUNT}}</strong></span></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <hr color="springgreen" noshade>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-12 col-md-4" style="border-right: 1px solid">
                                                <h4 class="text-center"><strong>Pending Invoices for Approval</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class=""><strong>{{projectStats.PENDING_INVOICES_COUNT}}</strong></span></h5>
                                            </div>
                                            <div class="col-xl-3 col-sm-12 col-md-4" style="border-right: 1px solid">
                                                <h4 class="text-center"><strong>Total Cash Flow</strong></h4>
                                                <h5 class="f-w-700 text-center"><span class=""><strong>{{projectStats.TOTAL_CASH_FLOW}}</strong></span></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <!--##################CHETAN UI START FOR CARD END #############################-->
                                <!--##################CHETAN UI START FOR CARD END #############################-->
                            </div>

                            <!--<div class="col-xl-12 col-md-12" style="padding-left:0px;">
                                <div class="col-xl-12 col-md-6">
                                    <div class="white-box" style="padding-left: 5rem;">
                                        <h4 class="box-title" ng-if="!ProjectTrgtAmtvsPOValChartShow">Targeted Budget Amount (vs) Anticipated PO Value</h4>
                                        <hc-chart options="ProjectTrgtAmtvsPOVal" ng-if="ProjectTrgtAmtvsPOValChartShow">Loading...</hc-chart>
                                        <h4 class="text-center" ng-if="!ProjectTrgtAmtvsPOValChartShow"> Currently there are no packages to display.</h4>
                                    </div>
                                </div>-->
                            <!--<div class="col-xl-12 col-md-1">  </div>-->
                            <!--<div class="col-xl-12 col-md-6">
                                    <div class="white-box" style="padding-left: 5rem;">
                                        <h3 class="box-title" ng-if="!totalPOAmountChartShow">Total PO Amount</h3>
                                        <hc-chart options="totalPOAmount" ng-if="totalPOAmount">Loading...</hc-chart>
                                        <h4 class="text-center" ng-if="!totalPOAmountChartShow"> Currently there is no PO Amount to display.</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12" style="padding-left:0px;">
                                <div class="col-xl-12 col-md-6">
                                    <div class="white-box" style="padding-left: 5rem;">
                                        <h3 class="box-title" ng-if="!revenueRecognisedChartShow">Revenue Recognised</h3>
                                        <hc-chart options="revenueRecongnised" ng-if="revenueRecognisedChartShow">Loading...</hc-chart>
                                        <h4 class="text-center" ng-if="!revenueRecognisedChartShow"> Currently there is no Revenue Recognised to display.</h4>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-6">
                                    <div class="white-box" style="padding-left: 5rem;">
                                        <h3 class="box-title" ng-if="!receivableOutstandingChartShow">Receivable Outstanding</h3>
                                        <hc-chart options="receivableOutstanding" ng-if="receivableOutstandingChartShow">Loading...</hc-chart>
                                        <h4 class="text-center" ng-if="!receivableOutstandingChartShow"> Currently there is no Receivable Outstanding to display.</h4>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>


                    <!--##########TEST FOR 2ND UI ######################-->

                    <div class="row col-md-12" ng-show="searchValue.projects && projectCodeTemp.length > 0 && isProjectSelected">
                        <div style="display: flex; margin-bottom: 10px;">
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/rupee.png" class="pull-right card_img"></div>
                                <p class="text-center header_p">Colliers PO Value</p>
                                <p class="text-center sub_header_p">{{projectStats.PROJECT_LEVEL_PO_VALUE | number: companyRoundingDecimalSetting}}</p>
                            </div>
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/budget.png" class="pull-right card_img"></div>
                                <p class="text-center header_p">Targeted Revenue Budget</p>
                                <p class="text-center sub_header_p">{{projectStats.TARGETED_REVENUE_BUDGET | number: companyRoundingDecimalSetting}}</p>
                            </div>
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/pending.png" class="pull-right card_img2"></div>
                                <p class="text-center header_p">Sub Packages Pending for Award Recommendation</p>
                                <p class="text-center sub_header_p">{{projectStats.SUB_PACKAGES_PENDING_FOR_AWARD_RECOMMENDATION}}</p>
                            </div>
                        </div>

                        <div style="display: flex; margin-bottom: 10px;">
                            <div class="white-box custom_card2  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/award.png" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p2">Sub Package Awarded</p>
                                <p class="text-center sub_header_p sub_header_p2">{{projectStats.SUB_PACKAGES_AWARDED}} / {{projectStats.TOTAL_SUB_PACKAGES_AWARDED}}</p>
                            </div>
                            <div class="white-box custom_card2  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/RFQ.png" class="pull-right card_img2"></div>
                                <p class="text-center header_p header_p2">PO Released</p>
                                <p class="text-center sub_header_p sub_header_p2">{{projectStats.RELEASED_PO_COUNT}}</p>
                            </div>
                            <div class="white-box custom_card2  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/pending.png" class="pull-right card_img2"></div>
                                <p class="text-center header_p header_p2">Sub Packages Pending for RFQ</p>
                                <p class="text-center sub_header_p sub_header_p2">{{projectStats.SUB_PACKAGES_PENDING_FOR_RFQ}}</p>
                            </div>
                        </div>


                        <div style="display:flex;margin-bottom:10px;">
                            <div class="white-box custom_card3  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/approvedInvoice.jpg" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p3">Approved Certified Bills</p>
                                <p class="text-center sub_header_p sub_header_p3">{{projectStats.APPROVED_BILLS}}</p>
                            </div>
                            <div class="white-box custom_card3  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/pendingInvoice.png" class="pull-right card_img2"></div>
                                <p class="text-center header_p header_p3">Pending Certified Bills</p>
                                <p class="text-center sub_header_p sub_header_p3">{{projectStats.PENDING_BILLS}}</p>
                            </div>
                            <div class="white-box custom_card3  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/approvedInvoice.jpg" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p3">Approved Invoices</p>
                                <p class="text-center sub_header_p sub_header_p3">{{projectStats.APPROVED_INVOICES_COUNT}}</p>
                            </div>
                        </div>


                        <div style="display:flex;margin-bottom:10px;">
                            <div class="white-box custom_card4  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/pendingInvoice.png" class="pull-right card_img"></div>
                                <p class="text-center header_p header_p4">Pending Invoices for Approval</p>
                                <p class="text-center sub_header_p sub_header_p4">{{projectStats.PENDING_INVOICES_COUNT}}</p>
                            </div>
                            <div class="white-box custom_card4  col-md-4 col-sm-12 m-r-10">
                                <div><img src="img/cashflow.png" class="pull-right card_img2"></div>
                                <p class="text-center header_p header_p4">Total Cash Flow</p>
                                <p class="text-center sub_header_p sub_header_p4">{{projectStats.TOTAL_CASH_FLOW | number: companyRoundingDecimalSetting}}</p>
                            </div>
                            <div class="col-md-4 col-sm-12 m-r-10">
                                <!--<div><img src="../js/resources/images/cashflow.png" class="pull-right card_img2"></div>
            <p class="text-center header_p header_p4">Total Cash Flow</p>
            <p class="text-center sub_header_p sub_header_p4">{{projectStats.TOTAL_CASH_FLOW}}</p>-->
                            </div>

                        </div>



                        <div class="col-xl-12 col-md-12" style="padding-left:0px;">
                            <div class="col-xl-12 col-md-6">
                                <div class="white-box" style="padding-left: 5rem;">
                                    <h4 class="box-title" ng-if="!ProjectTrgtAmtvsPOValChartShow">Targeted Budget Amount (vs) Anticipated PO Value</h4>
                                    <hc-chart options="ProjectTrgtAmtvsPOVal" ng-if="ProjectTrgtAmtvsPOValChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!ProjectTrgtAmtvsPOValChartShow"> Currently there are no packages to display.</h4>
                                </div>
                            </div>
                            <!--<div class="col-xl-12 col-md-1">  </div>-->
                            <div class="col-xl-12 col-md-6">
                                <div class="white-box" style="padding-left: 5rem;">
                                    <h3 class="box-title" ng-if="!totalPOAmountChartShow">Total PO Amount</h3>
                                    <hc-chart id="POAmount" options="totalPOAmount" ng-if="totalPOAmount">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!totalPOAmountChartShow"> Currently there is no PO Amount to display.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12" style="padding-left:0px;">
                            <div class="col-xl-12 col-md-6">
                                <div class="white-box" style="padding-left: 5rem;">
                                    <h3 class="box-title" ng-if="!revenueRecognisedChartShow">Revenue Recognised</h3>
                                    <hc-chart id="revenueRec" options="revenueRecongnised" ng-if="revenueRecognisedChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!revenueRecognisedChartShow"> Currently there is no Revenue Recognised to display.</h4>
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-6">
                                <div class="white-box" style="padding-left: 5rem;">
                                    <h3 class="box-title" ng-if="!receivableOutstandingChartShow">Receivable Outstanding</h3>
                                    <hc-chart options="receivableOutstanding" ng-if="receivableOutstandingChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!receivableOutstandingChartShow"> Currently there is no Receivable Outstanding to display.</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-md-12" style="padding-left:0px;">
                            <div class="col-xl-12 col-md-6">
                                <div class="white-box" style="padding-left: 5rem;">
                                    <h3 class="box-title" ng-if="!packageSpentChartShow">Package Spent</h3>
                                    <hc-chart options="spentDetails" ng-if="packageSpentChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!packageSpentChartShow"> Currently there is no Package Spent to display.</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--##########TEST FOR 2ND UI ######################-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>





