﻿<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content" class="negotiation_details">
        <div class="container m-p-0" data-ng-controller="marginComparativesCtrl">


            <div class="row ">
                <div class="col-md-12 negotiation_outside_card">
                    <div class="sectiontitle">
                        <button ng-click="GetReportsRequirement()" class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn" href="javascript:void(0);" ng-if="isReportGenerated == 0">
                            Generate Report
                        </button>
                        <span class="pull-right" ng-if="isReportGenerated == 1">
                            <a target="_blank" class="btn btn-info btn-sm waves-effect editRequirement_btn" href="FileDownload.aspx?attachid={{auctionItem.reportItemWise}}&sessionid={{sessionid}}">
                                View Report
                            </a>
                        </span>
                        <h2 class="postrequirement_h">&nbsp;&nbsp;Comparisions</h2>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body card-padding">
                    <div class="col-md-12 m-b-20 padding0">
                        <div class="col-md-6 padding0">
                            <h4>&nbsp;&nbsp;Vendor Level Price Comparision</h4>
                        </div>
                        <div class="col-md-6 pull-right">
                            <!--<div class="col-md-1 top-buffer pull-right">
                                <button class="btn btn-primary btn-new-look" ng-hide="doPrint" ng-click="cancelClick()">Cancel</button>
                            </div>-->
                            <div class="col-md-1 pull-right">
                                <button class="btn btn-info btn-new-look" ng-hide="doPrint" ng-click="printReport()">Print</button>
                            </div>
                        </div>
                        <!--<div class="col-md-6 padding0 text-right">
                            <h4>Negotiation Savings: <b>{{negotiationSavings}}</b></h4>
                        </div>-->
                    </div>

                    <table ng-table="tctrl.tableSorting" class="table table-vmiddle quotes_table" style="background-color:#FFF;">
                        <tr>
                            <th data-title="'Vendor city'" sortable="'City'">
                                Company Name
                            </th>
                            <th data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                Vendor Name
                            </th>

                            <th data-title="'Rank'" sortable="'Rank'">
                                Rank
                            </th>
                            <th ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                Quotation Price
                            </th>
                            <th ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'">
                                Quotation Price
                            </th>
                            <th data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'">
                                Closed Price
                            </th>
                            
                            <th data-title="'Price Reduction'" sortable="'Price Reduction'" ng-if="auctionItem.isDiscountQuotation != 2">
                                Reduction %
                            </th>
                            <th data-title="'Price Reduction'" sortable="'Price Reduction'" ng-if="auctionItem.isDiscountQuotation == 2">
                                Margin %
                            </th>
                            <th data-title="'Price Reduction'" sortable="'Price Reduction'" ng-if="auctionItem.isDiscountQuotation == 2">
                                Rev Margin %
                            </th>
                            <th ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                Taxes (in %)
                            </th>
                            <!--<th data-title="'View Quotations'">
                                View Quotations
                            </th>
                            <th data-title="'Bid History'" sortable="'Bid History'">
                                Previous Bids
                            </th>
                            <th ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED'" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                Rev.Quotation
                            </th>-->
                            <!--<th ng-show="(auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' )&& (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Quotation Aproovel'" sortable="'Quotation Aproovel'">
                                Quotation Approval
                            </th>-->

                            
                            <!--<th data-title="'Tech. Evaluation'" sortable="'Tech. Evaluation'">
                                Tech. Evaluation
                            </th>-->
                        </tr>


                        <tr ng-repeat="auctionVendor in auctionItem.auctionVendors">
                            <td data-title="'Vendor city'" sortable="'City'">
                                {{auctionVendor.companyName}}
                                <!--<span><strong><a target="_blank" href="prm360.html#/viewprofile/{{auctionVendor.vendorID}}">{{auctionVendor.companyName}}</a></strong></span>-->
                            </td>
                            <td data-title="'Vendor Name'" sortable="'Name'" class="vendorName">
                                {{ auctionVendor.vendorName }}
                            </td>

                            <td data-title="'Rank'" sortable="'Rank'">
                                {{(auctionVendor.runningPrice == 0 || auctionVendor.rank == 0)?'-':auctionVendor.rank}}
                            </td>


                            
                            

                            <td ng-show="!auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="auctionVendor.initialPrice | numToCurrency:auctionItem.currency"></td>
                            <td ng-show="auctionStarted" data-title="'Offer Price'" sortable="'OfferPrice'" ng-bind-html="auctionVendor.initialPrice | numToCurrency:auctionItem.currency"></td>
                            <td data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'" ng-bind-html="auctionVendor.totalRunningPrice | numToCurrency:auctionItem.currency"></td>

                            <td data-title="'Price Reduction'" sortable="'Price Reduction'" ng-if="auctionItem.isDiscountQuotation != 2">
                                <span ng-if="auctionVendor.reductionPercentage <= 0"> NA </span>
                                <span ng-if="auctionVendor.reductionPercentage > 0" ng-bind-html="auctionVendor.reductionPercentage | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                            </td>
                            <td data-title="'Price Reduction'" sortable="'Price Reduction'" ng-if="auctionItem.isDiscountQuotation == 2">
                                <span ng-if="auctionVendor.sumOfInitialMargin <= 0"> NA </span>
                                <span ng-if="auctionVendor.sumOfInitialMargin > 0" ng-bind-html="auctionVendor.sumOfInitialMargin | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                <!--{{(auctionVendor.sumOfInitialMargin <= 0)?'NA':auctionVendor.sumOfInitialMargin}}-->
                            </td>
                            <td data-title="'Price Reduction'" sortable="'Price Reduction'" ng-if="auctionItem.isDiscountQuotation == 2">
                                <span ng-if="auctionVendor.sumOfMargin <= 0"> NA </span>
                                <span ng-if="auctionVendor.sumOfMargin > 0" ng-bind-html="auctionVendor.sumOfMargin | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                <!--{{(auctionVendor.sumOfMargin <= 0)?'NA':auctionVendor.sumOfMargin}}-->
                            </td>
                            

                            <!--<td data-title="'View Quotations'">
                                <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.quotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Quotation</a>
                            </td>
                            <td ng-hide="true" data-title="'Taxes (in %)'" sortable="'TaxPercent'">
                                {{auctionVendor.taxes}}
                            </td>
                            
                            <td data-title="'Bid History'" sortable="'Bid History'">
                                <span><strong><a target="_blank" href="prm360.html#/bidhistory/{{auctionVendor.vendorID}}/{{auctionItem.requirementID}}">Previous Bids</a></strong></span>
                            </td>

                            <td ng-hide="auctionItem.status == 'STARTED' || auctionItem.status == 'UNCONFIRMED' || auctionItem.status == 'NOTSTARTED' || auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                <a target="_blank" href="FileDownload.aspx?attachid={{auctionVendor.revquotationUrl}}&sessionid={{sessionid}}" ng-show="auctionVendor.quotationUrl!=''">View Rev Quotation</a>
                            </td>-->

                            <!--<td ng-show="auctionItem.status != 'STARTED' && auctionItem.status != 'UNCONFIRMED' && auctionItem.status != 'NOTSTARTED' && (auctionVendor.revquotationUrl == '' || auctionVendor.revquotationUrl == null)" data-title="'Rev Quotation'" sortable="'Rev Quotation'">
                                Not Uploaded
                            </td>-->
                            
                            <!--<td data-title="'Tech. Evaluation'" sortable="'Tech. Evaluation'">
                                {{auctionVendor.techEvalScore}}
                            </td>-->
                        </tr>
                    </table>
                </div>
            </div>


            <div class="card">
                <div class="card-body card-padding tab-nav tn-justified ng-scope">

                    <table ng-table="tctrl.tableSorting" class="table table-responsive z-depth-1 clear-both" style="background-color:#FFF;">
                        <tr style="border:1px dotted">
                            <th style="width:10%;text-align:center">Vendor Name / Item</th>
                            <th style="width:2%;text-align:center"></th>
                            <th style="text-align:center;width:20%;max-width:20%;" ng-repeat="item in auctionItem.listRequirementItems"><span class="hyphenate" ng-bind-html="item.productIDorName"></span><br /> ( {{item.productQuantity}}-{{item.productQuantityIn}} )</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th ng-repeat="item in auctionItem.listRequirementItems">
                                <table style="width:100%" class="comparisions_quotes_table">
                                    <tr>
                                        <td style="width:40%; text-align:center">Cost Price</td>
                                        <td style="width:20%; text-align:center">Margin</td>
                                        <td style="width:40%; text-align:center">MRP</td>
                                    </tr>
                                </table>
                            </th>
                        </tr>

                        <tr style="border:1px dotted" ng-repeat="vendor in auctionItem.auctionVendors">
                            <td style="border:1px dotted">
                                <strong>{{vendor.companyName}}</strong>
                            </td>
                            <td style="border:1px dotted">
                                <table style="background-color:none">
                                    <tr style="background-color:none">
                                        <td>Initial</td>
                                    </tr>
                                    <tr style="background-color:none">
                                        <td>Final</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="border:1px dotted" ng-repeat="item in vendor.auctionItemVendor.listRequirementItems">
                                <table style="width:100%; background-color:none" class="comparisions_table comparisions_table-vmiddle">
                                    <tr></tr>
                                    <tr style="background-color:none">
                                        <td style="width:40%; text-align:center; border-right:1px dotted"><!--{{item.costPrice}}--> 
                                            <span ng-bind-html="item.costPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                        </td>
                                        <td style="width:20%; text-align:center; border-right:1px dotted"><!--{{item.unitDiscount}}-->
                                            <span ng-bind-html="item.unitDiscount | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                        </td>
                                        <td style="width:40%; text-align:center;"><!--{{item.unitMRP}}-->
                                            <span ng-bind-html="item.unitMRP | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                        </td>
                                    </tr>
                                    <tr style="background-color:none">
                                        <td style="width:40%; text-align:center; border-right:1px dotted"><!--{{item.revCostPrice}}-->
                                            <span ng-bind-html="item.revCostPrice | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                        </td>
                                        <td style="width:20%; text-align:center; border-right:1px dotted"><!--{{item.revUnitDiscount}}-->
                                            <span ng-bind-html="item.revUnitDiscount | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                        </td>
                                        <td style="width:40%; text-align:center;"><!--{{item.unitMRP}}-->
                                            <span ng-bind-html="item.unitMRP | roundedDecimalDisplay : companyRoundingDecimalSetting"></span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body card-padding">


                    <table ng-table="tctrl.tableSorting" class="table table-responsive z-depth-1 clear-both" style="background-color:#FFF;">
                        <tr>
                            <th style="text-align:center">Vendor Name</th>
                            <th style="text-align:center">Approve/Reject Comments</th>
                            <th style="text-align:center">Rev.Approve/Reject Comments</th>
                            <th style="text-align:center" ng-if="enableWarranty">Warranty</th>
                            <th style="text-align:center" ng-if="enablePayment">Payment Terms</th>
                            <th style="text-align:center" ng-if="enableDelivery">Delivery Terms</th>
                            <th style="text-align:center" ng-if="enablePrice">Price Validity</th>
                            <th style="text-align:center" ng-if="enableOther">Vendor Remarks</th>
                        </tr>

                        <tr style="border:1px dotted" ng-repeat="vendor in auctionItem.auctionVendors">
                            <td style="border:1px dotted">
                                <strong>{{vendor.companyName}}</strong>
                            </td>
                            <td style="border:1px dotted">
                                <strong>{{vendor.quotationRejectedComment}}</strong>
                            </td>
                            <td style="border:1px dotted">
                                <strong>{{vendor.revQuotationRejectedComment}}</strong>
                            </td>
                            <td style="border:1px dotted" ng-if="enableWarranty">
                                <strong>{{vendor.warranty}}</strong>
                            </td>
                            <td style="border:1px dotted" ng-if="enablePayment">
                                <strong>{{vendor.payment}}</strong>
                            </td>
                            <td style="border:1px dotted" ng-if="enableDelivery">
                                <strong>{{vendor.duration}}</strong>
                            </td>
                            <td style="border:1px dotted" ng-if="enablePrice">
                                <strong>{{vendor.validity}}</strong>
                            </td>
                            <td style="border:1px dotted" ng-if="enableOther">
                                <strong>{{vendor.otherProperties}}</strong>
                            </td>
                        </tr>
                    </table>







                </div>
            </div>


        </div>
    </section>
</section>