﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div ng-controller="packageConfigurationCtrl">
    <div class="col-md-12">
        <div class="col-md-12">
            <script type="text/ng-template" id="nodes_renderer.html">

                <div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
                    <label>
                        {{packageList.ID}}
                        <span style="width:12px" ng-if="" data-nodrag ng-click="toggle(this);" class="glyphicon"
                              ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'">

                        </span>
                        <span ng-click="editCategory(this)" style="cursor:pointer"
                              ng-class="{'text-success':node.catId == selectedCategoryId}">
                            {{packageList.ID}}
                        </span>
                    </label>
                    <a class="pull-right btn-xs" data-nodrag ng-click="deleteCategory(this)" title="delete" style="cursor:pointer;margin-top:-5px;">
                        <span class="glyphicon glyphicon-trash" ng-show="node.catNameTemp != 'requirement items' && node.catNameTemp != 'sourcing'"></span>
                    </a>

                    <a class="pull-right btn-xs" data-nodrag ng-click="addSubCategory(this);" title="add subcategory" style="cursor:pointer;margin-top:-5px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" class="categoryname">
                    <li  ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true">
                    </li>
                </ol>
            </script>
            <script type="text/ng-template" id="nodes_parent.html">
                <div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
                    <label>
                        <span style="cursor:pointer">Add Package</span>
                    </label>
                    <a class="pull-right btn-xs" data-nodrag ng-click="addParentCategory(this);">
                        <span class="glyphicon glyphicon-plus" title="add category" style="cursor:pointer"></span>
                    </a>
                </div>
                <div>
                    <h4 style="margin-left:30px">Categories </h4>
                </div>

                <div class="row" style="height:400px;max-height: 400px;overflow-y: auto" when-scrolled="getcategories(1)">
                    <div class="col-md-12">
                        <ol ui-tree-nodes="" ng-model="packageList in packageLists" ng-class="{hidden: collapsed}">
                            <li ng-repeat="packageList in packageLists" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true">
                            </li>
                        </ol>
                    </div>
                </div>



            </script>


            <div class="row">
                <div class="col-md-6">
                    <h3>Package Configuration</h3>
                    <br />
                </div>
                <!--<div class="col-md-6 pull-right">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="fileupload btn btn-info waves-effect waves-light">
                                <span class="fileinput-new"><i class="fa fa-plus m-r-5"></i>Upload Excel</span>
                                <input type="file" class="upload" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select-items="onFileSelect($files)">
                            </div>
                            Upload Multiple item via Excel(only xlsx):
                        </div>
                        <div class="col-sm-3">
                            <input ng-click="exportTemplateToExcel()" type="button" value="Template" class='btn-info' />
                        </div>
                    </div>

                </div>-->

            </div>
        </div>


        <div class="" style="margin-top:-20px;">
            <div class="row">
                <div class="col-md-4">
                </div>

                <div class="col-md-12">

                    <div class="col-sm-5">

                        <div ui-tree id="tree-root">
                            <ol ui-tree-nodes ng-model="nodes">
                                <li ng-repeat="node in nodes" ui-tree-node ng-include="'nodes_parent.html'" ng-class="collapse" collapsed="false"></li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-7 pull-right">
                        <div class="col-md-12">
                            <div class="row" style="border-left: 1px groove;" >
                                <div class="col-md-12" >
                                    <div class="row" ng-model="selectedCatNode">
                                        <div class="col-md-12">
                                            <div class="col-md-12 row">
                                                <div class="col-md-8">
                                                    <h3>HHH</h3>
                                                </div>
                                                <div class="col-md-3">
                                                    <a class="pull-right btn-xs" data-nodrag ng-click=""><h4 style="cursor:pointer"> Cancel</h4></a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <accordion>
                                                    <accordion-group ng-init="status.open = true" is-open="status.open">
                                                        <accordion-heading>Package Details</accordion-heading>
                                                        <div class="row">
                                                            <form name="editcatform">
                                                                <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                                                    <div class="col-md-12 text-right">

                                                                        <a ng-click="saveCategoryDetails(selectedCatNode)" ng-disabled="!editcatform.$valid" title="save" class="btn btn-o btn-xs btn-primary">
                                                                            <i class="fa fa-check"></i>
                                                                        </a>

                                                                        <a ng-click="editCategoryData(selectedCatNodeReset)" title="reset" class="btn btn-o btn-xs btn-primary">
                                                                            <i class="fa fa-undo" style="color:red"></i>
                                                                        </a>
                                                                    </div>
                                                                    <div class="col-xs-12 col-md-12">
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Package Name</strong></label>
                                                                            <div>
                                                                                <input ng-model="selectedCatNode.catName" name="catEditTitle" class="form-control" type="text" placeholder="category name" required />
                                                                            </div>
                                                                            <span class="text-warning" ng-show="editcatform.catEditTitle.$error.required">*required</span>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label style="color:#606261"><strong>Category Description</strong></label>
                                                                            <textarea ng-model="selectedCatNode.catDesc" class="form-control" type="text" placeholder="category description" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </accordion-group>
                                                   
                                                </accordion>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row" ng-model="selectedCatNode">
                                        <div class="col-md-12">
                                            <div class="col-md-12 row">
                                                <div class="col-md-8">
                                                    <h3>Product</h3>
                                                    <p><h4 class="panel-title" style="padding-left:15px">Add New Subcategory</h4></p>
                                                </div>
                                                <div class="col-md-3" style="margin-top:16px;">
                                                    <a class="btn btn-info pull-right " data-nodrag ng-click="cancelEdit()" style="cursor:pointer"> Cancel</a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                                    <form name="addnewform">
                                                        <div class="col-md-12 text-right">
                                                            <button ng-click="saveNewCategory(selectedCatNode)" ng-disabled="!addnewform.$valid" title="save" class="btn btn-o btn-xs btn-primary">
                                                                <i class="fa fa-check"></i>
                                                            </button>

                                                            <a ng-click="addCategory(selectedCatNodeReset)" title="reset" class="btn btn-o btn-xs btn-primary">
                                                                <i class="fa fa-undo" style="color:red"></i>
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-12 col-md-12">
                                                            <div class="form-group">
                                                                <label style="color:#606261" ng-show="addnewform.catTitle.$error.required">*Category Name</label><!--{{selectedCatNodeTitle}}-->
                                                                <div>
                                                                    <input ng-model="selectedCatNode.title" name="catTitle" class="form-control" type="text" placeholder="Category Name" required />
                                                                </div>
                                                                <!--<span class="text-warning" ng-show="addnewform.catTitle.$error.required">*required</span>-->
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>




                    </div>

                </div>

            </div>
        </div>







    </div>
</div>
