<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    option {
        font-family: 'Open Sans', sans-serif !important;
    }
</style>

<div class="white-box">
    <div class="pmb-block ng-scope" ng-controller="profileReqsCtrl">
        <div class="pmbb-header">
            <div class="row" style="margin-bottom:10px;">

                <div>
                    <div class="col-md-3">
                        <h3 style="display:inline-block;margin:5px">
                            <i class="zmdi zmdi-view-list"></i>  My Requirements List
                        </h3>
                    </div>


                </div>

                <div class="col-md-12 p-l-0">

                    <div class="col-md-2 m-t-20">
                        <select ng-model="reqStatus" ng-change="setPage(1)" class="form-control" style="margin:5px">
                            <option selected value="ALL">ALL STATUS</option>
                            <option value='UNCONFIRMED'>{{prmStatus(isCustomer,'UNCONFIRMED')}}</option>
                            <option value='STARTED'>{{prmStatus(isCustomer,'STARTED')}}</option>
                            <option value='NOTSTARTED'>{{prmStatus(isCustomer,'NOTSTARTED')}}</option>
                            <!--<option value='Negotiation Ended'>{{prmStatus(isCustomer,'Negotiation Ended')}}</option>-->
                            <option value='DELETED'>{{prmStatus(isCustomer,'DELETED')}}</option>
                            <option value='Quotations Received'>{{prmStatus(isCustomer,'Quotations Received')}}</option>
                            <option value='Saved As Draft'>{{prmStatus(isCustomer,'Saved As Draft')}}</option>
                            <option value='QCS Created'>{{prmStatus(isCustomer,'QCS Created')}}</option>
                            <option value='QCS Pending'>{{prmStatus(isCustomer,'QCS Pending')}}</option>
                            <option value='QCS Approval Pending'>{{prmStatus(isCustomer,'QCS Approval Pending')}}</option>
                            <option value='QCS Approved'>{{prmStatus(isCustomer,'QCS Approved')}}</option>
                            <option value='Closed'>{{prmStatus(isCustomer,'Closed')}}</option>
                        </select>
                    </div>
                    <div class="col-md-2 m-t-20">
                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="setPage(1);" ng-model="searchKeyword" type="text" placeholder="Search">
                    </div>

                    <div class="col-md-2 m-t-20">
                        <select data-placeholder="Select Type" name="buyer" ng-model="buyerFilter" ng-change="setPage(1);" ng-options="buyer for buyer in buyers" class="form-control" style="margin:5px">
                        </select>
                    </div>
                    <div class="col-md-2 p-r-0">
                        <div class="form-group">
                            <label class="col-md-12">From date</label>
                            <div class="col-md-12 p-r-0" moment-picker="filterDate.reqFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 p-r-0">
                        <div class="form-group">
                            <label class="col-md-12">To date</label>
                            <div class="col-md-12 p-r-0" moment-picker="filterDate.reqToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.reqToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 p-r-0"><button class="common_btn m-t-20" ng-click="loadBuyers();">Apply</button></div>
                    <div class="col-md-1 m-t-20 p-l-0">
                        <div class="dropdown btn-group fg-float">
                            <button class="dropdown-toggle common_btn" type="button" data-toggle="dropdown" style="width:97px">
                                <i class="fa fa-cog" aria-hidden="true"></i> Reports
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="" role="button" data-ui-sref="consalidatedReport()" aria-hidden="true"><strong>Consolidated Report</strong></a></li>
                                <li><a class="" role="button" ng-click="rfqtoqcsreport()" aria-hidden="true"><strong>RFQ to QCS Report</strong></a></li>
                            </ul>

                        </div>
                    </div>

                </div>

                <!-- <div class="col-md-3" style="margin-left:0px !important;">
            <div class="col-md-12">
                  <button ng-click="GetRequirementsReport()" class="pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
                      Margin-Type Consolidated Report
                  </button>
              </div>-->

            </div>
        </div>
        <div class="table table-responsive z-depth-2">

            <div class="row" style="margin-left:0px !important;margin-top:10px;" ng-hide="true">
                <div class="col-md-12">
                    <!--<label>
                    <input type="radio" ng-model="radioData.name" name="biddingType" value='reverse' ng-change="getAuctions('reverse')">
                    Reverse Bidding
                </label>
                <label>
                    <input type="radio" ng-model="radioData.name" name="biddingType" value='forward' ng-change="getAuctions('forward')">
                    Forward Bidding
                </label>-->
                    <div class="toggle-switch">
                        <input id="forwardBidding" ng-model="formRequest.isForwardBidding" type="checkbox" hidden="hidden" ng-change="getAuctions()" />
                        <label for="forwardBidding" class="ts-helper"></label>
                        <label for="forwardBidding" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View Forward Bidding</label>
                    </div>
                </div>
            </div>
            <small style="color:green"> Total Count:{{totalItems}}</small>
            <table ng-table="tctrl.tableSorting" class="table table-vmiddle colliers_table" show-filter="false">
                <tr ng-repeat-start="auction in myAuctions">
                    <td data-title="''">
                        <a role="button" ng-hide="auction.expanded" ng-click="auction.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                        <a role="button" ng-hide="!auction.expanded" ng-click="auction.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                    </td>
                    <td data-title="'Req Number'" sortable="'ID'">
                        {{ auction.requirementNumber}}
                    </td>
                    <td data-title="'Req Type'" sortable="'Type'">
                        <strong style="color:{{auction.rfpStatusColor}}">
                            {{ auction.isRFP ? 'RFP/RFI' : 'RFQ'}}
                        </strong>
                    </td>
                    <td data-title="'Title'" sortable="'Name'" ng-if="!formRequest.isForwardBidding">
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE' || auction.biddingType === 'SPOT'" title="{{auction.title}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.title}}</a>
                        <a class="prmellipsis" ng-if="auction.biddingType === 'TENDER'" title="{{auction.title}}" data-ui-sref="view-tender({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <!--<td data-title="'Project ID'">
                    {{auction.projectName}}
                </td>-->
                    <td data-title="'Title'" sortable="'Name'" ng-if="formRequest.isForwardBidding">
                        <a class="prmellipsis" data-ui-sref="fwd-view-req({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <td data-title="'Posted By'">{{auction.userName}}</td>
                    <!--<td data-title="'Category'" sortable="'Category'">
                    {{ auction.category[0]}}
                </td>-->

                    <td  data-title="'Quotations Status'">{{auction.noOfVendorsParticipated}} / {{auction.noOfVendorsInvited}} </td>
                    <td  data-title="'Posted On'">
                        {{ auction.postedOn}}
                    </td>
                    <td  data-title="'Freeze Time'">
                        {{ auction.quotationFreezTime}}
                    </td>
                    <td data-title="'Negotiation Time'">
                        <span ng-if="auction.IS_CB_ENABLED == false && auction.status != 'DELETED'">
                            {{auction.startTime && auction.startTime != '-' ? auction.startTime : auction.expStartTime}}
                        </span>
                        <span ng-if="auction.IS_CB_ENABLED == true || auction.status == 'DELETED'">
                            {{auction.expStartTime}}
                        </span>
                    </td>
                    <td data-title="'Status'" sortable="'Is Closed'">
                        <strong class="{{auction.statusColor}}">
                            {{ prmStatus(isCustomer,auction.status) }}
                            <strong ng-if="auction.isLockReq" class="text-success">(Locked)</strong>
                        </strong>
                    </td>
                    <!--<td data-title="'Client Name'">
                    {{auction.projectDetails}}
                </td>
                <td data-title="'PR Number'" width="10%">
                    <span style="word-break: break-word;">{{auction.prNumbers}}</span>
                </td>-->
                    <td data-title="'Actions'">
                        <a ng-if="isUserEntitled(582258)" title="Clone Requirement" role="button" ng-click="cloneRequirement(auction)" style="text-align:center;margin-right:5px"><i class="fa fa-clone" aria-hidden="true"></i></a>
                        <a title="Open Chat" role="button" ng-click="chatRequirement(auction)" class="" style="margin-right:5px"><i class="fa fa-comment-alt" aria-hidden="true"></i></a>
                        <a title="View Details" role="button" ng-click="viewDetails(auction)" style="margin-right:5px"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>

                </tr>
                <tr ng-repeat-end ng-if="auction.expanded">
                    <td colspan="11">
                        <div class="row">
                            <div class="col-md-4"><strong>Title</strong></div>
                            <div class="col-md-8">{{auction.title}}</div>
                        </div>
                        <!--<div class="row">
                        <div class="col-md-4"><strong>Priority</strong></div>
                        <div class="col-md-8">{{auction.urgency}}</div>
                    </div>-->
                        <div class="row">
                            <div class="col-md-4"><strong>Delivery Terms</strong></div>
                            <div class="col-md-8">{{auction.deliveryTime}}</div>
                        </div>
                        <!--<div class="row">
                        <div class="col-md-4"><strong>Delivery Location</strong></div>
                        <div class="col-md-8">{{auction.deliveryLocation}}</div>
                    </div>-->
                        <div class="row">
                            <div class="col-md-4"><strong>Payment Terms</strong></div>
                            <div class="col-md-8">{{auction.paymentTerms}}</div>
                        </div>
                        <!--<div class="row">
                        <div class="col-md-4"><strong>Requirement Type</strong></div>
                        <div class="col-md-8">
                            <span ng-if="auction.isDiscountQuotation == 0">PRICE <span ng-if="auction.IS_CB_ENABLED == true">(COUNTER BID)</span> </span>
                            <span ng-if="auction.isDiscountQuotation == 1">DISCOUNT</span>
                            <span ng-if="auction.isDiscountQuotation == 2">MARGIN</span>
                        </div>
                    </div>-->
                    </td>
                </tr>
            </table>
            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
        </div>


        <div class="modal" id="reqDetails" tabindex="-1">
            <div class="modal-dialog" style="width:90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" ng-click="clearForm();">&times;</button>
                        <div style="display:flex">
                            <h4 class="modal-title">Requirement Number : {{reqDetails.requirementNumber}}</h4> &emsp;
                            <h4 class="modal-title">Requirement Title : {{reqDetails.title}}</h4>
                        </div>
                    </div>
                    <div class="modal-body p-t-0" style="max-height:400px;overflow-y:auto">

                        <div class="pmbb-view table-responsive">
                            <h3>Item Details</h3>
                            <table ng-table="tctrl.tableSorting" class="table colliers_table table-vmiddle">
                                <tr ng-repeat="product in reqDetails.listRequirementItems" ng-if="reqDetails.listRequirementItems && reqDetails.listRequirementItems.length > 0">
                                    <td data-title="'Packages'" sortable="'Name'">
                                        {{product.productNo}}
                                    </td>
                                    <td data-title="'Sub-Package '" sortable="'Name'">
                                        {{product.productIDorName}}
                                    </td>
                                    <td data-title="'Sub Category '" sortable="'Name'">
                                        {{product.productBrand}}
                                    </td>
                                    <td data-title="'Description '" sortable="'Name'">
                                        {{product.productCode}}
                                    </td>
                                    <td data-title="'Quantity '" sortable="'Name'">
                                        {{product.productQuantity + "  "}} {{product.productQuantityIn}}
                                    </td>
                                    <td data-title="'Location '" sortable="'Name'">
                                        {{product.productDeliveryDetails}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="pmbb-view table-responsive">
                            <h3>Vendor Details</h3>
                            <table ng-table="tctrl.tableSorting" class="table colliers_table table-vmiddle">
                                <tr ng-repeat="user in reqDetails.auctionVendors" ng-if="reqDetails.auctionVendors && reqDetails.auctionVendors.length > 0">
                                    <td data-title="'Company Name'" sortable="'Name'">
                                        {{user.companyName}}
                                    </td>
                                    <td data-title="'Initial Price'" sortable="'Name'">
                                        {{user.initialPrice}}
                                    </td>
                                    <td data-title="'Rev Price'" sortable="'Name'">
                                        {{user.revPrice}}
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="clearForm();" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix" style="margin-bottom:150px;"></div>
    </div>

    <script>
        function filterText() {
            var rex = new RegExp($('#filterText').val());
            if (rex == "/all/") { clearFilter() } else {
                $('.content').hide();
                $('.content').filter(function () {
                    return rex.test($(this).text());
                }).show();
            }
        }

        function clearFilter() {
            $('.filterText').val('');
            $('.content').show();
        }
    </script>

</div>
</div>