﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="service-ZSSR">
                    <div class="col-sm-12">
                        <div class="row"><strong>Import-ZSIM</strong></div>
                        <form class="req-form">

                            <div class="row white-box">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Vendor</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.VENDOR_NAME" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Purchase Organization</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.PURCHASE_GROUP_NAMES" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Company Code</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.VENDOR_CODE" name="prno" id="prno" class="form-control" />
                                        </div>

                                        <div class="col-md-2">
                                            <label>Payment terms</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.PAYMENT_TERMS" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Document Type</label>
                                            <input type="text" ng-model="formDetails.DOC_TYPE" name="DOC_TYPE" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.DOC_TYPE.$touched && myForm.DOC_TYPE.$invalid">
                                                Document Type is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <label>BANFN</label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>ERNAM</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.PR_CREATOR_NUMBER" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Inco terms1</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.INCO_TERMS1" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Incoterms</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.INCO_TERMS2" name="INCO_TERMS2" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.INCO_TERMS2.$touched && myForm.INCO_TERMS2.$invalid">
                                                Inco Terms is required.
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Purchase Group</label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.PURCHASE_GROUP_CODE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Plant</label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.PLANT" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-3">
                                            <label>Vendor Quotation Num</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.VENDOR_QUOTATION" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Insurance No </label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.INSURANCE_NUMBER" name="INSURANCE_NUMBER" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.INSURANCE_NUMBER.$touched && myForm.INSURANCE_NUMBER.$invalid">
                                                Insurance number is required.
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>%Penality per Week</label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.PENALITY_PER_WEEK" name="PENALITY_PER_WEEK" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.PENALITY_PER_WEEK.$touched && myForm.PENALITY_PER_WEEK.$invalid">
                                                Penality per week is required.
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <label>Number of Weeks </label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.NUMBER_WEEKS" name="NUMBER_WEEKS" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.NUMBER_WEEKS.$touched && myForm.NUMBER_WEEKS.$invalid">
                                                Number of weeks is required.
                                            </span>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Max % of Penality</label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.MAX_PENALITY" name="MAX_PENALITY" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.MAX_PENALITY.$touched && myForm.MAX_PENALITY.$invalid">
                                                Max % of penality is required.
                                            </span>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Max Number of Weeks </label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.MAX_WEEKS" name="MAX_WEEKS" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.MAX_WEEKS.$touched && myForm.MAX_WEEKS.$invalid">
                                                Max Number of weeks is required.
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <label>CT-3 Number</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.CT3_NUMBER" name="CT3_NUMBER" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.CT3_NUMBER.$touched && myForm.CT3_NUMBER.$invalid">
                                                CT-3 Number is required.
                                            </span>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 20px;">
                                            <label class="pull-left">

                                                <input type="radio" ng-model="formDetails.GMP_TYPE" ng-value="true" name="prCheck" />GMP
                                                <input type="radio" ng-model="formDetails.GMP_TYPE" ng-value="false" name="prCheck" />NON-GMP
                                            </label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Equipment</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.EQUIPMENT" name="EQUIPMENT" id="prno" class="form-control" required />
                                            <span style="color:red" ng-show="myForm.EQUIPMENT.$touched && myForm.EQUIPMENT.$invalid">
                                                Equipment is required.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Held status </label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.MEMORY_TYPE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>PO Price</label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.PO_PRICE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Discount Value </label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.DISCOUNT_VALUE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Tax Code</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.TAX_CODE" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Currecncy</label>
                                            <input ng-disabled="false" type="text" ng-model="formDetails.PO_CURRENCY" name="prno" id="prno" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Exchange Rate </label>
                                            <input ng-disabled="false" type="number" ng-model="formDetails.Exchange_RATE" name="prno" id="prno" class="form-control" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row white-box" ng-repeat="item in formDetails.items" ng-if="!item.isDeleted">
                                <div class="col-md-12">
                                    <a class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Item1</a>
                                    <div class="col-md-1 pull-right">
                                        <a class="btn btn-sm btn-danger waves-effect waves-light" ng-click="deleteItem(item);"> <i class="fa fa-trash-alt m-r-5"></i> <span></span></a>
                                    </div>
                                    <div class="collapse" id="multiCollapseExample1">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>BNFPO</label>
                                                <input ng-disabled="false" type="number" ng-model="item.ITEM_OF_REQUESITION" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Material type</label>
                                                <input ng-disabled="false" type="text" ng-model="item.MATERIAL_TYPE" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label>Material</label>
                                                <input ng-disabled="false" type="number" ng-model="item.MATERIAL_CODE" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label>MNP Code </label>
                                                <input ng-disabled="false" type="text" ng-model="item.SHORT_TEXT" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label>Price Unit </label>
                                                <input ng-disabled="false" type="number" ng-model="item.PRICE_UNIT" name="prno" id="prno" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row">
                                           
                                            <div class="col-md-3">
                                                <label>PO UOM</label>
                                                <input ng-disabled="false" type="number" ng-model="item.PO_UOM" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <label>Net Price in Purchasing Document </label>
                                                <input ng-disabled="false" type="number" ng-model="item.NET_PRICE_PUR_DOC" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label>Order Price Unit(Purchasing)</label>
                                                <input ng-disabled="false" type="number" ng-model="item.ORDER_PRICE_UNIT" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label>Delivery Schedule </label>
                                                <input ng-disabled="false" type="text" ng-model="item.Deliver_SCHEDULE" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-2">
                                                <label>Item Special Instruction</label>
                                                <input ng-disabled="false" type="text" ng-model="item.ITEM_SPECIAL_INST" name="prno" id="prno" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Vendor Catalog </label>
                                                <input ng-disabled="false" type="text" ng-model="item.Vendor_CATALOG" name="prno" id="prno" class="form-control" />
                                            </div>
                                            <div class="col-md-3">
                                                <label> SAC Code</label>
                                                <input ng-disabled="false" type="number" ng-model="item.SAC_CODE" name="SAC_CODE" id="prno" class="form-control" required />
                                                <span style="color:red" ng-show="myForm.SAC_CODE.$touched && myForm.SAC_CODE.$invalid">
                                                    SAC Code  is required.
                                                </span>
                                            </div>

                                            <div class="col-md-3">
                                                <label>Delivery Mode</label>
                                                <input ng-disabled="false" type="text" ng-model="item.Delivery_MODE" name="prno" id="prno" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-2">
                                    <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="addItem()" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add item</span></button>
                                </div>
                            </div>
                            <div class="col-md-2 pull-right">
                                <button class="btn btn-info btn-sm waves-effect waves-light" ng-click="save()" type="button"><span>Save</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

