<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    .white-box {
        font-family: 'Open Sans', sans-serif !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans', sans-serif !important;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="white-box" ng-controller="termsconditionsCtrl">
                    <div class="box-title col-md-12">
                        <div class="form-group fg-float col-md-4 m-b-30">
                            <h3>Terms and Conditions</h3>
                        </div>
                        <div class="col-md-4">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-if="!addnewtermsView" ng-change="searchTable()" ng-model="searchKeyword" type="text" placeholder="Search">
                        </div>
                        <div class="form-group fg-float col-md-4 m-b-30">
                            <button ng-if="!addnewtermsView" ng-click="addTermsandConditons(terms)" class="common_btn btn-sm pull-right">Create</button>
                        </div>
                    </div>
                    <div class="row">

                        <div ng-if="addnewtermsView">
                            <div class="row">
                                <div class="form-group fg-float col-md-3 m-b-30 ">
                                    <label class="style-label">PO Type</label>
                                    <select data-placeholder="Select Type" name="currency" ng-model="terms.PO_TYPE" ng-disabled="disabledEdit" class="form-control">
                                        <option value="WORK_ORDER">Work Order (Item Rate Contract)</option>
                                        <option value="LOCAL_SALES">Purchase Order (Local Sales)</option>
                                        <option value="SERVICE_AGREEMENT">Service Agreement</option>
                                        <option value="IMPORT">Purchase Order (Import)</option>
                                    </select>
                                </div>
                                <!--<div class="form-group fg-float col-md-3 m-b-30 ">
                                    <label class="style-label">Is Required</label>
                                    <select name="IS_REQUIRED" ng-model="terms.IS_REQUIRED" ng-disabled="disabledEdit" class="form-control">
                                        <option value="Y" selected>Y</option>
                                        <option value="N">N</option>
                                    </select>
                                </div>-->
                                <div class="form-group fg-float col-md-3 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (designation.desigCode)}">
                                        <label class="style-label">Title</label>
                                        <textarea cols="2" rows="5" type="text" ng-model="terms.TITLE" ng-disabled="disabledEdit" name="TITLE" id="TITLE" class="form-control fg-input" />
                                    </div>
                                </div>

                                <div class="form-group fg-float col-md-3 m-b-30">
                                    <div class="fg-line" ng-class="{'fg-toggled': (designation.desigDesc)}">
                                        <label class="style-label">Description</label>
                                        <textarea cols="2" rows="5" type="text" ng-model="terms.DESCRIPTION" ng-disabled="disabledEdit" name="DESCRIPTION" id="DESCRIPTION" class="form-control fg-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="common_btn btn "  ng-disabled="disabledEdit"  ng-click="SaveTermsandConditions()">Save</button>
                                <button class="cancel_button_cmn" ng-click="closeEditterms(terms)">Cancel</button>
                            </div>
                        </div>

                        <br />
                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-12 table-responsive">
                            <table class="table colliers_table" ng-if="!addnewtermsView">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="width:20%">PO Type</th>
                                        <th style="width:20%">Title</th>
                                        <th style="width:20%">Description</th>
                                        <th style="width:20%; text-align:center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="termsCondition in TermsConditions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-if="!addnewtermsView"  >
                                        <td>{{termsCondition.PO_TYPE}}</td>
                                        <td>{{termsCondition.TITLE}}</td>
                                        <td>{{termsCondition.DESCRIPTION}}</td>
                                        <td  data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                            <a title="Edit " role="button" ng-click="editTerms(termsCondition)" class="fa fa-edit" style="width:30px; height:30px"></a>
                                            <a role="button" ng-click="ViewTerms(termsCondition)" title="View Terms"><i class="fas fa-eye" style="width:30px; height:30px"></i>  </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems"  ng-if="!addnewtermsView" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>     
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
