﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }

    b {
        font-family: 'Open Sans', sans-serif !important;
        color: black;
        font-size: 13px;
    }

    .h2_position {
        position: relative;
        left: 25px;
    }

    .h2_position_alt {
        position: relative;
        left: 43px;
    }

    .colliers_table thead tr th {
        font-weight: bold;
    }

    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }

    b {
        font-family: 'Open Sans', sans-serif !important;
        color: black;
        font-size: 13px;
    }

    .b_position {
        position: relative;
        top: 5px;
    }

    .newcard {
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
        box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

        .newcard .newcard-block {
            padding: 1.25rem;
        }

    .f-w-700 {
        font-weight: 700;
    }

    .text-c-green {
        color: #a4f60a;
    }

    .text-c-light-pink {
        color: #ff5370;
    }

    .text-c-yellow {
        color: #ffd800;
    }

    .text-c-blue {
        color: #2e06f7;
    }

    .text-c-dark-pink {
        color: #fb08da;
    }

    .text-c-dark-sandy-brown {
        color: #f4a460;
    }

    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }

    b {
        font-family: 'Open Sans', sans-serif !important;
        color: black;
        font-size: 13px;
    }

    .b_position {
        position: relative;
        top: 5px;
    }
    .white-box {
        box-shadow: 0 1em 2rem 0 rgb(136 152 170 / 15%) !important;
    }
    .custom_bg {
        background: #f8f9fe;
    }
    .white-box:hover {
        box-shadow: 2em 1em 2rem 0 rgb(136 152 170 / 15%) !important;
/*        transform: scale(1.01);
        transition:ease-in-out;*/
    }

</style>




<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="auctionsCtrl">
                    <div class="row bg-title top-grid custom_bg">
                        <div class="col-sm-3 col-md-6 col-lg-4 col-xs-12">
                            <a class="visible-xs range-btn" role="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Filter<span class="caret"></span></a>
                            <form class="form-material form-horizontal select-range-form collapse" id="collapseExample1">
                                <div class="row">
                                    <div class="col-md-2 hidden-xs">
                                        <b>Select Range</b>
                                    </div>
                                    <div class="col-md-4 p-r-0 p-l-0">
                                        <div class="form-group">
                                            <label class="col-md-12">From date</label>
                                            <div class="col-md-10" moment-picker="filterDate.fromDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.fromDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-r-0 p-l-0">
                                        <div class="form-group">
                                            <label class="col-md-9">To date</label>
                                            <div class="col-md-10 p-r-0" moment-picker="filterDate.toDate" format="YYYY-MM-DD">
                                                <input class="form-control" placeholder="Select a date" ng-model="filterDate.toDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 p-l-0"><button class="btn btn-danger waves-effect waves-light" ng-click="GetDashboardFilters();" style="padding: 5px 12px;border-radius:5px">Apply</button></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-2 col-xs-12 p-0" ng-show="!isVendor">
                            <div class="row">
                                <div class="form-group p-0">
                                    <!--<div class="col-md-1 p-0"></div>-->

                                    <div class="col-md-3 hidden-xs p-l-0">
                                        <b>Select Department</b>
                                    </div>
                                    <div class="col-md-1 p-0"></div>
                                    <div class="col-md-7 p-r-0">
                                        <select chosen name="ListUserDepartmentDesignations" ng-model="SelectedDeptId"
                                                ng-options="udd.deptID as udd.deptCode for udd in ListUserDepartmentDesignations" required class="form-control-dropdown"
                                                ng-change="changeUserDepartmentDesignation();" style="min-width:120px">
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-6 col-xs-12" ng-show="!isVendor">
                            <div class="row">
                                <div class="form-group">
                                    <!--<div class="col-md-5">
                        <input class="form-control" ng-change="setFilters();" ng-model="filters.searchKeyword" ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                    </div>-->
                                    <div class="col-md-3">
                                        <!--<button class="btn-sm common_btn" ng-click="!isVendor?goToProjectStatus():''">Project Status</button>-->
                                    </div>
                                    <div class="col-md-4 p-l-0">
                                        <button class="btn-sm common_btn" ng-show="isUserEntitled(591164)" ng-click="!isVendor && isUserEntitled(591164)?goToPendingApprovals():''">Pending Approvals: {{totalPendingApprovals}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row bg-title top-grid custom_bg">
                        <div class="row">
                            <div class="col-md-3 p-r-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-4 p-r-0">
                                        <b class="b_position">Cost Center </b>
                                    </div>
                                    <div class="col-md-7 p-l-0">
                                        <select class="form-control" style="font-size:14px;" ng-model="filters.costCenter" name="costcenter" required ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                            <option value="DB_south">DB South</option>
                                            <option value="DB_north">DB North</option>
                                            <option value="DB_mid">DB Mid</option>
                                            <option value="PMC_North">PMC North</option>
                                            <option value="PMC_Mid">PMC Mid</option>
                                            <option value="PMC_South">PMC South</option>
                                            <option value="Fitout-General">Fitout-General</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-2 p-l-0">
                                        <b class="b_position">Location</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" style="font-size:14px;" id="location" name="location" ng-model="filters.location" ng-options="loc.value as loc.value for loc in filtersList.location" ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-2 p-l-0">
                                        <b class="b_position">Client</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" style="font-size:14px;" id="client" name="client" ng-model="filters.client" ng-options="cli.value as cli.value for cli in filtersList.client" ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 p-r-0 p-l-0">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-4 p-l-0 p-r-0">
                                        <b class="b_position">Project Code</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control" id="projCode" style="font-size:14px;" name="projCode" ng-model="filters.projectCode" ng-options="pCode.value as pCode.value for pCode in filtersList.projectCode" ng-change="GetProjectDashboardStats();">
                                            <option value="" selected>All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--          ------------------------------------------                Code for First Row  Start                                  ------------------------------------------           -->
                    <!--          ------------------------------------------                Code for First Row  Start                                   ------------------------------------------           -->



                    <div class="row">
                        <div class="col-xl-12 col-md-12 custom_bg">
                            <div class="bg-title top-grid custom_bg" style="padding:10px 0px;">
                                <div class="row">
                                    <div class="col-md-7 col-xl-12">
                                        <div class="row" style="margin-left:0;">
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="!isVendor?goToRequirements('ALL'):''">
                                                <div class="white-box">
                                                    <h3 class="box-title"><small>Total</small>  <strong>{{((projectStats.TOTAL_RFQS > 0) ? projectStats.TOTAL_RFQS:"N/A")}} </strong></h3>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span class="text-muted"> Open RFQ's</span>
                                                            <h5>
                                                                {{projectStats.PENDING_RFQS}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="progress m-b-0">
                                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(projectStats.PENDING_RFQS/projectStats.TOTAL_RFQS)*100}}%;"> <span class="sr-only"></span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="!isVendor?goToPos():''">
                                                <div class="white-box">
                                                    <h3 class="box-title"><small> <br /></small>  <strong> </strong></h3>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <span class="text-muted">Pending PO's</span>
                                                            <h5>
                                                                {{projectStats.PENDING_POS_CNT}}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" style="margin-left:0;">
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="goToConsolidateReport()">
                                                <div class="white-box" style="padding-top:15px;padding-bottom:12px">
                                                    <div class="pull-right"> <small>INR</small> </div>
                                                    <span class="text-muted" >Est. Budget Total  <h5 style="display:inline"> {{projectStats.TARGETED_REVENUE_BUDGET|number :2}}</h5></span>
                                                    <div class="row" style="margin:10px 0px">
                                                        <span class="m-b-0 text-muted"> Total PO Value  <h5 style="margin: 0; display: inline"> {{projectStats.PROJECT_LEVEL_PO_VALUE|number :2}}</h5></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-5 p-r-0">
                                                            <span class="text-muted"><small>Savings</small></span>
                                                            <h5 >
                                                                {{projectStats.SAVINGS}}
                                                            </h5>
                                                        </div>
                                                        <div class="col-xs-7  text-right p-l-0">
                                                            <span class="text-muted">Savings %</span> <br />
                                                            <h5 >
                                                                {{projectStats.SAVINGS_PERCENTAGE |number :2}}<span ng-show="projectStats.SAVINGS_PERCENTAGE > 0">%</span>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                                                <!-- Clickable dashboard-->
                                                <div class="white-box" style="padding:18px;">

                                                    <h3 class="box-title"><small>Turn around time</small></h3>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <img src="UI_2018_03/images/clock.png" class="img-responsive" style="margin-top:20px;width:40px;">
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <small class="text-muted">Time</small>
                                                            <h4>{{D}}<small title="Days">D </small>{{H}}<small title="Hours">H </small>{{M}}<small title="Minutes">M </small></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-xl-12">
                                        <div class="white-box" style="padding-top:5px;">
                                            <h3 class="box-title text-left" ng-if="!requirementDetailsChartShow">Monthly Average Utilization</h3>
                                            <hc-chart id="requirement" options="requirementDetails" ng-if="requirementDetailsChartShow">Loading...</hc-chart>
                                            <h4 class="text-center" ng-if="!requirementDetailsChartShow"> Currently there is no monthly average utilization. Kindly  post requirements to get more insights.</h4>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>



                    <!--          ------------------------------------------                Code for Second Row  Start                                  ------------------------------------------           -->
                    <!--          ------------------------------------------                Code for Second Row  Start                                   ------------------------------------------           -->



                    <div class="row">
                        <div class="col-xl-12 col-md-12 custom_bg">
                            <div class="bg-title top-grid custom_bg" style="padding:10px 0px;">
                                <div class="row">
                                    <div class="col-md-4 col-xl-12 p-r-0">
                                        <div class="white-box" style="padding-top:5px">
                                            <h3 class="box-title text-left" ng-if="!monthlyDetailsChartShow">Monthly Average Savings</h3>
                                            <hc-chart id="savings" options="monthlyDetails" ng-if="monthlyDetailsChartShow">Loading...</hc-chart>
                                            <h4 class="text-center" ng-if="!monthlyDetailsChartShow"> Currently there are no monthly average savings. Kindly  post requirements to get more insights.</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-12" ng-if="!isVendor" style="padding-right:0px;padding-left:8px;">
                                        <div class="white-box" ng-if="!isVendor" style="padding:10px">
                                            <h3 class="box-title text-center" style="font-weight:bold;">Top 5 Supplier By Cost Reduction</h3>
                                            <div class="table-responsive" style="height:230px;max-height: 240px;overflow-y: auto" ng-if="projectStats && projectStats.TOP_SUPPLIER_BY_COST_CENTRE && projectStats.TOP_SUPPLIER_BY_COST_CENTRE.length > 0">
                                                <table class="table table-fixed colliers_table">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th>Vendor Name</th>
                                                            <th><strong>Amount </strong></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="supplier in projectStats.TOP_SUPPLIER_BY_COST_CENTRE">
                                                            <td>{{supplier.COMP_NAME}}</td>
                                                            <td title="{{supplier.LEAST_PRICES |number:2}}">{{supplier.LEAST_PRICES |number:2}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h4 class="text-center" ng-if="!projectStats || !projectStats.TOP_SUPPLIER_BY_COST_CENTRE || projectStats.TOP_SUPPLIER_BY_COST_CENTRE.length <= 0"> Currently there are no Supplier.</h4>
                                            <div class="rq-btm text-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-12" ng-if="!isVendor" style="padding-right:0px;padding-left:8px;">
                                        <div class="white-box" ng-if="!isVendor" style="padding:10px">
                                            <h3 class="box-title text-center" style="font-weight:bold;">Top Performer Last Month</h3>
                                            <div class="table-responsive" style="height:230px;max-height: 240px;overflow-y: auto" ng-if="projectStats && projectStats.TOP_PERFORMER && projectStats.TOP_PERFORMER.length > 0">
                                                <table class="table table-fixed colliers_table">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="performer in projectStats.TOP_PERFORMER">
                                                            <td>
                                                                <div>
                                                                    <span>
                                                                        <i class="fa fa-user-circle fa-2x"></i>
                                                                    </span>
                                                                    <span style="color:#337ac7">
                                                                        <strong>{{performer.PERFORMER_NAME}}</strong>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                            <td><h5 class="text-muted" style="color:#ed5789"> {{performer.PERFORMER_AMOUNT |number:2}} </h5></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h4 class="text-center" ng-if="!projectStats || !projectStats.TOP_PERFORMER || projectStats.TOP_PERFORMER.length <= 0"> Currently there are no Top performers. Kindly post requirements to get more insights.</h4>
                                            <div class="rq-btm text-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--          ------------------------------------------                Code for Third Row  Start                                  ------------------------------------------           -->
                    <!--          ------------------------------------------                Code for Third Row  Start                                   ------------------------------------------           -->



                    <div class="row">
                        <div class="col-xl-12 col-md-12 custom_bg">
                            <div class="bg-title top-grid" style="padding:10px 0px;">
                                <div class="row custom_bg">
                                    <div class="col-md-4" style="padding:0px;">
                                        <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;">
                                            <div class="white-box">
                                                <h3 class="box-title " ng-if="!transactionDetailsChartShow">My Transactional Trend</h3>
                                                <hc-chart id="transaction" options="transactionDetails" ng-if="transactionDetailsChartShow">Loading...</hc-chart>
                                                <h4 class="text-center" ng-if="!transactionDetailsChartShow"> Currently there are no transactions. Kindly  post requirements to get more insights.</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8" style="padding-right:0">
                                        <div class="white-box" ng-if="!isVendor" style="padding:0px;">
                                            <div class="table-responsive" style="height: 320px; max-height:320px; overflow-y: auto" ng-if="projectStats && projectStats.PROJECT_DETAILS && projectStats.PROJECT_DETAILS.length > 0">
                                                <table class="table table-fixed colliers_table">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th>Project Name</th>
                                                            <th>Targeted Revenue Budget</th>
                                                            <th>Package Awarded</th>
                                                            <th>Packages Pending For Award Recomendatons</th>
                                                            <th>Packages Pending For RFQs </th>
                                                            <th>PO Released</th>
                                                            <th>Bills Under Certification</th>
                                                            <th>Pending Invoice For Approval</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="data in projectStats.PROJECT_DETAILS">
                                                            <td>{{data.PROJECT_NAME}}</td>
                                                            <td>{{data.TARGETED_REVENUE_BUDGET|number:2}}</td>
                                                            <td>{{data.PACKAGE_AWARDED}}</td>
                                                            <td>{{data.PACKAGES_PENDING_FOR_AWARD_RECOMMENDATION}}</td>
                                                            <td>{{data.PACKAGES_PENDING_FOR_RFQ}}</td>
                                                            <td>{{data.POS_RELEASED_COUNT}}</td>
                                                            <td>{{data.PENDING_BILLS}}</td>
                                                            <td>{{data.PENDING_INVOICE_FOR_APPROVAL}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h4 class="text-center" ng-if="!projectStats || !projectStats.PROJECT_DETAILS || projectStats.PROJECT_DETAILS.length <= 0"> Currently there are no Project Details.</h4>
                                            <div class="rq-btm text-right">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>




                    <!--          ------------------------------------------                Code for 4th Row  Start                                  ------------------------------------------           -->
                    <!--          ------------------------------------------                Code for 4th Row  Start                                   ------------------------------------------           -->


                    <div class="row custom_bg">
                        <div class="col-xl-12 col-md-12 custom_bg">
                            <div class="bg-title top-grid custom_bg" style="padding-bottom:15px;">
                                <div class="row custom_bg" style="margin:0px">
                                    <div class="col-md-6" ng-if="!isVendor" style="padding-right:0">
                                        <div class="white-box" ng-if="!isVendor" style="padding:0;">
                                            <div class="table-responsive" style="height: 350px; max-height: 350px; overflow-y: auto" ng-if="projectStats && projectStats.LIVE_REQUIREMENTS && projectStats.LIVE_REQUIREMENTS.length > 0">
                                                <table class="table table-fixed colliers_table">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th style="width:20%;">Project Name</th>
                                                            <th style="width:30%;"><strong> Requirement Name</strong></th>
                                                            <th style="width:10%;">Quotations</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="req in projectStats.LIVE_REQUIREMENTS">
                                                            <!--| limitTo:liveAuctionsTableLimit-->
                                                            <td>{{req.PROJ_ID}}</td>
                                                            <td><a data-ui-sref="view-requirement({Id:req.REQ_ID})">{{req.REQ_NUMBER}}</a></td>
                                                            <td class="text-center">{{req.QUOTES_TO_BE_RECEIVED}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h4 class="text-center" ng-if="!projectStats || !projectStats.LIVE_REQUIREMENTS || projectStats.LIVE_REQUIREMENTS.length <= 0"> Currently there are no Live Requirement. Kindly post requirements to get more insights.</h4>
                                            <div class="rq-btm text-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>




                    <!--          ------------------------------------------                Code FOR Vendor Leads & PO Start                              ------------------------------------------    -->
                    <!--          ------------------------------------------                Code FOR Vendor Leads & PO  Start                                 ------------------------------------------           -->


                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <div class="bg-title top-grid" style="padding-bottom:15px;">
                                <div class="row" style="margin:0px">
                                    <div class="col-md-4" ng-if="isVendor" style="padding-right:0">
                                        <div class="new-card" ng-if="isVendor" style="padding:0;">
                                            <h3 class="box-title text-center">LEADS</h3>
                                            <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-if="projectStats && projectStats.LIVE_REQUIREMENTS && projectStats.LIVE_REQUIREMENTS.length > 0">
                                                <table class="table table-fixed colliers_table">
                                                    <thead>
                                                        <tr>
                                                            <th style="color:white;">Number</th>
                                                            <th style="color:white;">Title</th>
                                                            <th style="color:white;">Req Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="req in dashboardStats.requirementsList | limitTo:liveAuctionsTableLimit">
                                                            <td class="">{{req.requirementNumber}}</td>
                                                            <td class=""><a data-ui-sref="view-requirement({Id:req.requirementID})">{{req.title}}</a></td>
                                                            <td data-title="'Status'" sortable="'Is Closed'">
                                                                {{ prmStatus(isCustomer,req.status)}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h4 class="text-center" ng-if="!projectStats || !projectStats.LIVE_REQUIREMENTS || projectStats.LIVE_REQUIREMENTS.length <= 0"> Currently there are no Leads. Kindly post requirements to get more insights</h4>
                                            <div class="rq-btm text-right">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" ng-if="isVendor" style="padding-right:0">
                                        <div class="new-card" ng-if="isVendor" style="padding:0;">
                                            <h3 class="box-title text-center">PENDING PO's</h3>
                                            <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-if="projectStats && projectStats.purchaseOrders && projectStats.purchaseOrders.length > 0">
                                                <table class="table table-fixed colliers_table">
                                                    <thead>
                                                        <tr>
                                                            <th style="color:white;">Purchase Order ID</th>
                                                            <th style="color:white;">PO status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="po in purchaseOrders">
                                                            <td class="">{{po.PURCHASE_ORDER_ID}}</td>
                                                            <td class="">{{po.PO_STATUS}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <h4 class="text-center" ng-if="!projectStats || !projectStats.purchaseOrders || projectStats.purchaseOrders.length <= 0">Currently there are no Pending PO's.</h4>
                                            <div class="rq-btm text-right">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                    <!--          ------------------------------------------                Code FOR Vendor Leads & PO  END                              ------------------------------------------           -->
                    <!--          ------------------------------------------                Code FOR Vendor Leads & PO    END                                ------------------------------------------           -->
                    <!--          ------------------------------------------                Code FOR End                                     ------------------------------------------           -->
                    <!--          ------------------------------------------                Code FOR End                                     ------------------------------------------           -->
                    <!--          ------------------------------------------                Code for First Row alternate  Start                                  ------------------------------------------           -->
                    <!--          ------------------------------------------                Code for First Row alternate  Start                                   ------------------------------------------           -->



                    <!--<div class="row">
                        <div class="col-xl-12 col-md-12 custom_bg">
                            <div class="bg-title top-grid custom_bg" style="padding:10px 0px;">
                                <div class="row">
                                    <div class="col-md-7 col-xl-12">
                     <div style="display:flex;">
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <p class="text-center header_p">Total RFQ  </p>
                                <p class="text-center sub_header_p">{{((projectStats.TOTAL_RFQS > 0) ? projectStats.TOTAL_RFQS:"N/A")}}</p>
                            </div>
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <p class="text-center header_p">Open RFQ's</p>
                                <p class="text-center sub_header_p">{{projectStats.PENDING_RFQS}}</p>
                            </div>
                            <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                                <p class="text-center header_p">Pending PO's</p>
                                <p class="text-center sub_header_p">{{projectStats.PENDING_POS_CNT}}</p>
                            </div>
                        </div>

                     <div style="display:flex;">
                         <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                             <div style="display:flex;">
                                 <p class="text-center header_p">Est. Budget Total</p>
                                 <p class="text-center sub_header_p">{{projectStats.TARGETED_REVENUE_BUDGET|number :2}}</p>
                             </div>
                             <div style="display:flex;">
                                 <p class="text-center header_p">Total PO Value</p>
                                 <p class="text-center sub_header_p">{{projectStats.PROJECT_LEVEL_PO_VALUE|number :2}}</p>
                             </div>
                         </div>
                         <div class="white-box custom_card  col-md-4 col-sm-12 m-r-10">
                             <p class="text-center header_p">Pending PO's</p>
                             <p class="text-center sub_header_p">{{projectStats.PENDING_RFQS_AWARD_RECOMMEND}}</p>
                         </div>
                     </div>-->
                                        <!--
                                        <div class="row" style="margin-left:0;">
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="goToConsolidateReport()">
                                                <div class="white-box" style="padding-top:15px;padding-bottom:12px">
                                                    <div class="pull-right"> <small>INR</small> </div>
                                                    <span class="text-muted">Est. Budget Total  <h5 style="display:inline"> {{projectStats.TARGETED_REVENUE_BUDGET|number :2}}</h5></span>
                                                    <div class="row" style="margin:10px 0px">
                                                        <span class="m-b-0 text-muted"> Total PO Value  <h5 style="margin: 0; display: inline"> {{projectStats.PROJECT_LEVEL_PO_VALUE|number :2}}</h5></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-5 p-r-0">
                                                            <span class="text-muted"><small>Savings</small></span>
                                                            <h5>
                                                                {{projectStats.SAVINGS}}
                                                            </h5>
                                                        </div>
                                                        <div class="col-xs-7  text-right p-l-0">
                                                            <span class="text-muted">Savings %</span> <br />
                                                            <h5>
                                                                {{projectStats.SAVINGS_PERCENTAGE |number :2}}<span ng-show="projectStats.SAVINGS_PERCENTAGE > 0">%</span>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                                                <div class="white-box" style="padding:18px;">

                                                    <h3 class="box-title"><small>Turn around time</small></h3>
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <img src="UI_2018_03/images/clock.png" class="img-responsive" style="margin-top:20px;width:40px;">
                                                        </div>
                                                        <div class="col-xs-8 text-right">
                                                            <small class="text-muted">Time</small>
                                                            <h4>{{D}}<small title="Days">D </small>{{H}}<small title="Hours">H </small>{{M}}<small title="Minutes">M </small></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                    <!--</div>
                                    <div class="col-md-5 col-xl-12">
                                        <div class="white-box" style="padding-top:5px;">
                                            <h3 class="box-title text-left" ng-if="!requirementDetailsChartShow">Monthly Average Utilization</h3>
                                            <hc-chart id="requirement" options="requirementDetails" ng-if="requirementDetailsChartShow">Loading...</hc-chart>
                                            <h4 class="text-center" ng-if="!requirementDetailsChartShow"> Currently there is no monthly average utilization. Kindly  post requirements to get more insights.</h4>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>-->






                </div>

                            </div>
                        </div>
                    </div>
                </div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>