<div class="white-box fdcBorders">
    <div class="row">
        <div class="col-md-4">
            <div>
                <label class="fg-label">Vendor First Name <span class="text-danger">*</span></label>
                <input type="text" ng-model="newVendor.firstName" ng-change="addVendorValidation()" class="form-control fg-input" name="firstName" id="firstName" required />
            </div>
            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.firstName.$error.required">Please Enter First Name</small>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label class="fg-label">Vendor Last Name</label>
                <input type="text" ng-model="newVendor.lastName" ng-change="addVendorValidation()" class="form-control fg-input" name="lastName" id="lastName" />
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label class="fg-label">Email <span class="text-danger">*</span></label>
                <input type="email" ng-model="newVendor.email" ng-model-options="{debounce:100}" 
                       ng-change="checkUserUniqueResult('EMAIL',newVendor.email);EmailValidate1()" class="form-control fg-input" name="Email" id="Email" required />
            </div>
            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Email.$dirty || vendorregisterForm.Email.$touched">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.Email.$error.required">Please Enter Email</small>
                <small class="help-block error logininput text-danger" ng-show="(!vendorregisterForm.Email.$error.required && vendorregisterForm.Email.$error.Email) || showEmailValid">Please Enter a valid Email</small>
                <small class="help-block error logininput text-danger" ng-show="checkVendorEmailUniqueResult && !vendorregisterForm.Email.$error.required">Email already exists</small>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4"><!--ng-if="vendorID === 0 ? true: newVendor.contactNum.toString().length == 10"-->
            <div>
                <label class="fg-label">Phone <span class="text-danger">*</span></label>
                <input type="number" ng-model="newVendor.contactNum" ng-model-options="{debounce:100}"
                       ng-change="checkUserUniqueResult('PHONE',newVendor.contactNum)" class="form-control fg-input" name="phoneNum" id="phoneNum"
                       minlength="10" maxlength="15" onKeyPress="if(this.value.length==15) return false;" required/><!--ng-required="preferredLogin === 'PHONE' ? true: false"-->
            </div>
            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$dirty || vendorregisterForm.phoneNum.$touched">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.phoneNum.$error.required">Please Enter Phone Number</small>
                <small class="help-block error logininput text-danger" ng-show="vendorregisterobj.phoneNum.$error.number">Please Enter a valid phonenumber</small>
                <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be min 10 digits.</small>
                <small class="help-block error logininput nowrap text-danger" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be max 10 digits.</small>
                <small class="help-block error logininput text-danger" ng-show="checkVendorPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</small>
                <small class="help-block error logininput text-danger" ng-show="contactvalidationlength">Please enter valid Phone Number</small>

            </div>
            <!--<label>
                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && contactvalidation">Please enter valid Phone Number</label>
                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && contactvalidationlength">Phone Number must be exactly 10 digits.</label>
                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched) && checkVendorPhoneUniqueResult && !contactvalidation">Phone number already exists</label>
            </label>-->
        </div>
        <div class="col-md-4">
            <div>
                <label class="fg-label">Vendor Company Name <span class="text-danger">*</span></label>
                <input type="text" ng-model="newVendor.companyName" ng-change="addVendorValidation()" class="form-control fg-input" name="institution" id="institution" required />
            </div>
            <!--<label>
                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.institution.$touched) ">Please enter Vendor Company Name</label>
            </label>-->
            <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.institution.$touched">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.institution.$error.required">Please Enter Company Name</small>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label class="fg-label" for="category">Currency <span class="text-danger">*</span></label>
                <select ng-model="newVendor.currency" ng-change="addVendorValidation()" name="currency" id="currency" class="form-control" ng-options="currency.value for currency in currencies" required></select>
            </div>
            <!--<label>
                <label style="color:red" ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched) && currencyvalidation">Please Select Vendor Currency</label>
            </label>-->
            <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched)">
                <small class="help-block error logininput text-danger" ng-show="vendorregisterForm.currency.$error.required">Please Select Currency</small>
            </div>
            <br />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4">
            <div>
                <label for="Country">Country <span class="text-danger">*</span></label>
                <select title="{{newVendor.Country.configValue}}" name="Country" id="Country" ng-model="newVendor.Country"
                        ng-options="countr.configValue as countr.configValue for countr in companyCountryUnits" class="form-control"
                        required></select>
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.Country.$touched">
                    <small class="help-block error logininput" style="color:red" ng-show="vendorregisterForm.Country.$error.required">Please Select Country</small>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <label for="Country">ERP Vendor Code </label>
                <input class="form-control" ng-model="newVendor.sapVendorCode" type="text" valid-number allow-decimal="false" allow-negative="false"
                       ng-model-options="{debounce:100}" ng-change="checkUserUniqueResult('SAP_VENDOR_CODE',newVendor.sapVendorCode);"
                       id="VendCode" name="VendCode">
                <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.VendCode.$dirty || vendorregisterForm.VendCode.$touched">
                    <small class="help-block error logininput text-danger" ng-show="checkSapVendorUniqueResult">ERP Vendor Code already exists</small>
                </div>
            </div>
        </div>

        <!--<div class="col-md-4">
            <div>
                <label for="Country">Status <span class="text-danger">*</span></label>
                <select class="form-control" required ng-model="newVendor.vendorStatus" name="vendorStatus" id="vendorStatus" 
                         ng-options="iem.id as iem.name for iem in StatusList">
                </select>
            </div>
        </div>-->

        <div class="col-md-4">
            <div>
                <label for="Country">Payment Term Code </label>
                <input class="form-control" ng-model="newVendor.paymentTermCode" type="text" id="paymentTermCode" name="paymentTermCode">
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <!--<div class="col-md-4">
            <div>
                <label for="Country">Payment Term Code </label>
                <input class="form-control" ng-model="newVendor.paymentTermCode" type="text" id="paymentTermCode" name="paymentTermCode">
            </div>
        </div>-->
        <div class="col-md-4">
            <div>
                <label for="Country">Payment Term Desc </label>
                <input class="form-control" ng-model="newVendor.paymentTermDesc" type="text" id="paymentTermDesc" name="paymentTermDesc">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <label for="Country">Inco Terms </label>
                <input class="form-control" ng-model="newVendor.incoTerm" type="text" id="incoTerm" name="incoTerm">
            </div>
        </div>

    </div>
</div>