﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" style="height:90%;" ng-controller="vendorInvoices">
                <div>

                    <h4>Vendor Invoices</h4>

                    <div class="white-box">
                        <div class="row">


                            <div class="col-md-4">
                                <div style="border:1px solid #cccccc">
                                    <hc-chart options="status">Loading...</hc-chart>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div style="border:1px solid #cccccc">
                                    <hc-chart options="payment">Loading...</hc-chart>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-md-2 form-group fg-float m-b-30">
                                <label>Type</label>
                                <select class="form-control" ng-model="status"
                                        ng-change="setFilters1()">
                                    <option value="Contract">Contract</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Non-PO">Non-PO</option>

                                </select>
                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12">Search</label>
                                <input class="form-control" ng-change="setFilters();" ng-model="filters.searchKeyword" ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="postedFromDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="postedFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="postedToDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="postedToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="setFilters1();">Apply</button></div>
                            <div class="col-md-1"></div>

                            <div class="col-md-2">
                                <button class="btn btn-info pull-right m-t-20" ng-click="editIncoTerm(incoTerm);">
                                    <b><i class="fa fa-plus-circle m-l-5"></i> New Invoice</b>
                                </button>
                            </div>

                        </div>
                        <div class="row">
                            <div class="pmb-block ng-scope">



                                <div class="table-responsive">
                                    <table class="table-striped table-bordered table z-depth-1 clear-both">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;"><strong>Status</strong></th>
                                                <th style="text-align:center"><strong>Type</strong></th>
                                                <th style="text-align:center"><strong>Department</strong></th>
                                                <th style="text-align:center"><strong>PO Created</strong></th>
                                                <th style="text-align:center"><strong>PO Number</strong></th>
                                                <th style="text-align:center"><strong>PO Date</strong></th>
                                                <th style="text-align:center"><strong>Invoice</strong></th>
                                                <th style="text-align:center"><strong>Full Name</strong></th>
                                                <th style="text-align:center"><strong>Company</strong></th>
                                                <th style="text-align:center"><strong>Payment Date</strong></th>
                                                <th style="text-align:center"><strong>Total</strong></th>
                                                <th style="text-align:center"><strong>Net</strong></th>
                                                <th style="text-align:center"><strong>Balance</strong></th>
                                                <th style="text-align:center"><strong>Actions</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    Paid
                                                </td>

                                                <td>
                                                    Contarct
                                                </td>
                                                <td>
                                                    IT
                                                </td>
                                                <td>
                                                    PO Created
                                                </td>
                                                <td>
                                                    PO Number
                                                </td>
                                                <td>
                                                    PO Date
                                                </td>
                                                <td>
                                                    Invoice
                                                </td>
                                                <td>
                                                    Full Name
                                                </td>
                                                <td>
                                                    Company
                                                </td>
                                                <td>
                                                    Payment Date
                                                </td>
                                                <td>
                                                    Total
                                                </td>
                                                <td>
                                                    Net
                                                </td>
                                                <td>
                                                    Balance
                                                </td>
                                                <td style="display:flex;">
                                                    <div class="row">
                                                        <div class="col-md-6 dropdown">
                                                            <i class="dropdown-toggle fa fa-angle-down" data-toggle="dropdown">
                                                            </i>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li><a href="#">Add a Payment</a></li>
                                                                <li><a href="#">Dispute</a></li>
                                                                <li><a href="#">Extract to PDF</a></li>
                                                                <li><a href="#">Copy Link</a></li>
                                                                <li><a href="#">Duplicate</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a ng-click="" title="De-Activate"><i class="fas fa-trash-alt "></i></a>
                                                        </div>
                                                    </div>

                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Paid
                                                </td>

                                                <td>
                                                    Contarct
                                                </td>
                                                <td>
                                                    IT
                                                </td>
                                                <td>
                                                    PO Created
                                                </td>
                                                <td>
                                                    PO Number
                                                </td>
                                                <td>
                                                    PO Date
                                                </td>
                                                <td>
                                                    Invoice
                                                </td>
                                                <td>
                                                    Full Name
                                                </td>
                                                <td>
                                                    Company
                                                </td>
                                                <td>
                                                    Payment Date
                                                </td>
                                                <td>
                                                    Total
                                                </td>
                                                <td>
                                                    Net
                                                </td>
                                                <td>
                                                    Balance
                                                </td>
                                                <td style="display:flex;">
                                                    <div class="row">
                                                        <div class="col-md-6 dropdown">
                                                            <i class="dropdown-toggle fa fa-angle-down" data-toggle="dropdown">
                                                            </i>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li><a href="#">Add a Payment</a></li>
                                                                <li><a href="#">Pay Online</a></li>
                                                                <li><a href="#">Extract to PDF</a></li>
                                                                <li><a href="#">Copy Link</a></li>
                                                                <li><a href="#">Duplicate</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a ng-click="" title="De-Activate"><i class="fas fa-trash-alt "></i></a>
                                                        </div>
                                                    </div>
                                                    
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    Paid
                                                </td>

                                                <td>
                                                    Contract
                                                </td>
                                                <td>
                                                    IT
                                                </td>
                                                <td>
                                                    PO Created
                                                </td>
                                                <td>
                                                    PO Number
                                                </td>
                                                <td>
                                                    PO Date
                                                </td>
                                                <td>
                                                    Invoice
                                                </td>
                                                <td>
                                                    Full Name
                                                </td>
                                                <td>
                                                    Company
                                                </td>
                                                <td>
                                                    Payment Date
                                                </td>
                                                <td>
                                                    Total
                                                </td>
                                                <td>
                                                    Net
                                                </td>
                                                <td>
                                                    Balance
                                                </td>
                                                <td style="display:flex;">
                                                    <div class="row">
                                                        <div class="col-md-6 dropdown">
                                                            <i class="dropdown-toggle fa fa-angle-down" data-toggle="dropdown">
                                                            </i>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li><a href="#">Add a Payment</a></li>
                                                                <li><a href="#">Dispute</a></li>
                                                                <li><a href="#">Extract to PDF</a></li>
                                                                <li><a href="#">Copy Link</a></li>
                                                                <li><a href="#">Duplicate</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <a ng-click="" title="De-Activate"><i class="fas fa-trash-alt "></i></a>
                                                        </div>
                                                    </div>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>