﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="moduleErrorListCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table colliers_table">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <!--<th>SNo.</th>-->
                                        <th>REASON</th>
                                        <th>DATE_CREATED</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in modulErrorList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <!--<td>{{$index + 1}}</td>-->
                                        <td ng-bind-html="item.REASON"></td>
                                        <td>{{getDate(item.DATE_CREATED)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="pageChanged();" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
