﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="prCtrl">
                    <h4 ng-show="PRDetails.PRSHOW">Purchase Requisition</h4>
                    <h4 ng-show="!PRDetails.PRSHOW">Work Order Requisition</h4>
                    <fieldset ng-disabled="isFormdisabled">
                        <div class="row white-box" ng-show="PRDetails.PRSHOW">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>PR CODE</label>
                                        <input ng-disabled="true" type="text" ng-model="PRDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Status</label>
                                        <select class="form-control" ng-model="PRDetails.STATUS" ng-options="type.value as type.display for type in prStatus"></select>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <div moment-picker="PRDetails.REQUEST_DATE" format="DD-MM-YYYY HH:mm" class="col-md-12">
                                        <label>Date</label>
                                        <input ng-disabled="true" class="form-control" placeholder="Select a date" ng-model="PRDetails.REQUEST_DATE" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>                           
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row white-box" ng-show="!PRDetails.PRSHOW">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Company*</label>
                                        <input type="text" ng-model="PRDetails.COMPANY" name="prno" id="prno" class="form-control" />                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Requisition Ref No*</label>
                                        <input ng-disabled="true" type="text" ng-model="PRDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Project*</label>
                                        <input type="text" class="form-control" ng-model="PRDetails.ASSET_TYPE">
                                        <!--<div ng-show="isValidConsumables">
                            <div class="help-block error logininput text-danger" ng-show="isValidConsumables">Please enter Project</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <!--<div moment-picker="PRDetails.REQUEST_DATE" format="YYYY-MM-DD HH:mm" class="col-md-12">
                        <label>Date*</label>
                        <input class="form-control" placeholder="Select a date" ng-model="PRDetails.REQUEST_DATE" ng-model-options="{ updateOn: 'blur' }">
                    </div>-->

                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Location*</label>
                                        <input type="text" class="form-control" ng-model="PRDetails.PRIORITY">
                                        <!--<div ng-show="isValidNatureOfRequirement">
                            <div class="help-block error logininput text-danger" ng-show="isValidNatureOfRequirement">Please enter Location</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Classification*</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="text" class="form-control" ng-model="PRDetails.CLASSIFICATION">
                                            </div>
                                        </div>
                                        <!--<div ng-show="isValidIndentDept">
                            <div class="help-block error logininput text-danger" ng-show="isValidIndentDept">Please enter Classification</div>
                        </div>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Work Order Duration*</label>
                                        <input type="text" class="form-control" ng-model="PRDetails.WORK_ORDER_DURATION" valid-number allow-decimal="false" allow-negative="false">
                                        <!--<div ng-show="isValidConsumables">
                            <div class="help-block error logininput text-danger" ng-show="isValidConsumables">Please enter Work Order Duration</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                &nbsp;
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Purpose in Brief*</label>
                                        <!--<input type="text" class="form-control" ng-model="PRDetails.PR_NUMBER">-->
                                        <input type="text" ng-model="PRDetails.PURPOSE_IN_BRIEF" name="prno" id="prno" class="form-control" />
                                        <!--<div ng-show="isValidPRNO">
                            <div class="help-block error logininput text-danger" ng-show="isValidPRNO">Please enter Requisition Ref NO</div>
                        </div>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12">
                                &nbsp;
                            </div>
                        </div>


                        <div class="row white-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <h5 ng-show="tableValidation" style="color:red;">{{tableValidationMsg}}</h5>
                                        <div class="col-md-12" ng-show="PRDetails.PRSHOW">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>SNO</th>
                                                        <th>NAME*</th>
                                                        <th>HSN CODE</th>
                                                        <th>Description of Material*</th>
                                                        <th>Make*</th>
                                                        <th>UOM*</th>
                                                        <!--<th>Stock in Stores / Pipeline</th>-->
                                                        <th>Unit Price*</th>
                                                        <th>TAXES(%)*</th>
                                                        <th>Total Qty to be Procured*</th>
                                                        <th>Total Estimated Cost(Rs.)*</th>
                                                        <th>Purpose*</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pr in PRDetails.PRItemsList" ng-init="parentIdx = $index">
                                                        <td style="text-align:center;padding-top: 30px;">{{$index+1}}</td>
                                                        <td>
                                                            <textarea type="text" class="form-control" ng-model="pr.ITEM_NAME"
                                                                      ng-keyup="autofillProduct(pr.ITEM_NAME, parentIdx)"
                                                                      ng-blur="onBlurProduct(parentIdx)"
                                                                      style="resize:vertical" rows="3"></textarea>
                                                            <!--ng-keyup="autofillProduct(pr.ITEM_NAME, parentIdx)"
                                            ng-blur="onBlurProduct(parentIdx)"
                                            style="resize:vertical" rows="3"-->
                                                            <ul class="list-group" ng-if="['filterProducts_'+parentIdx]" style="position:absolute;z-index:99">
                                                                <li class="list-group-item form-control" style="cursor:pointer;" ng-repeat="prod_$index in this['filterProducts_'+parentIdx]" ng-click="fillTextbox(prod_$index, parentIdx)"><small>{{prod_$index.prodName}}</small></li>
                                                            </ul>
                                                        </td>
                                                        <td><textarea type="text" class="form-control" ng-model="pr.HSN_CODE" style="resize:vertical" rows="3"></textarea></td>
                                                        <td>
                                                            <!--<div moment-picker="allowance.AC_ITEM_TIME_OUT" format="YYYY-MM-DD HH:mm" class="col-md-12">
                                                <div class="row">
                                                    <textarea class="form-control" ng-model="allowance.AC_ITEM_TIME_OUT" ng-model-options="{ updateOn: 'blur' }" style="resize:vertical" rows="3"></textarea>
                                                </div>
                                            </div>-->
                                                            <textarea type="text" class="form-control" ng-model="pr.ITEM_DESCRIPTION" style="resize:vertical" rows="3"></textarea>
                                                        </td>
                                                        <td>
                                                            <!--<div moment-picker="allowance.AC_ITEM_TIME_IN" format="YYYY-MM-DD HH:mm" class="col-md-12">
                                                <div class="row">
                                                    <textarea class="form-control moment-picker-input" ng-model="allowance.AC_ITEM_TIME_IN" ng-model-options="{ updateOn: 'blur' }" style="resize:vertical" rows="3"></textarea>
                                                </div>
                                            </div>-->
                                                            <textarea type="text" class="form-control" ng-model="pr.BRAND" style="resize:vertical" rows="3"></textarea>
                                                        </td>
                                                        <td><select data-placeholder="Select Type" ng-model="pr.UNITS" ng-options="BC.configValue as BC.configValue for BC in companyItemUnits" class="form-control valid"></select></td>
                                                        <!--<td><input type="text" class="form-control" ng-model="pr.EXIST_QUANTITY" valid-number allow-decimal="false" allow-negative="false"></td>-->
                                                        <td><input type="text" class="form-control" ng-model="pr.UNIT_PRICE" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false"></td>
                                                        <td><input type="text" class="form-control" ng-model="pr.C_GST_PERCENTAGE" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false"></td>
                                                        <td><input type="text" class="form-control" ng-model="pr.REQUIRED_QUANTITY" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false"></td>
                                                        <td><input type="number" class="form-control" ng-model="pr.TOTAL_PRICE" ng-disabled="true"></td>
                                                        <td><textarea type="text" class="form-control" ng-model="pr.COMMENTS" style="resize:vertical" rows="3"></textarea></td>
                                                        <td>
                                                            <div class="button-box" data-provides="fileinput" ng-if="!isFormdisabled">
                                                                <div class="fileupload btn btn-info btn-sm waves-effect waves-light">
                                                                    <span><i class="fa fa-upload"></i></span>
                                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{parentIdx}}" itemid="{{parentIdx}}" ng-file-select-items="onFileSelect($files)">
                                                                </div>
                                                                <label> {{pr.attachmentName}}  </label>
                                                            </div>

                                                            <button class="btn btn-danger" ng-click="deletePrItem($index)" title="Delete Item">
                                                                <i class="fa fa-trash-alt "></i>
                                                            </button>

                                                            <small>
                                                                <a target="_blank" ng-show="pr && pr.ATTACHMENTS && pr.ATTACHMENTS.length > 0" href="FileDownload.aspx?attachid={{pr.ATTACHMENTS}}&sessionid={{sessionID}}">Download</a>
                                                            </small>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--<div class="row">
                                <div class="col-md-1 ">
                                    SNO
                                </div>
                                <div class="col-md-1 ">
                                    NAME*
                                </div>
                                <div class="col-md-1 ">
                                    Description of Material*
                                </div>
                                <div class="col-md-1 ">
                                    Make*
                                </div>
                                <div class="col-md-1 ">
                                    UOM*
                                </div>
                                <div class="col-md-1 ">
                                    Stock in Stores / Pipeline
                                </div>
                                <div class="col-md-1 ">
                                    Unit Price*
                                </div>
                                <div class="col-md-1 ">
                                    TAXES(%)*
                                </div>
                                <div class="col-md-1 ">
                                    Total Qty to be Procured*
                                </div>
                                <div class="col-md-1 ">
                                    Total Estimated Cost(Rs.)*
                                </div>
                                <div class="col-md-1 ">
                                    Purpose*
                                </div>
                                <div class="col-md-1 ">
                                    Action
                                </div>


                            </div>-->
                                            <!--<div class="row items_single_row" ng-repeat="pr in PRDetails.PRItemsList" ng-init="parentIdx = $index">
                                <div class="col-md-1  text-center">
                                    {{$index+1}}
                                </div>
                                <div class="col-md-1 ">
                                    <textarea type="text" class="form-control" ng-model="pr.ITEM_NAME"
                                              ng-keyup="autofillProduct(pr.ITEM_NAME, parentIdx)"
                                              ng-blur="onBlurProduct(parentIdx)"
                                              style="resize:vertical" rows="3"></textarea>
                                    <ul class="list-group" ng-if="['filterProducts_'+parentIdx]" style="position:absolute;z-index:99">
                                        <li class="list-group-item form-control" style="cursor:pointer;" ng-repeat="prod_$index in this['filterProducts_'+parentIdx]" ng-click="fillTextbox(prod_$index, parentIdx)"><small>{{prod_$index.prodName}}</small></li>
                                    </ul>
                                </div>
                                <div class="col-md-1 ">
                                    <textarea type="text" class="form-control" ng-model="pr.ITEM_DESCRIPTION" style="resize:vertical" rows="3"></textarea>
                                </div>
                                <div class="col-md-1 ">
                                    <textarea type="text" class="form-control" ng-model="pr.BRAND" style="resize:vertical" rows="3"></textarea>
                                </div>
                                <div class="col-md-1 ">
                                    <select data-placeholder="Select Type" ng-model="pr.UNITS" ng-options="BC.configValue as BC.configValue for BC in companyItemUnits" class="form-control valid"></select>
                                </div>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" ng-model="pr.EXIST_QUANTITY" valid-number allow-decimal="false" allow-negative="false">
                                    <small ng-repeat="store in storeDetails">{{store.storeDetails.storeCode}} Store ({{pr.EXIST_QUANTITY}})</small>
                                </div>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" ng-model="pr.UNIT_PRICE" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false">
                                </div>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" ng-model="pr.C_GST_PERCENTAGE" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false">
                                </div>
                                <div class="col-md-1 ">
                                    <input type="text" class="form-control" ng-model="pr.REQUIRED_QUANTITY" ng-change="prUnitPriceCalculation()" valid-number allow-decimal="true" allow-negative="false">
                                </div>
                                <div class="col-md-1 ">
                                    <input type="number" class="form-control" ng-model="pr.TOTAL_PRICE" ng-disabled="true">
                                </div>
                                <div class="col-md-1 ">
                                    <textarea type="text" class="form-control" ng-model="pr.COMMENTS" style="resize:vertical" rows="3"></textarea>
                                </div>
                                <div class="col-md-1  text-center">
                                    <div class="button-box" data-provides="fileinput" ng-if="!isFormdisabled">
                                        <div class="fileupload btn btn-info btn-sm waves-effect waves-light">
                                            <span><i class="fa fa-upload"></i></span>
                                            <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{parentIdx}}" itemid="{{parentIdx}}" ng-file-select-items="onFileSelect($files)">
                                        </div>
                                        <label> {{pr.attachmentName}}  </label>
                                    </div>

                                    <button class="btn btn-danger" ng-click="deletePrItem($index)" title="Delete Item">
                                        <i class="fa fa-trash-alt "></i>
                                    </button>

                                    <small>
                                        <a target="_blank" ng-show="pr && pr.ATTACHMENTS && pr.ATTACHMENTS.length > 0" href="FileDownload.aspx?attachid={{pr.ATTACHMENTS}}&sessionid={{sessionID}}">Download</a>
                                    </small>

                                </div>
                            </div>-->
                                            <div class="row top-buffer">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-2 pull-right text-right">
                                                            <button id="AddNewLineItem" class="add_new_line_item uppercase" ng-click="addPrItem()" title="Add new line Item">
                                                                <i class="fa fa-plus" aria-hidden="true"></i> Item
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" ng-show="PRDetails.PRSHOW">


                                            <div class="col-md-6">

                                                <div class="">

                                                    <label class="uppercase">Comments</label>

                                                    <textarea class="form-control" name="notes_for_vendor" rows="4" ng-model="PRDetails.PRIORITY_COMMENTS"></textarea>

                                                </div>

                                            </div>

                                            <div class="col-md-6 top-buffer" style="padding-top:7px">
                                                <div style="border:1px solid;height:100px" class="form-control">
                                                    <div class="row">
                                                        <h5 class="col-md-6">Sub Total</h5>
                                                        <span class="col-md-4 center-block" style="margin-top:7px">{{PRDetails.TOTAL_BASE_PRICE}}</span>
                                                    </div>
                                                    <div class="row">
                                                        <h5 class="col-md-6">Tax</h5>
                                                        <span class="col-md-4 center-block" style="margin-top:7px">{{PRDetails.TOTAL_GST_PRICE}}</span>
                                                    </div>
                                                    <div class="row">
                                                        <h5 class="col-md-6">Total Cost</h5>
                                                        <span class="col-md-4 center-block" style="margin-top:7px">{{PRDetails.TOTAL_PRICE}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-section" ng-show="!PRDetails.PRSHOW">


                                    <div class="col8 colxs16 column">

                                        <div class="fieldgroup">

                                            <label class="uppercase">Remarks</label>

                                            <textarea class="form-control" name="notes_for_vendor" rows="4" ng-model="PRDetails.PRIORITY_COMMENTS"></textarea>

                                        </div><!-- End of .fieldgroup -->

                                    </div>

                                    <div class="col8 colxs16 column">



                                        <div class="order_total_wrapper">
                                            <div id="reviewtotal"></div>
                                            <h5 class="summary-grid">Subtotal</h5>

                                            <span id="sub_total">{{PRDetails.TOTAL_BASE_PRICE}}</span>

                                            <div class="tax_wrapper">
                                                Tax
                                            </div>

                                            <span id="tax_total">
                                                {{PRDetails.TOTAL_GST_PRICE}}
                                            </span>
                                            <div class="clrfix"></div>
                                            <div class="total_cost_wrapper">

                                                <h5 class="totalcost-grid">Total Cost</h5>
                                                <span id="grand_total">
                                                    {{PRDetails.TOTAL_PRICE}}

                                                </span>


                                            </div>
                                        </div>



                                    </div>

                                </div>
                                
                            </div>
                        </div>

                        <div class="row" ng-repeat="wf in workflowList" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                            <div ng-if="wf.workflowID == workflowObj.workflowID">
                                <div class="col-md-12 text-center">
                                    <h4>{{wf.workflowTitle}}</h4>
                                </div>
                                <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                    <div class="white-box">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <h3>{{$index+1}}</h3>
                                            </div>
                                            <div class="col-md-10">
                                                <span class="top-buffer">
                                                    Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                    <br />
                                                    Designation: <strong>{{ws.approver.desigCode}}</strong>
                                                </span>
                                            </div>
                                            <div class="col-md-1">
                                                <i class="fas fa-arrow-right top-buffer"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <button type="submit" class="btn btn-info btn-file btn-new-look" ng-click="savePr()">Submit</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="goToPrList();">Cancel</button>
                            <br />
                        </div>

                    </fieldset>
                    <fieldset ng-disabled="isSuperUser">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <br />
                                        <br />
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                    </br>-->
                                                    <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                </span>
                                            </div>
                                        </div>                                        
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>

                    <fieldset ng-disabled="disableAssignPR">
                        <div class="col-md-12" ng-if="isUserEntitled(591168) && CompanyRFQCreators.length>0">
                            <div class="row">
                                <div class="text-center">
                                    <div class="col-md-4">
                                        &nbsp;
                                        <br />
                                        <b class="pull-left"> Assign To</b>
                                    </div>
                                </div>
                                <div class="col-md-12  list-group-item">
                                    <div class="col-md-4" ng-repeat="user in CompanyRFQCreators">
                                        <input type="checkbox" ng-model="user.IS_ASSIGNED"
                                               ng-change="consoleLog(user.isIndentAssigned);">
                                        &nbsp;{{user.U_NAME}}
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <br />
                                    &nbsp;
                                    <button class="btn-primary btn" ng-click="SaveCompanyRFQCreators();">Assign PR</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
