﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="poManagementCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-3">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Select Template</strong></h5>
                            <multiselect name="selectVendor" multiple="true"
                                         ng-model="filters.template"
                                         options="item.id as item.name for item in filtersList.docTypeList"
                                         change="setFilters(currentPage-1)" class="form-control p-0"></multiselect>
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Vendor Selection</strong></h5>
                            <select data-placeholder="Select Type"
                                    ng-model="filters.vendorid"
                                    ng-options="item.id as item.name for item in filtersList.vendoridList"
                                    ng-change="setFilters(currentPage-1)" class="form-control p-0"></select>
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Creator Name</strong></h5>
                            <multiselect name="selectCreator" multiple="true"
                                         ng-model="filters.requisitionerName"
                                         options="item.id as item.name for item in filtersList.requisitionList"
                                         change="setFilters(currentPage-1)" class="form-control p-0"></multiselect>
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-3">
                            <h5><strong>Plants</strong></h5>
                            <multiselect name="plant" multiple="true"
                                         ng-model="filters.plant"
                                         options="item.id as item.name for item in filtersList.plantList"
                                         change="setFilters(currentPage-1)" class="form-control p-0"></multiselect>
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Purchase Group Code</strong></h5>
                            <multiselect name="selectPurchaseGroup" multiple="true"
                                         ng-model="filters.purcahseGroup"
                                         options="item.id as item.name for item in filtersList.purchaseGroupList"
                                         change="setFilters(currentPage-1)" class="form-control p-0"></multiselect>
                        </div>

                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row" style="margin-top:25px;" ng-if="poDet.poLevel">
                        <div class="col-md-12 table-responsive z-depth-2">
                            <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                                <table class="table table-bordered colliers_table">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th>
                                                <a role="button" ng-hide="poDetails.expanded" ng-click="poDetails.expanded = true;getPoItems(poDetails)" " title="More Details"><i class="fa fa-angle-right fa-2x" style="color:white;"></i></a>
                                                <a role="button" ng-hide="!poDetails.expanded" ng-click="poDetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x" style="color:white"></i></a>&nbsp;
                                            </th>
                                            <th>PO Number</th>
                                            <th>Vendor</th>
                                            <th>Purchase Organization</th>
                                            <th>Company Code</th>
                                            <th>Payment terms</th>
                                            <th>Document Type</th>
                                            <th style="min-width:95px">Item Special Instruction</th>
                                            <th>Delivery Mode</th>
                                            <th>Creator Name</th>
                                            <th>Inco terms</th>
                                            <th>Inco terms Description</th>
                                            <th>Purchase Group</th>
                                            <th style="min-width:112px">Vendor Quotation Num</th>
                                            <th>Insurance No </th>
                                            <th>%Penality per Week</th>
                                            <th>No.of Weeks</th>
                                            <th style="min-width:76px">Max % of Penality</th>
                                            <th style="min-width:82px">Max No.of Weeks</th>
                                            <th>Held status </th>
                                            <th>Currency</th>
                                            <th>GMP</th>
                                            <th ng-if="service">Validity Start</th>
                                            <th ng-if="service">Validity End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="poDetails in filteredPOList">
                                            <td>
                                                <a role="button" ng-hide="poDetails.expanded" ng-click="poDetails.expanded = true;getPoItems(poDetails)" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!poDetails.expanded" ng-click="poDetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                            </td>
                                            <td>{{poDetails.PO_NO ? poDetails.PO_NO : 'DRAFT-PO'}}</td>
                                            <td>{{poDetails.LIFNR}}</td>
                                            <td>{{poDetails.BUKRS}}</td>
                                            <td>{{poDetails.EKORG}}</td>
                                            <td>{{poDetails.ZTERM}}</td>
                                            <td>{{poDetails.BSART}}</td>
                                            <td>{{poDetails.ITM_SP_INST}}</td>
                                            <td>{{poDetails.DELIVERY_MODE}}</td>
                                            <td>{{poDetails.ERNAM}}</td>
                                            <td>{{poDetails.INCO1}}</td>
                                            <td>{{poDetails.INCO2}}</td>
                                            <td>{{poDetails.EKGRP}}</td>
                                            <td>{{poDetails.ZZQANO}}</td>
                                            <td>{{poDetails.INSURANCE_NUMBER}}</td>
                                            <td>{{poDetails.PENALITY_PER_WEEK}}</td>
                                            <td>{{poDetails.NUMBER_WEEKS}}</td>
                                            <td>{{poDetails.MAX_PENALITY}}</td>
                                            <td>{{poDetails.MAX_WEEKS}}</td>
                                            <td>{{poDetails.MEMORYTYPE}}</td>
                                            <td>{{poDetails.WAERS}}</td>
                                            <td>{{poDetails.ZZMAP_NON_GMP}}</td>
                                            <td ng-if="service">{{poDetails.KDATB}}</td>
                                            <td ng-if="service">{{poDetails.KDATE}}</td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="poDetails.expanded">
                                            <td colspan="16">
                                                <table class="table-striped table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>PR Number</th>
                                                            <th style="min-width:68px">PR Item Level</th>
                                                            <th>Plant</th>
                                                            <th>Material type</th>
                                                            <th>Material</th>
                                                            <th>MPN Code </th>
                                                            <th>Tax Code</th>
                                                            <th>Quantity</th>
                                                            <th ng-if="import || bonded">Import Insurance%</th>
                                                            <th ng-if="import || bonded">Mislaneous Charges</th>
                                                            <th ng-if="import || bonded">Ocean/AirFreight-%</th>
                                                            <th ng-if="import || bonded">Ocean/AirFreight-Val</th>
                                                            <th>Price Unit</th>
                                                            <th>PO UOM</th>
                                                            <th style="min-width:155px">Net Price in Purchasing Document</th>
                                                            <th>Order Price Unit(Purchasing)</th>
                                                            <th>Delivery Date</th>
                                                            <th>Pack Size</th>
                                                            <th>Vendor Catalog</th>
                                                            <th>Netprice</th>
                                                            <th>PO Price</th>
                                                            <th>Discount Value</th>
                                                            <!--<th ng-if="domestic">Pack&Forward% </th>-->
                                                            <!--<th ng-if="domestic">Pack&Forward-Val</th>-->
                                                            <th>Pack&Forward% </th>
                                                            <th>Pack&Forward-Val</th>
                                                            <th style="min-width:102px" ng-if="domestic">Freight Non Taxable-%Val</th>
                                                            <th ng-if="domestic">Freight Taxable%</th>
                                                            <th ng-if="domestic">Freight-Val</th>
                                                            <th style="min-width:83px" ng-if="domestic">Freight val Non Tax</th>
                                                            <th ng-if="domestic">MISC(%) Taxable</th>
                                                            <th style="min-width:91px" ng-if="domestic">MISC Value Taxable</th>
                                                            <th ng-if="domestic">MISC%Non-Tax</th>
                                                            <th style="min-width:91px" ng-if="domestic">MISC Value Non Tax</th>
                                                            <th ng-if="bonded">Inbound Delivery</th>
                                                            <th ng-if="service">SAC Code</th>

                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="item in poDetails.POItems">
                                                        <td>{{item.BANFN}}</td>
                                                        <td>{{item.BNFPO}}</td>
                                                        <td>{{item.WERKS}}</td>
                                                        <td>{{item.MTART}}</td>
                                                        <td>{{item.MATNR}}</td>
                                                        <td>{{item.EMATN}}</td>
                                                        <td>{{item.MWSKZ}}</td>
                                                        <td>{{item.MENGE}}</td>
                                                        <td ng-if="import || bonded">{{item.JINS}}</td>
                                                        <td ng-if="import || bonded">{{item.ZMIS}}</td>
                                                        <td ng-if="import || bonded">{{item.JOFP}}</td>
                                                        <td ng-if="import || bonded">{{item.JOFV}}</td>
                                                        <td>{{item.PEINH}}</td>
                                                        <td>{{item.MEINS}}</td>
                                                        <td>{{item.PBXX}}</td>
                                                        <td>{{item.BPRME}}</td>
                                                        <td>{{item.EINDT}}</td>
                                                        <td>{{item.PEINH}}</td>
                                                        <td>{{item.IDNLF}}</td>
                                                        <td>{{item.NETPR}}</td>
                                                        <td>{{item.PBXX}}</td>
                                                        <td>{{item.RB00}}</td>
                                                        <!--<td ng-if="domestic">{{item.P_26F1}}</td>
                                        <td ng-if="domestic">{{item.P_26F2}}</td>-->
                                                        P_
                                                        <td>{{item.P_26F1}}</td>
                                                        <td>{{item.P_26F2}}</td>
                                                        <td ng-if="domestic">{{item.FRA2}}</td>
                                                        <td ng-if="domestic">{{item.FRA1}}</td>
                                                        <td ng-if="domestic">{{item.FRB1}}</td>
                                                        <td ng-if="domestic">{{item.FRB2}}</td>
                                                        <td ng-if="domestic">{{item.ZMS1}}</td>
                                                        <td ng-if="domestic">{{item.ZMS2}}</td>
                                                        <td ng-if="domestic">{{item.ZMS3}}</td>
                                                        <td ng-if="domestic">{{item.ZMS4}}</td>
                                                        <td ng-if="bonded">{{item.INBOUND_DELIVERY}}</td>
                                                        <td ng-if="service">{{item.STEUC}}</td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Displaying: {{ pageSizeTemp <= 0 ? 1 : (itemsPerPage * (pageSizeTemp)) + 1 }} - {{ (itemsPerPage * (pageSizeTemp + 1) > POStats.totalPOs) ? POStats.totalPOs : (itemsPerPage * (pageSizeTemp + 1)) }} of {{ POStats.totalPOs }}</strong>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:25px;" ng-if="!poDet.poLevel">
                        <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                            <table class="table-striped table table-bordered">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th></th>
                                        <th>PR Number</th>
                                        <th style="min-width:68px">PR Item Level</th>
                                        <th>Plant</th>
                                        <th>Material type</th>
                                        <th>Material</th>
                                        <th>MPN Code</th>
                                        <th>Tax Code</th>
                                        <th>Quantity</th>
                                        <th ng-if="import || bonded">Import Insurance%</th>
                                        <th ng-if="import || bonded">Mislaneous Charges</th>
                                        <th ng-if="import || bonded">Ocean/AirFreight-%</th>
                                        <th ng-if="import || bonded">Ocean/AirFreight-Val</th>
                                        <th>Price Unit</th>
                                        <th>PO UOM</th>
                                        <th style="min-width:155px">Net Price in Purchasing Document</th>
                                        <th>Order Price Unit(Purchasing)</th>
                                        <th>Delivery Date</th>
                                        <th>Pack Size</th>
                                        <th>Vendor Catalog</th>
                                        <th>Netprice</th>
                                        <th>PO Price</th>
                                        <th>Discount Value</th>
                                        <th ng-if="domestic">Pack&Forward% </th>
                                        <th ng-if="domestic">Pack&Forward-Val</th>
                                        <th ng-if="domestic">Freight Non Taxable-%Val</th>
                                        <th ng-if="domestic">Freight Taxable%</th>
                                        <th ng-if="domestic">Freight-Val</th>
                                        <th style="min-width:83px" ng-if="domestic">Freight val Non Tax</th>
                                        <th ng-if="domestic">MISC(%) Taxable</th>
                                        <th style="min-width:91px" ng-if="domestic">MISC Value Taxable</th>
                                        <th ng-if="domestic">MISC%Non-Tax</th>
                                        <th style="min-width:91px" ng-if="domestic">MISC Value Non Tax</th>
                                        <th ng-if="bonded">Inbound Delivery</th>
                                        <th ng-if="service">SAC Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="poItem in itemsList">

                                        <td style="text-align:center">
                                            <a role="button" ng-hide="poItem.expanded" ng-click="poItem.expanded = true;" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!poItem.expanded" ng-click="poItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                        </td>
                                        <td>{{poItem.BANFN}}</td>
                                        <td>{{poItem.BNFPO}}</td>
                                        <td>{{poItem.WERKS}}</td>
                                        <td>{{poItem.MTART}}</td>
                                        <td>{{poItem.MATNR}}</td>
                                        <td>{{poItem.SHORT_TEXT}}</td>
                                        <td>{{poItem.MWSKZ}}</td>
                                        <td>{{poItem.MENGE}}</td>
                                        <td ng-if="import || bonded">{{poItem.JINS}}</td>
                                        <td ng-if="import || bonded">{{poItem.ZMIS}}</td>
                                        <td ng-if="import || bonded">{{poItem.JOFP}}</td>
                                        <td ng-if="import || bonded">{{poItem.JOFV}}</td>
                                        <td>{{poItem.PEINH}}</td>
                                        <td>{{poItem.MEINS}}</td>
                                        <td>{{poItem.PBXX}}</td>
                                        <td>{{poItem.BPRME}}</td>
                                        <td>{{poItem.EINDT}}</td>
                                        <td>{{poItem.Pack_SIZE}}</td>
                                        <td>{{poItem.IDNLF}}</td>
                                        <td>{{poItem.NETPR}}</td>
                                        <td>{{poItem.PBXX}}</td>
                                        <td>{{poItem.RB00}}</td>
                                        <td ng-if="domestic">{{poItem.P_26F1}}</td>
                                        <td ng-if="domestic">{{poItem.P_26F2}}</td>
                                        <td ng-if="domestic">{{poItem.FRA2}}</td>
                                        <td ng-if="domestic">{{poItem.FRA1}}</td>
                                        <td ng-if="domestic">{{poItem.FRB1}}</td>
                                        <td ng-if="domestic">{{poItem.FRB2}}</td>
                                        <td ng-if="domestic">{{poItem.ZMS1}}</td>
                                        <td ng-if="domestic">{{poItem.ZMS2}}</td>
                                        <td ng-if="domestic">{{poItem.ZMS3}}</td>
                                        <td ng-if="domestic">{{poItem.ZMS4}}</td>
                                        <td ng-if="bonded">{{poItem.INBOUND_DELIVERY}}</td>
                                        <td ng-if="service">{{poItem.STEUC}}</td>

                                    </tr>
                                    <tr ng-repeat-end ng-if="poItem.expanded">
                                        <td colspan="16">

                                            <table class="table-striped table table-bordered">
                                                <thead>
                                                    <tr style="font-weight: bold">
                                                        <th></th>
                                                        <th>Vendor</th>
                                                        <th>Purchase Organization</th>
                                                        <th>Vendor Code</th>
                                                        <th>Payment terms</th>
                                                        <th>Plant Name</th>
                                                        <th>Document Type</th>
                                                        <th style="min-width:95px">Item Special Instruction</th>
                                                        <th>Delivery Mode</th>
                                                        <th>Creator Name</th>
                                                        <th>Inco terms</th>
                                                        <th>Inco terms Description</th>
                                                        <th>Purchase Group</th>
                                                        <th style="min-width:112px">Vendor Quotation Num</th>
                                                        <th>Insurance No </th>
                                                        <th>%Penality per Week</th>
                                                        <th>No.of Weeks</th>
                                                        <th style="min-width:76px">Max % of Penality</th>
                                                        <th style="min-width:82px">Max No.of Weeks</th>
                                                        <th>Held status </th>
                                                        <th>Currecncy</th>
                                                        <th>GMP</th>
                                                        <th ng-if="service">Validity Start</th>
                                                        <th ng-if="service">Validity End</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="po in poItem.ItemPOS">
                                                    <td>{{po.VENDOR_NAME}}</td>
                                                    <td>{{po.PURCHASE_GROUP_NAMES}}</td>
                                                    <td>{{po.LIFNR}}</td>
                                                    <td>{{po.ZTERM}}</td>
                                                    <td>{{po.BSART}}</td>
                                                    <td>{{po.ITM_SP_INST}}</td>
                                                    <td>{{po.DELIVERY_MODE}}</td>
                                                    <td>{{po.PR_CREATOR_NUMBER}}</td>
                                                    <td>{{po.INCO1}}</td>
                                                    <td>{{po.INCO2}}</td>
                                                    <td>{{po.EKGRP}}</td>
                                                    <td>{{po.ZZQANO}}</td>
                                                    <td>{{po.INSURANCE_NUMBER}}</td>
                                                    <td>{{po.PENALITY_PER_WEEK}}</td>
                                                    <td>{{po.NUMBER_WEEKS}}</td>
                                                    <td>{{po.MAX_PENALITY}}</td>
                                                    <td>{{po.MAX_WEEKS}}</td>
                                                    <td>{{po.MEMORYTYPE}}</td>
                                                    <td>{{po.WAERS}}</td>
                                                    <td>{{po.ZZMAP_NON_GMP}}</td>
                                                    <td ng-if="service">{{po.KDATB}}</td>
                                                    <td ng-if="service">{{po.KDATE}}</td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <strong>Displaying: {{ ((currentPage1-1) * itemsPerPage1) +  1 }} - {{ (((currentPage1-1) * itemsPerPage1) +  10) > itemsList.length ? itemsList.length :  (((currentPage1-1) * itemsPerPage1) +  10)}} of {{itemsList.length}}</strong>
                            <ul uib-pagination total-items="totalItems1" ng-model="currentPage1" items-per-page="itemsPerPage1" max-size="maxSize1" ng-change="pageChanged1()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" data-ng-include="'template/footer.html'"></footer>
