<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="auditCtrl">
                <div class="white-box" style="margin-top:15px;">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><strong>{{requirementDetails.title}}</strong> - Audit</h2>
                        </div>
                        <div class="col-lg-12">
                            <div class="row" ng-repeat="audit in auditData">
                                <div class="col-md-12">
                                    <a role="button" ng-hide="audit.expanded" ng-click="getAuditDetails(audit)" style="margin-right:15px;cursor:pointer;" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                    <a role="button" ng-hide="!audit.expanded" ng-click="audit.expanded = false" style="margin-right:15px;cursor:pointer;" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                    <strong>Version: {{audit.auditVersion}} - {{audit.auditComments}}</strong>
                                </div>
                                <div class="col-md-12" ng-if="audit.expanded" style="margin:5px 0px 10px 50px;">
                                    <div class="row" ng-repeat="detail in filteredDetails">
                                        <span ng-if="detail.actionType === 'I' &&  detail.columnName === 'CATALOGUE_ITEM_ID'">
                                            <br />New product <strong>{{detail.moreDetails}}</strong> has been added
                                        </span>
                                        <span ng-if="detail.actionType === 'I' &&  detail.columnName === 'QUANTITY'">
                                            with quantity <strong>{{detail.newValue}}</strong> by <strong>{{detail.auditBy}}</strong> at <strong>{{detail.dateCreated1}}</strong>
                                        </span>
                                        <span ng-if="detail.actionType === 'U' &&  detail.columnName === 'QUANTITY'">
                                            <br />Product <strong>{{detail.moreDetails}}</strong> quantity has been modified from <strong>{{detail.oldValue}}</strong> to <strong>{{detail.newValue}}</strong> by <strong>{{detail.auditBy}}</strong> at <strong>{{detail.dateCreated1}}</strong>
                                        </span>
                                        <span ng-if="detail.actionType === 'U' &&  detail.columnName === 'PROD_ID'">
                                            <br />Removed existing product <strong>{{detail.oldValue}}</strong> and added new product  <strong>{{detail.newValue}}</strong> by <strong>{{detail.auditBy}}</strong> at <strong>{{detail.dateCreated1}}</strong>
                                        </span>
                                        <span ng-if="detail.actionType === 'U' &&  detail.columnName === 'REQ_COMMENTS'">
                                            <br />Requirements comments has been updated
                                            <br /><strong>New Comments:</strong> {{detail.newValue}}
                                            <br /><strong>Old Comments:</strong> {{detail.oldValue}}<br />
                                            by <strong>{{detail.auditBy}}</strong> at <strong>{{detail.dateCreated1}}</strong>
                                        </span>
                                        <span ng-if="detail.actionType === 'D' &&  detail.columnName === 'IS_DELETED'" class="text-danger">
                                            <br />Product <strong>{{detail.moreDetails}}</strong> has been removed from Requirement by <strong>{{detail.auditBy}}</strong> at <strong>{{detail.dateCreated1}}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div ng-if="audit.expanded && filteredDetails.length <= 0" style="margin:25px 0px 10px 50px;">
                                    <span>
                                        No changes have done on items, Quantity or Comments
                                    </span>
                                </div>
                            </div>
                            <!--<table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Field Name</th>
                                        <th>New Value</th>
                                        <th>Old Value</th>
                                        <th>Action By</th>
                                        <th>Action Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="auditLog in auditLogs" ng-if="!(auditLog.columnName === 'CATALOGUE_ITEM_ID' && auditLog.actionType === 'INSERT')">
                                        <td>{{auditLog.dateCreated}}</td>
                                        <td> <span ng-if="auditLog.columnName !== 'CATALOGUE_ITEM_ID'">{{auditLog.columnNameDesc}} <br /></span>  <span ng-if="auditLog.tableName === 'requirementitems'">Product Name: {{auditLog.moreDetails}}</span></td>
                                        <td><span ng-if="auditLog.columnName !== 'IS_DELETED'">{{auditLog.newValue}}</span></td>
                                        <td><span ng-if="auditLog.columnName !== 'IS_DELETED'">{{auditLog.oldValue}}</span></td>
                                        <td>{{auditLog.auditBy}}</td>
                                        <td>
                                            <span ng-if="auditLog.actionType === 'INSERT'" class="label label-info">{{auditLog.actionType}}</span>
                                            <span ng-if="auditLog.actionType === 'UPDATE'" class="label label-warning">{{auditLog.actionType}}</span>
                                            <span ng-if="auditLog.actionType === 'DELETE'" class="label label-danger">{{auditLog.actionType}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>



   
        




    
