﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="json-save-requirement-ctrl">
                    <div class="white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    TITLE
                                </label>
                                <textarea class="form-control"
                                       ng-model="jsonRequirement.TITLE"
                                       type="text"></textarea>
                            </div>



                            <div class="col-md-12"
                                 ng-repeat="jsonRequirementItem in jsonRequirement.jsonRequirementItems">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>
                                            ITEM_NAME
                                        </label>
                                        <textarea class="form-control"
                                               ng-model="jsonRequirementItem.ITEM_NAME"
                                               type="text"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            ITEM_CODE
                                        </label>
                                        <input class="form-control"
                                               ng-model="jsonRequirementItem.ITEM_CODE"
                                               type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            ITEM_NUMBER
                                        </label>
                                        <input class="form-control"
                                               ng-model="jsonRequirementItem.ITEM_NUMBER"
                                               type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            HSN_CODE
                                        </label>
                                        <input class="form-control"
                                               ng-model="jsonRequirementItem.HSN_CODE"
                                               type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            QUANTITY
                                        </label>
                                        <input class="form-control"
                                               ng-model="jsonRequirementItem.QUANTITY"
                                               type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            UNITS
                                        </label>
                                        <input class="form-control"
                                               ng-model="jsonRequirementItem.UNITS"
                                               type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            BRAND
                                        </label>
                                        <input class="form-control"
                                               ng-model="jsonRequirementItem.BRAND"
                                               type="text" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>
                                            DESCRIPTION
                                        </label>
                                        <input class="form-control"
                                               ng-model="jsonRequirementItem.DESCRIPTION"
                                               type="text" />
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-12">
                                <label>
                                    COMMENTS
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.COMMENTS"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    DELIVERY_TERMS
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.DELIVERY_TERMS"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    DELIVERY_LOCATION
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.DELIVERY_LOCATION"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    PAYMENT_TERMS
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.PAYMENT_TERMS"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    CONTACT_DETAILS
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.CONTACT_DETAILS"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    GENERAL_TERMS_CONDITIONS
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.GENERAL_TERMS_CONDITIONS"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    CONTRACT_START_TIME
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.CONTRACT_START_TIME"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    CONTRACT_END_TIME
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.CONTRACT_END_TIME"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    URGENCY
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.URGENCY"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    CURRENCY
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.CURRENCY"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    QUOTATION_FREEZE_TIME
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.QUOTATION_FREEZE_TIME"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    NUMBER_OF_REMINDERS
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.NUMBER_OF_REMINDERS"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    REMINDER_TIME_INTERVEL
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.REMINDER_TIME_INTERVEL"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    EXPECTED_NEGOTIATION_START_TIME
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.EXPECTED_NEGOTIATION_START_TIME"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    IS_QUOTATION_PRICE_LIMIT_ENABLED
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.IS_QUOTATION_PRICE_LIMIT_ENABLED"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    QUOTATION_PRICE_LIMIT
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.QUOTATION_PRICE_LIMIT"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    REDUCTION_TYPE
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.REDUCTION_TYPE"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    IS_SMS_ENABLED
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.IS_SMS_ENABLED"
                                       type="text" />
                            </div>

                            <div class="col-md-12">
                                <label>
                                    IS_EMAIL_ENABLED
                                </label>
                                <input class="form-control"
                                       ng-model="jsonRequirement.IS_EMAIL_ENABLED"
                                       type="text" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
