﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">


            <div class="container-fluid" data-ng-controller="lgstcsBidHistoryCtrl">
                <div class="white-box">
                    <!--vendorviewprofile-->
                    <div class="box-title">
                        <h4 style="text-align:center;"><strong>BID HISTORY ( {{Name}} )</strong></h4>
                    </div>
                    <div class="row">


                        <hc-chart options="chartOptions" ng-if="show">Placeholder for generic chart</hc-chart>

                        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle">
                            <tr>
                                <th data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'">
                                    Bid Price
                                </th>
                                <th data-title="'Time (incl. all Taxes)'" sortable="'Time'">
                                    Time
                                </th>
                                <th data-title="'Rejct Reson'" sortable="'Rejct Reson'">
                                    Reject Reason
                                </th>
                            </tr>

                            <tr ng-repeat="bidHistoryparam in bidHistory">
                                <td data-title="'Price (incl. all Taxes)'" sortable="'TotalPriceIncl'" ng-bind-html="bidHistoryparam.bidAmount | numToCurrency:bidHistoryparam.currency"></td>
                                <td data-title="'Time'" sortable="'Time'">{{bidHistoryparam.createdTime}}</td>
                                <!--ng-init="temp_result = GetDateconverted(bidHistoryparam.createdTime)"-->
                                <!--{{temp_result}}-->
                                <td>{{(bidHistoryparam.rejectReson)?bidHistoryparam.rejectReson:"N/A";}}</td>
                            </tr>
                        </table>


                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

