﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="auctionsCtrl">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">

                <div ng-controller="addNewLogisticCtrl">
                    <div class="container-fluid">
                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">
                                    <h3 class="box-title m-b-0">Transaction Configuration</h3>
                                    <p class="text-muted m-b-30 font-13"> Please Update the Configuration details. </p>
                                    <form class="requirementForm">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <label for="urgency">Urgency</label>
                                                <select ng-model="formRequest.urgency" class="form-control p-0" data-placeholder="Select an urgency..." id="urgency" required>
                                                    <option value="Critical (Will be Closed Today)">Critical (Will be Closed Today)</option>
                                                    <option value="High (Will be Closed in 2 Days)">High (Will be Closed in 2 Days)</option>
                                                    <option value="Medium (Will be Closed in 5 Days)">Medium (Will be Closed in 5 Days)</option>
                                                    <option value="Low (Will Take 10-15 Days Time)">Low (Will Take 10-15 Days)</option>
                                                </select>
                                                <div ng-show="urgencyValidation">
                                                    <div class="help-block error logininput" ng-show="urgencyValidation">Please select Urgency</div>
                                                </div>
                                            </div>
                                            <div class="col-md-1 form-group">
                                                <label for="currency">Currency</label>
                                                <select data-placeholder="Select a Currency..." name="currency" ng-model="selectedCurrency" ng-options="currency.value for currency in currencies" class="form-control p-0"></select>
                                                <div ng-show="selectedCurrencyValidation">
                                                    <div class="help-block error logininput" ng-show="selectedCurrencyValidation">Please select Currency</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label for="freeze">Quotation Freeze Time</label>
                                                <div moment-picker="formRequest.quotationFreezTime" format="DD-MM-YYYY HH:mm">
                                                    <input name="quotationFreezTimeName" id="quotationFreezTime" class="form-control" placeholder="Select a date" ng-model="formRequest.quotationFreezTime" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                                <div ng-show="quotationFreezTimeValidation">
                                                    <div class="help-block error logininput" ng-show="quotationFreezTimeValidation">Please enter valid Quotation Freeze time</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label for="reminders">No. of Reminders (Max 5)</label>
                                                <input type="number" ng-model="formRequest.noOfQuotationReminders" name="noOfQuotationReminders" id="noOfQuotationReminders" class="form-control" />
                                                <div ng-show="noOfQuotationRemindersValidation">
                                                    <div class="help-block error logininput" ng-show="noOfQuotationRemindersValidation">Please enter valid No.of Reminders</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label for="time">Time Intervel (in Hours)</label>
                                                <input type="number" ng-model="formRequest.remindersTimeInterval" name="remindersTimeInterval" id="remindersTimeInterval" class="form-control" />
                                                <div ng-show="remindersTimeIntervalValidation">
                                                    <div class="help-block error logininput" ng-show="remindersTimeIntervalValidation">Please enter valid Time Intervel</div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 form-group">
                                                <label for="negotition">Exp.Negotition start time</label>
                                                <div moment-picker="formRequest.expStartTime" format="DD-MM-YYYY HH:mm">
                                                    <input name="expStartTimeName" id="expStartTime" class="form-control" placeholder="Select a date" ng-model="formRequest.expStartTime" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <div class="row padding-lft">
                                                    <label class="control-label">Quotation Price Limit</label>
                                                    <div class="radio-list">
                                                        <label class="radio-inline p-0">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="radio" id="qyes" ng-value="true" ng-model="formRequest.isQuotationPriceLimit">
                                                                <label for="qyes">Yes</label>
                                                            </div>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="radio" id="qno" ng-value="false" ng-model="formRequest.isQuotationPriceLimit">
                                                                <label for="qno">No </label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row" ng-if="formRequest.isQuotationPriceLimit">
                                                    <div class="col-md-11 form-group">
                                                        <div>
                                                            <label for="quotationPriceLimit">{{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</label>
                                                            <input type="number" ng-model="formRequest.quotationPriceLimit" name="quotationPriceLimit" id="quotationPriceLimit" class="form-control" />
                                                        </div>
                                                        <div ng-show="quotationPriceLimitValidation">
                                                            <div class="help-block error logininput" ng-show="quotationPriceLimitValidation">Please enter valid {{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-11 form-group" ng-if="formRequest.isQuotationPriceLimit">
                                                        <small ng-if="!formRequest.isForwardBidding">Note: Quotation Price Limit Amount If Entered then System will not allow vendors to quote more than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or less than 1,00,000/- Only.</small>
                                                        <small ng-if="formRequest.isForwardBidding">Note: Minimum Expected Price Limit Amount If Entered then System will not allow vendors to quote less than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or greater than 1,00,000/- Only.</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <div class="row">
                                                    <label class="control-label">Tech Evaluation</label>
                                                    <div class="radio-list">
                                                        <label class="radio-inline p-0">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="tech" id="tyes" ng-model="isTechEval" ng-value='true'>
                                                                <label for="tyes">Yes</label>
                                                            </div>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <div class="radio radio-success">
                                                                <input type="radio" name="tech" id="tno" ng-model="isTechEval" ng-value='false'>
                                                                <label for="tno">No </label>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div classs="row" ng-show="isTechEval == true">
                                                    <div class="form-group">
                                                        <div>
                                                            <label class="fg-label" for="currency">Select a Tech Evaluation...</label>
                                                            <select data-placeholder="Select a Tech Evaluation..." name="questionnaire" ng-model="selectedQuestionnaire" ng-options="questionnaire.title for questionnaire in questionnaireList" class="form-control"></select>

                                                        </div>
                                                        <div ng-show="questionnaireValidation && isTechEval == true">
                                                            <div class="help-block error logininput" ng-show="questionnaireValidation">Please select a Tech Evaluation</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--<div class="col-md-6 form-group">
                                                <label class="control-label">Reduction Type</label>
                                                <div class="radio-list">
                                                    <label class="radio-inline p-0">
                                                        <div class="radio radio-success">
                                                            <input type="radio" name="price" id="rtp" ng-value="0" ng-model="formRequest.isDiscountQuotation">
                                                            <label for="rtp">Price</label>
                                                        </div>
                                                    </label>
                                                    <label class="radio-inline">
                                                        <div class="radio radio-success">
                                                            <input type="radio" name="discount" id="rtd" ng-value="1" ng-model="formRequest.isDiscountQuotation">
                                                            <label for="rtd">Discount</label>
                                                        </div>
                                                    </label>
                                                    <label class="radio-inline">
                                                        <div class="radio radio-success">
                                                            <input type="radio" name="margin" id="rtm" ng-value="2" ng-model="formRequest.isDiscountQuotation">
                                                            <label for="rtm">Margin</label>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>-->


                                        </div>
                                        <div class="row">
                                            

                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-xs-2 text-center">
                                                <button class="btn btn-success btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="goToStage(2, 3)" type="button">Back</button>
                                            </div>
                                            <div class="col-xs-8 text-center"></div>
                                            <div class="col-xs-2 text-center">
                                                <button class="btn btn-success btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="goToStage(4, 3)" type="button">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>