﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="auctionsCtrl">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div ng-controller="addNewLogisticCtrl">
                    <div class="container-fluid">
                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box" style="padding-top:40px;">

                                    <form class="req-form">

                                        <!--<div class="row">
                                            <div class="col-md-3 form-group">
                                                <label for="location">Delivery Location</label>
                                                <input type="text" class="form-control" ng-model="formRequest.deliveryLocation" name="deliveryLocation" id="deliveryLocation" value="Attapur">

                                            </div>
                                        </div>-->

                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label for="delivery">Delivery Terms</label>
                                                <!-- <input type="text" class="form-control" id="delivery"> -->
                                                <textarea class="form-control" ng-model="formRequest.deliveryTime" name="deliveryTimeName" id="deliveryTime"></textarea>
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <!-- <input type="text" class="form-control" id="payment"> -->
                                                <label for="payment">Payment Terms</label>
                                                <textarea class="form-control" ng-model="formRequest.paymentTerms" name="paymentTerms" id="paymentTerms"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-md-1" for="deparments">Deparments: </label>
                                                <div class="col-md-11">
                                                    <strong>
                                                        <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="noDepartments" ng-change="noDepartmentsFunction('NA');" />
                                                        No Departments &nbsp;&nbsp;
                                                    </strong>
                                                    <strong ng-repeat="reqDepartment in reqDepartments">
                                                        <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="reqDepartment.isValid" ng-change="noDepartmentsFunction('DEPARTMENT');" />
                                                        {{reqDepartment.companyDepartments.deptCode}}&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-xs-2 text-center">
                                                <button class="btn btn-success btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="previouspage(1)" type="button">Back</button>
                                            </div>
                                            <div class="col-xs-8 text-center"></div>
                                            <div class="col-xs-2 text-center">
                                                <button class="btn btn-success btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="nextpage(2)" type="button">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
