﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div ng-controller="addNewLogisticCtrl">
                    <div>
                        <!--<h3 class="page-heading">Requirement Specifications <i class="far fa-question-circle" ng-hide="true"></i></h3>-->

                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>





                        







                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box">

                                    <form class="req-form" ng-submit="goToStage(2, 1)">
                                        <div class="row">
                                            <div class="col-md-9 form-group">
                                                <label for="title">Title</label>
                                                <input type="text" class="form-control" ng-model="formRequest.title" id="title" required> <!--ng-change="GetCompanyLeads(formRequest.title)"-->
                                            </div>
                                            <div ng-show="titleValidation">
                                                <div class="help-block error logininput" ng-show="titleValidation">Please enter Title</div>
                                            </div>
                                            <div class="col-md-3 simlar-negot-box">
                                                <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-click="showSimilarNegotiationsButton(showSimilarNegotiations, formRequest.title)" ng-model="showSimilarNegotiations" value="true"/>
                                                Similar Negotiations
                                            </div>
                                            <!--<div class="col-md-3 simlar-negot-box pull-right">
                                                <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" />
                                                Similar Negotiations
                                            </div>-->

                                        </div>
                                        <div class="row">
                                            <div>
                                                <mini-items-company-leads ng-repeat="item in CompanyLeads" item="item" timeleft="item.title"></mini-items-company-leads>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div ng-if="formRequest.isTabular" class="col-md-8">
                                                <input ng-click="exportItemsToExcel()" type="button" value="Template" class='btn-info' />
                                                Upload Multiple item via Excel(only xlsx):
                                                <div class="button-box m-t-30">
                                                    <div class="fileupload btn btn-success waves-effect waves-light">
                                                        <span class="fileinput-new"><i class="fa fa-plus m-r-5"></i>Upload Excel</span>
                                                        <input type="file" class="upload" accept=".xlsx" id="itemsAttachment" itemscope itemid="itemsAttachment" ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h5 ng-show="tableValidation" style="color:red;">Quantity should be greater than 0 for every item.</h5>

                                        <div class="row add-row add-req-items-border" ng-repeat="product in formRequest.listRequirementItems track by $index">
                                            <div class="col-md-12">

                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>S.No</strong></label>
                                                <!--<input type="text" ng-model="product.productIDorName" required name="productIDorName" id="productIDorName" class="form-control">-->
                                                <h4>{{$index + 1}}.</h4>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>Product</strong></label>
                                                <textarea class="form-control" ng-model="product.productIDorName" name="productDescription" rows="1" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>DESC</strong></label>
                                                <textarea class="form-control" ng-model="product.productDescription" name="productDescription" rows="1" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>NET WT</strong></label>
                                                <textarea class="form-control" ng-model="product.productQuantity" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-1">
                                                <label><strong>UNITS</strong></label>
                                                <textarea class="form-control" ng-model="product.productQuantityIn" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>TYPE OF PACKING</strong></label>
                                                <textarea class="form-control" ng-model="product.typeOfPacking" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>MODE OF SHIPMENT</strong></label>
                                                <textarea class="form-control" ng-model="product.modeOfShipment" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>NATURE OF GOODS</strong></label>
                                                <textarea class="form-control" ng-model="product.natureOfGoods" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>STORAGE CONDITION</strong></label>
                                                <textarea class="form-control" ng-model="product.storageCondition" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>PORT OF LOADING</strong></label>
                                                <textarea class="form-control" ng-model="product.portOfLanding" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>FINAL DESTINATION</strong></label>
                                                <textarea class="form-control" ng-model="product.finalDestination" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>PORT OF DESTINATION</strong></label>
                                                <textarea class="form-control" ng-model="product.deliveryLocation" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>

                                            <div class="col-md-2">
                                                <label><strong>PREFERRED AIRLINES</strong></label>
                                                <textarea class="form-control" ng-model="product.preferredAirlines" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-3">
                                                <label><strong>FILE</strong></label>
                                                <div data-provides="fileinput">
                                                    <div class="col-md-4 fileupload">
                                                        <span class="text-success"><i class="fas fa-upload fa-2x"></i><br /><small>Upload file</small></span>
                                                        <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{product.productSNo}}" itemid="{{product.productSNo}}" ng-file-select-items="onFileSelect($files)">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a class="waves-effect waves-light" ng-click="deleteItem(product.productSNo)"> <i class="fa fa-trash-alt fa-2x"></i> <br /><small>Delete item</small></a>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label>{{product.attachmentName}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <label><strong>DELETE</strong></label>
                                                <textarea class="form-control" ng-model="product.productDescription" name="productDescription" rows="2" id="productDescription" style="resize: both;height: 38px"></textarea>
                                            </div>





                                        </div>
                                        <div class="divder"></div>
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <button class="btn btn-info waves-effect waves-light" ng-click="AddItem()" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add item</span></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <label>Comment</label>
                                                <textarea ng-model="formRequest.reqComments" id="reqComments" name="reqComments" class="form-control" style="resize: both;height: 38px"></textarea>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label>Requirement Attachments <i class="far fa-question-circle"></i></label><br>
                                                <div class="fileupload btn btn-info waves-effect waves-light">
                                                    <span><i class="fa fa-upload m-r-5"></i>Upload image</span>
                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" ng-file-select="onFileSelect($files)">
                                                </div>
                                                <label>{{formRequest.attachmentName}}</label>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-xs-2">
                                            </div>
                                            <div class="col-xs-8 text-center"></div>
                                            <div class="col-xs-2 text-center">
                                                <button class="btn btn-success btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="nextpage(2)">Next</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>