<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div>

                    <h4>Workflow Approvals</h4>

                    <div class="white-box">
                        <div class="pmb-block ng-scope" ng-controller="workflowPendingApprovalsCtrl">
                            <div class="pmbb-header">
                            </div>

                            <div class="row">
                                <!--<div class="col-md-2">
                                    <label><strong>Pending By</strong></label>
                                    <select data-placeholder="Select Type" name="buyer" ng-model="PendingUserFilter" ng-change="searchTableByPendingNames()" ng-options="pendinguser for pendinguser in pendinguserlist" class="form-control" style="margin:5px">
                                    </select>
                                </div>-->
                                <div class="col-md-3">
                                    <label>Filter By Module</label>
                                    <select class="form-control" ng-model="moduleName" ng-options="type.value as type.display for type in modules"
                                            ng-change="setFilters(moduleName,searchKeyword)">
                                        <option value=''>Select</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label><strong>&nbsp;</strong></label>
                                    <!--<input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable()" ng-model="searchKeyword" type="text" placeholder="Search with Creator Name">-->
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(moduleName,searchKeyword)" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                            </div>

                            <div class="row">&nbsp;</div>
                            <small style="color:green"> Total Count:{{MyPendingApprovals.length}}</small>
                            <div class="table table-responsive z-depth-2">
                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle colliers_table" show-filter="false">
                                    <tr ng-repeat-start="wf in MyPendingApprovals.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <!--<td data-title="''">
        <a role="button" ng-hide="wf.expanded" ng-click="wf.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
        <a role="button" ng-hide="!wf.expanded" ng-click="wf.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
    </td>-->
                                        <td data-title="'Approval ID'" sortable="'ID'">
                                            <a ng-click="goToModuleView(wf.workflowModule, wf.workflowModuleViewID);">{{wf.workflowModuleCode}}</a>
                                        </td>
                                        <!--<td data-title="'RFQ Number'" sortable="'ID'">
        {{wf.reqNumber}}
    </td>-->
                                        <!--<td data-title="'First-Line Item Name'" sortable="'ID'">
        {{wf.productName}}
    </td>-->
                                        <td data-title="'Module'" sortable="'ID'">
                                            {{ wf.workflowModule}}
                                        </td>
                                        <td data-title="'Workflow'" sortable="'ID'">
                                            {{ wf.workflowTitle}}
                                        </td>
                                        <!--<td data-title="'WF User Status'" sortable="'ID'">
        {{ wf.workflowModuleUserStatus}}
    </td>-->
                                        <td data-title="'Creator Name'" sortable="'ID'">
                                            {{ wf.creatorName}}
                                        </td>
                                        <td data-title="'Approval Sent Date'" style="min-width: 120px;" sortable="'ID'">
                                            {{ wf.DATE_CREATED}}
                                        </td>
                                        <td data-title="'Pending By'" sortable="'ID'">
                                            {{ wf.workflowModuleUserStatus}} - {{wf.pendingApprovalName}}
                                        </td>
                                        <!--<td data-title="'QCS Assigned Vendors'" sortable="'ID'">
        {{ wf.vendorCount}}
    </td>-->
                                        <td data-title="'Actions'" sortable="'ID'">
                                            <button class="btn common_btn" style="font-size:12px;" ng-click="gotoWFApproval(wf.workflowModule, wf.workflowModuleID, wf.workflowID,wf)">Approve / Reject</button>
                                        </td>
                                        <!--<td data-title="'Actions'" sortable="'ID'">
        <button class="btn btn-info pull-left" data-toggle="modal" ng-click="showPopUpClick(false, wf.workflowModuleID, wf.workflowModule, wf.workflowID)">Check Workflow Status</button>
    </td>-->
                                    </tr>
                                    <tr ng-repeat-end ng-if="wf.expanded">
                                        <td colspan="11">
                                            <!--<div class="row">
                        <div class="col-md-4"><strong>Title</strong></div>
                        <div class="col-md-8">{{wf.title}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"><strong>Priority</strong></div>
                        <div class="col-md-8">{{wf.urgency}}</div>
                    </div>-->
                                        </td>
                                    </tr>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                            <div class="clearfix" style="margin-bottom:150px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>