<div class="pmb-block">
    <div class="pmbb-header">
        <h2  ><i class="zmdi zmdi-account m-r-5"></i> Password Management</h2>
        <!-- <a class="actions" data-ng-if="!isnegotiationrunning" data-ng-click="editPwd = 1" href="">
            <i class="zmdi zmdi-edit"></i>
        </a> -->
    </div>
    <div class="pmbb-body" id="generatePDFHTMl">
        <div id="editor" class="bypass"></div>
        <form name="test4" data-ng-submit="submit('profileInfo', 'Profile Information')" class="pmbb-edit" >
            <dl class="dl-horizontal">
                <dt class="p-t-10"> Registerd Email</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pwdObj.username" type="text" class="form-control" value="{{ pwdObj.username }}" ng-disabled="true">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Old password</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pwdObj.oldPass" type="password" class="form-control" value="{{ pwdObj.oldPass }}">
                    </div>

                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">New Password</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pwdObj.newPass" type="password" class="form-control" value="{{ pwdObj.newPass }}">
                    </div>

                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt class="p-t-10">Confirm New Password</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pwdObj.confirmNewPass" type="password" class="form-control" value="{{ pwdObj.confirmNewPass }}">
                    </div>

                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm btn-new-look" ng-click="updatePwd();">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="editPwd = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>