<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-settings"></i> Negotiation Settings</h2>
    </div>
    <div class="pmbb-body" id="generatePDFHTMl">
        <div id="editor" class="bypass"></div>
            <form name="test4" class="pmbb-edit">
            <div class="text-center top-buffer col-md-12 fltleft padding0">
                <div class="form-group fg-float col-sm-2 m-b-30">
                    <div class="fg-line fg-toggled">
                        <div>
                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.minReductionAmount" class="form-control" required>
                        </div>
                        <label class="fg-label">Min Reduction Amount</label>
                    </div>
                </div>
                <div class="form-group fg-float col-sm-2 m-b-30">
                    <div class="fg-line fg-toggled">
                        <div>
                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="NegotiationSettings.rankComparision" class="form-control" required>
                        </div>
                        <label class="fg-label">Vendor Rank Comparision</label>
                    </div>
                </div>

                <div class="form-group fg-float col-sm-3 m-b-30">
                    <strong>Negotiation Duration :</strong>
                </div>

                <div class="form-group fg-float col-sm-1 m-b-30">
                    <div class="fg-line fg-toggled">
                        <div>
                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="days" class="form-control"  required />
                        </div>
                        <label class="fg-label">Days</label>
                    </div>
                </div>
                <div class="form-group fg-float col-sm-1 m-b-30">
                    <div class="fg-line fg-toggled">
                        <div>
                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="hours" class="form-control"  required />
                        </div>
                        <label class="fg-label">Hours</label>
                    </div>
                </div>
                <div class="form-group fg-float col-sm-1 m-b-30">
                    <div class="fg-line fg-toggled">
                        <div>
                            <input type="number" ng-change="NegotiationTimeValidation(days, hours, mins, NegotiationSettings.minReductionAmount, NegotiationSettings.rankComparision)" ng-model="mins" class="form-control" required />
                        </div>
                        <label class="fg-label">Min</label>
                    </div>
                </div>
            </div>           
            <div class="m-t-30">                
                <h4 class="prmredcolor">{{NegotiationSettingsValidationMessage}}</h4>
            </div>

            <div class="m-t-30">
                <button ng-disabled="NegotiationSettingsValidationMessage" class="btn btn-primary btn-sm btn-new-look" ng-click="saveNegotiationSettings();">Save</button>
                <button class="btn btn-link btn-sm">Cancel</button>
            </div>
        </form>
    </div>
</div>