﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div ng-controller="savequestionnaireCtrl">
                    <form ng-submit="questionnaireForm.$valid && savequestionnaire()" class="questionnaireForm" name="questionnaireForm" novalidate>
                        
                        <div class="white-box">
                            <div class="box-title">
                                <h3>Save Questionnaire  {{questionnaire.title}}</h3>
                            </div>

                            <div class="row">
                                <p class="forgotcolor pull-left" ng-hide="isValidToSubmit"></p>
                                    <div class="form-group fg-float col-md-6 m-b-30">
                                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || questionnaire.title)}">
                                            <input type="text" ng-model="questionnaire.title" name="title" id="title" class="form-control fg-input titleinput" required />
                                            <label class="fg-label">Title*</label>
                                        </div>
                                        <div ng-show="questionnaireForm.$submitted || questionnaireForm.title.$touched">
                                            <div class="help-block error logininput" ng-show="questionnaireForm.title.$error.required">Please enter Title</div>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float col-md-3 m-b-30">
                                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || questionnaire.startDate)}">
                                            <div moment-picker="questionnaire.startDate" format="DD-MM-YYYY HH:mm ">
                                                <input type="text" ng-model="questionnaire.startDate" name="startDateName" id="startDateId"  date-only class="form-control fg-input" />
                                                <label class="fg-label">Start Date & Time*</label>
                                            </div>
                                            </div>
                                        <div ng-show="questionnaireForm.$submitted || questionnaireForm.startDateName.$touched">
                                            <div class="help-block error logininput" ng-show="questionnaireForm.startDateName.$error.required">Please enter Start Date.</div>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float col-md-3 m-b-30">
                                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || questionnaire.endDate)}">
                                            <div moment-picker="questionnaire.endDate" format="DD-MM-YYYY HH:mm">
                                                <input type="text" ng-model="questionnaire.endDate" name="endDateName" id="endDateId"  date-only class="form-control fg-input"></input>
                                                <label class="fg-label">End Date & Time* </label>
                                            </div>
                                            </div>
                                        <div ng-show="questionnaireForm.$submitted || questionnaireForm.endDateName.$touched">
                                            <div class="help-block error logininput" ng-show="questionnaireForm.endDateName.$error.required">Please enter End Date.</div>
                                        </div>
                                    </div>

                                    <div class="form-group fg-float col-md-12 m-b-30">
                                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || questionnaire.description)}">
                                            <textarea ng-model="questionnaire.description" id="descriptionId" name="descriptionName" rows="2" style="resize: vertical;" class="form-control fg-input" required></textarea>
                                            <label class="fg-label">Description</label>
                                        </div>
                                        <div ng-show="questionnaireForm.$submitted || questionnaireForm.descriptionName.$touched">
                                            <div class="help-block error logininput" ng-show="questionnaireForm.descriptionName.$error.required">Please enter Description.</div>
                                        </div>
                                    </div>
                                    <div class="form-group fg-float col-md-6 m-b-30">
                                        <div class="fg-line fg-toggled">
                                            <input type="number" ng-model="questionnaire.totalMarks" name="totalMarks" id="totalMarks" class="form-control fg-input titleinput" required />
                                            <label class="fg-label">Total Marks*</label>
                                        </div>
                                        <div ng-show="questionnaireForm.$submitted || questionnaireForm.totalMarks.$touched">
                                            <div class="help-block error logininput" ng-show="questionnaireForm.totalMarks.$error.required">Please enter Total Marks</div>
                                        </div>
                                    </div>
                                    <div class="form-group fg-float col-md-6 m-b-30">
                                        <div class="fg-line fg-toggled">
                                            <input type="number" ng-model="questionnaire.qualifyingMarks" name="qualifyingMarks" id="qualifyingMarks" class="form-control fg-input titleinput" required />
                                            <label class="fg-label">Qualifying Marks*</label>
                                        </div>
                                        <div ng-show="questionnaireForm.$submitted || questionnaireForm.qualifyingMarks.$touched">
                                            <div class="help-block error logininput" ng-show="questionnaireForm.qualifyingMarks.$error.required">Please enter Qualifying Marks</div>
                                            <div class="help-block error logininput" ng-show="questionnaireForm.qualifyingMarks > questionnaireForm.totalMarks">The Qualifying Marks cannot be greater than total marks.</div>
                                            <div class="help-block error logininput" ng-show="questionnaireForm.qualifyingMarks< 0">The Qualifying Marks cannot be lesser than zero.</div>
                                        </div>
                                    </div>
                                    <div class="row col-md-12">
                                        <div class="form-group col-sm-6 fg-float">
                                            <div class="fg-line input-field" ng-class="{'fg-toggled': evalID > 1}">
                                                <select ng-model="questionnaire.category" name="category" class="form-control" ng-change="changeCategory()" ng-options="category for category in categories" data-placeholder="Select a category..."></select>
                                                <label class="selectfield fg-label" for="category">*Select a category...</label>
                                            </div>
                                            <div ng-show="questionnaireForm.$submitted || questionnaireForm.category.$touched">
                                                <div class="help-block error logininput" ng-show="questionnaireForm.category.$error.required">Please select category.</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6 m-b-30  fg-float">
                                            <div class="row col-md-12">
                                                <div style="padding: 0px;margin-top: -4px;"
                                                     isteven-multi-select
                                                     class="col-md-12"
                                                     input-model="subcategories"
                                                     output-model="sub.selectedSubcategories"
                                                     button-label="subcategory"
                                                     item-label="subcategory"
                                                     tick-property="ticked"
                                                     max-labels="1"
                                                     max-height="150px"
                                                     on-item-click="selectSubcat(data)"
                                                     on-select-none="changeCategory()"
                                                     on-reset="selectSubcat(data)"
                                                     on-select-all="selectSubcat(data)">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <!--<div class="col-md-3">
                                        </div>-->
                                        <div class="col-md-12 z-depth-1 vendorsDivB" style="max-height:200px;overflow-y:auto;">
                                            <div style="height:400px;max-height: 400px;">
                                                <div class="table-responsive">
                                                    <!-- <table class="table table-striped table-bordered"> -->
                                                    <table class="table max-height-400">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:6px"></th>
                                                                <th>Company Name</th>
                                                                <th>Contact Person</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="vendor in questionnaire.vendors">
                                                                <td style="text-align:center;">
                                                                    <div>
                                                                        <input type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForB(vendor)" value="{{vendor.vendorID}}" checked>
                                                                        <label for="checkbox"></label>
                                                                    </div>
                                                                </td>
                                                                <td><a class="selected-row" target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}"><span>{{vendor.companyName}}</span></a></td>
                                                                <td><strong class="selected-row">{{vendor.vendorName}}</strong></td>
                                                            </tr>
                                                            <tr ng-repeat="vendor in Vendors">
                                                                <td style="text-align:center">
                                                                    <div class="checkbox m-t-0 m-b-0">
                                                                        <input style="height:100px;width:200px;" type="checkbox" id="{{vendor.vendorID}}" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}">
                                                                        <label for="checkbox"></label>
                                                                    </div>
                                                                </td>
                                                                <td><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></td>
                                                                <td>{{vendor.vendorName}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--<ul ng-repeat="vendor in questionnaire.vendors" class="main-menu vendorBUl vendorsLi">
                                                <li>
                                                    <label class="checkbox checkbox-inline m-r-20">
                                                        <input type="checkbox" ng-click="selectForB(vendor)" value="{{vendor.vendorID}}" checked>
                                                        <i class="input-helper"></i>
                                                        <span><strong><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></strong></span>
                                                    </label>
                                                </li>
                                            </ul>
                                            <ul ng-if="vendorsLoaded" ng-repeat="vendor in Vendors" class="main-menu vendorsLi">
                                                <li>
                                                    <label class="checkbox checkbox-inline m-r-20">
                                                        <input type="checkbox" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}" />
                                                        <i class="input-helper"></i>
                                                    </label>
                                                    <span><strong><a target="_blank " href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></strong></span><br />
                                                    <label style="visibility:hidden" class="checkbox checkbox-inline m-r-20">
                                                        <input type="checkbox" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}" />
                                                        <i class="input-helper"></i>
                                                    </label>
                                                    <span><small><strong> Vendor Name:</strong> {{vendor.vendorName}}</small></span>
                                                    
                                                </li>
                                            </ul>-->
                                        </div>


                                    </div>
                               

                                    <div class="col-md-3">
                                    </div>
                                </div>


                            <div class="row text-center">
                                <button class="btn btn-info btn-file btn-new-look">Save Questionnaire</button>
                                <button class="btn btn-info btn-file btn-new-look" data-ui-sref="managetecheval">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>