﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div ng-controller="techevaluationCtrl">

                    <div class="white-box">
                        <div class="box-title">
                            <div class="col-md-1 pull-left">
                                <button class="btn btn-info btn-new-look" ng-hide="doPrint" ng-click="goToAllTechEval()"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Back</button>
                            </div>
                            <div class="col-md-6 pull-left">
                                <h4>Technical Evaluation</h4>
                            </div>

                        </div>

                        <div class="row">
                            <div class="table table-responsive ">
                                <table class="table table-hover z-depth-1 clear-both">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <td>Vendor Name</td>
                                            <td>Company</td>
                                            <td>Response</td>
                                            <td>Score</td>
                                            <td>Status</td>

                                            <td style="text-align:center;">Evaluation</td>

                                            <td>Evaluate Vendor</td>
                                            <!--<td style="width:15%; text-align:center">Actions</td>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="techEvalution in techEvalutionList">
                                            <td>
                                                {{techEvalution.vendor.firstName}} {{techEvalution.vendor.lastName}}
                                            </td>
                                            <td>{{techEvalution.vendor.companyName}}</td>

                                            <td ng-switch on="techEvalution.isAnswered">
                                                <p ng-switch-when="0">NOT ANSWERED</p>
                                                <p ng-switch-default class="text-success">
                                                    ANSWERED
                                                </p>
                                            </td>
                                            <td>{{techEvalution.totalMarks}}</td>
                                            <td>
                                                <p ng-if="techEvalution.isApproved == 1" class="text-success">APPROVED</p>
                                                <p ng-if="techEvalution.isApproved == 0" class="text-danger">REJECTED</p>
                                                <p ng-if="techEvalution.totalMarks && techEvalution.isApproved != 0 && techEvalution.isApproved != 1" class="text-warning">EVALUATED</p>
                                                <p ng-if="techEvalution.isApproved != 0 && techEvalution.isApproved != 1 && !techEvalution.totalMarks"> NOT EVALUATED</p>
                                            </td>

                                            <td>
                                                <span class="row">
                                                    <span class="col-md-4">
                                                        <label class="waves-effect btn btn-success" for="yes">
                                                            <input ng-disabled="techEvalution.isApproved != 0 && techEvalution.isApproved != 1 && !techEvalution.totalMarks" type="radio" ng-model="techEvalution.isApproved" ng-value='1' />
                                                            <!--<span class="mdl-radio_label zmdi zmdi-thumb-up"></span>-->
                                                        </label>

                                                        <label class="waves-effect btn btn-danger" for="No">
                                                            <input ng-disabled="techEvalution.isApproved != 0 && techEvalution.isApproved != 1 && !techEvalution.totalMarks" type="radio" ng-model="techEvalution.isApproved" ng-value='0' />
                                                            <!--<span class="mdl-radio_label zmdi zmdi-thumb-down"></span>-->
                                                        </label>
                                                    </span>
                                                    <span class="col-md-4">
                                                        <textarea type="text" ng-model="techEvalution.comments" rows="1" style="resize: vertical;" class="form-group fg-float fg-line input-field form-control fg-input" />
                                                    </span>
                                                    <span class="col-md-1">
                                                        <button ng-disabled="techEvalution.isApproved != 0 && techEvalution.isApproved != 1 && !techEvalution.totalMarks" class="waves-effect btn btn-success" ng-if="techEvalution.isApproved == 1" ng-click="techEvalution.comments = '';saveRequestDetails(techEvalution, 1)"><small>save</small></button>
                                                        <button ng-disabled="(techEvalution.isApproved != 0 && techEvalution.isApproved != 1 && !techEvalution.totalMarks) || techEvalution.comments == '' || techEvalution.comments == undefined" class="waves-effect btn btn-danger" ng-if="techEvalution.isApproved == 0" ng-click="techEvalution.isApproved = 0;saveRequestDetails(techEvalution, 0)"><small>save</small></button>
                                                    </span>
                                                </span>

                                            </td>

                                            <td style="text-align:center"><a role="button" class="tm-icon fa fa-list-alt fa-2x text-center" ng-click="goToVendorEvaluation(techEvalution)"></a></td>






                                            <!--<td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                        <div class="btn-group">
                            <button class="btn btn-primary" href="#">Options</button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a class="" role="button" class="tm-icon zmdi zmdi-hc-2x zmdi-edit" ng-click="goToVendorEvaluation(techEvalution)">Evaluate Vendor</a></li>
                                <li><a class="" role="button" class="tm-icon zmdi zmdi-hc-2x zmdi-check" ng-click="techEvalution.comments = '';saveRequestDetails(techEvalution, 1)">Approve</a></li>
                                <li><a class="" role="button" class="tm-icon zmdi zmdi-hc-2x zmdi-close" data-ng-click="techEvalution.isApproved = 0;saveRequestDetails(techEvalution, 0)">Reject</a></li>
                            </ul>
                        </div>

                    </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>