table.tablesaw {
	width: 100%;
	max-width: 100%;
	empty-cells: show
}
.tablesaw {
	width: 100%;
	border-collapse: collapse
}
.tablesaw {
	padding: 0;
	border: 0
}
.tablesaw td, .tablesaw th {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .5em .7em
}
.tablesaw thead tr:first-child th {
	padding-top: .9em;
	padding-bottom: .7em
}
:root {
	var-button-selected-background: #29abe2;
	var-button-checkbox-selected-background: #34a3de;
	var-button-selected-shadow: rgba(0,75,115,.45);
	var-button-interaction-text: #76838f;
	var-button-interaction-shadow: #4faeef
}
.tablesaw-enhanced .tablesaw-bar .btn {
	position: relative;
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none!important;
	padding: 4px 8px;
	margin: 0;
	clear: both;
	color: #76838f;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	background: 0 0;
	background-color: #fff;
	border: 1px solid #e4eaec;
	border-radius: 3px;
	-moz-appearance: none!important;
	-webkit-font-smoothing: antialiased
}
.tablesaw-enhanced .tablesaw-bar .btn:hover {
	text-decoration: none
}
.tablesaw-enhanced .tablesaw-bar .btn:focus, .tablesaw-enhanced .tablesaw-bar .btn:hover {
	background-color: #fff;
	border-color: #62a8ea;
	outline: 0
}
.tablesaw-enhanced .tablesaw-bar .btn:focus {
	color: #62a8ea
}
.tablesaw-bar .btn:focus {
	color: #62a8ea
}
.ie-lte8 .tablesaw-bar .btn:focus, .ie-lte8 .tablesaw-bar .btn:hover {
	color: #76838f;
	background-color: #fff;
	border-color: #aaa;
	outline: 0
}
.ie-lte8 .tablesaw-bar .btn:focus, .ie-lte8 .tablesaw-bar .btn:hover {
	color: #76838f;
	background-color: #fff;
	border-color: #62a8ea;
	outline: 0
}
.tablesaw-bar .btn-select select {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	min-height: 1em;
	margin: 0;
	font-weight: inherit;
	background: 0 0;
	border: none
}
.tablesaw-bar .btn-select select {
	display: inline-block;
	color: transparent;
	filter: alpha(opacity=0);
	opacity: 0
}
.tablesaw-bar .btn select option {
	font-family: sans-serif;
	color: #000;
	background: #fff
}
.tablesaw-enhanced .tablesaw-bar .btn.btn-select {
	min-width: 7.25em;
	margin-bottom: 3px;
	color: #76838f;
	text-align: left;
	text-indent: 0
}
.ie-lte8 .tablesaw-bar .btn-select {
	min-width: 6.1em
}
.tablesaw-bar .btn.btn-micro, .tablesaw-bar .btn.btn-small {
	position: relative;
	top: 0;
	display: inline-block;
	width: auto;
	height: auto
}
.tablesaw-bar .btn.btn-small {
	line-height: 20px
}
.tablesaw-enhanced .tablesaw-bar .btn-select {
	text-align: left
}
.tablesaw-bar .btn-select:after {
	position: absolute;
	display: block;
	content: " ";
	background: #f3f7f9;
	background: rgba(0,0,0,.1)
}
.tablesaw-bar .btn-select:after {
	top: 6px;
	right: auto;
	bottom: 0;
	left: auto;
	display: inline-block;
	width: 1.8em;
	padding: 0;
	margin: 0 5px 0;
	font: normal normal normal 14px/1 FontAwesome;
	line-height: 1;
	content: "\f0d7";
	background: 0 0;
	-webkit-font-feature-settings: normal;
	-moz-font-feature-settings: normal;
	font-feature-settings: normal;
	-webkit-font-kerning: auto;
	-moz-font-kerning: auto;
	font-kerning: auto;
	-webkit-font-language-override: normal;
	-moz-font-language-override: normal;
	font-language-override: normal;
	font-synthesis: weight style;
	text-rendering: auto
}
.tablesaw-bar .btn-select.btn-micro:after, .tablesaw-bar .btn-select.btn-small:after {
	background: 0 0;
	border-left-width: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.tablesaw-bar .btn-select.btn-small:after {
	padding-top: 0;
	padding-right: 0;
	font-size: 16px
}
.tablesaw-advance .btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 3px;
	-moz-appearance: none
}
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
	position: relative;
	display: inline-block;
	margin-left: .5em;
	font-family: "FontAwesome";
	font-size: inherit;
	font-style: normal;
	font-weight: 300;
	font-variant: normal;
	font-size-adjust: none;
	font-stretch: normal;
	line-height: 1;
	-webkit-font-feature-settings: normal;
	-moz-font-feature-settings: normal;
	font-feature-settings: normal;
	-webkit-font-kerning: auto;
	-moz-font-kerning: auto;
	font-kerning: auto;
	-webkit-font-language-override: normal;
	-moz-font-language-override: normal;
	font-language-override: normal;
	font-synthesis: weight style;
	text-rendering: auto
}
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.down:before {
	content: "\f0de"
}
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.up:before {
	content: "\f0de"
}
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.left:before {
	content: "\f053"
}
.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.right:before {
	content: "\f054"
}
.tablesaw-advance a.tablesaw-nav-btn.disabled {
	pointer-events: none;
	cursor: default;
	filter: alpha(opacity=40);
	opacity: .4
}
.tablesaw-bar {
	clear: both;
	font-family: sans-serif
}
.tablesaw-toolbar {
	float: left;
	font-size: 13px
}
.tablesaw-toolbar label {
	display: block;
	padding: .5em 0;
	margin-right: 20px;
	clear: both;
	color: #76838f;
	text-transform: uppercase
}
.tablesaw-bar .btn, .tablesaw-enhanced .tablesaw-bar .btn {
	margin-top: .5em;
	margin-bottom: .5em
}
.tablesaw-bar .btn-select, .tablesaw-enhanced .tablesaw-bar .btn-select {
	margin-bottom: 0
}
.tablesaw-bar .tablesaw-toolbar .btn {
	padding-left: .3em;
	margin-top: 0;
	margin-left: .4em;
	font-family: sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	background: 0 0;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none
}
.tablesaw-bar .tablesaw-toolbar .btn-select {
	min-width: 0
}
.tablesaw-bar .tablesaw-toolbar .btn-select:after {
	padding-top: 0
}
.tablesaw-bar .tablesaw-toolbar select {
	color: #76838f;
	text-transform: none;
	background: 0 0
}
.tablesaw-toolbar~table {
	clear: both
}
.tablesaw-toolbar .a11y-sm {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0)
}
@media (min-width:24em) {
.tablesaw-toolbar .a11y-sm {
	position: static;
	width: auto;
	height: auto;
	overflow: visible;
	clip: none
}
}
.tablesaw td, .tablesaw th {
	line-height: 1em;
	text-align: left;
	vertical-align: middle
}
.tablesaw tbody th, .tablesaw td {
	vertical-align: middle
}
.tablesaw tbody th .btn, .tablesaw td .btn {
	margin: 0
}
.tablesaw thead th {
	text-align: left;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	color: #313131;
}
.tablesaw caption {
	margin-bottom: 0;
	line-height: 2.4;
	text-align: left;
	filter: alpha(opacity=50);
	opacity: .5
}
@media (min-width:25em) {
.tablesaw caption {
	margin-bottom: .6em;
	line-height: 1.2
}
}
.tablesaw-cell-label-top {
	font-weight: 300;
	text-transform: uppercase
}
.tablesaw-cell-label {
	text-transform: uppercase
}
@media (min-width:40em) {
.tablesaw td {
	line-height: 1.5em;
}
}
.tablesaw-cell-label-top {
	font-weight: 300;
	text-transform: uppercase
}
.tablesaw-cell-label {
	text-transform: uppercase
}
@media (min-width:40em) {
.tablesaw td {
	line-height: 1.5em
}
}
.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
	display: none
}
@media only all {
.tablesaw-stack td, .tablesaw-stack th {
	display: block;
	text-align: left
}
.tablesaw-stack tr {
	display: table-row;
	clear: both
}
.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
	display: inline-block;
	width: 30%;
	padding: 0 .6em 0 0
}
.tablesaw-stack td .tablesaw-cell-label-top, .tablesaw-stack th .tablesaw-cell-label-top {
	display: block;
	padding: .4em 0;
	margin: .4em 0
}
.tablesaw-cell-label {
	display: block
}
.tablesaw-stack tbody th.group {
	margin-top: -1px
}
.tablesaw-stack th.group b.tablesaw-cell-label {
	display: none!important
}
}
@media (max-width:767px) {
.tablesaw-stack thead td, .tablesaw-stack thead th {
	display: none
}
.tablesaw-stack tbody td, .tablesaw-stack tbody th {
	float: left;
	width: 100%;
	clear: left
}
.tablesaw-cell-label {
	vertical-align: top
}
.tablesaw-cell-content {
	display: inline-block;
	max-width: 67%
}
.tablesaw-stack td:empty, .tablesaw-stack th:empty {
	display: none
}
}
@media (min-width:768px) {
.tablesaw-stack tr {
	display: table-row
}
.tablesaw-stack td, .tablesaw-stack th, .tablesaw-stack thead td, .tablesaw-stack thead th {
	display: table-cell
}
.tablesaw-stack td .tablesaw-cell-label, .tablesaw-stack th .tablesaw-cell-label {
	display: none!important
}
}
.tablesaw-fix-persist {
	table-layout: fixed
}
@media only all {
.tablesaw-swipe td.tablesaw-cell-hidden, .tablesaw-swipe th.tablesaw-cell-hidden {
	display: none
}
}
.btn.tablesaw-columntoggle-btn span {
	display: inline-block;
	text-indent: -9999px
}
.tablesaw-columntoggle-btnwrap {
	position: relative
}
.tablesaw-columntoggle-btnwrap .dialog-content {
	padding: .5em
}
.tablesaw-columntoggle tbody td {
	line-height: 1.5
}
.tablesaw-columntoggle-popup {
	display: none
}
.tablesaw-columntoggle-btnwrap.visible .tablesaw-columntoggle-popup {
	position: absolute;
	top: 2em;
	right: 0;
	z-index: 1;
	display: block;
	padding: .5em .8em;
	background-color: #fff;
	border: 1px solid #e4eaec;
	border-radius: 3px
}
.tablesaw-columntoggle-popup fieldset {
	margin: 0
}
@media only all {
.tablesaw-columntoggle td.tablesaw-priority-1, .tablesaw-columntoggle td.tablesaw-priority-2, .tablesaw-columntoggle td.tablesaw-priority-3, .tablesaw-columntoggle td.tablesaw-priority-4, .tablesaw-columntoggle td.tablesaw-priority-5, .tablesaw-columntoggle td.tablesaw-priority-6, .tablesaw-columntoggle th.tablesaw-priority-1, .tablesaw-columntoggle th.tablesaw-priority-2, .tablesaw-columntoggle th.tablesaw-priority-3, .tablesaw-columntoggle th.tablesaw-priority-4, .tablesaw-columntoggle th.tablesaw-priority-5, .tablesaw-columntoggle th.tablesaw-priority-6 {
	display: none
}
}
.tablesaw-columntoggle-btnwrap .dialog-content {
	top: 0!important;
	right: 1em;
	left: auto!important;
	width: 12em;
	max-width: 18em;
	margin: -.5em auto 0
}
.tablesaw-columntoggle-btnwrap .dialog-content:focus {
	outline-style: none
}
@media (min-width:20em) {
.tablesaw-columntoggle td.tablesaw-priority-1, .tablesaw-columntoggle th.tablesaw-priority-1 {
	display: table-cell
}
}
@media (min-width:30em) {
.tablesaw-columntoggle td.tablesaw-priority-2, .tablesaw-columntoggle th.tablesaw-priority-2 {
	display: table-cell
}
}
@media (min-width:40em) {
.tablesaw-columntoggle td.tablesaw-priority-3, .tablesaw-columntoggle th.tablesaw-priority-3 {
	display: table-cell
}
.tablesaw-columntoggle tbody td {
	line-height: 2
}
}
@media (min-width:50em) {
.tablesaw-columntoggle td.tablesaw-priority-4, .tablesaw-columntoggle th.tablesaw-priority-4 {
	display: table-cell
}
}
@media (min-width:60em) {
.tablesaw-columntoggle td.tablesaw-priority-5, .tablesaw-columntoggle th.tablesaw-priority-5 {
	display: table-cell
}
}
@media (min-width:70em) {
.tablesaw-columntoggle td.tablesaw-priority-6, .tablesaw-columntoggle th.tablesaw-priority-6 {
	display: table-cell
}
}
@media only all {
.tablesaw-columntoggle td.tablesaw-cell-hidden, .tablesaw-columntoggle th.tablesaw-cell-hidden {
	display: none
}
.tablesaw-columntoggle td.tablesaw-cell-visible, .tablesaw-columntoggle th.tablesaw-cell-visible {
	display: table-cell
}
}
.tablesaw-columntoggle-popup .btn-group>label {
	display: block;
	padding: .2em 0;
	white-space: nowrap
}
.tablesaw-columntoggle-popup .btn-group>label input {
	margin-right: .8em
}
.tablesaw-sortable, .tablesaw-sortable thead, .tablesaw-sortable thead tr, .tablesaw-sortable thead tr th {
	position: relative
}
.tablesaw-sortable thead tr th {
	padding-right: 1.6em;
	vertical-align: top
}
.tablesaw-sortable th.tablesaw-sortable-head, .tablesaw-sortable tr:first-child th.tablesaw-sortable-head {
	padding: 0
}
.tablesaw-sortable th.tablesaw-sortable-head button {
	padding-top: .9em;
	padding-right: 1.6em;
	padding-bottom: .7em;
	padding-left: .6em
}
.tablesaw-sortable .tablesaw-sortable-head button {
	position: relative;
	min-width: 100%;
	padding: 0;
	font: inherit;
	color: inherit;
	text-align: left;
	text-transform: inherit;
	background: 0 0;
	border: 0
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after, .tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
	position: absolute;
	right: .5em;
	display: inline-block;
	width: 7px;
	height: 10px;
	font-family: "FontAwesome";
	font-size: inherit;
	font-style: normal;
	font-weight: 300;
	font-variant: normal;
	font-size-adjust: none;
	font-stretch: normal;
	line-height: 1;
	content: "\0020";
	-webkit-font-feature-settings: normal;
	-moz-font-feature-settings: normal;
	font-feature-settings: normal;
	-webkit-font-kerning: auto;
	-moz-font-kerning: auto;
	font-kerning: auto;
	-webkit-font-language-override: normal;
	-moz-font-language-override: normal;
	font-language-override: normal;
	font-synthesis: weight style;
	text-rendering: auto
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-ascending button:after {
	content: "\f0de"
}
.tablesaw-sortable .tablesaw-sortable-head.tablesaw-sortable-descending button:after {
	content: "\f0dd"
}
.tablesaw-sortable .not-applicable:after {
	display: block;
	content: "--"
}
.tablesaw-sortable .not-applicable span {
	display: none
}
.tablesaw-advance {
	float: right
}
.tablesaw-advance.minimap {
	margin-right: .4em
}
.tablesaw-advance-dots {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none
}
.tablesaw-advance-dots li {
	display: table-cell;
	padding: .4em .2em
}
.tablesaw-advance-dots li i {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: #a3afb7;
	border-radius: 100%
}
.tablesaw-advance-dots-hide {
	pointer-events: none;
	cursor: default;
	filter: alpha(opacity=30);
	opacity: .3
}
