﻿﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        body {
            font-family: Times New Roman,serif;
            margin: 15px; /* Reset body margin */
            padding: 0px; /* Reset body padding */
        }

        .heading {
            width: 100%;
            border-collapse: collapse;
            color: rgb(128, 128, 128); /* Applying base color */
        }

        .QuoteDetailsBlock {
            width: 100%;
            border-collapse: collapse;
            font-family: Helvetica, Arial, sans-serif;
        }

        .QuoteVendorDetailsBlock {
            width: 100%;
            border-collapse: collapse;
            font-family: Times New Roman, Times, serif;
        }

        .itemstable {
            width: 100%;
            border: 0.5px solid black;
            border-width: thin;
            border-collapse: collapse;
            text-align: center;
        }

        .productsTable {
            width: 100%;
            border-collapse: collapse;
            font-family: Helvetica, Arial, sans-serif;
        }

        .header-cell {
            background-color: rgb(17, 89, 128);
            color: white;
            border: 0.5px solid black;
            border-width: thin;
            border-collapse: collapse;
            padding: 4px;
        }

        .normal-cell {
            border: 0.5px solid black;
            border-width: thin;
            border-collapse: collapse;
            word-break: break-all; /* Break long words */
            overflow-wrap: break-word; /* Allow long text to wrap */
            padding: 4px;
        }

        .termsAndConditions {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table class="heading">
        <tr>
            <td style="text-align:left">
                <h1>{{vendor.CompanyName}}</h1>
            </td>
            <td style="text-align:right">
                <h1>Price Quotation</h1>
            </td>
        </tr>
    </table>

    <hr>

    <h3 style="font-family: Helvetica, Arial, sans-serif;">RFQ Title : {{requirement.Title}}</h3>

    <table class="QuoteDetailsBlock">
        <tr>
            <td style="text-align:left">
                <strong>Quotation For : {{requirement.RequirementID}}</strong>
            </td>
            <td style="text-align:right">
                <strong>Dated On : {{newObj.CurrentDate}}</strong><!--31-05-2024 12:21:31 PM-->
            </td>
        </tr>
    </table>

    <br />
    <table class="QuoteVendorDetailsBlock">
        <tr>
            <td style="text-align:left">
                Name : {{customer.FirstName}} {{customer.LastName}}
            </td>
            <td style="text-align:right">
                Phone : {{vendor.PhoneNum}}
            </td>
        </tr>
        <tr>
            <td style="text-align:left">
                Company : {{customer.CompanyName}}
            </td>
            <td style="text-align:right">
                Prepared by : {{vendor.FirstName}} {{vendor.LastName}}
            </td>
        </tr>
        <tr>
            <td style="text-align:left">
                Address : {{customer.Address}}
            </td>
            <td style="text-align:right">
                E-mail : {{vendor.Email}}
            </td>
        </tr>
        <tr>
            <td style="text-align:left">
                Phone : {{customer.PhoneNum}}
            </td>
            <td style="text-align:right">
                Gst Number : {{newObj.gstNumber}}
            </td>
        </tr>
    </table>

    <hr>

    <table class="productsTable">
        <tr>
            <td style="text-align:left">
                <h2>Product Details:</h2>
            </td>
            <td style="text-align:right">
                <h2>Validity: {{newObj.validity}}</h2>
            </td>
        </tr>
    </table>

    <table class="itemstable">
        <tr>
            <td class="header-cell">{{newObj.PRODUCT_NAME}}</td>
            <td class="header-cell">{{newObj.PRODUCT_NUMBER}}</td>
            <td class="header-cell">{{newObj.PRODUCT_ITEMDETAILS}}</td>
            <td class="header-cell">{{newObj.PRODUCT_MAKE_MODEL}}</td>
            <td class="header-cell">{{newObj.PRODUCT_QUANTITY}}</td>
            <td class="header-cell">{{newObj.PRODUCT_UNIT_PRICE}}</td>
            <td class="header-cell">{{newObj.PRODUCT_UNIT_DISCOUNT}}</td>
            <td class="header-cell">{{newObj.PRODUCT_GST}}</td>
            <td class="header-cell">{{newObj.PRODUCT_REDUCTION_PRICE}}</td>
            <td class="header-cell">{{newObj.PRODUCT_COMMENTS}}</td>
            {{#if newObj.isRegret}}
            <td class="header-cell">{{newObj.PRODUCT_REGRET_COMMENTS}}</td>
            {{/if}}
            <td class="header-cell">{{newObj.PRODUCT_ITEM_PRICE}}</td>

        </tr>
        {{ItemDetails}}
        <tr>
            <td class="normal-cell" style="text-align:left;font-weight:bold;" colspan={{newObj.colspan}}>Total Item Price</td>
            <td class="normal-cell">{{newObj.TotalItemPrice}}</td>
        </tr>
        <tr>
            <td class="normal-cell" style="text-align:left;font-weight:bold;" colspan={{newObj.colspan}}>Grand Total</td>
            <td class="normal-cell">{{newObj.GrandTotal}}</td>
        </tr>
    </table>

    <h3 style="font-family: Helvetica, Arial, sans-serif;">TERMS AND CONDITIONS :</h3>

    <table class="termsAndConditions">
        <tr>
            <td style="width:30%;padding: 10px;font-size: smaller;">Warranty</td>
            <td style="width:70%;padding: 10px;font-size: smaller;">{{newObj.warranty}}</td>
        </tr>
        <tr>
            <td style="width:30%;padding: 10px;font-size: smaller;">Payment Terms</td>
            <td style="width:70%;padding: 10px;font-size: smaller;">{{newObj.paymentTerms}}</td>
        </tr>
        <tr>
            <td style="width:30%;padding: 10px;font-size: smaller;">Delivery Terms</td>
            <td style="width:70%;padding: 10px;font-size: smaller;">{{newObj.deliveryTerms}}</td>
        </tr>
        <tr>
            <td style="width:30%;padding: 10px;font-size: smaller;">Inco Terms</td>
            <td style="width:70%;padding: 10px;font-size: smaller;">{{newObj.incoTerms}}</td>
        </tr>
        <tr>
            <td colspan=2 style="width:30%;padding: 10px;font-size: smaller;">
                NOTE : This Document is Auto Generated from PRM360 System
            </td>
        </tr>
    </table>

    <h3 style="font-family: Helvetica, Arial, sans-serif;text-align:center"> THANK YOU FOR YOUR BUSINESS!</h3>

</body>
</html>