﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper" data-ng-controller="auctionsCtrl">


            <!--<a class="btn btn-info waves-effect waves-light add-btn visible-xs"><span>Create Requirment</span> <i class="fa fa-plus-circle m-l-5"></i></a>-->
            <div class="container-fluid">
                <div ng-controller="formCtrl">
                    <div class="container-fluid">
                        <div class="col-md-10 col-md-offset-1">
                            <ul id="eliteregister">
                                <li class="active">
                                    <h3><strong>STEP 1</strong></h3>
                                    <span><strong>Requirement Specifications</strong></span>
                                </li>
                                <li class="active">
                                    <h3><strong>STEP 2</strong></h3>
                                    <span><strong>Delivery & Payment Terms</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 3</strong></h3>
                                    <span><strong>Transaction Configuration</strong></span>
                                </li>
                                <li>
                                    <h3><strong>STEP 4</strong></h3>
                                    <span><strong>Choose vendors</strong></span>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="white-box" style="padding-top:40px;">

                                    <h3 class="box-title m-b-0 text-center" style="color:#377ba0"><strong>Terms & Conditions</strong></h3><br />

                                    <form class="req-form">

                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <strong for="delivery">Delivery Terms</strong>
                                                <!-- <input type="text" class="form-control" id="delivery"> -->
                                                <textarea class="form-control" ng-model="formRequest.deliveryTime" name="deliveryTimeName" id="deliveryTime"></textarea>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <strong for="location">Delivery Location</strong>
                                                <textarea type="text" class="form-control" ng-model="formRequest.deliveryLocation" name="deliveryLocation" id="deliveryLocation" value="Attapur"></textarea>

                                            </div>

                                            <div class="col-md-6 form-group">
                                                <!-- <input type="text" class="form-control" id="payment"> -->
                                                <strong for="payment">Payment Terms</strong>
                                                <textarea class="form-control" ng-model="formRequest.paymentTerms" name="paymentTerms" id="paymentTerms"></textarea>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <strong class="col-md-1" for="deparments">Deparments: </strong>
                                                <div class="col-md-11">
                                                    <label>
                                                        <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="noDepartments" ng-change="noDepartmentsFunction('NA');" />
                                                        All Departments &nbsp;&nbsp;
                                                    </label>
                                                    <label ng-repeat="reqDepartment in reqDepartments">
                                                        <input type="checkbox" checked class="js-switch" data-color="#4ad965" data-secondary-color="#057cb5" ng-model="reqDepartment.isValid" ng-change="noDepartmentsFunction('DEPARTMENT');" />
                                                        {{reqDepartment.companyDepartments.deptCode}}&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-xs-2 text-center">
                                                <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="goBack(1, stateParamsReqID)" type="button">Back</button>
                                            </div>
                                            <div class="col-xs-6 text-center">
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <button ng-disabled="postRequestLoding" class="btn btn-info btn-lg btn-block ctn-btn waves-effect waves-light" ng-click="goToStage(3, 2)" type="button"><span ng-if="SelectedVendorsCount > 0">Post & </span><span ng-if="SelectedVendorsCount <= 0">Save & </span>Next</button>
                                                <br />
                                                <small ng-if="SelectedVendorsCount > 0" class="text-danger">On click the data will be updated to vendors immidiatly.</small>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // Switchery
                    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
                    $('.js-switch').each(function () {
                        new Switchery($(this)[0], $(this).data());
                    });
                });
            </script>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
