﻿﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request for Quotation</title>
    <style>
        body {
            font-family: Times New Roman,serif;
            margin: 15px; /* Reset body margin */
            padding: 0px; /* Reset body padding */
        }

        .heading {
            color: rgb(128, 128, 128); /* Applying base color */
            text-align: left;
            font-size: 30px;
            margin: 0; /* Reset body margin */
        }

        td {
            padding: 5px;
        }

        .companyDetails {
            width: 100%;
            margin: 10px;
            border: 10px;
            border-collapse: collapse;
        }

        .itemstable {
            width: 100%;
            border: 0.5px solid black;
            border-width: thin;
            border-collapse: collapse;
            text-align: left;
        }

        .header-cell {
            background-color: rgb(17, 89, 128);
            color: white;
            border: 0.5px solid black;
            border-width: thin;
            border-collapse: collapse;
            text-align: left;
            padding: 4px;
        }

        .normal-cell {
            border: 0.5px solid black;
            border-width: thin;
            border-collapse: collapse;
            word-break: break-all; /* Break long words */
            overflow-wrap: break-word; /* Allow long text to wrap */
            text-align: left;
            padding: 4px;
        }
    </style>
</head>
<body>

    <p class="heading">Request for Quotation (RFQ)</p>

    <hr>

    <table class="companyDetails">
        <tbody>
            <tr>
                <td style="text-align:left">Company Name</td>
                <td style="text-align:left">{{customer.CompanyName}}</td>
            </tr>
            <tr>
                <td style="text-align:left">RFQ # Reference Number</td>
                <td style="text-align:left">{{requirement.RequirementNumber}}</td>
            </tr>
            <tr>
                <td style="text-align:left">{{newObj.REQ_TITLE}}</td>
                <td style="text-align:left">{{requirement.Title}}</td>
            </tr>
            <tr>
                <td style="text-align:left">RFQ Issue Date </td>
                <td style="text-align:left">{{newObj.PostedOn}}</td>
            </tr>
            <tr>
                <td style="text-align:left">Quotation Freeze Time </td>
                <td style="text-align:left">{{newObj.QuotationFreezTime}}</td>
            </tr>
            <tr>
                <td style="text-align:left">Expected Negotiation Time </td>
                <td style="text-align:left">{{newObj.ExpStartTime}}</td>
            </tr>
            <tr>
                <td style="text-align:left">Contact Person Name</td>
                <td style="text-align:left">{{requirement.CustFirstName}}({{customer.Email}})</td>
            </tr>
            <tr>
                <td style="text-align:left">{{newObj.CONTACT_DETAILS}}</td>
                <td style="text-align:left">{{requirement.ContactDetails}}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <br />
    <br />
    <br />

    <h4 style="margin:0px;font-family: Helvetica, Arial, sans-serif;">Product Details : </h4>

    <table class="itemstable">
        <tr>
            <td class="header-cell">{{newObj.PACKAGE}}</td>
            <td class="header-cell">{{newObj.PRODUCT_NAME}}</td>
            <td class="header-cell">{{newObj.PRODUCT_MAKE_MODEL}}</td>
            <td class="header-cell">{{newObj.PRODUCT_CODE}}</td>
            <td class="header-cell">{{newObj.PRODUCT_QUANTITY}}</td>
            <td class="header-cell">{{newObj.PRODUCT_ITEMDETAILS}}</td>
        </tr>
        {{ItemDetails}}
    </table>

    <h5 style="margin: 20px 0px 0px 0px;font-family: Helvetica, Arial, sans-serif;">Comments & Link : {{requirement.ReqComments}}</h5>

    <h4 style="margin: 20px 0px 0px 0px;font-family: Helvetica, Arial, sans-serif;">Delivery & Payment Terms :</h4>

    <table class="itemstable">
        <tr>
            <td style="width:30%" class="normal-cell">{{newObj.PAYMENT_TERMS}}</td>
            <td style="width:70%" class="normal-cell">{{requirement.PaymentTerms}}</td>
        </tr>
        <tr>
            <td class="normal-cell">{{newObj.DELIVERY_TERMS}}</td>
            <td class="normal-cell">{{requirement.DeliveryTime}}</td>
        </tr>
        <tr>
            <td class="normal-cell">{{newObj.GENERAL_TERMS}}</td>
            <td class="normal-cell">{{requirement.GeneralTC}}</td>
        </tr>
    </table>

    <h4 style="margin: 20px 0px 0px 0px;font-family: Helvetica, Arial, sans-serif;">Transaction Configuration :</h4>

    <table class="itemstable">
        <tr>
            <td style="width:30%" class="normal-cell">Product Urgency</td>
            <td style="width:70%" class="normal-cell">{{requirement.Urgency}}</td>
        </tr>
        <tr>
            <td class="normal-cell">Currency</td>
            <td class="normal-cell">{{requirement.Currency}}</td>
        </tr>
    </table>

    {{#if newObj.flag}}
    <h4 style="margin: 20px 0px 0px 0px;font-family: Helvetica, Arial, sans-serif;">Vendors Details :</h4>

    <table class="itemstable">
        <tr>
            <td class="header-cell">Name</td>
            <td class="header-cell">Company</td>
            <td class="header-cell">Email</td>
            <td class="header-cell">Phone</td>
        </tr>
        {{VendorsDetails}}
    </table>
    {{/if}}

    <p>NOTE : This Document is Auto Generated from PRM360 System.</p>

</body>
</html>