<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>

        <!-- <link href="js/resources/css/catalogMgmt.css" rel="stylesheet" /> -->
        <!--<link href="../../js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <div id="page-wrapper">
            <div class="col-sm-12" ng-controller="catalogMgmtCtrl">
                <!--<div class="row">
                    <ul style="padding-left:30px" class="tab-nav " data-ng-include="'template/catalogProfile-menu.html'"></ul>
                </div>-->
                <div class="white-box">
                    <div class="pmb-block">
                        <div class="container-fluid" style="padding-left:20px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <script type="text/ng-template" id="nodes_renderer.html">

                                            <div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
                                                <label>
                                                    {{node.isExpand}}
                                                    <span style="width:12px" ng-if="node.subCatCount && node.subCatCount > 0" data-nodrag ng-click="toggle(this);" class="glyphicon"
                                                          ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'">

                                                    </span>
                                                    <span ng-click="editCategory(this)" style="cursor:pointer"
                                                          ng-class="{'text-success':node.catId == selectedCategoryId}">
                                                        {{node.catName}}
                                                    </span>
                                                </label>
                                                <a class="pull-right btn-xs" data-nodrag ng-click="deleteCategory(this)" title="delete" style="cursor:pointer;margin-top:-5px;">
                                                    <span class="glyphicon glyphicon-trash" ng-show="node.catNameTemp != 'requirement items' && node.catNameTemp != 'sourcing'"></span>
                                                </a>

                                                <a class="pull-right btn-xs" data-nodrag ng-click="addSubCategory(this);" ng-if="node.catParentId === 0" title="Add Sub Package" style="cursor:pointer;margin-top:-5px;">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </a>
                                            </div>
                                            <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" class="categoryname">
                                                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true">
                                                </li>
                                            </ol>
                                            <!--{{node.nodes}}-->
                                            <!--<div ng-init="limit = 100">
                                                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" class="categoryname" ng-if="node.isExpand == true">
                                                    <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_renderer.html'" collapsed="true"></li>
                                                    <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                                        <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                                    </li>
                                                </ol>
                                            </div>-->
                                        </script>
                                        <script type="text/ng-template" id="nodes_parent.html">
                                            <div ui-tree-handle class="tree-node tree-node-content" data-nodrag>
                                                <label>
                                                    <span style="width:12px" ng-if="node.subCatCount && node.subCatCount > 0" data-nodrag ng-click="toggle(this);" class="glyphicon"
                                                          ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'">

                                                    </span>
                                                    <span style="cursor:pointer">{{node.catName}}</span>
                                                </label>
                                                <a class="pull-right btn-xs" data-nodrag ng-click="addParentCategory(this);">
                                                    <span class="glyphicon glyphicon-plus" title="Add Package" style="cursor:pointer"></span>
                                                </a>
                                            </div>
                                            <div>
                                                <h4 style="margin-left:30px">Packages ({{companyCatalog.length}}/{{totalCount}})</h4>
                                            </div>

                                            <div class="row" style="height:400px;max-height: 400px;overflow-y: auto" when-scrolled="getcategories(1)">
                                                <div class="col-md-12">
                                                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" collapsed="true">
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>



                                        </script>

                                        <!--====== Product Category Start ======= -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h3>Packages</h3>
                                                <br />
                                            </div>
                                            <div class="col-md-6 pull-right">
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <div class="fileupload btn-sm common_btn">
                                                            <span class="fileinput-new"><i class="fa fa-plus m-r-5"></i>Upload Excel</span>
                                                            <input type="file" class="upload" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select-items="onFileSelect($files)">
                                                        </div>
                                                        Upload Multiple item via Excel(only xlsx):
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input ng-click="exportTemplateToExcel()" type="button" value="Template" class='btn-sm common_btn' />
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <p class="forgotcolor pull-left" style="font-size:14px;color:red;">{{errorMessage}}</p>
                                    <div class="" style="margin-top:-20px;">
                                        <div class="row">
                                            <div class="col-md-4">
                                            </div>

                                            <div class="col-md-12">

                                                <div class="col-sm-5">

                                                    <div ui-tree id="tree-root">
                                                        <ol ui-tree-nodes ng-model="data">
                                                            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_parent.html'" ng-class="collapse" collapsed="false"></li>
                                                        </ol>
                                                    </div>
                                                </div>

                                                <div class="col-md-7 pull-right">
                                                    <div class="col-md-12">
                                                        <div class="row" style="border-left: 1px groove;" ng-if="catEditFlag == true || catAddFlag == true">
                                                            <div class="col-md-12" ng-if="catEditFlag == true && catAddFlag == false">
                                                                <div class="row" ng-model="selectedCatNode">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-12 row">
                                                                            <div class="col-md-8">
                                                                                <h3>{{selectedCatNodeTitle}}</h3>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <a class="pull-right btn-xs cancel_button_cmn" data-nodrag ng-click="cancelEdit()"><h4 style="cursor:pointer"> Cancel</h4></a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <accordion>
                                                                                <accordion-group ng-init="status.open = true" is-open="status.open">
                                                                                    <accordion-heading>{{selectedCatNodeType}} Details</accordion-heading>
                                                                                    <div class="row">
                                                                                        <form name="editcatform">
                                                                                            <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                                                                                <div class="col-md-12 text-right">

                                                                                                    <a ng-click="saveCategoryDetails(selectedCatNode)" ng-if="editcatform.$valid" title="save" class="btn btn-o btn-xs btn-primary">
                                                                                                        <i class="fa fa-check"></i>
                                                                                                    </a>

                                                                                                    <a ng-click="editCategoryData(selectedCatNodeReset)" title="reset" class="btn btn-o btn-xs btn-primary">
                                                                                                        <i class="fa fa-undo" style="color:red"></i>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="col-xs-12 col-md-12">
                                                                                                    <div class="form-group">
                                                                                                        <label style="color:#606261"><strong>*{{selectedCatNodeType}} Name</strong></label>
                                                                                                        <div>
                                                                                                            <input ng-model="selectedCatNode.catName" name="catEditTitle" class="form-control" type="text" placeholder="{{selectedCatNodeType}} name" required />
                                                                                                        </div>
                                                                                                        <span class="text-warning" ng-show="editcatform.catEditTitle.$error.required">*required</span>
                                                                                                    </div>
                                                                                                    <div class="form-group">
                                                                                                        <input ng-model="selectedCatNode.isDefault" name="defaultCheckbox" class="" type="checkbox" id="accept" style="height:12px" />
                                                                                                        <label style="color:#606261">Is Default</label><!--{{selectedCatNodeTitle}}-->
                                                                                                    </div>
                                                                                                    <!--<div class="form-group">
                                                                                                        <label style="color:#606261"><strong>Category Description</strong></label>
                                                                                                        <textarea ng-model="selectedCatNode.catDesc" class="form-control" type="text" placeholder="category description" />
                                                                                                    </div>
                                                                                                    <div class="form-group">
                                                                                                        <label style="color:#606261"><strong>Departments</strong></label>
                                                                                                        <select multiple class="form-control" ng-model="selectedCatNode.departments" ng-options="i.deptID as (i.deptCode) for i in companyDepartments"></select>
                                                                                                    </div>-->
                                                                                                </div>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </accordion-group>
                                                                                <!--<accordion-group>
                                                                                    <accordion-heading>Category Attributes</accordion-heading>
                                                                                    <div class="row"  ng-if="Properties && Properties.length > 0">
                                                                                        <div class="col-md-12 " >
                                                                                            <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                                                                                <div class="col-md-12 text-right" ng-if="Properties && Properties.length > 0">

                                                                                                    <a ng-click="saveProperties()" class="btn btn-o btn-xs btn-primary">
                                                                                                        <i class="fa fa-check"></i>
                                                                                                    </a>

                                                                                                    <a ng-click="" class="btn btn-o btn-xs btn-primary">
                                                                                                        <i class="fa fa-undo" style="color:red"></i>
                                                                                                    </a>
                                                                                                </div>

                                                                                                <div class="form-group col-md-8">
                                                                                                    <ul class="list-unstyled" ng-model="Properties">
                                                                                                        <li ng-repeat="prop in Properties">
                                                                                                            <div class="row" ng-if="dataTypes.indexOf(prop.propDataType) != -1">
                                                                                                                <div class="col-md-1">
                                                                                                                    <label>
                                                                                                                        <input style="zoom:1.2" type="checkbox" ng-model="prop.propChecked" ng-click="propCheckChanged(prop)" />
                                                                                                                    </label>
                                                                                                                </div>
                                                                                                                <div class="col-md-6" ng-if="prop.propDataType == 'text'">

                                                                                                                    <label style="color:#606261">{{prop.propName}}</label>
                                                                                                                    <div ng-show="prop.propChecked" ng-click="propCheckChanged(prop)">
                                                                                                                        <input class="form-control" ng-model="prop.propValue" type="text" value="">
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="col-md-6" ng-if="prop.propDataType == 'multiline'">
                                                                                                                    <label style="color:#606261">{{prop.propName}}</label>
                                                                                                                    <div ng-show="prop.propChecked">
                                                                                                                        <textarea class="form-control" ng-model="prop.propValue" rows="3"></textarea>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="col-md-6" ng-if="prop.propDataType == 'drop'">
                                                                                                                    <label style="color:#606261">{{prop.propName}}</label>
                                                                                                                    <div ng-show="prop.propChecked">
                                                                                                                        <select class="form-control" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="col-md-6" ng-if="prop.propDataType == 'multi'">
                                                                                                                    <label style="color:#606261">{{prop.propName}}</label>
                                                                                                                    <div ng-show="prop.propChecked">
                                                                                                                        <select multiple class="form-control" ng-model="prop.propValue" ng-options="opt for opt in prop.propOptions.split('^^') "></select>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>


                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </accordion-group>-->
                                                                            </accordion>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12" ng-if="catEditFlag == false && catAddFlag == true">
                                                                <div class="row" ng-model="selectedCatNode">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-12 row">
                                                                            <div class="col-md-8">
                                                                                <h3>{{selectedCatNodeTitle}}</h3>
                                                                                <p><h4 class="panel-title" style="padding-left:15px">Add New {{selectedCatNodeType}}</h4></p>
                                                                            </div>
                                                                            <div class="col-md-3" style="margin-top:16px;">
                                                                                <a class="btn-sm cancel_button_cmn pull-right " data-nodrag ng-click="cancelEdit()" style="cursor:pointer"> Cancel</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-12 add-row add-req-items-border ng-scope" style="padding:20px">
                                                                                <form name="addnewform">
                                                                                    <div class="col-md-12 text-right">
                                                                                        <button ng-click="saveNewCategory(selectedCatNode)" ng-disabled="!addnewform.$valid" title="save" class="btn btn-o btn-xs btn-primary">
                                                                                            <i class="fa fa-check"></i>
                                                                                        </button>

                                                                                        <a ng-click="addCategory(selectedCatNodeReset)" title="reset" class="btn btn-o btn-xs btn-primary">
                                                                                            <i class="fa fa-undo" style="color:red"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="col-xs-12 col-md-12">
                                                                                        <div class="form-group">
                                                                                            <label style="color:#606261" ng-show="addnewform.catTitle.$error.required">*{{selectedCatNodeType}} Name</label><!--{{selectedCatNodeTitle}}-->
                                                                                            <div>
                                                                                                <input ng-model="selectedCatNode.title" name="catTitle" class="form-control" type="text" placeholder="{{selectedCatNodeType}} Name" required />
                                                                                            </div>
                                                                                            <!--<span class="text-warning" ng-show="addnewform.catTitle.$error.required">*required</span>-->
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input ng-model="selectedCatNode.isDefault" name="defaultCheckbox" class="" type="checkbox" id="accept" style="height:12px" />
                                                                                            <label style="color:#606261">Is Default</label><!--{{selectedCatNodeTitle}}-->
                                                                                        </div>
                                                                                        <!--<div class="form-group">
                                                                                            <label style="color:#606261"> Description</label>
                                                                                            <div>
                                                                                                <textarea ng-model="selectedCatNode.catdesc" class="form-control" type="text" placeholder="Category Description" />
                                                                                            </div>
                                                                                        </div>-->
                                                                                        <!--<div class="form-group">
                                                                                            <label style="color:#606261"><strong>Departments</strong></label>
                                                                                            <select multiple class="form-control" ng-model="selectedCatNode.departments" ng-options="i.deptID as (i.deptCode) for i in companyDepartments"></select>
                                                                                        </div>-->

                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>




                                                </div>

                                            </div>

                                        </div>
                                    </div>







                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
