
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>

        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="CategoryProductsCtrl">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-12">

                                <script type="text/ng-template" id="nodes_category_products.html">
                                    <div data-nodrag >
                                        <label style="width:12px">
                                            <span data-nodrag ng-if="node.subCatCount && node.subCatCount > 0" ng-click="getsub(node);toggle(this);" class="glyphicon"
                                                  ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                                        </label>
                                        <input type="checkbox" ng-model="node.nodeChecked" ng-click="checkChanged(node)" /><label>{{node.title}}</label>
                                        <label ng-if="node.subCatCount && node.subCatCount > 0"class="font-bold">({{node.subCatCount}})</label>
                                    </div>
                                    <ul ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_category_products.html'" collapsed="true">
                                        </li>
                                    </ul>
                                </script>

                                <h3>Product Categories</h3>
                                <div class="white-box">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-sm-12">
                                                <div ui-tree id="tree-root">
                                                    <ul ui-tree-nodes ng-model="parentNodes">
                                                        <li ng-repeat="node in parentNodes" ui-tree-node ng-include="'nodes_category_products.html'" ng-class="collapse" collapsed="true"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-sm-12">
                                                <ul ng-model="products" ng-if="products && products.length > 0">
                                                    <li ng-repeat="product in products"><a ng-click="getProductDetails(this)">{{product.prodName}}</a></li>
                                                </ul>
                                                <div ng-if="!products || products.length <= 0">
                                                    No products available in this category
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-sm-12">
                                                <div ng-if="productDetails">
                                                    Product code: {{productDetails.prodCode}} <br />
                                                    Product Name: {{productDetails.prodName}}<br />
                                                    Product Description: {{productDetails.prodDesc}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
