
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <!-- Nested node template -->
        <!--<input type="text" ng-model="mytitle"  />
        <button  ng-click="myNewSubItem()" ng-if="mytitle != ''">save</button>-->

        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="catalogMgmtRouting">
               
                welcome to genral page


               

            </div>
        </div>
    </div>
</div>