﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <!--<link href="js/resources/css/catalogMgmt.css" rel="stylesheet" />-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="productAnalysisCtrl">
                <div class="box-title">
                    <h4 style="text-align:center;"><strong>Product Analysis</strong></h4>
                </div>
                <div class="white-box" ng-if="callID == 1">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3><u>{{PROD_NAME}}</u></h3>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">From date</label>
                                <div class="col-md-12" moment-picker="dateobj.FromDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="dateobj.FromDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">To date</label>
                                <div class="col-md-12" moment-picker="dateobj.ToDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="dateobj.ToDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Product Name </label>
                            <input type="text" ng-model-options="{debounce:500}" autocomplete="off" ng-model="prodObj.productIDorName" name="productIDorName" id="productIDorName"
                                   ng-change="autofillProduct(prodObj.productIDorName, 'NAME')" class="form-control">
                            <ul class="list-group" ng-show="this['filterProducts_'] && this['filterProducts_'].length > 0" style="position:absolute;z-index:99; max-height:200px;overflow:scroll;border:1px solid">
                                <li class="list-group-item form-control" style="cursor:pointer; border: 1px solid #d4d4d4; width:265px"
                                    ng-repeat="prod_$index in this['filterProducts_']"
                                    ng-click="fillTextbox(prod_$index)">
                                    {{prod_$index.prodName}}
                                </li>
                            </ul>
                            <span class="text-center text-danger" ng-if="callID == 1 && PROD_NAME == ''">Please search product to retrieve data</span>
                        </div>
                        <div class="col-md-2">
                            <label class="col-md-12">&nbsp;</label>
                            <button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getAnalysis();">Get Analysis</button>
                            <br />
                            <span ng-if="productIDorNameDisplay == true" style="color:orangered">Please Click Get Analysis </span>
                        </div>
                        <!--<div class="col-md-2">
                            <label class="col-md-12">&nbsp;</label>
                            <button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="gotoCompareProducts();">Compare Products</button>
                        </div>-->
                    </div>
                    <div class="text-center">

                    </div>

                </div>

                <div class="white-box">
                    <div class="container-fluid">
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="page-heading bold-font-prm">Product Analysis</h4>
                                </div>
                                <div class="col-md-6">
                                    <table class="table borderless table-fixed" style="width:100%">
                                        <tr>
                                            <td style="width:20%" class="bold-font-prm">Name</td>
                                            <td style="width:80%">: {{ProductDetails.PROD_NAME}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold-font-prm">Code</td>
                                            <td>: {{ProductDetails.PROD_CODE}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold-font-prm">Category</td>
                                            <td>: {{ProductDetails.CATEGORIES}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold-font-prm">Sub Category</td>
                                            <td>: {{ProductDetails.SUB_CATEGORIES}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width:40%" class="bold-font-prm">No.Of Diff Sources/Vendors</td>
                                            <td style="width:60%">: {{productAnalysis.RFQ_VENDORS}}</td>
                                        </tr>
                                        <tr>
                                            <td class="bold-font-prm">Value Sourced</td>
                                            <td>: {{productAnalysis.LEAST_ITEM_L1_PRICE | number:2}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <div class="row" id="vendorShare">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box" style="height:20.0em;">
                            <h4 class="bold-font-prm text-center">
                                Frequency Sourced

                            </h4>
                            <table class="table table-bordered colliers_table">
                                <thead>
                                    <tr>
                                        <th style="min-width:5px;max-width:5px;">S.NO</th>
                                        <th style="min-width:5px;max-width:5px;">REQ ID's</th>
                                        <th style="min-width:40px;max-width:40px;">MONTH</th>

                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:140px;min-height:140px;">
                                <table class="table table-vmiddle table-bordered">
                                    <tr ng-repeat="data in productAnalysis.FrequencySourcing">
                                        <td style="min-width:5px;max-width:5px;">{{$index+1}}</td>
                                        <td style="min-width:5px;max-width:5px;">{{data.MONTH_REQ}}</td>
                                        <td style="min-width:40px;max-width:40px;">{{data.MONTH_NAME}}</td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box" style="height:20.0em;">
                            <h4 class="bold-font-prm text-center">
                                Volume Sourced

                            </h4>
                            <table class="table table-vmiddle colliers_table">
                                <thead>
                                    <tr>
                                        <th style="min-width:5px;max-width:5px;">S.NO</th>
                                        <th style="min-width:5px;max-width:5px;">ITEM UNITS</th>
                                        <th style="min-width:40px;max-width:40px;">ITEM UOM</th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:140px;min-height:140px;">
                                <table class="table table-vmiddle table-bordered">
                                    <tr ng-repeat="data in productAnalysis.MaterialSourced">
                                        <td style="min-width:5px;max-width:5px;">{{$index+1}}</td>
                                        <td style="min-width:5px;max-width:5px;">{{data.ITEM_BASED_UNITS}}</td>
                                        <td style="min-width:40px;max-width:40px;">{{data.ITEM_UOM}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box">
                            <h4 class="bold-font-prm text-center">
                                Product Material Occupying in Total Procurement
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h11.h}} &#013;{{h.h11.t1}} &#013;{{h.h11.t2}}." role="button"></i>
                            </h4>
                            <div class="white-card hoverTransition04 table-responsive">
                                <div id="ProductVsOrgOccupationChart" style="min-width: 200px; height: 280px; max-width: 350px; margin: 0 auto"></div>
                            </div>
                            <small class="pull-right">Product: <label class="bold-font-prm">{{ProductDetails.PROD_OCCUPATION | number:2}}</label> | Other Products in Organization: <label class="bold-font-prm">{{ProductDetails.ALL_PROD_OCCUPATION | number:2}}</label></small>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box">
                            <h4 class="bold-font-prm text-center">Category Material Occupying in Total Procurement</h4>
                            <div class="white-card hoverTransition04 table-responsive">
                                <div id="ProductVsCatOccupationChart" style="min-width: 200px; height: 280px; max-width: 350px; margin: 0 auto"></div>
                            </div>
                            <small class="pull-right">Product: <label class="bold-font-prm">{{ProductDetails.PROD_OCCUPATION | number:2}}</label> | Other Products in Category: <label class="bold-font-prm">{{ProductDetails.CAT_PROD_OCCUPATION | number:2}}</label></small>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Pending RFQ
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h1.h}} &#013;{{h.h1.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of Pending RFQ : {{ProductDetails2.PENDING_REQ}}</div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-hide="true">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Pending PO
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h2.h}} &#013;{{h.h2.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of Pending PO : {{ProductDetails2.PENDING_PO}}</div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-hide="true">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Total POs
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h3.h}} &#013;{{h.h3.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of POs : {{ProductDetails2.CLOSED_PO}}</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="white-card hoverTransition04">
                            <h5 class="bold-font-prm">
                                Total Vendors
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h4.h}} &#013;{{h.h4.t1}}." role="button"></i>
                            </h5>
                            <div>Total No of Vendors : {{ProductDetails2.TOTAL_ASSIGNED_VENDORS}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="true">
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                Number of vendors got orders
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h5.h}} &#013;{{h.h5.t1}}." role="button"></i>
                            </h4>
                            <table class="table table-vmiddle table-bordered colliers_table">
                                <thead>
                                    <tr>
                                        <th style="min-width:2px;max-width:2px;">S.NO</th>
                                        <th style="min-width:3px;max-width:3px;">REQ ID</th>
                                        <th style="min-width:40px;max-width:40px;">COMPANY NAME</th>
                                        <th style="min-width:30px;max-width:30px;">PO CREATED</th>
                                        <th style="min-width:25px;max-width:25px;">ITEM PRICE</th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:250px;min-height:250px;">
                                <table class="table table-vmiddle table-bordered colliers_table">
                                    <tr ng-repeat="data in VendorsAndOrders">
                                        <td style="min-width:2px;max-width:2px;">{{$index+1}}</td>
                                        <td style="min-width:3px;max-width:3px;"><a ng-click="goToReq(data.REQ_ID);" role="button">{{data.REQ_ID}}</a></td>
                                        <td style="min-width:40px;max-width:40px;">{{data.V_COMPANY_NAME}}</td>
                                        <td style="min-width:30px;max-width:30px;"><a ng-click="goToPPSView(data.REQ_ID, data.CATALOGUE_ITEM_ID, data.PPS_ID);" role="button"> {{data.POSTED_DATE}} </a></td>
                                        <td style="min-width:25px;max-width:25px;">{{data.TOTAL_ITEM_PRICE | number:2}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                Most number of POs to vendors - Name
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h6.h}} &#013;{{h.h6.t1}}." role="button"></i>
                            </h4>
                            <table class="table table-vmiddle table-bordered">
                                <thead>
                                    <tr>
                                        <th style="min-width:5px;max-width:5px;">S.NO</th>
                                        <th style="min-width:50px;max-width:50px;">COMPANY NAME</th>
                                        <th style="min-width:45px;max-width:45px;">TOTAL POs</th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:250px;min-height:250px;">
                                <table class="table table-vmiddle table-bordered">
                                    <tr ng-repeat="data in MostOrdersAndVendors">
                                        <td style="min-width:5px;max-width:5px;">{{$index+1}}</td>
                                        <td style="min-width:50px;max-width:50px;">{{data.V_COMPANY_NAME}}</td>
                                        <td style="min-width:45px;max-width:45px;">{{data.TOTAL_POS}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                List Of RFQ
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h7.h}} &#013;{{h.h7.t1}}." role="button"></i>
                            </h4>
                            <table class="table table-vmiddle table-bordered colliers_table">
                                <thead>
                                    <tr>
                                        <th style="min-width:5px;max-width:5px;">S.NO</th>
                                        <th style="min-width:5px;max-width:5px;">REQ ID</th>
                                        <th style="min-width:35px;max-width:35px;">PLANT ADDRESS</th>
                                        <th style="min-width:40px;max-width:40px;">REQ TITLE</th>
                                        <th style="min-width:35px;max-width:35px;">POSTED ON</th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="overflow:auto;max-height:250px;min-height:250px;">
                                <table class="table table-vmiddle table-bordered">
                                    <tr ng-repeat="data in ProductRequirements">
                                        <td style="min-width:5px;max-width:5px;">{{$index+1}}</td>
                                        <td style="min-width:5px;max-width:5px;"><a ng-click="goToReq(data.REQ_ID);" role="button">{{data.REQ_ID}}</a></td>
                                        <td style="min-width:35px;max-width:35px;">{{data.PLANT_NAME}}</td>
                                        <td style="min-width:40px;max-width:40px;">{{data.REQ_TITLE}}</td>
                                        <td style="min-width:35px;max-width:35px;">{{data.POSTED_DATE}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box" style="height:31.3em;">
                            <h4 class="bold-font-prm text-center">
                                Price Graph
                                <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h8.h}} &#013;{{h.h8.t1}}." role="button"></i>
                            </h4>
                            <div class="white-card hoverTransition04 table-responsive">
                                <!--<hc-chart  id="chartOptions" width ng-if="show">Placeholder for generic chart</hc-chart>-->
                                <div id="chartOptions"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="bold-font-prm">
                                        Best Price
                                        <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h9.h}} &#013;{{h.h9.t1}}." role="button"></i>
                                    </h5>
                                    <div>Best Price for this Product : <strong ng-show="ProductDetails2.BEST_PRICE > 0">{{ProductDetails2.BEST_PRICE}}</strong></div>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="bold-font-prm">
                                        Best Price Date
                                        <i ng-hide="true" class="fas fa-info-circle text-info" title="{{h.h9.h}} &#013;{{h.h9.t1}}." role="button"></i>
                                    </h5>
                                    <div>Best Price Date : <strong ng-show="ProductDetails2.BEST_PRICE > 0">{{ProductDetails2.BEST_PRICE_DATE}} (Req: <a ng-click="goToReq(ProductDetails2.BEST_PRICE_REQ);" role="button">{{ProductDetails2.BEST_PRICE_REQ}}</a>)</strong></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
