﻿<div class="white-box">
    <div class="row">

        <div ng-controller="RealTimePriceController as _realCtrl" ng-init="_realCtrl.getByPage()">


            <div class="pmb-block" st-pipe="_realCtrl.getByPage" st-table="_realCtrl.gridOpitions.data">
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-4">
                            <h2 style="display:inline-block;margin:0">
                                <i class="zmdi zmdi-view-list"></i> Real time price
                            </h2>

                        </div>
                        <div class="col-md-8 text-right">
                            <!--<div style="display:inline-block;margin-right:10px">
                                <input style="width:auto;float:none" type="text" st-search="" placeholder="Search" class="form-control" />
                            </div>-->




                        </div>
                    </div>
                    <div class="row" style="margin-bottom:10px">

                        <div class="col-md-12 text-left" ng-init="_realCtrl.getfilterData()">
                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    Product :
                                </span>
                                 <select style="display:inline-block;width:auto;margin-left:15px" st-search="Product" ng-model="ProductFilter" class="form-control">
                                    <option value="">All</option>
                                    <option value="{{p}}" ng-repeat="p in  _realCtrl.FilterData.Products track by $index">{{p}}</option>
                                </select>
                            </div>

                            <div style="margin-right:10px;display:inline-block">
                               <span>
                                   Market :
                               </span>

                                <select style="display:inline-block;width:auto;margin-left:15px" st-search="Market" ng-model="MarketFilter" class="form-control">
                                    <option value="">All</option>
                                    <option value="{{m}}" ng-repeat="m in  _realCtrl.FilterData.Markets">{{m}}</option>
                                </select>
                            </div>

                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    Category :
                                </span>

                                <select style="display:inline-block;width:auto;margin-left:15px" st-search="Category" ng-model="CategorytFilter" class="form-control">
                                    <option value="">All</option>
                                    <option value="{{c}}" ng-repeat="c in  _realCtrl.FilterData.Categories">{{c}}</option>
                                </select>
                            </div>
                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                     From Date :
                                </span>

                                <input  st-search="FromDate"  type="date" style="display:inline-block;width:auto;margin-left:15px"  class="form-control"
                                       ng-model="_realCtrl.FilterModel.FromDate"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       placeholder="Select a date..."
                                       >
                            </div>
                            <div style="margin-right:10px;display:inline-block">
                                <span>
                                    To Date :
                                </span>

                                <input   st-search="ToDate"  type="date" style="display:inline-block;width:auto;margin-left:15px"  class="form-control"
                                       ng-model="_realCtrl.FilterModel.ToDate"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       placeholder="Select a date..."
                                      >
                            </div>
                            <!--<div style="margin-right:10px;display:inline-block">
                              <button class="btn btn-primary btn-sm">
                                  Apply
                              </button>
                                <button class="btn btn-default btn-sm">
                                    Clear
                                </button>
                            </div>-->

                        </div>
                    </div>
                    <div class="table-responsive z-depth-2">
                        <table class="table table-striped table-vmiddle" show-filter="false">
                            <thead>
                                <tr>
                                    <th st-sort="PriceDate" class="header">Date</th>
                                    <th st-sort="Product" class="header">Product</th>

                                    <th st-sort="Category" class="header">Category</th>
                                    <th st-sort="TradingMode" class="header">TradingMode</th>
                                    <th class="Market">Market</th>
                                    <th class="header">Price</th>
                                    <th class="header">Unit</th>
                                    <th class="header">Change</th>
                                    <!--<th class="header">Change</th>-->


                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in _realCtrl.gridOpitions.data">
                                    <td>
                                        {{row.PriceDate | date}}
                                    </td>
                                    <td>
                                        {{row.Product }}
                                    </td>
                                    <td>
                                        {{row.Category }}
                                    </td>
                                    <td>
                                        {{row.TradingMode }}
                                    </td>
                                    <td>
                                        {{row.Market }}
                                    </td>
                                    <td>
                                        {{row.Price | currency : "INR " }}
                                    </td>
                                    <td>
                                        {{row.Unit }}
                                    </td>
                                    <td>
                                        {{row.Change }}
                                    </td>
                                    <!--<td>
                                       <a>View</a>
                                    </td>-->
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-right" >
                                        <div style="display:inline-block;margin-right:auto;float:left">
                                        <strong>
                                            Total : <span>{{ _realCtrl.gridOpitions.totalItems}}</span>
                                        </strong>
                                         </div>
                                        <div style="display:inline-block;margin-left:auto">
                                            <div st-pagination="" st-items-by-page="_realCtrl.gridOpitions.itemsByPage" st-displayed-pages="_realCtrl.gridOpitions.displayedPages"></div>

                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>

            <ng-include src="'views/realtimeprice/report.html'"></ng-include>
        </div>
    </div>
</div>
