﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storegrndetailsCtrl">
            <div class="row "></div>
            <div class="white-box">
                <div class="card-header col-md-12">
                    <div class="col-md-3 pull-left">
                        <h3>GRN Details</h3>
                    </div>
                    <div class="col-md-9 pull-right">
                        <div class="col-md-1 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-hide="doPrint" ng-click="cancelClick()">Cancel</button>
                        </div>
                        <div class="col-md-1 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-hide="doPrint" ng-click="printReport()">Print</button>
                        </div>
                    </div>
                </div>

                <!--<div class="card-body card-padding">-->
                <div class="row">
                    <div class="col-md-12">
                        <table width="100%" style="margin-left: 20px;">
                            <tr style="padding:15px;">
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.grnCode)}">
                                        <label class="font-weight-bold">GRN No.: {{grnObject.grnCode}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.indentNo)}">
                                        <label class="font-weight-bold">Indent No: {{grnObject.indentNo}}</label>
                                    </div>
                                </td>

                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.supplierName)}">
                                        <label class="font-weight-bold">Supplier Name: {{grnObject.supplierName}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || grnObject.receiveDate)}">
                                        <label class="font-weight-bold">Received Date: {{handleDate(grnObject.receiveDate)}}</label>
                                    </div>
                                </td>

                                <td>
                                    <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || grnObject.receiveLocation)}">
                                        <label class="font-weight-bold">Received Location: {{grnObject.receiveLocation}}</label>
                                    </div>
                                </td>

                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.costCenter)}">
                                        <label class="font-weight-bold">Cost Center: {{grnObject.costCenter}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.receivedBy)}">
                                        <label class="font-weight-bold">Received By: {{grnObject.receivedBy}}</label>
                                    </div>
                                </td>

                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.checkedBy)}">
                                        <label class="font-weight-bold">Verified By: {{grnObject.checkedBy}}</label>
                                    </div>
                                </td>

                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.itemCondition)}">
                                        <label class="font-weight-bold">Item Condition: {{grnObject.itemCondition}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.poAmount)}">
                                        <label class="font-weight-bold">PO Amount: {{grnObject.poAmount}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.paidAmount)}">
                                        <label class="font-weight-bold">Advance Amount: {{grnObject.paidAmount}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.paymentMode)}">
                                        <label class="font-weight-bold">Payment Mode: {{grnObject.paymentMode}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.indenterName)}">
                                        <label class="font-weight-bold">Indenter Name: {{grnObject.indenterName}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || grnObject.comments)}">
                                        <label class="font-weight-bold">Comments: {{grnObject.comments}}</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td style="width:20%">Item Code</td>
                                    <td style="width:20%">Item Name</td>
                                    <td style="width:10%">Units</td>
                                    <td style="width:10%">Price</td>
                                    <td style="width:10%">Order Qty</td>
                                    <td style="width:10%">Ship Qty</td>
                                    <td style="width:10%"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="storeitem in storeItemGRNItemDetails.storeItems">
                                    <td>{{storeitem.itemCode}}</td>
                                    <td>{{storeitem.itemName}}</td>
                                    <td>{{storeitem.itemUnits}}</td>
                                    <td>{{storeitem.itemPrice}}</td>
                                    <td>{{storeitem.totalStock}}</td>
                                    <td>{{storeitem.inStock}}</td>
                                    <td>
                                        <button class="btn btn-info btn-file btn-new-look" data-target="#storeItemDetails" data-toggle="modal" ng-hide="doPrint" ng-click="selectGrnItemDetails(storeitem)">Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <div class="row" style="margin-top:60px;">
                    <div class="col-md-12">
                        <table width="100%" style="margin-left: 20px;">
                            <tr style="font-weight: bold">
                                <td>
                                    Checked By
                                </td>
                                <td>
                                    Store Manager
                                </td>
                                <td>
                                    Accounts
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
         <span class="pull-right">
                <div class="modal" id="storeItemDetails" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                    <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <td style="width:5%">S.No.</td>
                                                <td style="width:25%">Serial No.</td>
                                                <td style="width:20%">Warranty</td>
                                                <td style="width:20%">Warranty Date</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itemDetails in indentItemDetails">
                                                <td style="width:5%">{{$index + 1}}</td>
                                                <td>{{itemDetails.serialNo}}</td>
                                                <td>{{itemDetails.warrantyNo}}</td>
                                                <td>{{handleDate(itemDetails.warrantyDate)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-info">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






<!--ng-if="showStoreItemObj.StoreItem"-->