<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }
    .ml_position {
        margin-left:30%;
    }
    th,td{
        text-align:center !important;
    }
    .td_align{
        margin-left:0.8em !important;
    }
    td > select{
        width: 70%;
    }
    .select_width{
        width:75% !important;
    }
    .setup_btn {
        position:relative;
        bottom:42px;
    }
    .strng_positon{
        position:relative;
        left:-9%;
    }
    button.btn {
        box-shadow: none;
    }
    .collier_table_a {
        font-size: 12px;
    }
    span.caret.pull-right {
        position: relative;
        top: 10px;
    }

</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="approvedVendorProjectCtrl">

                    <div class="white-box" id="myDiv">
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <button class="create_button pull-right" ng-click="routeToRfq()">Create RFQ</button>
                                <button class="approved_badge pull-right" style="margin-right:10px">Approved</button>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>
                            <form name="addProjectForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="style-label">Project ID<span class="text-danger">*</span></label>
                                        <div>
                                            <input type="text" name="projectid" ng-model="ProjectObject.PROJECT_ID" id="projID" class="style_ip" required placeholder="Enter Project Id" />
                                        </div>
                                        <div ng-show="addProjectForm.$submitted || addProjectForm.projectid.$touched">
                                            <div class="help-block error logininput text-danger" ng-show="addProjectForm.projectid.$error.required">Please Enter Project ID </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="style-label">Project Name<span class="text-danger">*</span></label>
                                        <div>
                                            <input type="text" name="projectname" ng-model="ProjectObject.PROJECT_NAME" id="projName" class="style_ip" required placeholder="Enter Project Name" />
                                        </div>
                                        <div ng-show="addProjectForm.$submitted || addProjectForm.projectname.$touched">
                                            <div class="help-block error logininput text-danger" ng-show="addProjectForm.projectname.$error.required">Please Enter Project Name </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="style-label">Cost Center<span class="text-danger">*</span></label>
                                        <select class="style_ip" ng-model="ProjectObject.COST_CENTER" name="costcenter">
                                            <option value="" selected>Select Cost Center</option>
                                            <option value="Status">DB South</option>
                                            <option value="Status1">DB North</option>
                                            <option value="Status1">DB Mid</option>
                                        </select>
                                        <div ng-show="addProjectForm.$submitted || addProjectForm.costcenter.$touched">
                                            <div class="help-block error logininput text-danger" ng-show="addProjectForm.costcenter.$error.required">Please Enter Cost </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">&nbsp;</div>
                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="style-label">Targeted Revenue Budget<span class="text-danger">*</span> </label>
                                        <div>
                                            <input type="text" name="budgetamount" ng-model="ProjectObject.TARGETED_REVENUE_BUDGET" id="budamount" class="style_ip" required placeholder="Enter Targeted Revenue Budget" />
                                        </div>

                                        <div ng-show="addProjectForm.$submitted || addProjectForm.budgetamount.$touched">
                                            <div class="help-block error logininput text-danger" ng-show="addProjectForm.budgetamount.$error.required">Please Enter Targeted Revenue Budget </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="style-label">Colliers PO Value<span class="text-danger">*</span></label>
                                        <div>
                                            <input type="text" name="collierPO" ng-model="ProjectObject.COLLIEAR_PO_VALUE" id="collier" class="style_ip" required placeholder="Enter PO Value" />
                                        </div>
                                        <div ng-show="addProjectForm.$submitted || addProjectForm.collierPO.$touched">
                                            <div class="help-block error logininput text-danger" ng-show="addProjectForm.collierPO.$error.required">Please Enter PO value </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="style-label"> Net Revenue Margin<span class="text-danger">*</span> </label>
                                        <div>
                                            <input type="text" name="netrevenue" ng-model="ProjectObject.NET_REVENUE_MARGIN" id="Margin" class="style_ip" required placeholder="Enter Net Revenue Margin" />
                                        </div>
                                        <div ng-show="addProjectForm.$submitted || addProjectForm.netrevenue.$touched">
                                            <div class="help-block error logininput text-danger" ng-show="addProjectForm.netrevenue.$error.required">Please Enter Net Revenue Percentage </div>
                                        </div>
                                    </div>

                                </div>

                            </form>
                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>
                            <div class="col-md-12 table-responsive z-depth-2">
                                <div class="col-md-12 table-responsive">
                                    <!--<table class="table colliers_table">
                                        <thead>
                                            <tr class="sans_body text-center">
                                                <th> </th>
                                                <th colspan=2> <strong>Package</strong></th>
                                                <th colspan=2> <strong>Collier PO Value</strong></th>
                                                <th colspan=2> <strong>Net Revenue Margin</strong></th>
                                                <th colspan=2> <strong>Budget Amount</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="budget in BudgetCode" class="sans_body">
                                                <td>
                                                    <a role="button" ng-hide="expand" ng-click="showPackage(0) ; " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                    <a role="button" ng-hide="!expand" ng-click="showPackage(1); " title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                                    <input type="checkbox" class="top-buffer" ng-model="showallitems" ng-click="checkAllitems(showallitems)" value="true" />
                                                </td>
                                                <td colspan=2 style="text-align:center;" ng-model="BudgetCode.PACKAGE">
                                                    <div>
                                                        <select class="form-control">
                                                            <option value="civil">CIVIL INTERIORS</option>
                                                            <option value="electrical">ELECTRICAL</option>
                                                            <option value="mercedes">HVAC</option>
                                                            <option value="audi">CONSULTANT</option>
                                                            <option value="fire">Fire Fightimg Work</option>
                                                            <option value="current">Low Current Works </option>

                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan=2>
                                                    <input type="text" class="form-control fg-input" ng-model="budget.COLLIEAR_PO_VALUE" />
                                                </td>
                                                <td colspan=2>
                                                    {{budget.NET_REVENUE_MARGIN}}
                                                </td>
                                                <td colspan=2>
                                                    {{budget.BUDGET_AMOUNT}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end ng-if="expand" class="sans_body">
                                                <td colspan="16">
                                                    <table class="table table-striped colliers_table" style="background:none !important">
                                                        <thead>
                                                            <tr class="sans_body">
                                                                <th colspan="2">   </th>
                                                                <th colspan="2">   </th>
                                                                <th colspan="2"> <strong> Sub Package</strong></th>
                                                                <th colspan="2"> <strong>Allocation %</strong></th>
                                                                <th colspan="2"> <strong>Est Budget Amount</strong></th>
                                                                <th colspan="2"> <strong> PO Value</strong></th>
                                                                <th colspan="2"> <strong> Variance</strong></th>
                                                                <th colspan="2"> <strong> Vendors</strong></th>
                                                                <th colspan="2"> <strong> </strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="budgetcode in BudgetCode1" class="sans_body" style="background:none !important">
                                                                <td colspan="2"> </td>
                                                                <td colspan="2">
                                                                    <input type="checkbox" class="top-buffer" ng-model="showitem" value="true" />
                                                                </td>
                                                                <td colspan="2" ng-model="budgetcode.SUB_PACKAGE">
                                                                    <div>
                                                                        <select class="form-control td_align" style="width:75%">
                                                                            <option value="civil1">DEMOLITION </option>
                                                                            <option value="electrical1"> CIVIL WORKS</option>
                                                                            <option value="mercedes1">WET FLOORING WORKS</option>
                                                                            <option value="aud1i">RAISED FLOORING</option>
                                                                            <option value="fire1">VINYL FLOORING/LVT</option>
                                                                            <option value="current1">WOODEN FLOORING </option>
                                                                            <option value="current1">MISCELLENEOUS </option>
                                                                            <option value="current1">DRY PARTITION WORKS </option>
                                                                            <option value="current1">MODULAR PARTITION & DOORS </option>
                                                                            <option value="current1">DRY PANELLING </option>
                                                                            <option value="current1">DESIGNER CEILINGE </option>
                                                                            <option value="current1">COUNTERS & STORAGE </option>
                                                                            <option value="current1">DOORS </option>
                                                                            <option value="current1">FIRE DOORS </option>
                                                                            <option value="current1">PAINTING </option>
                                                                            <option value="current1">WALLPAPER </option>
                                                                        </select>
                                                                    </div>
                                                                </td>

                                                                <td colspan="2">
                                                                    <input class="form-control" ng-model="budgetcode.ALLOCATION" />
                                                                </td>
                                                                <td colspan="2">
                                                                    {{budgetcode.EST_BUDGET_AMOUNT}}
                                                                </td>
                                                                <td colspan="2">
                                                                    {{budgetcode.PO_VALUE}}
                                                                </td>
                                                                <td colspan="2">
                                                                    {{budgetcode.VARIANCE}}
                                                                </td>
                                                                <td colspan="2">
                                                                    V1,V2,V3
                                                                </td>
                                                                <td colspan="2">
                                                                    Approved
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr ng-repeat="budget in BudgetCode01">

                                                <td>
                                                    <a role="button" ng-hide="expand1" ng-click="showPackage1(0) ; " title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                    <a role="button" ng-hide="!expand1" ng-click="showPackage1(1); " title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                                    <input type="checkbox" class="top-buffer" ng-model="showallitems1" ng-click="checkAllitems1(showallitems1)" value="true" />
                                                </td>

                                                <td colspan=2 style="text-align:center;" ng-model="BudgetCode01.PACKAGE">
                                                    <div>
                                                        <select class="form-control">
                                                            <option value="electrical">ELECTRICAL</option>
                                                            <option value="civil1">CIVIL INTERIORS</option>
                                                            <option value="mercedes">HVAC</option>
                                                            <option value="audi">CONSULTANT</option>
                                                            <option value="fire">Fire Fightimg Work</option>
                                                            <option value="current">Low Current Works </option>

                                                        </select>
                                                    </div>
                                                </td>

                                                <td colspan=2>
                                                    <input style="text-align:center" type="text" class="form-control fg-input" ng-model="budget.COLLIEAR_PO_VALUE" />
                                                </td>
                                                <td colspan=2 style="text-align:center;">
                                                    {{budget.NET_REVENUE_MARGIN}}
                                                </td>
                                                <td colspan=2 style="text-align:center;">
                                                    {{budget.BUDGET_AMOUNT}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end ng-if="expand1 == true" class="sans_body">
                                                <td colspan="16">
                                                    <table class="table table-striped colliers_table" style="background:none !important">
                                                        <thead>
                                                            <tr class="sans_body">
                                                                <th colspan="2">   </th>
                                                                <th colspan="2">   </th>
                                                                <th colspan="2"> <strong> Sub Package</strong></th>
                                                                <th colspan="2"> <strong>Allocation %</strong></th>
                                                                <th colspan="2"> <strong>Est Budget Amount</strong></th>
                                                                <th colspan="2"> <strong> PO Value</strong></th>
                                                                <th colspan="2"> <strong> Variance</strong></th>
                                                                <th colspan="2"> <strong> Vendors</strong></th>
                                                                <th colspan="2"> <strong> </strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="budgetcode in ElectricalBudget1" class="sans_body" style="background:none !important">

                                                                <td colspan="2">
                                                                </td>
                                                                <td colspan="2">
                                                                    <input type="checkbox" class="top-buffer td_align" ng-model="showitem1" value="true" />

                                                                </td>
                                                                <td colspan="2" ng-model="ElectricalBudget1.SUB_PACKAGE">
                                                                    <div>
                                                                        <select class="form-control td_align select_width">
                                                                            <option value="civil1">LT PANELS & DISTRIBUTION BOARDS </option>
                                                                            <option value="electrical1"> DISTRIBUTION BOARD, ELCB, MCB, RCB, RCDs</option>
                                                                            <option value="mercedes1">LT CABLES</option>
                                                                            <option value="aud1i">CABLE TRAY, RACEWAY, CONDUITS & ACCESSORIES</option>
                                                                            <option value="fire1">EARTHING</option>
                                                                            <option value="current1">MISCELLENEOUS & SAFETY ACCESSORIES </option>
                                                                            <option value="fire1">SOCKET OUTLETS</option>
                                                                            <option value="fire1">WIRING- POWER & LIGHTING</option>
                                                                            <option value="fire1">AIRCONDITIONING ELECTRICAL WORKS</option>
                                                                            <option value="fire1">LIGTHING MANAGEMENT SYSTEM</option>

                                                                        </select>
                                                                    </div>
                                                                </td>

                                                                <td colspan="2">
                                                                    <input class="form-control" ng-model="budgetcode.ALLOCATION" />
                                                                </td>
                                                                <td colspan="2">
                                                                    <div>{{budgetcode.EST_BUDGET_AMOUNT}}</div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <div>{{budgetcode.PO_VALUE}}</div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <div>{{budgetcode.VARIANCE}}</div>
                                                                </td>
                                                                <td colspan="2">
                                                                    V4,V5,V6
                                                                </td>-->
                                                                <!--<td colspan="2" style="max-width:200px">
                                    <multiselect multiple="true" ng-model="budgetcode.selectedVendor" options="v.name for v in vendors" change="selected(budgetcode.vendors)" value="options"></multiselect>
                                    <div ng-repeat="selectVendor in budgetcode.selectedVendor">{{selectVendor.name}}</div>
                                </td>-->
                                                                <!--<td colspan="2">
                                                                    Approved
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr ng-repeat="budget in BudgetCode02">
                                                <td>
                                                    <div class="ml_position"><input type="checkbox" class="top-buffer" /></div>
                                                </td>
                                                <td colspan=2>
                                                    {{budget.PACKAGE}}
                                                </td>

                                                <td colspan=2>
                                                    {{budget.BUDGET_AMOUNT}}
                                                </td>
                                                <td colspan=2>
                                                    {{budget.VARIANCE}}
                                                </td>
                                                <td colspan=2>
                                                    {{budget.TOTAL_PO_AMOUNT}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>-->

                                    <table class="table colliers_table">
                                        <thead>
                                            <tr>
                                                <th> </th>
                                                <th> </th>
                                                <th> <strong>Package</strong></th>
                                                <th> <strong>Collier PO Value</strong></th>
                                                <th> <strong>Net Revenue Margin</strong></th>
                                                <th> <strong>Budget Amount</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="budget in BudgetCodes">
                                                <td>
                                                    <a role="button" ng-if="budget.expanded" ng-click="budget.expanded = false">
                                                        <i class="fa fa-angle-down fa-2x"></i>
                                                    </a>
                                                    <a role="button" ng-if="!budget.expanded" ng-click="budget.expanded = true"> <i class="fa fa-angle-right fa-2x"></i></a>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="top-buffer td_align" ng-model="showitem1" value="true" />
                                                </td>
                                                <td>
                                                    <div>
                                                        <select class="form-control">
                                                            <option ng-repeat="subpac in budget.PACKAGE">{{subpac.inner_package}}</option>
                                                        </select>
                                                    </div>
                                                </td>

                                                <td> <input style="text-align:center" type="text" class="form-control fg-input" ng-model="budget.COLLIEAR_PO_VALUE" /></td>
                                                <td>{{budget.NET_REVENUE_MARGIN}}</td>
                                                <td>{{budget.BUDGET_AMOUNT}}</td>
                                            </tr>
                                            <tr ng-repeat-end ng-if="budget.expanded && budget.Sub_package.length > 0">
                                                <td></td>
                                                <td colspan="6">
                                                    <table class="table colliers_table">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th> <strong> Sub Package</strong></th>
                                                                <th> <strong>Allocation %</strong></th>
                                                                <th> <strong>Est Budget Amount</strong></th>
                                                                <th> <strong> PO Value</strong></th>
                                                                <th> <strong> Variance</strong></th>
                                                                <th> <strong> Vendors</strong></th>
                                                                <th> <strong> Status</strong></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="sub in budget.Sub_package">
                                                                <td>
                                                                    <input type="checkbox" class="top-buffer td_align" ng-model="showitem1" value="true" />
                                                                </td>
                                                                <td>
                                                                    <div>
                                                                        <select class="form-control td_align">
                                                                            <option value="civil1">LT PANELS & DISTRIBUTION BOARDS </option>
                                                                            <option value="electrical1"> DISTRIBUTION BOARD, ELCB, MCB, RCB, RCDS</option>
                                                                            <option value="mercedes1">LT CABLES</option>
                                                                            <option value="aud1i">CABLE TRAY, RACEWAY, CONDUITS & ACCESSORIES</option>
                                                                            <option value="fire1">EARTHING</option>
                                                                            <option value="current1">MISCELLENEOUS & SAFETY ACCESSORIES </option>
                                                                            <option value="fire1">SOCKET OUTLETS</option>
                                                                            <option value="fire1">WIRING- POWER & LIGHTING</option>
                                                                            <option value="fire1">AIRCONDITIONING ELECTRICAL WORKS</option>
                                                                            <option value="fire1">LIGTHING MANAGEMENT SYSTEM</option>

                                                                        </select>
                                                                    </div>
                                                                </td>
                                                                <td style="width:15%;">
                                                                    <input class="form-control" ng-model="sub.ALLOCATION" />
                                                                </td>
                                                                <td style="width:15%;">{{sub.EST_BUDGET_AMOUNT}}</td>
                                                                <td style="width:15%;">{{sub.PO_VALUE}}</td>
                                                                <td style="width:15%;">{{sub.VARIANCE}}</td>
                                                                <td >
                                                                    V1,V2,V3
                                                                </td>
                                                                <td >
                                                                    Approved
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="row">&nbsp;</div>
                                    <div class="row">&nbsp;</div>

                                    <div class="row">
                                        <div class="col-md-4 "></div>
                                        <div class="col-md-3 " style="text-align:center;">
                                            <!--<button role="button" class="btn_submit sans_body" ng-click="saveProjectDetails()" title="save">Save</button>-->
                                            <button role="button" class="cancel_button sans_body" ng-click="closeEditConfiguration()" title="cancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
     </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
