﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

    button[disabled]{
        cursor:not-allowed;
        opacity:0.5;
    }
    .ul_height ul.dropdown-menu {
        height: 190px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="createProjectCtrl">

                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sans_header" ng-show="PROJECT_ID <= 0">Create Project</p>
                        </div>
                        <div class="col-md-12">
                            <p class="sans_header" ng-show="PROJECT_ID > 0">Edit Project</p>
                        </div>
                    </div>
                    <form name="addProjectForm">

                        <div class="col-md-4">
                            <label class="style-label">Project ID<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="projectid" ng-model="PROJECT_DET.PROJ_ID" ng-disabled="PROJECT_DET.PROJECT_ID > 0" id="projID" class="form-control" required placeholder="Enter Project Id" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.projectid.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.projectid.$error.required">Please Enter Project ID </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="style-label">Project Name<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="projectname" ng-model="PROJECT_DET.PROJECT_NAME" id="projName" class="form-control" required placeholder="Enter Project Name" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.projectname.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.projectname.$error.required">Please Enter Project Name </div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Cost Center<span class="text-danger">*</span></label>
                            <select class="form-control" ng-model="PROJECT_DET.COST_CENTER" name="costcenter" required>
                                <option value="" selected>Select Cost Center</option>
                                <option value="DB_south">DB South</option>
                                <option value="DB_north">DB North</option>
                                <option value="DB_mid">DB Mid</option>
                                <option value="PMC_North">PMC_North</option>
                                <option value="PMC_Mid">PMC_Mid</option>
                                <option value="PMC_South">PMC_South</option>
                                <option value="Fitout-General">Fitout-General</option>
                            </select>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.costcenter.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.costcenter.$error.required">Please Enter Cost Center </div>

                            </div>
                        </div>


                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4">
                            <label class="style-label"> Location </label>
                            <div>
                                <input type="text" name="location" ng-model="PROJECT_DET.LOCATION" id="location" class="form-control" placeholder="Enter Location" ng-change="locationSearch(PROJECT_DET.LOCATION,'LOCATION');" />
                            </div>
                            <div style="height:auto; max-height: 100px; overflow-y: auto; position: relative; z-index: 10; background: white; border: 1px solid #e4e7ea;" ng-if="locationDisplay.length>0 && showlocations">
                                <table class="table" style="position: relative;z-index: 10; margin-bottom:0;" id="dropdown_table">
                                    <tr ng-repeat="loc in locationDisplay">
                                        <td style="cursor:pointer" ng-click="fillValueLocation(loc.id,'LOCATION')">
                                            {{loc.id}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.location.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.location.$error.required">Please Enter Location </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Ship To Address<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="shipaddress" ng-model="PROJECT_DET.SHIP_TO_ADDRESS" id="address" class="form-control" required placeholder="Enter Ship To Address" />
                            </div>

                            <div ng-show="addProjectForm.$submitted || addProjectForm.shipaddress.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.shipaddress.$error.required">Please Enter Ship To Address </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Bill To Address<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="toaddress" title="{{PROJECT_DET.BILL_TO_ADDRESS}}" ng-model="PROJECT_DET.BILL_TO_ADDRESS"
                                       ng-change="PROJECT_DET.BILL_TO_ADDRESS ? GetProjectBillToDetails(PROJECT_DET.BILL_TO_ADDRESS) : ''"
                                       id="address" class="form-control" required placeholder="Enter Bill To Address" />
                            </div>
                            <div class="table-responsive" ng-if="ProjectBillToDetailsList.length > 0 && PROJECT_DET.BILL_TO_ADDRESS">
                                <table class="table table-fixed table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="billToDetail in ProjectBillToDetailsList">
                                            <td style="cursor:pointer" title="{{billToDetail.ADDRESS}}" ng-click="fillValue(billToDetail)">
                                                {{billToDetail.ADDRESS}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.toaddress.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.toaddress.$error.required">Please Enter Bill To Address </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4">
                            <label class="style-label">Client Name<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="clientName" ng-model="PROJECT_DET.CLIENT_NAME" id="clientName" class="form-control" required placeholder="Enter Client Name" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.clientName.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.clientName.$error.required">Please Enter Client Name</div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Address<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="address" ng-model="PROJECT_DET.ADDRESS" id="address" class="form-control" required placeholder="Enter Address" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.address.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.address.$error.required">Please Enter Address</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">SPOC Email Address<span class="text-danger">*</span> </label>
                            <div>
                                <input type="text" name="spocEmail" ng-model="PROJECT_DET.SPOC_EMAIL"
                                       ng-change="EmailValidate1()"
                                       id="spocEmail" class="form-control" required placeholder="Enter SPOC Email Address" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.spocEmail.$dirty">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.spocEmail.$error.required">Please Enter SPOC Email Address </div>
                                <div class="help-block error logininput text-danger" ng-show="(!addProjectForm.spocEmail.$error.required && addProjectForm.spocEmail.$error.Email) || showEmailValid">Please Enter a valid SPOC Email Address</div>
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4">
                            <label class="style-label">GSTIN<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="gstNumber" ng-model="PROJECT_DET.GST_NUMBER"
                                       minlength="15" maxlength="15" oninput="this.value = this.value.replace(/[^0-9a-zA-Z ]/g, '');"
                                       id="gstNumber" class="form-control" required placeholder="Enter GSTIN" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.gstNumber.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.gstNumber.$error.required">Please Enter GSTIN</div>
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.gstNumber.$error.minlength">GSTIN should be 15 characters.</div>
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.gstNumber.$error.maxlength">GSTIN should be 15 characters.</div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">PAN Number<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="panNumber" ng-model="PROJECT_DET.PAN_NUMBER"
                                       minlength="10" maxlength="10" oninput="this.value = this.value.replace(/[^0-9a-zA-Z ]/g, '');"
                                       id="panNumber" class="form-control" required placeholder="Enter PAN Number" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.panNumber.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.panNumber.$error.required">Please Enter PAN Number </div>
                                <small class="help-block error logininput text-danger" ng-show="addProjectForm.panNumber.$error.minlength">PAN Number should be 10 characters.</small>
                                <small class="help-block error logininput text-danger" ng-show="addProjectForm.panNumber.$error.maxlength">PAN Number should be 10 characters.</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Colliers PO Number<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="collierPONumber" ng-model="PROJECT_DET.PO_NUMBER" id="collier" class="form-control" required placeholder="Enter PO Number" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.collierPONumber.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.collierPONumber.$error.required">Please Enter PO Number </div>

                            </div>
                        </div>


                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                            <label class="style-label">Colliers PO Value<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="collierPO" ng-focus="PROJECT_DET.PO_VALUE_TEMP = PROJECT_DET.PO_VALUE" ng-model="PROJECT_DET.PO_VALUE" id="collier" class="form-control" required placeholder="Enter PO Value" valid-number allow-decimal="true" allow-negative="false" ng-change="updateTargetRevBudg(PROJECT_DET)" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.collierPO.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.collierPO.$error.required">Please Enter PO Value </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label"> Net Revenue Margin (%)<span class="text-danger">*</span> </label>
                            <div>
                                <input type="text" name="netrevenue" ng-model="PROJECT_DET.NET_REVENUE_MARGIN" id="Margin" class="form-control" required placeholder="Enter Net Revenue Margin" valid-number allow-decimal="true" allow-negative="false" ng-change="updateTargetRevBudg(PROJECT_DET);" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.netrevenue.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.netrevenue.$error.required">Please Enter Net Revenue Margin </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                            <label class="style-label">Targeted Revenue Budget<span class="text-danger">*</span> </label>
                            <div>
                                <input type="text" name="budgetamount" ng-model="PROJECT_DET.TARGETED_REVENUE_BUDGET" id="budamount" valid-number allow-decimal="true" allow-negative="false" class="form-control" ng-disabled="true" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.budgetamount.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.budgetamount.$error.required">Please Enter Targeted Revenue Budget </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="col-md-4">
                            <label class="style-label">Assign to Department</label>
                            <multiselect class="input-xlarge ul_height" multiple="true" showselectedvalues="true"
                                         ng-model="PROJECT_DET.SELECTED_DEPTS"
                                         options="dept.deptCode for dept in companyDepartments"
                                         change="deptChange()"></multiselect>
                        </div>

                        <div class="col-md-4">
                            <label class="style-label">Assign To User<span class="text-danger">*</span></label>
                            <multiselect class="input-xlarge ul_height" multiple="true" showselectedvalues="true"
                                         ng-model="PROJECT_DET.ASSIGNED_USERS"
                                         options="(user.firstName + ' ' + user.lastName) for user in filteredSubUsers"
                                         change="handleAssignedTo()"></multiselect>
                        </div>


                    </form>
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-4 "></div>
                        <div class="col-md-3 " style="text-align:center;">
                            <button role="button" class="btn_submit" ng-click="saveProjectDetails()" title="Save" ng-disabled="addProjectForm.$invalid">Save</button>
                            <button role="button" class="cancel_button" ng-click="closeEditConfiguration()" title="Cancel">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
