<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }

    .ml_position {
        margin-left: 30%;
    }

    th, td {
        text-align: center !important;
    }

    .td_align {
        margin-left: 0.8em !important;
    }

    td > select {
        width: 70%;
    }

    .select_width {
        width: 75% !important;
    }

    .strng_positon {
        position: relative;
        left: -9%;
    }
    .colliers_table > tbody > tr > td > div > select {
        font-size: 12px;
    }
    .m-t-14 {
        margin-top: 14px;
    }
    .noHover {
        pointer-events: none;
    }
    .highlight-row {
        background-color: lightcoral;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="packageApprovalCtrl">
                <fieldset>
                    <div class="white-box p-t-10">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="sans_header">Award Recommendation</p>
                            </div>
                        </div>
                        <form name="addProjectForm">
                            <div class="row m-t-14">
                                <div class="col-md-4">
                                    <label class="style-label">Project ID</label>
                                    <div>
                                        <input type="text" ng-disabled="true" name="projectid" ng-model="PROJECT_DET.PROJ_ID" id="projID" class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="style-label">Project Name</label>
                                    <div>
                                        <input type="text" ng-disabled="true" name="projectname" ng-model="PROJECT_DET.PROJECT_NAME" id="projName" class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="style-label">Cost Center</label>
                                    <input type="text" ng-disabled="true" name="budgetamount" ng-model="PROJECT_DET.COST_CENTER" id="budamount" class="style_ip p-l-0" />
                                </div>
                            </div>

                            <div class="row m-t-14">
                                <div class="col-md-4">
                                    <label class="style-label">Targeted Revenue Budget </label>
                                    <div>
                                        <input type="text" valid-number indian-currency ng-disabled="true" name="budgetamount" ng-model="PROJECT_DET.TARGETED_REVENUE_BUDGET" id="budamount" class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userId)">
                                    <label class="style-label">Colliers PO Value</label>
                                    <div>
                                        <input type="text" valid-number indian-currency ng-disabled="true" name="collierPO" ng-model="PROJECT_DET.PO_VALUE" id="collier" class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userId)">
                                    <label class="style-label"> Net Revenue Margin </label>
                                    <div>
                                        <input type="text" valid-number ng-disabled="true" name="netrevenue" ng-model="PROJECT_DET.NET_REVENUE_MARGIN" id="Margin" class="style_ip p-l-0" />
                                    </div>
                                </div>

                                <div class="col-md-4" ng-show="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userId)">
                                    <label class="style-label">Anticipated Budget Amount </label>
                                    <div>
                                        <input type="text" valid-number indian-currency ng-disabled="true" name="budgetamount" ng-model="PROJECT_DET.ANTICIPATED_BUDGET" id="budamount" class="style_ip p-l-0" />
                                        {{displayAnticipatedBudgetAmount()}}
                                    </div>
                                </div>

                                <!--<div class="col-md-4" ng-show="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userId)">
                                    <label class="style-label">Workflow Status</label>
                                    <select ng-model="workflowStatus" class="style_ip"
                                            ng-change="filterBasedOnStatus()"
                                            ng-options="track.id as track.id for track in workflowStatusArr"></select>
                                </div>-->

                            </div>

                            <div class="row m-t-14" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userId)">
                                <div class="col-md-4">
                                    <label class="style-label">Anticipated Budget Amount </label>
                                    <div>
                                        <input type="text" valid-number indian-currency ng-disabled="true" name="budgetamount" ng-model="PROJECT_DET.ANTICIPATED_BUDGET" id="budamount" class="style_ip p-l-0" />
                                        {{displayAnticipatedBudgetAmount()}}
                                    </div>
                                </div>

                                <!--<div class="col-md-4">
                                    <label class="style-label">Workflow Status</label>
                                    <select ng-model="workflowStatus" class="style_ip"
                                            ng-change="filterBasedOnStatus()"
                                            ng-options="track.id as track.id for track in workflowStatusArr"></select>
                                </div>-->

                            </div>
                        </form>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-md-1">
                                <button class="btn common_btn btn-sm" ng-click="handleWidgetsState()">{{isAllWidgetsCollapsed ? 'Expand All' : 'Collapse All'  }}</button>
                            </div>
                            <div class="col-md-1">
                                <button class="btn common_btn btn-sm" ng-click="showAllPackages()">{{ showOnlyQCSCreated ? 'Show All Packages' : 'Show Only QCS Created Packages'  }}</button>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="row col-md-12">
                            <h4 style="color:red" ng-if="PROJECT_DET.ANTICIPATED_BUDGET > PROJECT_DET.TARGETED_REVENUE_BUDGET">
                                Your Anticipated Budget Amount is higher than Targeted Revenue Budget
                            </h4>
                        </div>
                        <div class="row">
                            <strong style="color:red">{{poValueErrorMessage}}</strong>
                            <strong style="color:red">{{calculationErrorMessage}}</strong>
                            <div class="col-md-12">
                                <table class="table colliers_table">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th></th>
                                            <th> <strong>Package</strong></th>
                                            <th> <strong>Budget Amount</strong></th>
                                            <th> <strong>Variance</strong></th>
                                            <th> <strong>Anticipated PO Value</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="budgetObj in BudgetArr" ng-if="checkValidforPO(budgetObj)">
                                            <td>
                                                <span style="color:red" ng-if="budgetObj.subPackageErrorMessage">{{budgetObj.subPackageErrorMessage}}</span>
                                                <a role="button" ng-if="budgetObj.expanded" ng-click="validateSubPackages(budgetObj);">
                                                    <i class="fa fa-angle-down fa-2x"></i>
                                                </a>
                                                <a role="button" ng-if="!budgetObj.expanded" ng-click="validateSubPackages(budgetObj);"> <i class="fa fa-angle-right fa-2x"></i></a>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="top-buffer" ng-model="budgetObj.packageSelected" role="button"
                                                       ng-disabled="validatePackageSelection(budgetObj) || true"
                                                       ng-click="handlePackageSelect(budgetObj)" />
                                            </td>
                                            <td>
                                                <div>
                                                    <select ng-model="budgetObj.PACKAGE_ID"
                                                            name="package" ng-disabled="true"
                                                            id="package"
                                                            ng-change="showSubPackages(budgetObj)"
                                                            class="form-control td_align"
                                                            ng-options="package.catId as package.catCode for package in companyCatalog"
                                                            data-placeholder="Select a Package..." required>
                                                        <option>select a package</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <input style="text-align:center" type="text" class="form-control fg-input"
                                                       ng-model="budgetObj.EST_BUDGET_AMOUNT"
                                                       ng-init="budgetObj.EST_BUDGET_AMOUNT_TEMP = budgetObj.EST_BUDGET_AMOUNT"
                                                       ng-change="calculatePackageValues(budgetObj,'EST_BUDGET')"
                                                       valid-number indian-currency allow-decimal="true" allow-negative="false" ng-disabled="true" />
                                            </td>
                                            <td>
                                                <input style="text-align:center" type="text" class="form-control fg-input"
                                                       ng-model="budgetObj.VARIANCE"
                                                       ng-init="budgetObj.VARIANCE_TEMP = budgetObj.VARIANCE"
                                                       valid-number indian-currency allow-decimal="true" allow-negative="false" ng-disabled="true" />
                                            </td>
                                            <td>
                                                <input style="text-align:center" type="text" class="form-control fg-input"
                                                       ng-model="budgetObj.ANTICIPATED_PO_VALUE"
                                                       ng-init="budgetObj.ANTICIPATED_PO_VALUE_TEMP = budgetObj.ANTICIPATED_PO_VALUE"
                                                       valid-number indian-currency allow-decimal="true" allow-negative="false" ng-disabled="true" />
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="budgetObj.expanded && budgetObj.NODES.length > 0 && checkValidforPO(budgetObj)">
                                            <td style="display:none;"></td>
                                            <td colspan="11" class="p-0">
                                                <table class="table colliers_table">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th><strong>Sub Package</strong></th>
                                                            <!--<th><strong>PO Description</strong></th>-->
                                                            <!--<th><strong>Collier PO Value</strong></th>-->
                                                            <th><strong>Allocation %</strong></th>
                                                            <th><strong>Est Budget Amount</strong></th>
                                                            <th><strong>Actual PO Value</strong></th>
                                                            <th><strong>Variance</strong></th>
                                                            <!--<th><strong>Status</strong></th>-->
                                                            <!--<th><strong>Workflow Status</strong></th>-->
                                                            <th><strong>Requirement</strong></th>
                                                            <th style="min-width:60px;">QCS Id</th>
                                                            <!--<th><strong>PO Number & Vendor Company Name</strong></th>-->
                                                            <th>
                                                                <table style="width:100%;">
                                                                    <tr class="noHover">
                                                                        <td style="width:10%;color:white !important;font-weight:bold;">PO Number</td>
                                                                        <td style="width:5%;color:white !important;font-weight:bold;">Vendor Name</td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="subpackage in budgetObj.NODES" ng-class="{'highlight-row': subpackage.subPackageSelected &&subpackage.QCS_ID== highlatedQCS}">
                                                            <td>
                                                                <input type="checkbox" class="top-buffer"
                                                                       ng-if="!IS_PACKAGE_APPROVED"
                                                                       ng-model="subpackage.subPackageSelected" role="button"
                                                                       ng-disabled="!subpackage.QCS_ID"
                                                                       ng-show="subpackage.QCS_ID"
                                                                       ng-click="handleSubPackageSelect(subpackage)" />
                                                                <input type="checkbox" class="top-buffer"
                                                                       ng-if="IS_PACKAGE_APPROVED && !subpackage.PO_NUMBER"
                                                                       ng-model="subpackage.subPackageSelectedForPO" role="button"
                                                                       ng-disabled="!subpackage.QCS_ID"
                                                                       ng-show="subpackage.QCS_ID"
                                                                       ng-click="handleSubPackageSelect(subpackage)" />
                                                            </td>
                                                            <td style="width:15%;">
                                                                <div>
                                                                    <select ng-model="subpackage.SUB_PACKAGE_ID"
                                                                            name="package"
                                                                            id="package"
                                                                            class="form-control td_align"
                                                                            title="{{subpackage.SUB_PACKAGE_NAME}}"
                                                                            ng-options="subPackage.catId as subPackage.catCode for subPackage in budgetObj.NODES"
                                                                            data-placeholder="Select a sub Package..." required ng-disabled="true">
                                                                        <option>select a sub package</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <!--<td style="width:15%;">
        <textarea class="form-control" cols="30" rows="2"
                  ng-model="subpackage.PO_DESCRIPTION" type="text" required />
    </td>-->
                                                            <!--<td style="width:15%;">
        <input class="form-control"
               ng-style="(subpackage.EST_BUDGET_AMOUNT - subpackage.QCS_PO_VALUE) < 0 && {'color':'red'}"
               ng-change="validatePOValue(subpackage,'SUB_PACKAGE','PO_VALUE')" ng-model="subpackage.PO_VALUE"
               valid-number allow-decimal="true" allow-negative="false" ng-disabled="true" />
    </td>-->
                                                            <td style="width:15%;">
                                                                <input ng-style="(subpackage.EST_BUDGET_AMOUNT - subpackage.QCS_PO_VALUE) < 0 && {'color':'red'}"
                                                                       class="form-control" ng-model="subpackage.ALLOCATION_PERCENTAGE" ng-disabled="true" />
                                                            </td>
                                                            <td style="width:15%;">
                                                                <input class="form-control"
                                                                       ng-style="(subpackage.EST_BUDGET_AMOUNT - subpackage.QCS_PO_VALUE) < 0 && {'color':'red'}"
                                                                       ng-model="subpackage.EST_BUDGET_AMOUNT"
                                                                       valid-number indian-currency allow-decimal="true" allow-negative="false" ng-disabled="true" />
                                                            </td>
                                                            <td style="width:15%;">
                                                                <input class="form-control"
                                                                       ng-style="(subpackage.EST_BUDGET_AMOUNT - subpackage.QCS_PO_VALUE) < 0 && {'color':'red'}"
                                                                       ng-model="subpackage.QCS_PO_VALUE"
                                                                       valid-number indian-currency allow-decimal="true" allow-negative="false" ng-disabled="true" />
                                                            </td>
                                                            <td style="width:15%;">
                                                                <input class="form-control"
                                                                       ng-style="(subpackage.EST_BUDGET_AMOUNT - subpackage.QCS_PO_VALUE) < 0 && {'color':'red'}"
                                                                       ng-model="subpackage.EST_BUDGET_AMOUNT - subpackage.QCS_PO_VALUE"
                                                                       valid-number indian-currency allow-decimal="true" allow-negative="false" ng-disabled="true" />
                                                            </td>
                                                            <!--<td style="width:15%;">
                                                                {{subpackage.PACKAGE_APPROVAL_STATUS}}
                                                            </td>-->
                                                            <td style="width:10%;">
                                                                <a  ng-if="subpackage.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:subpackage.REQ_ID})">View</a>
                                                            </td>
                                                            <td style="width:30%;">
                                                                <a  ng-if="subpackage.QCS_ID" target="_blank" style="cursor: pointer;" ng-click="goToSaveImportQCS(subpackage.REQ_ID, subpackage.QCS_ID)">{{subpackage.QCS_ID}}</a>
                                                            </td>
                                                            <td style="width:20%;">
                                                                <table>
                                                                    <tr ng-repeat="value in subpackage.PO_NUMBER_TEMP1" style="display:flex;">
                                                                        <td style="min-width:120px;" class="prmellipsis" title="{{displayPONumber(value)}}">{{displayPONumber(value)}}>{{displayPONumber(value)}}</td>
                                                                        <td style="min-width:120px;" class="prmellipsis" title="{{displayPOVendorCompName(value)}}">{{displayPOVendorCompName(value)}}</td>
                                                                    </tr>
                                                                </table>
                                                                <!--<table class="table table-bordered">
                                                                    <tr ng-repeat="value in subpackage.PO_NUMBER_TEMP1">
                                                                        <td class="prmellipsis" title="{{displayPONumber(value)}}">{{displayPONumber(value)}}</td>
                                                                        <td class="prmellipsis" title="{{displayPOVendorCompName(value)}}">{{displayPOVendorCompName(value)}}</td>
                                                                    </tr>
                                                                </table>-->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="row" ng-if="!IS_PACKAGE_APPROVED && PACKAGE_APPROVAL_ID <= 0">
                            <div class="col-md-4"></div>
                            <div class="col-md-4" style="text-align:center;">
                                <button role="button" class="btn btn-xs btn_save sans_body" ng-click="AssignPackageApproval()" title="Send For Approval">Send For Approval</button>
                                <button role="button" class="cancel_button sans_body" ng-click="closeEditConfiguration()" title="cancel">Cancel</button>
                            </div>
                        </div>


                        <div class="row" ng-if="IS_PACKAGE_APPROVED && isProcurementUser && isUserEntitled(582258)">
                            <div class="col-md-4"></div>
                            <div class="col-md-4" style="text-align:center;">
                                <button role="button" class="btn btn-xs btn_save sans_body" ng-if="!IS_PO_GENERATED_FOR_ALL_THE_ITEMS" ng-click="generatePOStart()" title="Generate PO">Generate PO</button>
                                <button role="button" class="cancel_button sans_body" ng-click="closeEditConfiguration()" title="cancel">Cancel</button>
                            </div>
                        </div>


                    </div>
                </fieldset>

                <div class="white-box" ng-if="showBudgetApprovalPopUp"><!--showBudgetApprovalPopUp-->

                    <div style="text-align:center"><h3 class="text-warning">Award Recommendation Approval</h3></div>
                    <div class="row">&nbsp;</div>

                    <div class="row" ng-repeat="wf in workflowList" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                        <div ng-if="wf.workflowID == workflowObj.workflowID">
                            <div class="col-md-12 text-center">
                                <h4>{{wf.workflowTitle}}</h4>
                            </div>
                            <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                <div class="white-box">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <h3>{{$index+1}}</h3>
                                        </div>
                                        <div class="col-md-10">
                                            <span class="top-buffer">
                                                Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                <br />
                                                Designation: <strong>{{ws.approver.desigCode}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-1">
                                            <i class="fas fa-arrow-right top-buffer"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>

                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
