<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="packageApprovalListCtrl">
                <div class="white-box">
                    <p id="p1"></p>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="style-label">Project ID</label>
                            <div>
                                <multiselect multiple="true" ng-model="filters.project" options="obj.name for obj in filtersList.project"
                                             change="setFilters(currentPage-1)"></multiselect>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="style-label">Cost Center</label>
                            <div>
                                <multiselect multiple="true" ng-model="filters.costCentre" options="obj.id for obj in filtersList.costCentre"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="style-label">Location</label>
                            <div>
                                <multiselect multiple="true" ng-model="filters.location" options="obj.id for obj in filtersList.location"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 pull-right showSetupbtn">
                            <button ng-click="routeToSetup(id,bid)" class="create_button pull-right" ng-if="showSetupBudgetBtn">Setup Budgets</button>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>


                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 table-responsive" style="overflow-x:auto">
                                <table id="testTable" class=" table colliers_table">
                                    <thead>
                                        <tr class="sans_body">
                                            <th style="max-width:200px;"><strong>Award Recommendation Id</strong></th>
                                            <th style="max-width:200px;"><strong>Project ID</strong></th>
                                            <th style="max-width:200px;"><strong>Project Name</strong></th>
                                            <th style="max-width:200px;"><strong>Cost Center</strong></th>
                                            <th style="max-width:200px;"><strong>Location</strong></th>
                                            <th style="max-width:200px;"><strong>Est Budget Amount</strong></th>
                                            <th style="max-width:200px;"><strong>Targeted Revenue Budget</strong></th>
                                            <th style="max-width:200px;"><strong>Actual PO Value</strong></th>
                                            <th style="max-width:200px;"><strong>Variance</strong></th>
                                            <th style="max-width:200px;"><strong>QCS Id</strong></th>
                                            <!--<th style="max-width:200px;"><strong>Anticipated Budget Amount</strong></th>-->
                                            <th style="max-width:200px;"><strong>Actions</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="project in packageApprovalsListFiltered.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td style="max-width: 200px;">
                                                {{project.PACKAGE_APPROVAL_ID}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.PROJ_ID}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.PROJECT_NAME}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.COST_CENTER}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.LOCATION}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.EST_BUDGET_AMOUNT | number : 2}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.TARGETED_REVENUE_BUDGET | number : 2}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.QCS_PO_VALUE | number : 2}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.VARIANCE | number : 2}}
                                            </td>
                                            <td style="max-width:200px;">
                                                <a ng-if="project.QCS_ID" target="_blank" style="cursor: pointer;" ng-click="goToSaveImportQCS(project.REQ_ID, project.QCS_ID)">{{project.QCS_ID}}</a>
                                            </td>
                                            <!--<td style="max-width:200px;">
        {{ displayAnticipatedBudget(project) }}
    </td>-->
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:center;">
                                                <a role="button" ng-click="goToPackageApproval(project.PROJECT_ID,project.BUDGET_ID,project.PACKAGE_APPROVAL_ID,project)" title="View Package Approval"><i class="fas fa-eye"></i>  </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>