<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }
    li.ng-scope {
        cursor:pointer;
    }
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="projectDetailsCtrl">
                <div class="white-box">
                    <p id="p1"></p>
                    <div class="row">
                        <div class="col-md-2 pull-right">
                            <button role="button" class="create_button" ng-click="goToCreateProject(0)" ng-if="isSuperUser || isUserEntitled(600001)" title="Create Project">Create Project</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="style-label">Project Id</label>
                            <div>
                                <multiselect multiple="true" ng-model="filters.project" options="obj.name for obj in filtersList.project"
                                             change="setFilters(currentPage-1)"></multiselect>

                            </div>
                        </div>


                        <div class="col-md-3">
                            <label class="style-label">Cost Center</label>
                            <div>
                                <multiselect multiple="true" ng-model="filters.costCentre" options="obj.id for obj in filtersList.costCentre"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="style-label">Location</label>
                            <div>
                                <multiselect multiple="true" ng-model="filters.location" options="obj.id for obj in filtersList.location"
                                             change="setFilters(currentPage-1)"></multiselect>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="style-label">Search</label>
                            <div>
                                <input class="form-control" type="text"
                                       ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
                                       placeholder="Search By Project Name" 
                                       autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="row container-fluid">
                            <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                                <table id="testTable" class=" table colliers_table" style="padding-right:0">
                                    <thead>
                                        <tr class="sans_body">
                                            <th style="max-width:200px;"><strong>Project Id</strong></th>
                                            <th style="max-width:200px;"><strong>Project Name</strong></th>
                                            <th style="max-width:200px;"><strong>Cost Center </strong></th>
                                            <th style="max-width:200px;"><strong>Location</strong> </th>
                                            <th style="max-width:200px;" ng-show="loadFields"><strong>Colliers PO Value</strong></th>
                                            <th style="max-width:200px;"><strong>Colliers PO Number</strong></th>
                                            <th style="max-width:200px;" ng-show="loadFields"><strong>Net Revenue Margin</strong></th>
                                            <th style="max-width:200px;"><strong>Targeted Revenue Budget</strong></th>
                                            <!--<th style="max-width:200px;"><strong>Status</strong></th>-->
                                            <th style="max-width:200px;"><strong>Actions</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="project in filteredprojectList" ng-if="project.IS_VALID == 1">
                                            <td style="max-width:200px;">
                                                {{project.PROJ_ID}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.PROJECT_NAME}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.COST_CENTER}}
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.LOCATION}}
                                            </td>
                                            <td style="max-width:200px;" ng-show="loadFields">
                                                <div ng-hide="project.PROCUREMENT_U_IDS.includes(+userID)">{{project.PO_VALUE | number : 2}}</div>
                                            </td>
                                            <td style="max-width:200px;">
                                                {{project.PO_NUMBER}}
                                            </td>
                                            <td style="max-width:200px;" ng-show="loadFields">
                                                <div>{{project.NET_REVENUE_MARGIN | number : 2}}</div>
                                            </td>
                                            <td style="max-width:200px;">
                                                <div>{{project.TARGETED_REVENUE_BUDGET | number :2}}</div>
                                            </td>
                                            <!--<td style="max-width:200px;">
                                                {{project.Status}}
                                            </td>-->
                                            <td data-title="'Actions'" sortable="'Actions'" style="text-align:initial;min-width:100px;">
                                                <a role="button" ng-if="isSuperUser || isUserEntitled(600001)" ng-click="getProjectAudit(project)" title="Audit"><i class="fa fa-history"></i></a>
                                                <a role="button" ng-if="project.BUDGET_WF_APPROVAL_STATUS === 'APPROVED' && !project.BUDGET_WF_PENDING_APPROVERS && project.BUDGET_WF_ID > 0 && (isSuperUser || isUserEntitled(600001))" ng-click="setUpProjectAmendment(project)" title="Project Amendment">
                                                    <img src="js/resources/images/AmendmentIcon.png" style="height: 18px; background-color: cornsilk; color: cornsilk;"> 
                                                </a>
                                                <a role="button" ng-if="isSuperUser || isUserEntitled(600002)" ng-click="goToBudgetSetUp(project)" title="Budgets"><i class="fa fa-boxes"></i>  </a>
                                                <a role="button" ng-if="isSuperUser || isUserEntitled(600001)" ng-click="goToProjectView(project)" title="View Project"><i class="fas fa-eye"></i>  </a>
                                                <a role="button" ng-if="isSuperUser || isUserEntitled(600001)" ng-click="goToProjectEdit(project)" title="EDIT"><i class="fas fa-edit"></i></a>
                                                <a role="button" ng-if="!(project.BUDGET_WF_APPROVAL_STATUS === 'APPROVED' && !project.BUDGET_WF_PENDING_APPROVERS && project.BUDGET_WF_ID > 0) && (isSuperUser || isUserEntitled(600001))" ng-click="deleteProject(project)" title="DELETE" class="delete_icon"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>totalItems)?(totalItems):(pageSizeTemp+9) }} of {{ totalItems }}</strong>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>

                            </div>
                        </div>

                        <div class="modal" id="audit" >
                            <ul ng-repeat="p in PROJECT_AUDIT">
                                <li>Project with {{p.PROJECT_NAME}} has been {{p.PROJECT_STATUS}} ON {{p.DATE_CREATED}} by {{p.AUDITED_BY}}</li>
                            </ul>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>