<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }
    .ml_position {
        margin-left:30%;
    }
    th,td{
        text-align:center !important;
    }
    .td_align{
        margin-left:0.8em !important;
    }
    td > select{
        width: 70%;
    }
    .select_width{
        width:75% !important;
    }
    .strng_positon{
        position:relative;
        left:-9%;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="saveProjectDetailsCtrl">
            
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="sans_header">View Project</p>
                        </div>
                        <div class="col-md-3 pull-right setup_btn">
                            <button ng-click="showSetupBudget(PROJECT_DET.BUDGET_ID)" class="create_button pull-right">Budgets</button>
                        </div>
                    </div>
                    <fieldset ng-disabled="PROJECT_ID > 0">

                        <div class="col-md-4">
                            <label class="style-label">Project ID<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="projectid" ng-model="PROJECT_DET.PROJ_ID" id="projID" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="style-label">Project Name<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="projectname" ng-model="PROJECT_DET.PROJECT_NAME" id="projName" class="form-control" />
                            </div>

                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Cost Center<span class="text-danger">*</span></label>
                            <input class="form-control" ng-model="PROJECT_DET.COST_CENTER" name="costcenter" />
                        </div>


                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4">
                            <label class="style-label"> Location </label>
                            <input class="form-control" ng-model="PROJECT_DET.LOCATION" name="costcenter" />
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Ship To Address</label>
                            <div>
                                <input type="text" name="shiptoaddress" ng-model="PROJECT_DET.SHIP_TO_ADDRESS" id="address1" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Bill To Address</label>
                            <div>
                                <input type="text" name="billtoaddress" ng-model="PROJECT_DET.BILL_TO_ADDRESS" id="address2" class="form-control" />
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4">
                            <label class="style-label">Client Name<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="clientName" ng-model="PROJECT_DET.CLIENT_NAME" id="clientName" class="form-control" required placeholder="Enter Client Name" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.clientName.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.clientName.$error.required">Please Enter Client Name</div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Address<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="address" ng-model="PROJECT_DET.ADDRESS" id="address" class="form-control" required placeholder="Enter Address" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.address.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.address.$error.required">Please Enter Address</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">SPOC Email Address<span class="text-danger">*</span> </label>
                            <div>
                                <input type="text" name="spocEmail" ng-model="PROJECT_DET.SPOC_EMAIL" id="spocEmail" class="form-control" required placeholder="Enter SPOC Email Address" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.spocEmail.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.spocEmail.$error.required">Please Enter SPOC Email Address </div>
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4">
                            <label class="style-label">GSTIN<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="gstNumber" ng-model="PROJECT_DET.GST_NUMBER" id="gstNumber" class="form-control" required placeholder="Enter GSTIN" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.gstNumber.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.gstNumber.$error.required">Please Enter GSTIN</div>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">PAN Number<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="panNumber" ng-model="PROJECT_DET.PAN_NUMBER" id="panNumber" class="form-control" required placeholder="Enter PAN Number" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.panNumber.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.panNumber.$error.required">Please Enter PAN Number </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label">Colliers PO Number<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="collierPONumber" ng-model="PROJECT_DET.PO_NUMBER" id="collier" class="form-control" required placeholder="Enter PO Number" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.collierPONumber.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.collierPONumber.$error.required">Please Enter PO Number </div>

                            </div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                            <label class="style-label">Colliers PO Value<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" name="collierPO" ng-focus="PROJECT_DET.PO_VALUE_TEMP = PROJECT_DET.PO_VALUE" ng-model="PROJECT_DET.PO_VALUE" id="collier" class="form-control" required placeholder="Enter PO Value" valid-number allow-decimal="true" allow-negative="false" ng-change="updateTargetRevBudg(PROJECT_DET)" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.collierPO.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.collierPO.$error.required">Please Enter PO Value </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="style-label"> Net Revenue Margin (%)<span class="text-danger">*</span> </label>
                            <div>
                                <input type="text" name="netrevenue" ng-model="PROJECT_DET.NET_REVENUE_MARGIN" id="Margin" class="form-control" required placeholder="Enter Net Revenue Margin" valid-number allow-decimal="true" allow-negative="false" ng-change="updateTargetRevBudg(PROJECT_DET)" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.netrevenue.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.netrevenue.$error.required">Please Enter Net Revenue Margin </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                            <label class="style-label">Targeted Revenue Budget<span class="text-danger">*</span> </label>
                            <div>
                                <input type="text" name="budgetamount" ng-model="PROJECT_DET.TARGETED_REVENUE_BUDGET" id="budamount" class="form-control" ng-disabled="true" />
                            </div>
                            <div ng-show="addProjectForm.$submitted || addProjectForm.budgetamount.$touched">
                                <div class="help-block error logininput text-danger" ng-show="addProjectForm.budgetamount.$error.required">Please Enter Targeted Revenue Budget </div>
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="col-md-4">
                            <label class="style-label">Assigned Departments</label>
                            {{PROJECT_DET.SELECTED_DEPTS.join()}}
                        </div>

                        <div class="col-md-4">
                            <label class="style-label">Assigned Users:</label>
                            {{PROJECT_DET.ASSIGNED_USERS.join()}}
                        </div>

                    </fieldset>
                </div>


            </div>
        </div>
     </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
