﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }

    .fa-edit, .fa-eye {
        color: #4a4a4d;
        margin-left: 3px;
    }

    .showSetupbtn {
        position: relative;
        right: 39px;
        top: 18px;
    }

    li.ng-scope {
        cursor: pointer;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="setupBudgetAuditCtrl">
                <div class="white-box row container-fluid">
                    <div class="col-md-12 table-responsive p-0" style="overflow-x:auto">
                        <table id="testTable" class=" table colliers_table table-bordered" style="padding-right:0">
                            <thead>
                                <tr class="sans_body">
                                    <th ng-repeat="columnName in tableColumns"><strong>{{columnName}}</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="value in rows">
                                    <td ng-repeat="val in value.tableValues track by $index">
                                        {{val}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include="'template/footer.html'"></footer>