<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }

    .ml_position {
        margin-left: 30%;
    }

    th, td {
        text-align: center !important;
    }

    .td_align {
        margin-left: 0.8em !important;
    }

    td > select {
        width: 70%;
    }

    .select_width {
        width: 75% !important;
    }

    .strng_positon {
        position: relative;
        left: -9%;
    }
    .btn_submit[disabled] {
        cursor:not-allowed;
        opacity:0.6;
    }
    .badge-sm {
        min-width: 1.8em;
        padding: .25em !important;
        margin-left: .1em;
        margin-right: .1em;
        color: white !important;
        cursor: pointer;
    }
    .prmellipsis_vendor {
        display: inline-block;
        width: 98px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    .colliers_table > tbody > tr > td > div > select {
        font-size: 12px;
    }
    .apprv_css{
        display:flex;
        padding-top:4px;
        min-height:20px;
        max-height:40px
    }

    .m-t-14 {
        margin-top: 14px;
    }
</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="setupBudgetCtrl">
                <fieldset>
                    <div class="white-box p-t-10">
                        <div class="row">
                            <div class="col-md-6"><p class="sans_header">{{itemWorkflow[0].WorkflowTracks[itemWorkflow[0].WorkflowTracks.length - 1].status == null || itemWorkflow[0].WorkflowTracks[itemWorkflow[0].WorkflowTracks.length - 1].status =='PENDING' ? 'Setup Budget':'Vendor Selection and RFQ Creation'}}</div>
                            <div class="col-md-6">
                                <button role="button" class="btn_submit sans_body pull-right" style="width: 109px; font-size: 12px;"
                                        ng-click="getSetupBudgetAudit()" title="Budget Audit" ng-if="BUDGET_ID > 0 && isSuperUser ">
                                    BUDGET AUDIT
                                </button>
                            </div>
                        </div>
                        <form name="addProjectForm">
                            <div class="row m-t-14">
                                <div class="col-md-4">
                                    <label class="style-label m-0">Project ID</label>
                                    <div>
                                        <input type="text" ng-disabled="true" name="projectid" ng-model="PROJECT_DET.PROJ_ID" id="projID" class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="style-label m-0">Project Name</label>
                                    <div>
                                        <input type="text" ng-disabled="true" name="projectname" ng-model="PROJECT_DET.PROJECT_NAME" id="projName" class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="style-label m-0">Cost Center</label>
                                    <input type="text" ng-disabled="true" name="budgetamount" ng-model="PROJECT_DET.COST_CENTER" id="budamount" class="style_ip p-l-0" />
                                </div>
                            </div>
                            <!--<div class="row">&nbsp;</div>-->
                            <!--<div class="row">&nbsp;</div>-->

                            <div class="row m-t-14">
                                <div class="col-md-4">
                                    <label class="style-label">Targeted Revenue Budget </label>
                                    <div>
                                        <input type="text"  valid-number indian-currency ng-disabled="true"  name="budgetamount" ng-model="PROJECT_DET.TARGETED_REVENUE_BUDGET" id="budamount"                                                
                                               class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                                    <label class="style-label">Colliers PO Value</label>
                                    <div>
                                        <input type="text"  valid-number indian-currency ng-disabled="true" name="collierPO" ng-model="PROJECT_DET.PO_VALUE" id="collier" class="style_ip p-l-0" />
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                                    <label class="style-label"> Net Revenue Margin (%) </label>
                                    <div>
                                        <input type="text" valid-number  ng-disabled="true" name="netrevenue" ng-model="PROJECT_DET.NET_REVENUE_MARGIN" id="Margin" class="style_ip p-l-0" />
                                    </div>
                                </div>

                                <div class="col-md-4" ng-show="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                                    <label class="style-label"> Colliers PO Number </label>
                                    <div>
                                        <input type="text" ng-disabled="true" name="collierPONumber" ng-model="PROJECT_DET.PO_NUMBER" id="collierPONumber" class="style_ip p-l-0" />
                                    </div>
                                </div>

                            </div>
                            <!--<div class="row">&nbsp;</div>-->
                            <!--<div class="row">&nbsp;</div>-->

                            <div class="row m-t-14" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                                <div class="col-md-4">
                                    <label class="style-label"> Colliers PO Number </label>
                                    <div>
                                        <input type="text" ng-disabled="true" name="collierPONumber" ng-model="PROJECT_DET.PO_NUMBER" id="collierPONumber" class="style_ip p-l-0" />
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!--<div class="row">&nbsp;</div>-->
                        <!--<div class="row">&nbsp;</div>-->
                        <div class="row m-t-14">
                            <div class="col-md-2">
                                <button class="common_btn" ng-click="handleWidgetsState()">{{isAllWidgetsCollapsed ? 'Expand All' : 'Collapse All'  }}</button>
                            </div>
                            <div class="col-md-2" ng-if="BUDGET_ID <= 0 || (BUDGET_ID > 0 && BudgetArr[0].BUDGET_WF_ID <= 0)">
                                <button class="common_btn" ng-click="AddPackage(BudgetArr[0].IS_BUDGET_APPROVED,BudgetArr[0].BUDGET_WF_ID)" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add Package</span></button>
                            </div>
                            <div class="col-md-3" ng-if="BUDGET_ID > 0 && BudgetArr[0].BUDGET_WF_ID > 0 && BudgetArr[0].BUDGET_WF_ID > 0 && BudgetArr[0].BUDGET_WF_APPROVAL_STATUS === 'APPROVED' && !BudgetArr[0].BUDGET_WF_PENDING_APPROVERS && (BudgetArr[0].CREATED_BY === +userID || isSuperUser)">
                                <button class="common_btn" ng-click="AddPackage(false,BudgetArr[0].BUDGET_WF_ID)" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>(Edit / Add) Package</span></button>
                            </div>
                            <div class="col-md-2">
                                <button role="button" class="common_btn"
                                        ng-click="RouteToRFQ()" title="Create RFQ" ng-if="selectedSubPackagesForReq && selectedSubPackagesForReq.length > 0 && (isUserEntitled(582258) || isSuperUser)">
                                    Create RFQ
                                </button>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <!--<div class="row">&nbsp;</div>-->
                        <div class="row">
                            <strong style="color:red">{{poValueErrorMessage}}</strong>
                            <strong style="color:red">{{calculationErrorMessage}}</strong>
                            <div class="col-md-12">
                                <table class="table colliers_table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th> S.NO</th>
                                            <th><strong>Package</strong></th>
                                            <th ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)"><strong>Collier PO Value</strong></th>
                                            <th ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)"><strong>Net Revenue Margin (%)</strong></th>
                                            <th><strong>Budget Amount</strong></th>
                                            <th> <strong>Delete Package</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="budgetObj in BudgetArr">
                                            <td>
                                                <span style="color:red" ng-if="budgetObj.subPackageErrorMessage">{{budgetObj.subPackageErrorMessage}}</span>
                                                <a role="button" ng-if="budgetObj.expanded" ng-click="budgetObj.expanded = !budgetObj.expanded;">
                                                    <i class="fa fa-angle-down fa-2x"></i>
                                                </a>
                                                <a role="button" ng-if="!budgetObj.expanded" ng-click="validateSubPackages(budgetObj);"> <i class="fa fa-angle-right fa-2x"></i></a>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="top-buffer" ng-model="budgetObj.packageSelected" role="button"
                                                       ng-disabled="validatePackageSelection(budgetObj)"
                                                       ng-show="PROJECT_DET.ASSIGNED_U_ID === +userID && !budgetObj.BUDGET_WF_PENDING_APPROVERS && budgetObj.BUDGET_WF_APPROVAL_STATUS === 'APPROVED'"
                                                       ng-click="handlePackageSelect(budgetObj)" />
                                            </td>
                                            <td>
                                                {{budgetObj.S_NO}}
                                            </td>
                                            <td>
                                                <div>
                                                    <select ng-model="budgetObj.PACKAGE_ID"
                                                            name="package"
                                                            id="package"
                                                            title="{{budgetObj.PACKAGE_NAME}}"
                                                            ng-change="showSubPackages(budgetObj);ValidatePackages(budgetObj,$index)"
                                                            ng-disabled="budgetObj.IS_BUDGET_APPROVED"
                                                            ng-init="budgetObj.PACKAGE_ID_TEMP = budgetObj.PACKAGE_ID"
                                                            class="form-control td_align"
                                                            ng-options="package.catId as package.catCode for package in companyCatalog"
                                                            data-placeholder="Select a Package..." required>
                                                        <option>select a package</option>
                                                    </select>
                                                </div>
                                            </td>

                                            <td ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                                                <input style="text-align:center" type="text" class="form-control fg-input" ng-model="budgetObj.PO_VALUE"
                                                       ng-change="validatePackageValue(budgetObj, 'PO_VALUE')"
                                                       ng-focus="budgetObj.PO_VALUE_TEMP = budgetObj.PO_VALUE"
                                                       ng-disabled="budgetObj.IS_BUDGET_APPROVED"
                                                       valid-number indian-currency
                                                        allow-decimal="true" allow-negative="false" title="{{budgetObj.PO_VALUE|number:2}}" />
                                            </td>
                                            <td ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                                                <input style="text-align:center" type="text" class="form-control fg-input"
                                                       ng-focus="budgetObj.NET_REVENUE_MARGIN_TEMP = budgetObj.NET_REVENUE_MARGIN"
                                                       ng-model-options="{debounce:100}"
                                                       ng-model="budgetObj.NET_REVENUE_MARGIN"
                                                       ng-disabled="budgetObj.IS_BUDGET_APPROVED"
                                                       ng-change="validateNetRevenueMargin(budgetObj)"
                                                       valid-number allow-decimal="true" allow-negative="false" title="{{budgetObj.NET_REVENUE_MARGIN|number:2}}" />
                                            </td>
                                            <td>
                                                <input style="text-align:center" type="text" class="form-control fg-input"
                                                       ng-change="validatePackageValue(budgetObj, 'EST_BUDGET')"
                                                       ng-model="budgetObj.EST_BUDGET_AMOUNT"
                                                       ng-model-options="{debounce:100}"
                                                       ng-disabled="budgetObj.IS_BUDGET_APPROVED"
                                                       ng-focus="budgetObj.EST_BUDGET_AMOUNT_TEMP = budgetObj.EST_BUDGET_AMOUNT"
                                                       valid-number  indian-currency allow-decimal="true" allow-negative="false" title="{{budgetObj.EST_BUDGET_AMOUNT |number:2}}" />
                                            </td>
                                            <td><a role="button" ng-if="BUDGET_ID <= 0 || (BUDGET_ID > 0 && budgetObj.ENABLE_DELETE_FOR_PACKAGE)" ng-click="deletePackage($index)" title="Delete Package" class="delete_icon"><i class="fas fa-trash-alt" aria-hidden="true"></i></a></td>
                                        </tr>
                                        <tr ng-repeat-end ng-show="budgetObj.expanded && budgetObj.NODES.length > 0">
                                            <td colspan="11" class="p-0">
                                                <table class="table colliers_table">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>S.NO</th>
                                                            <th><strong> Sub Package</strong></th>
                                                            <th ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)"><strong>Collier PO Value</strong></th>
                                                            <th><strong>Allocation %</strong></th>
                                                            <th><strong>Est Budget Amount</strong></th>
                                                            <!--<th><strong>Status</strong></th>-->
                                                            <th><strong>Vendor(s)</strong></th>
                                                            <th><strong>Workflow</strong></th>
                                                            <th><strong>Requirement</strong></th>
                                                            <th><strong>Delete</strong></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="subpackage in budgetObj.NODES" ng-if="subpackage.IS_VALID > 0">
                                                            <div class="col-md-1 p-l-0">
                                                                <button class="common_btn btn-sm" ng-click="AddSubPackage(budgetObj,$index)" ng-if="!isFormdisabled" type="button" style="width:132px;margin:5px 0;"> <i class="fa fa-plus-square m-r-5"></i> <span>Add Subpackage</span></button>
                                                            </div>
                                                            <td>
                                                                <input type="checkbox" class="top-buffer" ng-model="subpackage.subPackageSelected" role="button"
                                                                       ng-disabled="subpackage.REQ_ID"
                                                                       ng-show="
                                                                       ((PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID) || isSuperUser) &&
                                                                       budgetObj.BUDGET_WF_APPROVAL_STATUS === 'APPROVED' &&
                                                                       subpackage.SUB_PACKAGE_WF_APPROVAL_STATUS === 'APPROVED' &&
                                                                       !subpackage.SUB_PACKAGE_WF_PENDING_APPROVERS)"
                                                                       ng-click="handleSubPackageSelect(subpackage)" />
                                                            </td>
                                                            <td>{{($index + 1)}}</td>
                                                            <td style="width:30%;">
                                                                <div>
                                                                    <select ng-model="subpackage.SUB_PACKAGE_ID"
                                                                            name="package"
                                                                            id="package"
                                                                            title="{{subpackage.SUB_PACKAGE_NAME}}"
                                                                            class="form-control td_align"
                                                                            ng-disabled="subpackage.IS_BUDGET_APPROVED"
                                                                            ng-options="subpackage.catId as subpackage.catCode for subpackage in subpackage.SUB_PACKAGE_ARR"
                                                                            data-placeholder="Select a sub Package..."
                                                                            ng-change="handleSubPackageChange(budgetObj, subpackage)"
                                                                            required>
                                                                        <option>select a sub package</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td style="width:30%;" ng-hide="PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID)">
                                                                <input class="form-control" ng-disabled="subpackage.IS_BUDGET_APPROVED || subpackage.PACKAGE_STATUS === 'NA'" ng-init="subpackage.PO_VALUE_TEMP = subpackage.PO_VALUE"
                                                                       ng-change="validateSubPackageValue(budgetObj, subpackage, 'PO_VALUE')" ng-model="subpackage.PO_VALUE"
                                                                       valid-number  indian-currency allow-decimal="true" allow-negative="false" title="{{subpackage.PO_VALUE}}" />
                                                            </td>
                                                            <td style="width:10%;"><input class="form-control" ng-model="subpackage.ALLOCATION_PERCENTAGE" ng-disabled="true" title="{{subpackage.ALLOCATION_PERCENTAGE}}" /></td>
                                                            <td style="width:30%;">
                                                                <input class="form-control" ng-model="subpackage.EST_BUDGET_AMOUNT" ng-disabled="subpackage.IS_BUDGET_APPROVED || subpackage.PACKAGE_STATUS === 'NA'"
                                                                       ng-init="subpackage.EST_BUDGET_AMOUNT_TEMP = subpackage.EST_BUDGET_AMOUNT"
                                                                       ng-model-options="{debounce:100}"
                                                                       ng-change="validateSubPackageValue(budgetObj, subpackage, 'EST_BUDGET');"
                                                                       valid-number  indian-currency allow-decimal="true" allow-negative="false" title="{{subpackage.EST_BUDGET_AMOUNT}}" />
                                                            </td>
                                                            <!--<td>
                                                                <select ng-model="subpackage.PACKAGE_STATUS" class="form-control"
                                                                        ng-disabled="subpackage.IS_BUDGET_APPROVED" ng-change="handleSubPackageStatus(subpackage,budgetObj.NODES,budgetObj)"
                                                                        data-placeholder="Select status" id="reqType" style="width:75px;" title="{{subpackage.PACKAGE_STATUS}}">
                                                                    <option value="NA">N/A</option>
                                                                    <option value="ACTIVE">Active</option>
                                                                </select>
                                                            </td>-->
                                                            <td style="width:15%;">
                                                                <multiselect ng-show="subpackage.BUDGET_WF_ID > 0  && subpackage.BUDGET_WF_APPROVAL_STATUS
                                                                    && subpackage.BUDGET_WF_APPROVAL_STATUS === 'APPROVED' && !subpackage.BUDGET_WF_PENDING_APPROVERS"
                                                                             multiple="true" ng-model="subpackage.selectedVendors" options="v.name for v in vendors"
                                                                             change="selectVendors(subpackage)" value="options"
                                                                             isdisabled="{{!((PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID) || isSuperUser)  && subpackage.SUB_PACKAGE_WF_APPROVAL_STATUS != 'APPROVED' && !subpackage.SUB_PACKAGE_WF_PENDING_APPROVERS)}}"></multiselect>
                                                                <br />
                                                                <button ng-if="((PROJECT_DET.PROCUREMENT_U_IDS.includes(+userID) || isSuperUser) && subpackage.BUDGET_WF_ID > 0  && subpackage.BUDGET_WF_APPROVAL_STATUS
                                                                        && subpackage.BUDGET_WF_APPROVAL_STATUS === 'APPROVED' && !subpackage.BUDGET_WF_PENDING_APPROVERS)"
                                                                        role="button" class="btn btn-xs btn_save sans_body" style="padding:5px;font-size:11px;border-radius:5px;"
                                                                        ng-show="(subpackage.SUB_PACKAGE_WF_APPROVAL_STATUS != 'APPROVED' && !subpackage.SUB_PACKAGE_WF_PENDING_APPROVERS)"
                                                                        ng-disabled="(!subpackage.selectedVendors ? true : false) || (subpackage.selectedVendors == '')"
                                                                        ng-click="AssignWorkflowToVendors(subpackage)" title="{{ !subpackage.selectedVendors ? 'Please select vendors and click on the button' : 'Send for approval' }}">
                                                                    <span class="prmellipsis_vendor">Send for approval</span>
                                                                </button>
                                                            </td>
                                                            <td ng-style="subpackage.BUDGET_WF_APPROVAL_STATUS === 'APPROVED' ? {'min-width':'250px'} : {'min-width': '15%'}">
                                                                <label style="display:flex;" ng-show="subpackage.BUDGET_WF_ID > 0 && !subpackage.BUDGET_WF_PENDING_APPROVERS && subpackage.BUDGET_WF_APPROVAL_STATUS === 'APPROVED' && subpackage.SUB_PACKAGE_WF_ID > 0">
                                                                    <!--<i ng-click="showBudgetApproval();getItemWorkflow(subpackage.ROW_ID,'VENDOR_SELECTION');"
       style="color:gray" title="Workflow Approval" data-target="#workflowApprovalPopup"
       data-toggle="modal" class="fas fa-info-circle">
        Click here to take an action on Approval
        <br />
    </i>-->
                                                                    <fieldset>
                                                                        <div class="row p-l-10">
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-12 apprv_css"  ng-repeat="step in itemWorkflow1[0].WorkflowTracks track by $index" ng-show="step.moduleID == subpackage.ROW_ID">
                                                                                        <p style="width:60px;margin-right:5px;" ng-if="$index === getMaxOrderIndexForTheModule($index,step)">
                                                                                            <strong style="font-size:10px;">{{step.NEW_STATUS}}</strong><!--getWFStatus(subpackage.ROW_ID,step)getWFStatus(subpackage.ROW_ID,step)-->
                                                                                        </p>
                                                                                        <div class="row">
                                                                                            <div class="col-md-12" href="#"
                                                                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                                                                 style="min-height:90px;">
                                                                                                <div class="row">
                                                                                                    <div class="col-md-5 col-xs-5 p-5" ng-show="!isApproverDisable1($index,step.moduleID);">
                                                                                                        <div class="row p-0" style="position:relative;top:8px">
                                                                                                            <div class="col-md-4 col-xs-4 p-0">
                                                                                                                <i role="button" ng-click="updateTrack(step, 'HOLD','VENDOR_SELECTION',true)"><i class="fa fa-stop-circle" style="color:brown;font-size:13px;" title="Hold" aria-hidden="true"></i></i>
                                                                                                            </div>

                                                                                                            <div class="col-md-4 col-xs-4 p-r-0 p-l-0">
                                                                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED','VENDOR_SELECTION',true)"><i class="fa fa-thumbs-up" style="color:#266A2D;font-size: 13px;" title="Approve" aria-hidden="true"></i></i>
                                                                                                            </div>

                                                                                                            <div class="col-md-4 col-xs-4 p-r-0 p-l-0">
                                                                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED','VENDOR_SELECTION',true)"><i class="fa fa-thumbs-down" style="color:red;font-size: 13px;" title="Reject" aria-hidden="true"></i></i>
                                                                                                            </div>

                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div ng-show="!isApproverDisable1($index,step.moduleID);" ng-class="(isApproverDisable1($index,step.moduleID) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" class="p-0" title="{{step.comments}}">
                                                                                                        <textarea rows="1" cols="20" ng-model="step.comments" ng-disabled="isApproverDisable1($index,step.moduleID);" placeholder="Comments" type="text" class="form-control fg-input p-r-0" style="resize: none;"></textarea>
                                                                                                        <lable ng-hide="isApproverDisable1($index,step.moduleID);" class="text-danger">  {{commentsError}} </lable>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div style='border-bottom:1px solid #ccc;'></div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                    <span ng-click="showBudgetApproval();getItemWorkflow(subpackage.ROW_ID,'VENDOR_SELECTION');" class="fa fa-info" data-target="#workflowApprovalPopup" data-toggle="modal" title="Approval History" style="width:50px;cursor:pointer;position:relative;left:20px;top:10px;"></span>

                                                                </label>
                                                            </td>
                                                            <td style="width:5%;">
                                                                <a ng-if="subpackage.REQ_ID" target="_blank" data-ui-sref="view-requirement({Id:subpackage.REQ_ID})">View</a>
                                                            </td>
                                                            <td style="width:5%;" ng-if="BUDGET_ID <= 0 || (BUDGET_ID > 0 && !subpackage.IS_BUDGET_APPROVED)">
                                                                <a role="button" ng-click="DeleteSubPackage(budgetObj,$index)" title="Delete Subpackage" class="delete_icon">
                                                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                <!--<div class="col-md-2" ng-if="!isFormdisabled">
                                    <button class="common_btn" ng-click="AddPackage()" type="button"> <i class="fa fa-plus-square m-r-5"></i> <span>Add Package</span></button>
                                </div>-->
                            </div>
                        </div>

                        <div class="row">&nbsp;</div>

                        <div class="row" ng-if="showDisclaimer">
                            <div class="col-md-4">
                                <label class="text-success">
                                    <input type="checkbox" class="top-buffer" ng-model="BudgetArr[0].IS_ACK" role="button"
                                           ng-disabled="BudgetArr[0].BUDGET_WF_ID > 0 && BudgetArr[0].IS_ACK" />
                                    I Acknowledge that client approval is secured and attached
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label class="style-label">Client Approval</label>
                                <div class="fileupload common_btn">
                                    <span><i class="fa fa-upload  m-r-5"></i>Attachments</span>
                                    <input type="file" ng-disabled="BudgetArr[0].IS_BUDGET_APPROVED" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg,.ics,.xml,.eml,.msg" id="attachement" ng-file-select="onFileSelect($files)">
                                </div>
                                <span class="dropdown" ng-if="BudgetArr[0].MULTIPLE_ATTACHMENTS.length > 0">
                                    <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                        <i class="fa fa-copy text-primary"></i>
                                    </a>
                                    <span class="dropdown-menu col-md-12" style="width:200px;padding-left: 20px;position:relative">
                                        <span ng-repeat="attch in BudgetArr[0].MULTIPLE_ATTACHMENTS">
                                            <span ng-if="attch.fileID <= 0"
                                                  title="{{attch.fileName}}"
                                                  style="cursor:pointer"
                                                  class="prmellipsis row col-md-5">{{$index + 1}}.{{attch.fileName}}</span>
                                            <strong ng-if="attch.fileID <= 0"
                                                    style="cursor:pointer;margin-top: 2px"
                                                    ng-click="removeAttach(parentIndex)"
                                                    class="fa fa-trash-alt col-md-2"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                            <a ng-if="attch.fileID > 0" target="_blank" class="prmellipsis" title="{{attch.fileName}}" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                            <br />
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>


                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6" style="text-align:center;">
                                <button role="button" class="btn_submit sans_body" ng-if="!isFormdisabled"
                                        ng-click="SaveBudgetDetails()" title="save">
                                    {{'Save'}}
                                </button>
                                <button role="button" class="btn btn_save sans_body" ng-if="!isFormdisabled && !isBudgetApproved && BUDGET_ID > 0"
                                        ng-click="AssignWorkflowToBudget();" title="Send Budget For Workflow" style="margin-bottom:3px;margin-right:0px;">
                                    Send Budget For Workflow 
                                </button>
                                <button role="button" style="margin-left:0;" class="cancel_button sans_body" ng-click="closeEditConfiguration()" title="cancel">Cancel</button>
                            </div>
                        </div>


                    </div>
                </fieldset>

                <div class="white-box" ng-if="showBudgetApprovalPopUp && itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0">
                    <!--showBudgetApprovalPopUp-->

                    <div style="text-align:center"><h3 class="text-warning">Budget Approval</h3></div>
                    <div class="row">&nbsp;</div>

                    <div class="row" ng-repeat="wf in workflowList" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                        <div ng-if="wf.workflowID == workflowObj.workflowID">
                            <div class="col-md-12 text-center">
                                <h4>{{wf.workflowTitle}}</h4>
                            </div>
                            <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                <div class="white-box">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <h3>{{$index+1}}</h3>
                                        </div>
                                        <div class="col-md-10">
                                            <span class="top-buffer">
                                                Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                <br />
                                                Designation: <strong>{{ws.approver.desigCode}}</strong>
                                            </span>
                                        </div>
                                        <div class="col-md-1">
                                            <i class="fas fa-arrow-right top-buffer"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                </P>
                                                <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                 style="min-height:90px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                        <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>

                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp;
                        </div>
                    </fieldset>

                </div>



                <div class="modal" id="workflowPendingPopup">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Pending Approvers for <b>{{catName}}</b></h4>
                            </div>
                            <div class="modal-body">
                                <div class="row" ng-repeat="wf in workflowList">
                                    <div ng-if="wf.workflowID == cat_WF_ID">
                                        <div class="col-md-12 text-center">
                                            <h4>{{wf.workflowTitle}}</h4>
                                        </div>
                                        <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                            <div class="white-box">
                                                <div class="row" ng-class="$index%2 == 0? 'text-success' : 'text-warning'">
                                                    <div class="col-md-1">
                                                        <h3>{{$index+1}}</h3>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <span class="top-buffer">
                                                            Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                            <br />
                                                            Designation: <strong>{{ws.approver.desigCode}}</strong>
                                                            <br />
                                                            Branch: <strong>{{ws.approver.USER_BRANCH_TEMP}}</strong>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <i class="fas fa-arrow-right top-buffer"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal" id="workflowApprovalPopup">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Workflow Status</h4>
                            </div>
                            <div class="modal-body p-t-0">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="table-responsive" style="max-height:200px;overflow-y:auto">
                                                    <table class="table table-bordered colliers_table">
                                                        <thead>
                                                            <tr>
                                                                <th>S.NO</th>
                                                                <th>Status</th>
                                                                <th>Name</th>
                                                                <th>On</th>
                                                                <th>Comments</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                                                <td>{{$index + 1}}</td>
                                                                <td>{{step.statusNew}}</td>
                                                                <td ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'">{{step.approverDetails.approvedBy}}</td>
                                                                <td ng-show="step.statusNew =='Pending'">{{step.approverDetails.firstName}}</td>
                                                                <td>{{showApprovedDate(step.dateModified)}}</td>
                                                                <td> <textarea rows="2" cols="30" ng-model="step.comments" ng-disabled="true" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!--<div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                                    <div class="row approvalRowHeight">
                                                        <div class="col-md-12">
                                                            <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                <strong> <label style="color:darkorange">{{step.statusNew + ' By ' + ' - ' + step.approverDetails.firstName}}</label> </strong>
                                                            </P>
                                                            <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                                <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12" href="#"
                                                             ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                             style="min-height:90px;">
                                                            <div class="row">
                                                                <div class="col-md-1 col-xs-1">
                                                                    <h5>{{$index + 1}}. </h5>
                                                                </div>
                                                                 <strong>{{step.statusNew + ' By '+' - ' + step.approverDetails.approvedBy +' On ' + showApprovedDate(step.dateModified)}}</strong>
                                                                <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                                    <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                                    <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                                </div>
                                                                <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                                    <div class="row">
                                                                        <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                            <i role="button" ng-click="updateTrack(step, 'HOLD','VENDOR_SELECTION')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                            <small>Hold</small>
                                                                        </div>

                                                                        <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                            <i role="button" ng-click="updateTrack(step, 'APPROVED','VENDOR_SELECTION')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                            <small>Approve</small>
                                                                        </div>

                                                                        <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                            <i role="button" ng-click="updateTrack(step, 'REJECTED','VENDOR_SELECTION')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                            <small>Reject</small>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer" style="border:none">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
