<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


    .ml {
        margin-left: 10px;
    }
    .ml_position {
        margin-left:30%;
    }
    th,td{
        text-align:center !important;
    }
    .td_align{
        margin-left:0.8em !important;
    }
    td > select{
        width: 70%;
    }
    .select_width{
        width:75% !important;
    }
    .strng_positon{
        position:relative;
        left:-9%;
    }
    button.btn {
        box-shadow: none;
    }
    .collier_table_a {
        font-size: 12px;
    }
    span.caret.pull-right {
        position: relative;
        top: 10px;
    }
    .modal-footer {
        border-top: none;
    }

    .modal-header {
        border-bottom: none;
    }
    .ml_position {
        margin-left: 45%;
        margin-top: -45%;
    }

</style>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="vendorApprovalCtrl">

                <div class="white-box">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="sans_header">Vendor Approval</p>
                            </div>
                        </div>
                        <div class="col-md-3 pull-right setup_btn">
                            <button ng-click="rejectBudget()" class="cancel_button pull-right" data-target="#showTemplateModal" data-toggle="modal">Reject</button>
                            <button class="btn_submit pull-right" ng-click="redirectTo()">Approve</button>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <form name="addProjectForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="style-label">Project ID<span class="text-danger">*</span></label>
                                    <div>
                                        <input type="text" name="projectid" ng-model="ProjectObject.PROJECT_ID" id="projID" class="style_ip" required placeholder="Enter Project Id" />
                                    </div>
                                    <div ng-show="addProjectForm.$submitted || addProjectForm.projectid.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="addProjectForm.projectid.$error.required">Please Enter Project ID </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="style-label">Project Name<span class="text-danger">*</span></label>
                                    <div>
                                        <input type="text" name="projectname" ng-model="ProjectObject.PROJECT_NAME" id="projName" class="style_ip" required placeholder="Enter Project Name" />
                                    </div>
                                    <div ng-show="addProjectForm.$submitted || addProjectForm.projectname.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="addProjectForm.projectname.$error.required">Please Enter Project Name </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="style-label">Cost Center<span class="text-danger">*</span></label>
                                    <select class="style_ip" ng-model="ProjectObject.COST_CENTER" name="costcenter">
                                        <option value="" selected>Select Cost Center</option>
                                        <option value="Status">DB South</option>
                                        <option value="Status1">DB North</option>
                                        <option value="Status1">DB Mid</option>
                                    </select>
                                    <div ng-show="addProjectForm.$submitted || addProjectForm.costcenter.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="addProjectForm.costcenter.$error.required">Please Enter Cost </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="style-label">Targeted Revenue Budget<span class="text-danger">*</span> </label>
                                    <div>
                                        <input type="text" name="budgetamount" ng-model="ProjectObject.TARGETED_REVENUE_BUDGET" id="budamount" class="style_ip" required placeholder="Enter Targeted Revenue Budget" />
                                    </div>

                                    <div ng-show="addProjectForm.$submitted || addProjectForm.budgetamount.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="addProjectForm.budgetamount.$error.required">Please Enter Targeted Revenue Budget </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="style-label">Colliers PO Value<span class="text-danger">*</span></label>
                                    <div>
                                        <input type="text" name="collierPO" ng-model="ProjectObject.COLLIEAR_PO_VALUE" id="collier" class="style_ip" required placeholder="Enter PO Value" />
                                    </div>
                                    <div ng-show="addProjectForm.$submitted || addProjectForm.collierPO.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="addProjectForm.collierPO.$error.required">Please Enter PO value </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="style-label"> Net Revenue Margin<span class="text-danger">*</span> </label>
                                    <div>
                                        <input type="text" name="netrevenue" ng-model="ProjectObject.NET_REVENUE_MARGIN" id="Margin" class="style_ip" required placeholder="Enter Net Revenue Margin" />
                                    </div>
                                    <div ng-show="addProjectForm.$submitted || addProjectForm.netrevenue.$touched">
                                        <div class="help-block error logininput text-danger" ng-show="addProjectForm.netrevenue.$error.required">Please Enter Net Revenue Percentage </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">&nbsp;</div>

                        </form>
                        <div class="row">&nbsp;</div>
                        <div class="row">&nbsp;</div>
                        <div class="col-md-12 table-responsive z-depth-2">
                            <div class="col-md-12 table-responsive">


                                <!--NEW SUBPACKAGE TABLE START-->
                                <table class="table colliers_table">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th> </th>
                                            <th> <strong>Package</strong></th>
                                            <th> <strong>Collier PO Value</strong></th>
                                            <th> <strong>Net Revenue Margin</strong></th>
                                            <th> <strong>Budget Amount</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="budget in BudgetCodes">
                                            <td>
                                                <a role="button" ng-if="budget.expanded" ng-click="budget.expanded = false">
                                                    <i class="fa fa-angle-down fa-2x"></i>
                                                </a>
                                                <a role="button" ng-if="!budget.expanded" ng-click="budget.expanded = true"> <i class="fa fa-angle-right fa-2x"></i></a>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="top-buffer td_align" ng-model="showitem1" value="true" />
                                            </td>
                                            <td>
                                                <div>
                                                    <select class="form-control">
                                                        <option ng-repeat="subpac in budget.PACKAGE">{{subpac.inner_package}}</option>
                                                    </select>
                                                </div>
                                            </td>

                                            <td> <input style="text-align:center" type="text" class="form-control fg-input" ng-model="budget.COLLIEAR_PO_VALUE" /></td>
                                            <td>{{budget.NET_REVENUE_MARGIN}}</td>
                                            <td>{{budget.BUDGET_AMOUNT}}</td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="budget.expanded && budget.Sub_package.length > 0">
                                            <td></td>
                                            <td colspan="6">
                                                <table class="table colliers_table">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th> <strong> Sub Package</strong></th>
                                                            <th> <strong>Allocation %</strong></th>
                                                            <th> <strong>Est Budget Amount</strong></th>
                                                            <th> <strong> PO Value</strong></th>
                                                            <th> <strong> Variance</strong></th>
                                                            <th> <strong> Vendors</strong></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="sub in budget.Sub_package">
                                                            <td>
                                                                <input type="checkbox" class="top-buffer td_align" ng-model="showitem1" value="true" />
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    <select class="form-control td_align">
                                                                        <option value="civil1">LT PANELS & DISTRIBUTION BOARDS </option>
                                                                        <option value="electrical1"> DISTRIBUTION BOARD, ELCB, MCB, RCB, RCDS</option>
                                                                        <option value="mercedes1">LT CABLES</option>
                                                                        <option value="aud1i">CABLE TRAY, RACEWAY, CONDUITS & ACCESSORIES</option>
                                                                        <option value="fire1">EARTHING</option>
                                                                        <option value="current1">MISCELLENEOUS & SAFETY ACCESSORIES </option>
                                                                        <option value="fire1">SOCKET OUTLETS</option>
                                                                        <option value="fire1">WIRING- POWER & LIGHTING</option>
                                                                        <option value="fire1">AIRCONDITIONING ELECTRICAL WORKS</option>
                                                                        <option value="fire1">LIGTHING MANAGEMENT SYSTEM</option>

                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td style="width:15%;">
                                                                <input class="form-control" ng-model="sub.ALLOCATION" />
                                                            </td>
                                                            <td style="width:15%;">{{sub.EST_BUDGET_AMOUNT}}</td>
                                                            <td style="width:15%;">{{sub.PO_VALUE}}</td>
                                                            <td style="width:15%;">{{sub.VARIANCE}}</td>
                                                            <td style="max-width:200px">
                                                                <multiselect multiple="true" ng-model="budgetcode.selectedvendor" options="v.name for v in vendors" change="selected(budgetcode.vendors)" value="options"></multiselect>
                                                                <div ng-repeat="selectvendor in budgetcode.selectedvendor">{{selectvendor.name}}</div>
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--NEW SUBPACKAGE TABLE END-->




                                <div class="row">&nbsp;</div>
                                <div class="row">&nbsp;</div>

                                <div class="row">
                                    <div class="col-md-4 "></div>
                                    <div class="col-md-3 " style="text-align:center;">
                                        <!--<button role="button" class="btn_submit sans_body" ng-click="saveProjectDetails()" title="save">Save</button>-->
                                        <button role="button" class="cancel_button sans_body" ng-click="closeEditConfiguration()" title="cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="showTemplateModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 100%;">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="style-label">Enter Reject Comments</h3>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="style-label">Reason</label>
                                                <input type="text" class="style_ip" name="templateField" pattern="^[a-zA-Z0-9_ ]*$" ng-pattern-restrict />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn_submit" ng-click="saveComments()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
