﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="white-box" ng-controller="saveCustomFieldCtrl">
                    <div class="row">
                        <div class="row">
                            <div class="form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.FIELD_NAME)}">
                                    <input type="text" ng-model="customFieldObj.FIELD_NAME" name="storeCode" id="storeCodeID" class="form-control fg-input" esc-clear />
                                    <label class="fg-label">Field Name*</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-3 m-b-30\">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.storeInCharge)}">
                                    <input type="text" ng-model="customFieldObj.FIELD_HELP_TEXT" name="storeInCharge" id="storeInChargeID" class="form-control fg-input" />
                                    <label class="fg-label">Description*</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.storeID)}">
                                    <i class="mdi-social-person-outline prefix"></i>
                                    <select class="form-control" ng-model="customFieldObj.FIELD_TYPE" ng-options="type.FIELD_TYPE as type.FIELD_NAME for type in fielTypeList"></select>
                                    <label class="fg-label" for="role">Field Type*</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.storeID)}">
                                    <i class="mdi-social-person-outline prefix"></i>
                                    <select class="form-control" ng-model="customFieldObj.FIELD_MODULE" ng-options="type.FIELD_TYPE as type.FIELD_NAME for type in moduleList"></select>
                                    <label class="fg-label" for="role">Field Module</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.storeAddress)}">
                                    <input type="text" ng-model="customFieldObj.FIELD_DEFAULT_VALUE" name="storeInCharge" id="storeInChargeID" class="form-control fg-input" />
                                    <label class="fg-label">Field Default Value</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.storeDetails)}">
                                    <input ng-model="customFieldObj.IS_REQUIRED"
                                           type="checkbox"
                                           style="height:15px;width:15px;"
                                           ng-false-value="0"
                                           ng-true-value="1" />
                                    <label class="fg-label">Is Required</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.storeDetails)}">
                                    <input ng-model="customFieldObj.IS_READ_ONLY"
                                           type="checkbox"
                                           style="height:15px;width:15px;"
                                           ng-false-value="0"
                                           ng-true-value="1" />
                                    <label class="fg-label">Is Read-only</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-3 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || customFieldObj.storeDetails)}">
                                    <input ng-model="customFieldObj.VISIBLE_TO_VENDOR"
                                           type="checkbox"
                                           style="height:15px;width:15px;"
                                           ng-false-value="0"
                                           ng-true-value="1" />
                                    <label class="fg-label">Visible to Vendor</label>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="saveField()">Save</button>
                            <button class="btn btn-info btn-file btn-new-look" data-ui-sref="customfields">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>