﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="prmTemplateFieldsCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="newTemplateField()" class="btn-sm common_btn" data-target="#showTemplatFieldModal" data-toggle="modal">New Field </button><br />
                        </div>

                    </div>
                    <div class="row">
                        <h3>{{templateName}}</h3>
                    </div>
                    <div class="row" style="margin-top:25px;">
                        <div class="col-md-12" style="height:300px; overflow-y:auto;">
                            <table class="table colliers_table">
                                <!--table table-bordered table-striped-->
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>Field Name</th>
                                        <th>Field Label</th>
                                        <th>Placeholder</th>
                                        <!--<th>Data Type</th>
                                        <th>Default Value</th>
                                        <th>Options</th>
                                        <th>Is Read-only</th>-->
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="field in prmTemplateFieldsList">

                                        <td>
                                            {{field.FIELD_NAME}}
                                        </td>
                                        <td>
                                            {{field.FIELD_LABEL}}
                                        </td>
                                        <td>
                                            {{field.FIELD_PLACEHOLDER}}
                                        </td>
                                        <!--<td>
                                            {{field.FIELD_DATA_TYPE}}
                                        </td>
                                        <td>
                                            {{field.FIELD_DEFAULT_VALUE}}
                                        </td>
                                        <td>
                                            {{field.FIELD_DATA_TYPE === 'OPTIONS' ? field.FIELD_OPTIONS : '-'}}
                                        </td>
                                        <td>
                                            {{field.FIELD_READ_ONLY}}
                                        </td>-->
                                        <td data-title="'Actions'" sortable="'Actions'" style="text-align:center">
                                            <a class="fa fa-edit" data-target="#showTemplatFieldModal" data-toggle="modal" role="button" ng-click="editTemplateField(field)"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
                    <div class="row white-box">
                        <div class="col-md-12">
                            <div style="margin-top:50px;margin-bottom:50px;">
                                <label><strong>Quotation template</strong></label>
                                <label data-target="#newSubItemAction" data-toggle="modal" ng-click="resetTemplateObj()"><i class="fa fa-plus"></i> <strong>New</strong></label>
                                <div style="overflow:auto;max-height:200px;">
                                    <table class="table table-bordered colliers_table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                                <th>
                                                    Specification
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="obj in productQuotationTemplateMaster">
                                                <td>
                                                    {{obj.NAME}}
                                                </td>
                                                <td>
                                                    {{obj.DESCRIPTION}}
                                                </td>
                                                <td>
                                                    <i class="glyphicon" ng-class="obj.HAS_SPECIFICATION == 1? 'glyphicon-ok' : 'glyphicon-remove'" aria-hidden="true"></i>
                                                </td>
                                                <td>
                                                    <a class="fa fa-edit" data-target="#newSubItemAction" data-toggle="modal" role="button" ng-click="editSubItemTemplate(obj)"></a>
                                                    <a class="fa fa-trash" data-toggle="modal" role="button" ng-click="deleteSubItemTemplate(obj)"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modals-->
                    <!-- Template Modal-->
                    <div class="modal" id="showTemplatFieldModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 100%;">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Field Details</h3>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="style-label">Name</label>
                                                <select ng-model="selectedTemplateField.FIELD_NAME"
                                                        ng-options="opt.configValue as opt.configText for opt in templateFieldKeys" class="form-control"></select>
                                                <label ng-if="duplicateTemplateField()" class="text-danger">Duplicate Field Name</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="style-label">Label</label>
                                                <input type="text" ng-model="selectedTemplateField.FIELD_LABEL" class="form-control" name="templateFieldLabel" pattern="^[a-zA-Z0-9_ ]*$" ng-pattern-restrict />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="style-label">Placeholder</label>
                                                <input type="text" ng-model="selectedTemplateField.FIELD_PLACEHOLDER" class="form-control" name="templateFieldPlaceholder" pattern="^[a-zA-Z0-9_ ]*$" ng-pattern-restrict />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-warning btn-sm" data-dismiss="modal">Cancel</button>
                                    <button class="btn-sm common_btn" ng-click="saveTemplateField()" ng-disabled="!isValidForm()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ^Template Modal-->
                    <!--Product Template-->
                    <div class="modal" id="newSubItemAction" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Sub-Item</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="style-label">Name</label>
                                                <input ng-model="QuotationTemplateObj.NAME"
                                                       type="text"
                                                       class="form-control" />
                                            </div>
                                            <div class="col-md-6">
                                                <label class="style-label">Description</label>
                                                <input ng-model="QuotationTemplateObj.DESCRIPTION"
                                                       type="text"
                                                       class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px;margin-left:-15px;">
                                            <div class="col-md-4">
                                                <input ng-model="QuotationTemplateObj.HAS_SPECIFICATION"
                                                       type="checkbox"
                                                       style="height:15px;width:15px;"
                                                       ng-false-value="0"
                                                       ng-true-value="1" />
                                                <label class="style-label">Has Specification</label>
                                            </div>
                                            <div class="col-md-4">
                                                <input ng-model="QuotationTemplateObj.HAS_PRICE"
                                                       type="checkbox"
                                                       style="height:15px;width:15px;"
                                                       ng-false-value="0"
                                                       ng-true-value="1" />
                                                <label class="style-label">Has Prices</label>
                                            </div>
                                            <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_PRICE">
                                                <input ng-model="QuotationTemplateObj.HAS_QUANTITY"
                                                       type="checkbox"
                                                       style="height:15px;width:15px;"
                                                       ng-false-value="0"
                                                       ng-true-value="1" />
                                                <label class="style-label">Has Quantity</label>
                                            </div>
                                            <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_QUANTITY">
                                                <label class="style-label">Quantity</label>
                                                <input ng-model="QuotationTemplateObj.CONSUMPTION" readonly ng-disabled="true"
                                                       type="text" valid-number allow-decimal="true" />
                                            </div>
                                            <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_QUANTITY">
                                                <label class="style-label">UOM:</label>
                                                <select ng-model="QuotationTemplateObj.UOM"
                                                        ng-options="opt.configValue as opt.configValue for opt in companyItemUnits" class="form-control"></select>
                                            </div>
                                            <div class="col-md-4" ng-show="QuotationTemplateObj.HAS_PRICE">
                                                <input ng-model="QuotationTemplateObj.HAS_TAX"
                                                       type="checkbox"
                                                       style="height:15px;width:15px;"
                                                       ng-false-value="0"
                                                       ng-true-value="1" />
                                                <label class="style-label">Has Tax</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <br />
                                                <button type="button"
                                                        class="btn btn-info"
                                                        ng-click="SaveProductQuotationTemplate(QuotationTemplateObj)"
                                                        ng-if="QuotationTemplateObj.NAME != '' && QuotationTemplateObj.NAME != null && QuotationTemplateObj.NAME != undefined">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--^Product Template-->
                    <!-- ^ Modals-->
                </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
