﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="prmTemplateCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-9">
                            <button ng-click="newTemplate()" class="btn-sm common_btn" data-target="#showTemplateModal" data-toggle="modal">New Template </button><br />
                        </div>
                        <div class="col-md-3">
                            <h5><strong>Template Name</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable()" ng-model="searchKeyword" type="text" placeholder="Search">
                        </div>
                    </div>
                    <div class="row" style="margin-top:25px;">
                        <div class="col-md-12">
                            <table class="table colliers_table">
                                <!--table table-bordered table-striped-->
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th>Template Name</th>
                                        <th>Template Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="template in prmTemplateList">
                                        <td>
                                            {{template.TEMPLATE_NAME}}
                                        </td>
                                        <td>
                                            {{template.TEMPLATE_DESC}}
                                        </td>
                                        <td style="text-align:center" data-title="'Actions'" sortable="'Actions'">
                                            <a class="fa fa-edit" data-target="#showTemplateModal" data-toggle="modal" role="button" ng-click="editTemplate(template)"></a>
                                            <a class="fa fa-eye" role="button" ng-click="goToTemplateFields(template)"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--</div>-->
                </div>


                <!-- Modals-->
                <!-- Template Modal-->
                <div class="modal" id="showTemplateModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 100%;">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">Template Details</h3>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="style-label">Template Name</label>
                                            <input type="text" ng-model="selectedTemplate.TEMPLATE_NAME" class="form-control" name="templateField" pattern="^[a-zA-Z0-9_ ]*$" ng-pattern-restrict />
                                            <label ng-if="duplicateTemplate()" class="text-danger">Duplicate Template Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="style-label">Template Description</label>
                                            <input type="text" ng-model="selectedTemplate.TEMPLATE_DESC" class="form-control" name="templateDesc" pattern="^[a-zA-Z0-9_ ]*$" ng-pattern-restrict />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="style-label">Is Default</label>
                                            <br />
                                            <input type="checkbox" ng-model="selectedTemplate.IS_DEFAULT" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn-sm common_btn" ng-click="saveTemplate()" ng-disabled="!selectedTemplate.TEMPLATE_NAME || duplicateTemplate()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ^Template Modal-->
                <!-- ^ Modals-->
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
