﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div data-ng-controller="grnAnylaticsReportCtrl">

                    <div class="row white-box">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-12">From date</label>
                                    <div class="col-md-12" moment-picker="dateobj.anylaticsFromDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="dateobj.anylaticsFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-md-12">To date</label>
                                    <div class="col-md-12" moment-picker="dateobj.anylaticsToDate" format="YYYY-MM-DD">
                                        <input class="form-control" placeholder="Select a date" ng-model="dateobj.anylaticsToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"><button class="btn-sm pull-right m-t-20 common_btn" ng-click="getAnalyticsTotalData();getAnylaticsReportsData('TOTAL_GRN');">Apply</button></div>
                        </div>                        
                    </div>
                    <div class="row header-cards">
                            <div class="col-md-12 co-lg-12">
                                <div class="row">
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('TOTAL_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">Total GRNs</span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_GRN_COUNT}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('TOTAL_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">Total GRN Value</span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_GRN_VALUE}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('MATERIAL_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">Material Count</span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_MATERIAL_COUNT}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('VENDOR_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">Vendor Count</span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_VENDOR_COUNT}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('PAYMENT_TERM_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">Payment Term Count</span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_PAYMENT_TERM_CODE_COUNT}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('PO_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">PO Count</span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_PO_COUNT}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             
                                  
                                
                                
                                
                                </div>

                                <div class="row">
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('ASN_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">
                                                        % of ASN followed by Vendors
                                                    </span>
                                                    <h3>
                                                        {{analyticsTotalData.ASN_PERC}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('INVOICE_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">
                                                        % of Invoice upload by Vendors
                                                    </span>
                                                    <h3>
                                                        {{analyticsTotalData.INVOICE_PERC}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('CATEGORY_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">
                                                        Category count
                                                    </span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_CATEGORY_COUNT}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('COUNTRY_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">
                                                        Country Count
                                                    </span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_COUNTRY_COUNT}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="getAnylaticsReportsDataFilterByCard('TOTAL_GRN')">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <span class="text-muted">
                                                        Total Qty / Rejected QTY
                                                    </span>
                                                    <h3>
                                                        {{analyticsTotalData.TOTAL_GRN_QTY}} / {{analyticsTotalData.TOTAL_GRN_REJECTED_QTY}}
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button ng-show="false" id="upateChartButton2">upateChartButton</button>
                        </div>
                        <div class="row header-cards">
                            <div class="col-md-12 col-lg-12" style="padding-right:0px;padding-left:8px;">
                                <div class="white-box" style="padding:0px">
                                    <div class="table-responsive row">
                                        <div class="col-md-12" ng-if="showL1Data">
                                            <table class="table-striped table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th>GRN Number</th>
                                                        <th>GRN Line Item</th>
                                                        <th>Mat. Desc</th>
                                                        <th>Vendor Code</th>
                                                        <th>Recieved Qty.</th>
                                                        <th>Rejected Qty.</th>
                                                        <th>GRN Date</th>
                                                        <th>GRN Value</th>
                                                        <th>PO Number</th>
                                                        <th>PO Line Item</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="grn in analyticsDataLevel1.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                                        <td>{{grn.GRN_NUMBER}}</td>
                                                        <td>{{grn.GRN_LINE_ITEM}}</td>
                                                        <td>{{grn.ProductCode}}</td>
                                                        <td>{{grn.SUPPLIER_NAME}}</td>
                                                        <td>{{grn.RECEIVED_QUANTITY}}</td>
                                                        <td>{{grn.REJECTED_QUANTITY}}</td>
                                                        <td>{{grn.GRN_DATE1}}</td>
                                                        <td>{{grn.GRN_VAUE}}</td>
                                                        <td>{{grn.PO_NUMBER}}</td>
                                                        <td>{{grn.PO_LINE_ITEM}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                        </div>

                                        <div class="col-md-12" ng-if="showL2Data">
                                            <table class="table table-striped table-bordered table-sm">
                                                <thead>
                                                    <tr>
                                                        <th style="width:6%;text-align:center"></th>
                                                        <th style="width:94%;text-align:center">{{pivotColumnDisplayName}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat-start="pivot in analyticsDataLevel1">
                                                        <td style="text-align:center">
                                                            <a role="button" ng-hide="pivot.expanded" ng-click="pivot.expanded = true;" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                            <a role="button" ng-hide="!pivot.expanded" ng-click="pivot.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                                        </td>
                                                        <td style="text-align:center">
                                                            {{pivot.pivotValue}}
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat-end ng-if="pivot.expanded">
                                                        <td colspan="12">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="table-responsive" style="max-height: 400px;overflow-y: auto">
                                                                        <table class="table-striped table table-fixed">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>GRN Number</th>
                                                                                    <th>GRN Line Item</th>
                                                                                    <th>Mat. Desc</th>
                                                                                    <th>Vendor Code</th>
                                                                                    <th>Recieved Qty.</th>
                                                                                    <th>Rejected Qty.</th>
                                                                                    <th>GRN Date</th>
                                                                                    <th>GRN Value</th>
                                                                                    <th>PO Number</th>
                                                                                    <th>PO Line Item</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="grn in pivot.analyticsDataLevel2">
                                                                                    <td>{{grn.GRN_NUMBER}}</td>
                                                                                    <td>{{grn.GRN_LINE_ITEM}}</td>
                                                                                    <td>{{grn.ProductCode}}</td>
                                                                                    <td>{{grn.SUPPLIER_NAME}}</td>
                                                                                    <td>{{grn.RECEIVED_QUANTITY}}</td>
                                                                                    <td>{{grn.REJECTED_QUANTITY}}</td>
                                                                                    <td>{{grn.GRN_DATE1}}</td>
                                                                                    <td>{{grn.GRN_VAUE}}</td>
                                                                                    <td>{{grn.PO_NUMBER}}</td>
                                                                                    <td>{{grn.PO_LINE_ITEM}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>