﻿<div class="fix-header">
    <div id="wraper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="purchaseTurnOverCtrl">
                <div class="white-box col-md-12">
                    <div class=" col-md-3 col-sm-3 col-xs-6 ">

                        <div class="white-box whiteBorders row form-group hoverTransition04">
                            <!--<div class="col-xs-4">
                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">

            </div>-->
                            <h3 class="box-title">Filter</h3>
                            <div class="col-xs-4 small">
                                <span class="text-muted">Year</span>
                                <select class="form-control p-0">
                                    <option value="2020">2020</option>
                                    
                                </select>
                            </div>
                            <div class="col-xs-4 small">
                                <span class="text-muted">Month</span>
                                <select class="form-control p-0">
                                    <option value="JAN">JAN</option>
                                    <option value="FEB">FEB</option>
                                    <option value="MAR">MAR</option>
                                    <option value="APR">APR</option>
                                    <option value="MAY">MAY</option>
                                    <option value="JUN">JUN</option>
                                    <option value="JUL">JUL</option>
                                    <option value="AUG">AUG</option>
                                    <option value="SEP">SEP</option>
                                    <option value="OCT">OCT</option>
                                    <option value="NOV">NOV</option>
                                    <option value="DEC">DEC</option>

                                </select>
                            </div>
                            <div class="col-xs-4 small">
                                <span class="text-muted">Region</span>
                                <select class="form-control p-0">
                                    <option value="IND">IND</option>
                                    <option value="US">US</option>

                                </select>
                            </div>
                        </div>

                        <div class="white-box whiteBorders row text-center hoverTransition04">
                            <div class="col-xs-12">
                                <h5> <span class="text-muted text-center"><strong>Procurement Volume of Turnover</strong></span></h5>
                                <br />
                                <span>Purchased Value<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$6.456.704</strong></span>
                                <br />
                                <br />
                                <span>Savings Value<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$2.156.401</strong></span>
                                <!--<img src="Reports/js/resource/images/cart.png" class="img-responsive text-center" style="margin-top:20px;max-width:120px;">-->
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 hoverTransition04">
                        <div class="white-box whiteBorders">
                            <div id="procureVolume"></div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 hoverTransition04">
                        <div class="white-box whiteBorders">
                            <div id="maverick"></div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 hoverTransition04">
                        <div class="white-box whiteBorders">
                            <div id="frameWork"></div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 hoverTransition04">
                        <div class="white-box whiteBorders">
                            <div id="deliveryQuota"></div>

                        </div>
                    </div>
                    <!--<div class="col-md-3 col-sm-3 col-xs-6 hoverTransition04 text-center" ng-hide="true">
                        <div class="white-box whiteBorders">
                            <h5> <span class="text-muted text-center"><strong>Inventory Turnover Ratio</strong></span></h5>
                            <br />
                            <span>Cost of Goods Sold<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;65%</strong></span>
                            <br />
                            <br />
                            <span>Inventory<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;35%</strong></span>
                        </div>
                    </div>-->
                    <div class="col-md-3 col-sm-3 col-xs-6 hoverTransition04">
                        <div class="white-box whiteBorders">
                            <div id="noOfOrders"></div>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6 hoverTransition04">
                        <div class="white-box whiteBorders">
                            <div id="PurchaseBuyer"></div>

                        </div>
                    </div>
                    <div class="col-md-3 white-box whiteBorders hoverTransition04">
                        <div id="flexibility"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>