﻿<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
</style>
<div class="fix-header">
    <div id="wraper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>

        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="savingsDashBoardCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">From date</label>
                                <div class="col-md-12" moment-picker="filters.FromDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.FromDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-md-12">To date</label>
                                <div class="col-md-12" moment-picker="filters.ToDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="filters.ToDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"><label class="col-md-12">&nbsp;</label><button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getCompanySavingStats();">Get Stats</button></div>
                    </div>
                </div>
                <div class="white-box col-md-12 form-group">
                    <div class="col-md-12 text-center">
                        <h4><label>Procurement Savings Dashboard</label></h4>
                        <div class="col-md-6 hoverTransition04">
                            <div class="col-md-5" style="margin-top: 5px">
                                <input ng-model="searchCategory" class="form-control" placeholder="Search With Category" ng-change="filterCategories(searchCategory)" />
                            </div>
                            <!--</div>-->
                            <h3 style="text-align: justify;">Category Wise</h3>
                            <div style="max-height:350px; overflow-y:auto;">
                                <table class="table table-fixed colliers_table">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold;">
                                            <th width="30%" style="text-align:center;">Category</th>
                                            <th width="20%" style="text-align:center;">Savings</th>
                                            <th width="20%" style="text-align:center;">Spend</th>
                                            <th width="20%" style="text-align:center;">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in categoryStatsArray">
                                            <td width="30%" style="text-align:center;">
                                                {{item.key1}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal1 | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{ (item.decimalVal)/(item.decimalVal1) * (100) | number:2}} %
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-6 hoverTransition04">
                            <div class="col-md-5" style="margin-top: 5px;">
                                <input ng-model="searchDepartment" class="form-control" style="cursor:pointer" placeholder="Search With Department" ng-change="filterDeapartment(searchDepartment)" />
                            </div>
                            <h3 style="text-align: justify;">Department Wise</h3>
                            <div style="max-height:350px; overflow-y:auto;">
                                <table class="table table-fixed colliers_table">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th width="30%" style="text-align:center;">Department</th>
                                            <th width="20%" style="text-align:center;">Savings</th>
                                            <th width="20%" style="text-align:center;">Spend</th>
                                            <th width="20%" style="text-align:center;">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in departmentStatsArray">
                                            <td width="30%" style="text-align:center;">
                                                {{item.key1}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal1 | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{ (item.decimalVal)/(item.decimalVal1) * (100) | number:2}} %
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--<div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="savingsPie"></div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-6 hoverTransition04">
                            <!--<div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="savingsByMonth"></div>
                                </div>
                            </div>-->
                            <div class="col-md-5" style="margin-top: 5px;">
                                <input ng-model="searchMonth" class="form-control" style="cursor:pointer" placeholder="Search With Month,Year" ng-change="filterMonth(searchMonth)" />
                            </div>
                            <h3 style="text-align: justify;">Month Wise</h3>
                            <div style="max-height:350px; overflow-y:auto;">
                                <table class="table table-fixed colliers_table">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th width="20%" style="text-align:center;">Month</th>
                                            <th width="10%" style="text-align:center;">Year</th>
                                            <th width="20%" style="text-align:center;">Savings</th>
                                            <th width="20%" style="text-align:center;">Spend</th>
                                            <th width="20%" style="text-align:center;">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in monthlyStatsArray">
                                            <td width="20%" style="text-align:center;">
                                                {{item.key1}}
                                            </td>
                                            <td width="10%" style="text-align:center;">
                                                {{item.year}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal1 | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{ (item.decimalVal)/(item.decimalVal1) * (100) | number:2}} %
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>



                        <div class="col-md-6 hoverTransition04">
                            <!--<div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="targetBar"></div>
                                </div>
                            </div>-->
                            <div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="savingsByMonth"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-12 hoverTransition04">
                            <div class="col-md-5" style="margin-top: 5px;">
                                <input ng-model="searchPlant" class="form-control" style="cursor:pointer" placeholder="Search With Plant" ng-change="filterPlant(searchPlant)" />
                            </div>
                            <h3 style="text-align: justify;">Plant Wise</h3>
                            <div style="max-height:350px; overflow-y:auto;">
                                <table class="table table-fixed colliers_table">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">

                                            <th width="40%" style="text-align:center;">Plant</th>
                                            <th width="20%" style="text-align:center;">Savings</th>
                                            <th width="20%" style="text-align:center;">Spend</th>
                                            <th width="20%" style="text-align:center;">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in plantStatsArray">

                                            <td width="40%" style="text-align:center;">
                                                {{item.key1}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{item.decimalVal1 | numToCurrency:'INR'}}
                                            </td>
                                            <td width="20%" style="text-align:center;">
                                                {{ (item.decimalVal)/(item.decimalVal1) * (100) | number:2}} %
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>